// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base               ║ Spacing                                                                           ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Bottom
.base-2jDfDU {
  margin-bottom: 20px;
}

// Chat
.chatContent-3KubbW {
  margin-right: 10px;
}

// Topic & Toolbar
.container-ZMc96U.themed-Hp1KC_ {
  margin: 0px 0px 10px 0px;
  height: 40px;
  padding: 0px;
}

// Sidebar
.sidebar-1tnWFu {
  background: transparent;
  width: var(--channel-width);
  margin-top: 0px;
}

// Toolbar
.toolbar-3_r2xA {
  height: 40px;
  margin-left: 30px;
  right: 10px;
  padding-left: 14px;
  padding-right: 4px;
}

// Members
.membersWrap-3NUR2t {
  margin-left: 0px;
  margin-right: 10px;
}

// Chat (Chat & Members)
.chat-2ZfjoI {
  padding: 10px 10px 10px 10px;
}

// Chat & Members
.content-1jQy2l {
  margin-top: 10px;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base               ║ Focus Outline                                                                     ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

ul.tree-3agP2X:focus {
  outline: none;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base               ║ Transparency                                                                      ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Title
.container-ZMc96U.themed-Hp1KC_ {
  background: transparent;
}

// Chat
.chat-2ZfjoI, .threadSidebar-1o3BTy {
  background: transparent;
}

// Home
.theme-dark .container-2cd8Mz,
.theme-light .container-2cd8Mz {
  background: transparent;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base               ║ Backdrop                                                                          ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Backdrop
.backdrop-2ByYRN, .backdropWithLayer-3_uhz4 { 
    background: transparent !important;
    opacity: 1 !important;
}

// Blur
.backdrop-2ByYRN::before, .backdropWithLayer-3_uhz4::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--backdrop);
    backdrop-filter: blur(var(--blur-backdrop));
    right: 0;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base               ║ Text                                                                              ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Messages
.cozy-VmLDNB .messageContent-2t3eCI {
  text-align: var(--text-align);
  word-break: break-word;
  text-align-last: left;
}


// Chat Input 
.slateTextArea-27tjG0 {
  text-align: var(--text-align);
  word-break: break-word;
  text-align-last: left;
  right: 0;
}

// Embeds
.embedAuthorName-pGyUPR,
.embedAuthorNameLink-1NK1y6,
.embedDescription-1DrJxZ, .embedFieldName-9LYSyR,
.embedFieldValue-3EHtvR, .embedFooterText-2Mc7H9,
.embedLink-1TLNja, .embedProvider-1GSN0c,
.embedTitle-2n1pEb,
.embedTitleLink-1QbYA- {
    text-align: var(--text-align);
    word-break: break-word;
	text-align-last: left;
}

// Channels & Members
.container-q97qHp {
    font-size: 12.4px;
    line-height: 20px;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base               ║ Notice                                                                            ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background (Normal)
.notice-2HEN-u {
    border-radius: var(--radius-primary);
    background: var(--accent-primary);
    position: relative;
    box-shadow: var(--shadows);
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

// Background (Hover)
.notice-2HEN-u:hover {
    background: var(--accent-secondary);
}

// Button (Normal)
.theme-dark .button-1iHNQ2,
.theme-light .button-1iHNQ2 {
    border-radius: var(--radius-primary);
}

// Button (Hover)
.theme-dark .button-1iHNQ2:hover,
.theme-light .button-1iHNQ2:hover {
    border-radius: var(--radius-primary);
    background: white;
    color: var(--accent-secondary)
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base               ║ Avatar                                                                            ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.avatar-2e8lTP, .wrapper-1VLyxH {
    border-radius: var(--radius-avatar);
  }

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base               ║ Ping                                                                              ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.base-3IDx3L {
  background: var(--accent-primary) !important;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base               ║ Transparent Avatar Background                                                     ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.icon-3AqZ2e,[src*="https://cdn.discordapp.com/avatars/"] {
  background: rgba(0, 0, 0, 0.300);
}