// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Call               ║                                                                                   ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.wrapper-1gVUIN.fullScreen-KhZZcz, .wrapper-1gVUIN.noChat-2UYgeE {
  border-radius: var(--radius-primary);
  padding: 0;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ No Divider                                                                        ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝
/*
// Mobile Unread Message Bar
#---new-messages-bar {
  margin: 01.5px 20px;
  top: 0;height: 22px;
  border-top: 0;
}


#---new-messages-bar .content-3spvdd {
  font-size: 14px;
  font-weight: 500;
  padding: 0 8px;
  background: red;
  border-radius: 0}

#---new-messages-bar span::before {
  position: absolute;
  content: "";
  width: 100%;
  top: 50%;
  left: 0;
  border-bottom: thin solid;
  border-color: var(--background-modifier-accent);
  background-color: var(--accent-primary);
  z-index: -1;
  opacity: 0.3 !important
}

#---new-messages-bar .content-3spvdd::after {
  border-color: currentColor;
  opacity: 0.0
}



// Background
#---new-messages-bar .unreadPill-3nEWYM {
position: initial;
height: 100%;
top: 0;
color: #fff;
font-weight: 600;
background-color: var(--accent-primary);
border-radius: var(--radius-primary);
padding-left: 12px;
padding-right: 12px;
font-size: 0
}

#---new-messages-bar .unreadPill-3nEWYM::after {
font-size: 16px;
content: "NEW MESSAGES";
margin-bottom: -2px;
}

#---new-messages-bar > span::before {
  border-color: currentColor;
  opacity: 1.0;
}

// Remove
#---new-messages-bar .unreadPill-3nEWYM svg {display: none}
#---new-messages-bar .content-3spvdd + .unreadPill-3nEWYM::after {display: none}
*/

.container-3NTP7o {
  border-radius: var(--radius-primary);
}

.theme-dark .notches-2w7UZJ.gray-3wP137 {
display: none;
}

.theme-dark .progress-1S-TDF,
.theme-light .progress-1S-TDF {
  background: var(--background-primary);
}


.micTestCaption-3wFDcZ {
  top: 32px;
  left: 148px;
}

// Button
.micTestButton-1Qz8Oq {
  width: 140px;
}


/*
// Profile Voice icon
.ping-2IpLcU {
  transform: scale(1.7);
  margin-left: 5px;
  margin-top: 11px;
  margin-bottom: 0;
  height: 10px;
}

.channel-3prF2u {
  margin-left: 30px;
  margin-top: -9px;
}

.rtcConnectionStatusConnected-1c73OK {
  margin-left: 5px;
}
*/




// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

/*
//inbox
.layer-2aCOJ3 {
  margin-top: 20px;
}

// (Unreads)
.container-2ebMPP {
  background: var(--background-tertiary);
  border-radius: var(--radius-primary);
}

.recentMentionsPopout-2bI1ZN {
  width: 65vw;
  max-width: 500px;
  min-width: 280px;
  max-height: 20vh;
}
*/

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base               ║ Search Results                                                                    ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

//Background
.searchResultsWrap-5RVOkx {
  background: transparent;
  position: relative;
  border-radius: var(--radius-primary);
  width: 40vw;
  margin-left:10px;
  margin-right: 10px;
}

// Blur
.searchResultsWrap-5RVOkx:before {
  background: var(--background-secondary);
  position: absolute;
  content: "";
  border-radius: var(--radius-secondary);
  backdrop-filter: blur(var(--transparency-blur));
  width:100%;
  height:100%;
}

// Header
.searchHeader-1r_ZSh {
  background: var(--background-secondary);

  border-radius: var(--radius-primary);
}

/*
.searchHeader-1r_ZSh {
  background: var(--background-tertiary);
  position: absolute;
  content: "";
  border-radius: var(--radius-primary);
  backdrop-filter: blur(var(--transparency-blur));
  width:100%;
}
*/

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║                    ║                                                                                   ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

/*
.theme-dark .lookFilled-yCfaCM.colorPrimary-2AuQVo {
  background: var(ra);
}
*/

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Channels           ║ Header                                                                            ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.sidebar-1tnWFu .header-3OsQeK {
  border-radius: var(--radius-primary);
  background: transparent;
  position: relative;

  height:40px;
  width: 100%;
  margin: 0px 0px 20px 0px;
  padding-left: 20px;
  padding-right: 20px;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ Nitro Classic                                                                     ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.giftCodeContainer-3ObH0O .embedVertical-2vpt72 {
  width: 300px;
}

.theme-dark .tile-2mmK5T,
.theme-light .tile-2mmK5T {
  background: var(--background-tertiary);
  border-radius: var(--radius-primary);
}


.theme-dark .tile-2mmK5T:hover,
.theme-light .tile-2mmK5T:hover {
  background: var(--highlight-hover);
}

.media-1cVFCz {
border-radius: var(--radius-primary);
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Popout             ║ Explore Server                                                                    ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.theme-dark .root-g14mjS:before, .theme-light .root-g14mjS:before {
  z-index: -1;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base               ║ Radio Button                                                                      ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.radioBar-3w9XY- circle {color: white}

.radioBar-3w9XY- {
    border: none;
    background: var(--background-tr);
    border-radius: var(--radius-secondary);
}

.item-2idW98 {border-radius:5px;color:var(--interactive-active)!important;background:#0000!important}
.item-2idW98 .title-1yyp9V {font-weight:500}
.item-2idW98[aria-checked="false"] .title-1yyp9V {color:var(--radio-bar-accent-color)}
.item-2idW98[aria-checked="true"] {color:#fff!important}
.theme-dark {--checkbox-fill:#72767d}
.theme-light {--checkbox-fill:#b9bbbe}


.radioBar-3w9XY- {--radio-bar-accent-color:#7289da}
[aria-checked="true"]>.radioBar-3w9XY- {background:var(--radio-bar-accent-color);border-color:var(--radio-bar-accent-color)}
[aria-checked="true"]>.radioBar-3w9XY- {--radio-bar-accent-color:#7289da}
[aria-checked="false"]>.radioBar-3w9XY- .size14-3fJ-ot {color:var(--interactive-normal)}
[aria-checked="false"]>.radioBar-3w9XY-  {--radio-bar-accent-color:var(--interactive-active)}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base               ║ No Channel Notice                                                                 ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.container-1NXEtd .channelNotice-tO6Tus {
  display: none;
}

/*
[class*=GuildSubscriberlvl8]  {display: none;}
*/

.scroller-3X7KbA {
  contain: unset;
}

//.timestamp-p1Df1m+span {display: none;}



// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ No Edited          ║                                                                                   ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝








// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Message Button     ║ Test                                                                              ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝
/*
// Hide Link
.markup-eYLPri > [href^="https://canary.discord.com/channels/"],
.markup-eYLPri > [href^="https://discord.com/channels/"] {
color: rgba(255, 0, 0, 0.226);
}

// Button
.markup-eYLPri > [href^="https://canary.discord.com/channels/"]:before,
.markup-eYLPri > [href^="https://discord.com/channels/"]:before {

  background: var(--accent-primary);
  content: 'Go to Message';
  position: absolute;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Quicksand';

  bottom: 12px;
  right: 0px;
  color: var(--accent-text-secondary);
  text-transform: uppercase;

  width: 120px;
  border-radius: var(--radius-secondary);
  margin-top: 12px;
  margin-left: 12px;
  margin-right: 12px;

  padding: 8px 28px 8px 12px;
}

// Hover
.markup-eYLPri:hover > [href^="https://canary.discord.com/channels/"]:before,
.markup-eYLPri:hover > [href^="https://discord.com/channels/"]:before {
  background: var(--accent-secondary);
}

// Arrow
.markup-eYLPri > [href^="https://canary.discord.com/channels/"]:after,
.markup-eYLPri > [href^="https://discord.com/channels/"]:after {
  position: absolute;
  content: '';
  bottom: 26px;
  right: 26px;
  border: solid var(--accent-text-primary);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
*/










// Edited
.edited-1v5nT8 {
  color: transparent;
  -webkit-mask: var(--icon-edited);
  mask: var(--icon-edited);background: var(--text-muted);
  position: relative;
  left: -6px;
  bottom: 2px;
}





// Quickfix
.profileBadge-12r2Nm:before {
  display: none;
}





















/*
// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Channel Tabs             ║ Base                                                                                    ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.base-2jDfDU {
  margin-top: 80px !important;
  margin-bottom: 84px !important;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Channel Tabs             ║ Tabs                                                                                    ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
#channelTabs-container .channelTabs-tabContainer {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  position: fixed;
  width: calc(100% - 142px);
  margin-right: 20px;
  left: 112px;
  top: 50px;
  padding: 5px;
}


// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Channel Tabs             ║ Favorites                                                                               ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
#channelTabs-container .channelTabs-favContainer {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  position: fixed;
  width: calc(100% - 142px);
  margin-right: 20px;
  left: 112px;
  bottom: 32px;
  padding: 5px;
}
  






// Unread
#channelTabs-container .channelTabs-unreadBadge {
background-color: var(--background-primary) !important;
color: var(--text-normal) !important;
}

// Mention
#channelTabs-container .channelTabs-mentionBadge {
  background: var(--accent-primary);
  color: var(--accent-text-primary)
}






#channelTabs-container .channelTabs-tab {
  background: var(--background-primary) !important;
  border-radius: var(--radius-primary);
padding: 4px;
}

#channelTabs-container .channelTabs-tab.channelTabs-selected {
  background: var(--accent-primary) !important;
  border-radius: var(--radius-primary);
}
*/









.expandedFolderBackground-1cujaW {
  background-color: var(--background-primary);
  //margin-left: -6px;
  //width: 60px;
}

