// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Loading                  ║ General                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.wrapper-3HVHpV,
.wrapper-15CKyy {
background: transparent !important;
}

// Avatar
.avatar-l9Txm5 {
  background: var(--background-primary) !important;
  opacity: 1 !important;

}

// Content
.blob-1uHjdp {
  background: var(--background-primary) !important;
  opacity: 1 !important;

}

// Attachement
.attachment-16cAbS {
  background: var(--background-primary) !important;
  opacity: 1 !important;
}
