// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Scrollbars               ║ CSS                                                                                     ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

::-webkit-scrollbar { display: none !important;}

.note-1MiCN7 { margin-right: 0; }

/*
.content-1gYQeQ { margin: 0 !important; border-radius: 0; }
*/

.mainContent-20q_Hp { padding-left: 8px;}
.member-2gU6Ar, [id*="private-channels-"] { margin: 0; max-width: unset; }
.layout-1qmrhw { border-radius: 0; padding: 0 16px;}
.unread-36eUEm { z-index: 1;}.content-2hZxGK, .item-1OdjEX { margin-right: 8px;}
.scroller-3nFW5p { padding-left: 0;}.scroller-3nFW5p > .content-2a4AW9,
.buttons-uaqb-5, .messagesPopout-eVzQcI { padding-right: 10px !important; }
.inviteRow-3vmB7i {border-radius: 0; padding-left: 15px;}
.sidebar-nqHbhN { padding-right : 0; margin: 0 40px 0 20px;}

.featuresHeader-2bjq5B { margin-left: 95px;}
.userSettingsVoice-1_dzjw, .container-3NTP7o { width: auto !important;}
.menu-1QACrS .layer-2aCOJ3 { margin-left: -8px;}