// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Titlebar                 ║ Background                                                                              ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Titlebar
.titleBar-1it3bQ {
  background: transparent;
  position:relative;
  -webkit-app-region: drag;
}

// Blur
.titleBar-1it3bQ:before {
  background: var(--titlebar);
  position: fixed;
  content: "";
  border: var(--border) solid rgba( 255, 255, 255, 0.08 );
  filter: blur(var(--transparency-blur));
  box-shadow: var(--shadows);
  border-bottom: var(--border);
  margin-top: -4px;
  height: 30px;
  width: 100%;
  -webkit-app-region: drag;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Titlebar                 ║ Wordmark                                                                                ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Version
.wordmarkWindows-2dq6rw::before {
  -webkit-mask: var(--logo-crearts);
  mask: var(--logo-crearts);
  background: var(--header-secondary);
  background-size: cover;
  height: 20px;
  position: absolute;
  content: "";
  font-size: 12px;
  font-weight: 600;
  width: 70px;
  top: 1.2px;
}

// No Discord Wordmark
.wordmark-2u86JB svg {
  display: none;
}


// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Titlebar                 ║ Title                                                                                   ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.wordmarkWindows-2dq6rw::after {
  position: relative;
  font-size: 12px;
  font-weight: 400;
  font-family:'Segoe UI';
  padding-left: 80px;
  width: 100%;
  top: -0.4px;
}

// Dark
.theme-dark .wordmarkWindows-2dq6rw::after {
  content: var(--version) ' |' var(--skin) ' (Dark)' ' | by' var(--author);
}

// Light
.theme-light .wordmarkWindows-2dq6rw::after {
  content: var(--version) ' |' var(--skin) ' (Light)' ' | by' var(--author);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Titlebar                 ║ Buttons                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Buttons
.winButton-3UMjdg,
.winButton-3UMjdg:hover,
.winButton-3UMjdg:active {
  height: 30px;
  width: 42px;
  color: var(--header-secondary);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Titlebar                 ║ Buttons (Minimize)                                                                      ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// No Icon
.winButtonMinMax-3RsPUg:nth-child(4) svg {
display: none;
}

// Minimize Button
.winButtonMinMax-3RsPUg:nth-child(4):after {
  content:'';
  width:17px;
  height:17px;
  -webkit-mask: var(--icon-windows-minimize);
  mask: var(--icon-windows-minimize);
  background: var(--header-secondary);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Titlebar                 ║ Buttons (Maximize)                                                                      ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.winButtonMinMax-3RsPUg:hover,
.winButtonMinMax-3RsPUg:active {
  background: var(--background-secondary);
}

// No Icon
.winButtonMinMax-3RsPUg:nth-child(3) svg {
  display:none;
}

// Maximize Button
.winButtonMinMax-3RsPUg:nth-child(3):after {
  content:'';
  width:19px;
  height:19px;
  -webkit-mask: var(--icon-windows-maximize);
  mask: var(--icon-windows-maximize);
  background: var(--header-secondary);
}

// Windows Button
body.powercord.maximized .winButtonMinMax-3RsPUg:nth-child(3):after {
  -webkit-mask: var(--icon-windows-window);
  mask: var(--icon-windows-window);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Titlebar                 ║ Buttons (Close)                                                                         ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.winButtonClose-3Q8ZH5:hover,
.winButtonClose-3Q8ZH5:active {
  background: #E81123;
}

// No Icon
.winButtonClose-3Q8ZH5 svg {
  display: none;
}

// Minimize Button
.winButtonClose-3Q8ZH5:after {
  content:'';
  width:17px;
  height:17px;
  -webkit-mask: var(--icon-windows-close);
  mask: var(--icon-windows-close);
  background: var(--header-secondary);
}

// Hover
.winButtonClose-3Q8ZH5:hover:after,
.winButtonClose-3Q8ZH5:active:after {
  color: white;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Titlebar                 ║ OSX                                                                                     ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Butons
.platform-osx .macButtons-eIdy0e {
  z-index: 200;
  position: fixed;
  top: -2px;
  left: 0px;
}

// Version
.platform-osx .macButtons-eIdy0e::after {
  position: fixed;
  font-size: 12px;
  font-weight: 400;
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
  padding-left: 80px;
  width: 100%;
  top: 5px;
  color: var(--header-secondary);
  left: -5vw;
  text-align: center;
}

// Dark
.platform-osx .macButtons-eIdy0e::after {
  content: var(--version) ' |' var(--skin) ' (Dark)' ' | by' var(--author);
}

// Light
.platform-osx .macButtons-eIdy0e::after {
  content: var(--version) ' |' var(--skin) ' (Light)' ' | by' var(--author);
}