// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Wallpaper                ║ Background                                                                              ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.container-1eFtFS {
  background: var(--background);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Wallpaper                ║ Image                                                                                   ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.bg-1QIAus {
  background: var(--wallpaper) center/cover no-repeat;
  filter: blur(var(--blur-wallpaper));
  margin: -10px;
}
