// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Animations         ║ Explore Button                                                                    ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.scroller-1Bvpku > .listItem-GuPuDH:nth-last-child(2) .circleIconButton-1QV--U.selected-1JjBPm {
  animation: Explore 2s infinite linear;
}

@keyframes Explore {
  0% {transform: rotate(-20deg);}
  60% {transform: rotate(180deg);}
  100% {transform: rotate(-20deg);}
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Animations         ║ Home Button                                                                       ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.childWrapper-anI2G9:hover {
  animation: Home 1s infinite ease-in-out;
}
  
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 {
  animation: Home 1s infinite ease-in-out;
}

@keyframes Home {
  0% {transform: rotate(-12deg);}
  50% {transform: rotate(6deg);}
  100% {transform: rotate(-12deg);}
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Animations         ║ Settings Button                                                                   ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.panels-j1Uci_  > .container-3baos1 .flex-1O1GKY .button-14-BFJ:nth-last-child(1):hover {
  animation: Settings 8s infinite linear; 
}

@keyframes Settings {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
