/*

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Guild (Left)             ║ Base                                                                                    ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.wrapper-1_HaEi {
  margin-top: calc(var(--layout-margin-top) + (var(--guild-icon) * 3) + (var(--guild-spacing) * 2) + (var(--inner-secondary) * 2) + var(--layout-margin)) !important;
  margin-bottom: calc(var(--layout-margin-bottom) + (var(--guild-icon) * 1) + (var(--guild-spacing) * 2) + var(--layout-margin)) !important;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Guild (Left)             ║ Home Button                                                                             ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.tutorialContainer-1pL9QS:first-child {
  position: fixed;
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  padding: var(--inner-secondary) 0px;
  height: calc((var(--guild-icon) * 3) + (var(--guild-spacing) * 2)) !important;
  top: calc(30px + var(--layout-margin-top));
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Guild (Left)             ║ Settings Button                                                                         ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background (Normal)
.panels-3wFtMD  > .container-YkUktl .flex-3BkGQD .button-12Fmur:nth-last-child(1)::before {
  content: "";
  position: fixed !important;
  background: var(--background-primary);
  border-radius: 100%;
  height: var(--guild-icon);
  width: var(--guild-icon);
  left: calc(var(--layout-margin-left) + var(--inner-secondary));
  top: calc(30px + var(--layout-margin-top) + var(--inner-secondary) + var(--guild-icon) + var(--guild-spacing));
}

// Background (Hover)
.panels-3wFtMD  > .container-YkUktl .flex-3BkGQD .button-12Fmur:nth-last-child(1):hover::before {
  background: var(--brand-experiment);
  border-radius: 18px;
}

// Icon (Normal)
  .panels-3wFtMD  > .container-YkUktl .flex-3BkGQD .button-12Fmur:nth-last-child(1)::after {
  content: "";
  position: fixed;
  background: var(--interactive-normal);
  margin-right: var(--context-icon-spacing);
  height: calc(var(--guild-icon) - 16px);
  width: calc(var(--guild-icon) - 16px);
  mask: var(--icon) center/contain no-repeat;
  -webkit-mask: var(--icon) center/contain no-repeat;
  --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Crect fill='none' height='24' width='24'/%3E%3Cpath d='M19.5,12c0-0.23-0.01-0.45-0.03-0.68l1.86-1.41c0.4-0.3,0.51-0.86,0.26-1.3l-1.87-3.23c-0.25-0.44-0.79-0.62-1.25-0.42 l-2.15,0.91c-0.37-0.26-0.76-0.49-1.17-0.68l-0.29-2.31C14.8,2.38,14.37,2,13.87,2h-3.73C9.63,2,9.2,2.38,9.14,2.88L8.85,5.19 c-0.41,0.19-0.8,0.42-1.17,0.68L5.53,4.96c-0.46-0.2-1-0.02-1.25,0.42L2.41,8.62c-0.25,0.44-0.14,0.99,0.26,1.3l1.86,1.41 C4.51,11.55,4.5,11.77,4.5,12s0.01,0.45,0.03,0.68l-1.86,1.41c-0.4,0.3-0.51,0.86-0.26,1.3l1.87,3.23c0.25,0.44,0.79,0.62,1.25,0.42 l2.15-0.91c0.37,0.26,0.76,0.49,1.17,0.68l0.29,2.31C9.2,21.62,9.63,22,10.13,22h3.73c0.5,0,0.93-0.38,0.99-0.88l0.29-2.31 c0.41-0.19,0.8-0.42,1.17-0.68l2.15,0.91c0.46,0.2,1,0.02,1.25-0.42l1.87-3.23c0.25-0.44,0.14-0.99-0.26-1.3l-1.86-1.41 C19.49,12.45,19.5,12.23,19.5,12z M12.04,15.5c-1.93,0-3.5-1.57-3.5-3.5s1.57-3.5,3.5-3.5s3.5,1.57,3.5,3.5S13.97,15.5,12.04,15.5z'/%3E%3C/svg%3E");
  left: calc(var(--layout-margin-left) + var(--inner-secondary) + var(--inner-primary));
  top: calc(30px + var(--layout-margin-top) + var(--inner-secondary) + var(--guild-icon) + var(--guild-spacing) + 8px);
}

// Icon Hover
.panels-3wFtMD  > .container-YkUktl .flex-3BkGQD .button-12Fmur:nth-last-child(1):hover::after  {
  background: white;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Guild (Left)             ║ Explore Server Button                                                                   ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.scroller-3X7KbA > .listItem-3SmSlK:nth-last-child(2) {
  position: fixed;
  top: calc(30px + var(--layout-margin-top) + var(--inner-secondary) + var(--guild-icon) + var(--guild-spacing) + var(--guild-icon) + var(--guild-spacing));
}


// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Guild (Left)             ║ Create Server Button                                                                    ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝



.tutorialContainer-2jwoiB {
  background: var(--background-secondary);
  position: fixed;
  border-radius: var(--radius-primary);
  padding: var(--guild-spacing) 0px;
  bottom: var(--layout-margin-bottom);
  height: var(--guild-icon);
}

*/




















/*
[aria-label="Inbox"] {
    background: red;
    border-radius: var(--radius-primary);


position: fixed;
padding: 20px;

top: 0px;
left: 0px;

}
*/


// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Guild (Left)             ║ Favorite Button                                                                         ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝


// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Guild (Left)             ║ Separator                                                                               ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

/*
.scroller-3X7KbA > .listItem-3SmSlK:nth-child(3) {
  display: none;
}
*/
