.contentRegion-3HkfJJ {
  flex: auto !important;
  width: 100%;
  }
// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Layout                   ║ Settings (Base)                                                                         ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

//Spacing
.layers-OrUESM > .layer-86YKbF:first-child {
  transform: none !important;
  opacity: 1 !important;
  }
      
  .layers-OrUESM > .layer-86YKbF.stop-animations:first-child {
  z-index: 1;
  }
  
  // Spacing
  .standardSidebarView-E9Pc3j {
  background: transparent !important;
  margin-top: calc(var(--layout-margin-top) + 40px + var(--layout) + var(--layout));
  margin-bottom: calc(var(--layout-margin-top) + 120px + var(--layout) + var(--layout));
  margin-left: calc(var(--layout-margin-left) + var(--layout-margin-left) + 70px);
  margin-right:  var(--layout-margin-right);
  }

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Layout                   ║ Settings (Hide)                                                                         ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Hide when open Settings
[aria-hidden="true"] {
  .notice-2HEN-u,
  .notice-1x8lm-,
  .chat-2ZfjoI,
  .container-2cd8Mz,
  .container-1NXEtd,
  //.scroller-3X7KbA,
  //.scrollerBase-_bVAAt,
  
  .panels-3wFtMD  > .container-YkUktl .flex-3BkGQD .button-12Fmur:nth-last-child(1)::before,
  .panels-3wFtMD  > .container-YkUktl .flex-3BkGQD .button-12Fmur:nth-last-child(1)::after,
  
  .tutorialContainer-2jwoiB,
  
  .pageWrapper-2PwDoS,
  .privateChannels-oVe7HL {opacity: 0; z-index: -999;}
  .chat-2ZfjoI {opacity: 0; z-index: -999;}
  .bg-1QIAus {z-index: 999;}
  .powercord-spotify {display: none !important;}
  .BF-folderSidebar {display: none !important;}
  .panel-2ZFCRb {display: none !important;}
  .wrapper-3Hk9OB {display: none !important;}
}
  
  
  

[aria-hidden="true"] .listItem-3SmSlK {
  filter: grayscale(60%);
  opacity: 0.2;
}

// No Pointer Events
[aria-hidden="true"] .listItem-3SmSlK {
  pointer-events: none;
}


// No Pill
[aria-hidden="true"] .pill-2RsI5Q  {display: none;}





/*
tooltipPointer-3L49xb
tooltipContent-Nejnvh
*/

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Settings                 ║ Social Links                                                                            ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.socialLinks-2DELRE {
  background: var(--background-primary);
  border-radius: var(--radius-secondary);
}



















// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Layout                   ║ Settings (Sidebar)                                                                      ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.sidebarRegionScroller-FXiQOh {
background: var(--background-secondary);
border-radius: var(--radius-primary);
max-width: var(--layout-width-channel) !important;
width: var(--layout-width-channel) !important;
justify-content: flex-start;
}



.sidebar-nqHbhN {
width: var(--layout-width-channel) !important;
padding: var(--inner-secondary);
}

// Flex
.sidebarRegion-1VBisG {
flex: 1;
}



// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Layout                   ║ Settings (Content)                                                                      ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.contentRegion-3HkfJJ {
position: relative;
top: 0;
margin-top: calc(-40px - var(--layout-margin-top));
margin-bottom: calc(-120px - var(--layout-margin-bottom));
margin-right: var(--layout-margin-right);
}

.contentColumn-1C7as6 {
min-width: 200px;
max-width: 100%;
}

.contentColumnDefault-3eyv5o {
padding: 20px;
}

// Background
.contentRegionScroller-2_GT_N {
background: var(--background-secondary);
border-radius: var(--radius-primary);
margin-left: calc(var(--layout) + var(--layout));
width: 100%;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Layout                   ║ Settings (Close Button)                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.toolsContainer-25FL6V{
position: fixed;
top: 0;
left: 0;
}

// Background
.closeButton-PCZcma {
background: var(--background-primary);
position: fixed;
left: 32px;
top: calc(30px + var(--layout-margin-top) + var(--inner-secondary) + var(--guild-icon) + var(--guild-spacing));
z-index: 2;
border: none;
height: 48px;
width: 48px;
}

// Disable
.keybind-13vtq8 {display: none;}


// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Layout                   ║ Settings (Info)                                                                         ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.info-1sUqUG {
  background: var(--background-primary);
  border-radius: var(--radius-secondary);
  margin-top: var(--inner-tertiary);
}



// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Layout                   ║ Settings (Fix)                                                                          ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

[aria-label="CHANNEL_SETTINGS"] .standardSidebarView-E9Pc3j,
[aria-label="GUILD_SETTINGS"] .standardSidebarView-E9Pc3j {
margin-top: var(--layout-margin-top);
}

[aria-label="CHANNEL_SETTINGS"] .contentRegion-3HkfJJ,
[aria-label="GUILD_SETTINGS"] .contentRegion-3HkfJJ {
position: relative;
top: 0;
margin-top: 0px;
margin-bottom: calc(-120px - var(--layout-margin-bottom));
margin-right: var(--layout-margin-right);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Settings                   ║ Buttons (Fix)                                                                           ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

/*
// My Account
[aria-controls="my-account-tab"] {
position: fixed;
top: 120px;
left: 32px;

width: 48px;
height: 48px;

border-radius: 90px;
}
*/

[aria-controls="logout-tab"].themed-2-lozF.item-3XjbnG{
background: rgba(255, 0, 0, 0.24);
border-radius: 100%;
}

[aria-controls="logout-tab"] {
position: fixed;
bottom: calc(var(--layout-margin-bottom) + 13px);
left: 32px;

width: 48px;
height: 48px;

border-radius: 90px;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Settings                 ║ Header                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Context Icon (Normal)
@mixin title-normal($item-id, $title) {
.sidebar-nqHbhN .item-3XjbnG[aria-controls="#{$item-id}"]::after {
  content: "#{$title}";
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  position: fixed;
  width: calc(var(--channel-width) - 20px);
  z-index: 5;
  left: 110px;
  top: calc(30px + var(--layout-margin-top));
  height: var(--layout-height-header);
  padding-left: 20px;

  
  color: white;
  font-size: 18px;
  line-height: 38px;
  font-weight: 600;
  text-transform: none;
}
}

// My Account
@include title-normal(my-account-tab, "My Account");

// User Profile
@include title-normal(profile-customization-tab, "User Profile");









// No Separator (Settings)
.sidebar-nqHbhN .separator-2wx7h6 {
  opacity: 0;
  }