// ╔════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ CreArts Skin                                                                                           ║
// ╠════════════════════╦═══════════════════════════════════════════════════════════════════════════════════╣
// ║ Skin:              ║ CreArts (Nebula Edition)                                                          ║
// ║ Version:           ║ 2.1.2                                                                             ║
// ║ Author:            ║ CorellanStoma#1996 & Lorem#3481                                                   ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ General            ║ Here you can make general adjustments.                                            ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Title
$G001: 'v2.1.2 | Nebula Edition | by CorellanStoma & Loremly'; // This changes title.

// Font
$G002: 'Quicksand'; // This changes the header font.
$G003: 'Quicksand'; // This changes the text font.
$G004: 'Fira Code'; // This changes the code font.

// Wallpaper
$G005: 'none'; // This changes the wallpaper in the background.

// Width
$G006: '260'; // This changes the channel width.
$G007: '240'; // This changes the members width.
$G008: '260'; // This changes the profile width.

// Text Align
$G009: 'justify'; // This changes the text align. (Default: 'justify')

// Radius
$G010: '90'; // This changes the avatar radius. (Default: '90')
$G011: '90'; // This changes the button radius. (Default: '90')
$G012: '90'; // This changes the mention radius. (Default: '90')
$G013: '90'; // This changes the reaction radius. (Default: '90')
$G014: '24'; // This changes the primary radius. (Default: '24')
$G015: '12'; // This changes the secondary radius. (Default: '12')
$G016: '6'; // This changes the trertiary radius. (Default: '6')

// Border
$G017: '0.0'; // This changes the border radius. (Default: '0.0')
$G018: '0.0'; // This changes the border opacity. (Default: '0.0')

// Blur
$G019: '0.0'; // This changes the general blur. (Default: '0.0')
$G020: '0.0'; // This changes the wallpaper blur. (Default: '0.0')
$G021: '0.0'; // This changes the titlebar' blur. (Default: '0.0')
$G022: '1.0'; // This changes the backdrop' blur. (Default: '1.0')

// Transparency
$G023: '1.0'; // This changes the menu transparency. (Default: '1.0')
$G024: '1.0'; // This changes the titlebar transparency. (Default: '1.0')
$G025: '0.8'; // This changes the backdrop transparency. (Default: '0.8')
$G026: '1.0'; // This changes the background transparency. (Default: '1.0')

$G027: '1.0'; // This changes primary transparency. (Default: '1.0')
$G028: '1.0'; // Changes the secondary transparency. (Default: '1.0')
$G029: '1.0'; // Changes the tertiary transparency. (Default: '1.0')

$G030: '0.4'; // Changes the hover transparency. (Default: '0.4')
$G031: '0.6'; // Changes the active transparency. (Default: '0.6')
$G032: '0.8'; // Changes the selected transparency. (Default: '0.8')

// Selection Opacity
$G033: '0.80'; // Changes the selection opacity. (Default: '0.80)

// Shadow Opacity
$G034: '0.0'; // Changes the general shadow opacity. (Default: '0.0')
$G035: '0.4'; // Changes the popout shadow opacity. (Default: '0.4')

// Accent Opacity
$G036: '1.0'; // Changes the primary accent opacity. (Default: '1.0')
$G037: '1.0'; // Changes the secondary accent opacity. (Default: '1.0')
$G038: '1.0'; // Changes the tertiary accent opacity. (Default: '1.0')

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Colors (Dark)      ║ Here you can make some adjustments for the dark theme.                            ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Accent
$D001: #16A38C; // This changes the primary accent color.
$D002: #41BEA6; // This changes the secondary accent color.
$D003: #008872; // This changes the tertiary accent color.

// Green
$D004: #43B581; // This changes the primary green color.
$D005: #61D09A; // This changes the secondary green color.
$D006: #209967; // This changes the tertiary green color.

// Yellow
$D007: #FAA61A; // This changes the primary yellow color.
$D008: #FFC23D; // This changes the secondary yellow color.
$D009: #DC8C00; // This changes the tertiary yellow color.

// Red
$D010: #F04747; // This changes the primary red color.
$D011: #FF6660; // This changes the secondary red color.
$D012: #D12731; // This changes the tertiary red color.

// Purple
$D013: #593695; // This changes the primary purple color.
$D014: #744FB1; // This changes the secondary purple color.
$D015: #3E207C; // This changes the tertiary purple color.

// Background
$D016: #282E51; // This changes the primary background color.
$D017: #232A4C; // This changes the secondary background color.
$D018: #192242; // This changes the tertiary background color.

// Highlight
$D019: #FFFFFF;  // This changes the first highlight color.
$D020: #D3DAF0; // This changes the second highlight color.
$D021: #9FA7C0; // This changes the third highlight color.
$D022: #767D92; // This changes the fourth highlight color.

// Shaddow
$D023: #000000; // This changes the shaddow color.

// Border
$D024: #FFFFFF; // This changes the border color.

// Selection
$D025: #FFFFFF; // This changes the selection text color.
$D026: #CD0952; // This changes the selection background color.

// Backdrop
$D027: #000000; // This changes the backdrop color.

// Accent Text
$D028: #FFFFFF; // This changes the primary text color.
$D029: #FFFFFF; // This changes the secondary text color.

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Colors (Light)     ║ Here you can make some adjustments for the light theme.                           ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Accent
$L001: #16A38C; // This changes the primary accent color.
$L002: #41BEA6; // This changes the secondary accent color.
$L003: #008872; // This changes the tertiary accent color.

// Green
$L004: #43B581; // This changes the primary green color.
$L005: #61D09A; // This changes the secondary green color.
$L006: #209967; // This changes the tertiary green color.

// Yellow
$L007: #FAA61A; // This changes the primary yellow color.
$L008: #FFC23D; // This changes the secondary yellow color.
$L009: #DC8C00; // This changes the tertiary yellow color.

// Red
$L010: #F04747; // This changes the primary red color.
$L011: #FF6660; // This changes the secondary red color.
$L012: #D12731; // This changes the tertiary red color.

// Purple
$L013: #593695; // This changes the primary purple color.
$L014: #744FB1; // This changes the secondary purple color.
$L015: #3E207C; // This changes the tertiary purple color.

// Background
$L016: #F7FAFF; // This changes the primary background color.
$L017: #EBEFF7; // This changes the secondary background color.
$L018: #dfe5f0; // This changes the tertiary background color.

// Highlight
$L019: #000000; // This changes the first highlight color.
$L020: #535b66; // This changes the second highlight color.
$L021: #30343a; // This changes the third highlight color.
$L022: #535b66; // This changes the fourth highlight color.

// Shaddow
$L023: #000000; // This changes the shaddow color.

// Border
$L024: #FFFFFF; // This changes the border color.

// Selection
$L025: #FFFFFF; // This changes the selection text color.
$L026: #16A38C; // This changes the selection background color.

// Backdrop
$L027: #FFFFFF; // This changes the backdrop color.

// Accent Text
$L028: #000000; // This changes the primary accent text color.
$L029: #000000; // This changes the secondary accent text color.