/* ╔════════════════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ CreArts                                                                                                            ║ */
/* ╠══════════════════════════╦═════════════════════════════════════════════════════════════════════════════════════════╣ */
/* ║ Shape:                   ║ Wide Square                                                                             ║ */
/* ║ Author:                  ║ CorellanStoma#1996                                                                      ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ General                  ║ Here you can make general adjustments.                                                  ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

:root {
  /* Info */
  --SKIN-info-shape: "(Wide Square)";

  /* Radius */
  --SKIN-radius-primary: 8px;
  --SKIN-radius-secondary: 6px;
  --SKIN-radius-tertiary: 4px;
  
  /* Layout */
  --SKIN-layout-margin: 20px;
  --SKIN-layout-margin-top: 20px;
  --SKIN-layout-margin-left: 20px;
  --SKIN-layout-margin-right: 20px;
  --SKIN-layout-margin-bottom: 20px;
  
  /* Inner */
  --SKIN-inner-primary: 8px;
  --SKIN-inner-secondary: 12px;
  --SKIN-inner-tertiary: 16px;
  
  /* Width */
  --SKIN-width-channel: 260px;
  --SKIN-width-members: 240px;
  
  /* Height */
  --SKIN-height-titlebar: 32px;
  --SKIN-height-header: 44px;
}