// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Guild (Right)            ║ Move Guild to the Right                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.base-2jDfDU { 
order: -1;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Guild (Right)            ║ Spacing                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Backgrounds
#app-mount .wrapper-1_HaEi {
background: transparent;
margin-right: 20px;
}

// Spacing
.base-2jDfDU {
margin-top: 20px;
margin-right: 0px;
}

.platform-win .base-2jDfDU {
margin-top: 20px;
margin-right: 0px;
}

// OSX
.platform-osx .base-2jDfDU {
margin-top: 42px;
margin-right: 0px;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Guild (Right)            ║ Ping                                                                                    ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.lowerBadge-3WTshO .base-3IDx3L {
background: var(--accent-primary) !important;
color: var(--accent-text-primary);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Guild (Right)            ║ Unread                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Mention
.mention-3XBnnZ {
background: var(--accent-primary);
opacity: 1;
}

.mention-3XBnnZ:hover {
background: var(--accent-secondary);
}

.mention-3XBnnZ:active {
background: var(--accent-tertiary);
}

// Up
.unreadMentionsIndicatorTop-2bTgUU .text-2GsXbW {
color: transparent;
background: var(--interactive-active);
-webkit-mask: url('https://corellanstoma.github.io/CreArts-Discord/assets/icons/theme_arrow_up.svg') center no-repeat;
mask: url('https://corellanstoma.github.io/CreArts-Discord/assets/icons/theme_arrow_up.svg') center no-repeat;
width: 36%;
height: 36%;
margin-bottom: -2px;
}

.unreadMentionsIndicatorTop-2bTgUU {
top: 240px;
}

// Down
.unreadMentionsIndicatorBottom-3RJMnQ .text-2GsXbW {
color: transparent;
background: var(--interactive-active);
-webkit-mask: url('https://corellanstoma.github.io/CreArts-Discord/assets/icons/theme_arrow_down.svg') center no-repeat;
mask: url('https://corellanstoma.github.io/CreArts-Discord/assets/icons/theme_arrow_down.svg') center no-repeat;
width: 36%;
height: 36%;
margin-bottom: -2px;
}

.unreadMentionsIndicatorBottom-3RJMnQ {
bottom: 140px;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Guild (Right)            ║ Buttons Area                                                                            ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.tutorialContainer-2sGCg9 {
border-radius: var(--radius-primary);
background: transparent;
position: fixed;
}

// Blur
.tutorialContainer-2sGCg9:before {
background: var(--background-secondary);
position: fixed;
content: "";
border-radius: var(--radius-primary);
backdrop-filter: blur(var(--blur));
border: var(--border);
box-shadow: var(--shadows);
height: 184px;
width: 72px;
margin-top: -12px;
z-index: -1;
}

// Linux
.tutorialContainer-2sGCg9 {
top: 42px;
}

// Windows
.platform-win .tutorialContainer-2sGCg9 {
top: 64px;
}

// Mac
.platform-osx .tutorialContainer-2sGCg9 {
top: 64px;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Guild (Right)            ║ Home Button                                                                             ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub,
.wrapper-3kah-n:hover .childWrapper-1j_1ub {
background: var(--accent-primary);
}

// Home Button
.childWrapper-1j_1ub {
background: var(--background-primary);
color: var(--interactive-normal);
border-radius: 90px;
}

.homeIcon-FuNwkv {
color: transparent;
-webkit-mask: var(--icon-home);
mask: var(--icon-home);
background: var(--interactive-normal);
width: 60%;
height: 60%;
margin-top: 2px;
}

.wrapper-3kah-n.selected-1Drb7Z .homeIcon-FuNwkv {
background: var(--accent-text-primary);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Guild (Right)            ║ Settings Button                                                                         ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.panels-3wFtMD  > .container-YkUktl .flex-3BkGQD .button-12Fmur:nth-last-child(1) {
background: var(--background-primary);
position: fixed;
right: 32px;
height: 48px;
width: 48px;
}


.button-12Fmur path[d="M19.738 10H22V14H19.739C19.498 14.931 19.1 15.798 18.565 16.564L20 18L18 20L16.565 18.564C15.797 19.099 14.932 19.498 14 19.738V22H10V19.738C9.069 19.498 8.203 19.099 7.436 18.564L6 20L4 18L5.436 16.564C4.901 15.799 4.502 14.932 4.262 14H2V10H4.262C4.502 9.068 4.9 8.202 5.436 7.436L4 6L6 4L7.436 5.436C8.202 4.9 9.068 4.502 10 4.262V2H14V4.261C14.932 4.502 15.797 4.9 16.565 5.435L18 3.999L20 5.999L18.564 7.436C19.099 8.202 19.498 9.069 19.738 10ZM12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z"]{
d: path("M19.14,12.94c0.04-0.3,0.06-0.61,0.06-0.94c0-0.32-0.02-0.64-0.07-0.94l2.03-1.58c0.18-0.14,0.23-0.41,0.12-0.61 l-1.92-3.32c-0.12-0.22-0.37-0.29-0.59-0.22l-2.39,0.96c-0.5-0.38-1.03-0.7-1.62-0.94L14.4,2.81c-0.04-0.24-0.24-0.41-0.48-0.41 h-3.84c-0.24,0-0.43,0.17-0.47,0.41L9.25,5.35C8.66,5.59,8.12,5.92,7.63,6.29L5.24,5.33c-0.22-0.08-0.47,0-0.59,0.22L2.74,8.87 C2.62,9.08,2.66,9.34,2.86,9.48l2.03,1.58C4.84,11.36,4.8,11.69,4.8,12s0.02,0.64,0.07,0.94l-2.03,1.58 c-0.18,0.14-0.23,0.41-0.12,0.61l1.92,3.32c0.12,0.22,0.37,0.29,0.59,0.22l2.39-0.96c0.5,0.38,1.03,0.7,1.62,0.94l0.36,2.54 c0.05,0.24,0.24,0.41,0.48,0.41h3.84c0.24,0,0.44-0.17,0.47-0.41l0.36-2.54c0.59-0.24,1.13-0.56,1.62-0.94l2.39,0.96 c0.22,0.08,0.47,0,0.59-0.22l1.92-3.32c0.12-0.22,0.07-0.47-0.12-0.61L19.14,12.94z M12,15.6c-1.98,0-3.6-1.62-3.6-3.6 s1.62-3.6,3.6-3.6s3.6,1.62,3.6,3.6S13.98,15.6,12,15.6z");
}

.panels-3wFtMD > .container-YkUktl .flex-3BkGQD .button-12Fmur:nth-last-child(1):hover {
background: var(--accent-primary);
color: var(--accent-text-primary);
}

.panels-3wFtMD > .container-YkUktl .flex-3BkGQD .button-12Fmur:nth-last-child(1) .contents-3ca1mk {
transform: scale(1.7);
}







// Linux
.panels-3wFtMD > .container-YkUktl .flex-3BkGQD .button-12Fmur:nth-last-child(1) {
top: 98px;
}

// Windows
.platform-win .panels-3wFtMD > .container-YkUktl .flex-3BkGQD .button-12Fmur:nth-last-child(1) {
top: 121px;
}

// Mac
.platform-osx .panels-3wFtMD > .container-YkUktl .flex-3BkGQD .button-12Fmur:nth-last-child(1) {
top: 121px;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Guild (Right)            ║ Explore Server Button                                                                   ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.circleIconButton-1QV--U.selected-1JjBPm {
background: var(--accent-primary) !important;
}

// Spacing
.scroller-3X7KbA > .listItem-GuPuDH:nth-last-child(2) {
position: fixed;
background: transparent;
}

.circleIconButton-1QV--U {
border-radius: 90px;
}

// Linux
.scroller-3X7KbA > .listItem-GuPuDH:nth-last-child(2) {
top: 154px;
}

// Windows
.platform-win .scroller-3X7KbA > .listItem-GuPuDH:nth-last-child(2) {
top: 178px;
}

// Mac
.platform-osx .scroller-3X7KbA > .listItem-GuPuDH:nth-last-child(2) {
top: 178px;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Guild (Right)            ║ Guilds                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.scroller-3X7KbA {
border-radius: var(--radius-primary);
background: transparent;
position: relative;
margin-top: 363px;
bottom: 130px;
}

// Blur
.wrapper-1_HaEi::before {
background: var(--background-secondary);
position: fixed;
content: "";
border-radius: var(--radius-primary);
backdrop-filter: blur(var(--blur));
border: var(--border);
box-shadow: var(--shadows);
width: 72px;
bottom: 20px;
margin-top: 235px;
margin-bottom: 110px;
top: 0;
left: 20;
}

// Remove guild Separator
.guildSeparator-33mFX6 {
display: none !important;
}

// Windows
.platform-win .wrapper-1_HaEi::before {
margin-top: 256px;
margin-bottom: 100px;
}

.platform-win .scroller-3X7KbA {
margin-top: 364px;
margin-bottom: -10px;
}

// OSX
.platform-osx .wrapper-1_HaEi::before {
margin-top: 256px;
margin-bottom: 100px;
}

.platform-osx .scroller-3X7KbA {
  margin-top: 358px;
  margin-bottom: -10px;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Guild (Right)            ║ Add Server Button                                                                       ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.tutorialContainer-30WoTp {
background: transparent;
position: fixed;
border-radius: var(--radius-primary);
padding-top: 12px;
padding-bottom: 4px;
bottom: 32px;
}

// Blur
.tutorialContainer-30WoTp::before {
background: var(--background-secondary);
position: fixed;
content: "";
border-radius: var(--radius-primary);
backdrop-filter: blur(var(--blur));
border: var(--border);
box-shadow: var(--shadows);
height: 70px;
width: 72px;
bottom: 32px;
z-index: -1;
}

// Add Server & Explore Button
.circleIconButton-1QV--U {
color: var(--interactive-normal);
background: var(--background-primary);
}

.circleIconButton-1QV--U.selected-ugP_am svg path{
fill: var(--interactive-active);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Guild (Right)            ║ DM Button                                                                               ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.scroller-3X7KbA [style="opacity: 1; height: 56px; transform: scale(1);"] {
position: fixed;
margin-bottom: -8px;
margin-top: 8px;
z-index: 9;
}

// Linux
.scroller-3X7KbA [style="opacity: 1; height: 56px; transform: scale(1);"] {
bottom: 44px;
}

// Windows
.platform-win .scroller-3X7KbA [style="opacity: 1; height: 56px; transform: scale(1);"] {
bottom: 44px;
}

// Mac
.platform-osx .scroller-3X7KbA [style="opacity: 1; height: 56px; transform: scale(1);"] {
bottom: 44px;
}