# ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
# ║ Gitignore                ║ Paths                                                                                   ║
# ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

$RECYCLE.BIN/
.VSCodeCounter/
.history/
.ionide/
.idea/
.backup/

# ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
# ║ Gitignore                ║ Files                                                                                   ║
# ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

[Dd]esktop.ini
*.stackdump
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
*.iml

# ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
# ║ Gitignore                ║ Cache                                                                                   ║
# ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db