/**
 * @name CreArts | Settings-Icons
 * @version 1.0.1
 * @author CorellanStoma#1996
 * @authorLink https://crearts-community.github.io
 * @description Settings-Icons adds icons to the Discord Settings menu's.
 * @source https://crearts-community.github.io/Settings-Icons
 * @invite 8w8e39z
*/

@import url("https://crearts-community.github.io/CreArts-Discord/clients/betterdiscord.css");
