// ╔════════════════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Discord Theme                                                                                                      ║
// ╠══════════════════════════╦═════════════════════════════════════════════════════════════════════════════════════════╣
// ║ Name:                    ║ CreArts v3                                                                              ║
// ║ Version:                 ║ 3.0.2                                                                                   ║
// ║ Author:                  ║ CorellanStoma#1996                                                                      ║
// ║ License:                 ║ MIT                                                                                     ║
// ╠══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╣
// ║                                                                                                                    ║
// ║ CreArts is a theme for Discord that gives you a new modern interface and adds at the same time many                ║
// ║ possibilities to be customized, one of the core features are Skins, which allow you to customize the appearance    ║
// ║ with Variables.                                                                                                    ║
// ║                                                                                                                    ║
// ║ The goal of this Discord theme is to wrap the standard Discord charm in a new visual idea.                         ║
// ║                                                                                                                    ║
// ║ To enable or disable certain things, you can comment lines. Use "// " in front.                                    ║
// ║                                                                                                                    ║
// ╚════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝

// ✅ Enabled by Default
// ⭕ Disabled by Default
// 🧪 Experimental
// ⚠️ Must be loaded

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ 1.0 Styles               ║ Appearance                                                                              ║
// ╠══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╣
// ║ Select another Style, you can combine them as you wish.                                                            ║
// ╚════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝

// 🧪 Neumorphism (WIP) (works best with default settings)
//@use "skins/styles/neumorphism";

// 🧪 Glassmorphism (WIP) (works best with default settings)
//@use "skins/styles/glassmorphism";

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ 1.1 Palette              ║ Discord                                                                                 ║
// ╠══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╣
// ║ Select another Palette, only one should be enabled at a time.                                                      ║
// ╚════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝

// ⭕ Modern Edition
//@use "skins/palette/discord/modern";

// ⭕ Blurple Edition
//@use "skins/palette/discord/blurple";

// ⭕ Revamp Edition
//@use "skins/palette/discord/revamp";

// ╔══════════════════════════╦═════════════════════════════════╗
// ║ 1.1 Palette              ║ CreArts                         ║
// ╚══════════════════════════╩═════════════════════════════════╝

// ✅ Community Edition
//@use "skins/palette/crearts/community";

// ⭕ Ruby Edition
//@use "skins/palette/crearts/ruby";

// ⭕ Emerald Edition
//@use "skins/palette/crearts/emerald";

// ⭕ Sapphire Edition
//@use "skins/palette/crearts/sapphire";

// ⭕ Amethyst Edition
//@use "skins/palette/crearts/amethyst";

// ⭕ Crimson Edition
//@use "skins/palette/crearts/crimson";

// ⭕ Jungle Edition
//@use "skins/palette/crearts/jungle";

// ⭕ Hive Edition
//@use "skins/palette/crearts/hive";

// ⭕ Coffee Edition
//@use "skins/palette/crearts/coffee";

// ⭕ Sandstorm Edition
//@use "skins/palette/crearts/sandstorm";

// ⭕ Lux Edition
//@use "skins/palette/crearts/lux";

// ⭕ Charcoal Edition
//@use "skins/palette/crearts/charcoal";

// ⭕ Milkshake Edition
//@use "skins/palette/crearts/milkshake";

// ╔══════════════════════════╦═════════════════════════════════╗
// ║ 1.1 Palette              ║ Community                       ║
// ╚══════════════════════════╩═════════════════════════════════╝

// ⭕ Nebula Edition
//@use "skins/palette/community/nebula";

// ⭕ Lavender Edition
//@use "skins/palette/community/lavender";

// ⭕ Goon Edition
//@use "skins/palette/community/goon";

// ╔══════════════════════════╦═════════════════════════════════╗
// ║ 1.1 Palette              ║ Games                           ║
// ╚══════════════════════════╩═════════════════════════════════╝

// ⭕ The Legend of Zelda
//@use "skins/palette/games/zelda";

// ╔══════════════════════════╦═════════════════════════════════╗
// ║ 1.1 Palette              ║ Public                          ║
// ╚══════════════════════════╩═════════════════════════════════╝

// ⭕ Spotify Edition
//@use "skins/palette/public/spotify";

// ⭕ Twitch Edition
//@use "skins/palette/public/twitch";

// ⭕ Guilded Edition
//@use "skins/palette/public/guilded";

// ⭕ Revolt Edition
//@use "skins/palette/public/revolt";

// ⭕ Dracula Edition
//@use "skins/palette/public/dracula";

// ⭕ Nord Edition
//@use "skins/palette/public/nord";

// ⭕ Solarized Edition
//@use "skins/palette/public/solarized";

// ⭕ Yaru Edition
//@use "skins/palette/public/yaru";

// ⭕ Gruvbox Edition
//@use "skins/palette/public/gruvbox";

// ⭕ Primer Edition
//@use "skins/palette/public/primer";

// ⭕ Arc Edition
//@use "skins/palette/public/arc";

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ 1.2 Shape                ║ Wide                                                                                    ║
// ╠══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╣
// ║ Select another shape, only one should be active.                                                                   ║
// ╚════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝

// ⭕ Wide Square
//@use "skins/shape/wide/square";

// ⭕ Wide Round
//@use "skins/shape/wide/round";

// ╔══════════════════════════╦═════════════════════════════════╗
// ║ 1.2 Shape                ║ Slim                            ║
// ╚══════════════════════════╩═════════════════════════════════╝

// ⭕ Slim Squircle
//@use "skins/shape/slim/squircle";

// ⭕ Slim Square
//@use "skins/shape/slim/square";

// ⭕ Slim Round
//@use "skins/shape/slim/round";

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ 1.3 Alignment            ║ Left                                                                                    ║
// ╠══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╣
// ║ Choose another alignment only one should be selected.                                                              ║
// ╚════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝

// ✅ Combined
@use "modules/alignment/left/combined";

// ⭕ Divided
//@use "modules/alignment/left/divided";

// ⭕ Buttons
//@use "modules/alignment/left/buttons";

// ╔══════════════════════════╦═════════════════════════════════╗
// ║ 1.3 Alignment            ║ Right                           ║
// ╚══════════════════════════╩═════════════════════════════════╝

// ⭕ Default
//@use "modules/alignment/right/default";

// ⭕ Combined
//@use "modules/alignment/right/combined";

// ⭕ Divided
//@use "modules/alignment/right/divided";

// ⭕ Buttons
//@use "modules/alignment/right/buttons";

// ╔══════════════════════════╦═════════════════════════════════╗
// ║ 1.3 Alignment            ║ Top                             ║
// ╚══════════════════════════╩═════════════════════════════════╝

// ⭕ Default
//@use "modules/alignment/top/default";

// ⭕ Buttons
//@use "modules/alignment/top/buttons";

// ╔══════════════════════════╦═════════════════════════════════╗
// ║ 1.3 Alignment            ║ Bottom                          ║
// ╚══════════════════════════╩═════════════════════════════════╝

// ⭕ Default
//@use "modules/alignment/bottom/default";

// ⭕ Buttons
//@use "modules/alignment/bottom/buttons";

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ 1.4 Add-ons              ║                                                                                         ║
// ╠══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╣
// ║ Enable or disable these addons, you can combine them as you wish.                                                  ║
// ╚════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝

// ✅ Friends-Grid
@use "modules/addons/friends-grid";

// ✅ Context-Icons
@use "modules/addons/context-icons";

// ✅ Settings-Icons
@use "modules/addons/settings-icons";

// ✅ Mention-Links
@use "modules/addons/mention-links";

// 🧪 Chat-Bubbles (This adds Chat Bubbels to the Messages.)
//@use "modules/addons/chat-bubbles";

// ✅ Discolored (by Nyria#3863)
@use "modules/addons/discolored";

// 🧪 Cooler Activity Status (by mr_miner#9699)
//@use "modules/addons/cooler-activity-status";

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ 1.5 Replace              ║                                                                                         ║
// ╠══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╣
// ║ Replace some elements, you can combine them as you wish.                                                           ║
// ╚════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝

// ✅ Replace Fonts
@use "modules/replace/fonts";

// ✅ Replace Dash
@use "modules/replace/dash";

// ✅ Replace Edited
@use "modules/replace/edited";

// ✅ Replace Icons
@use "modules/replace/icons";

// 🧪 Attachment
//@use "modules/replace/attachment";

// 🧪 Code
//@use "modules/replace/code";

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ 1.6 Move                 ║                                                                                         ║
// ╠══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╣
// ║ Move some elements, you can combine them as you wish.                                                              ║
// ╚════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝

// ⭕ Move Explore Button down. (Working with: Default & Buttons; Not Working with: Combined & Divided)
//@use "modules/move/button/explore";

// ⭕ Move Add Server Button down. (Working with: Default & Buttons; Not Working with: Combined & Divided)
//@use "modules/move/button/add";

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ 1.7 Remove               ║                                                                                         ║
// ╠══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╣
// ║ Remove some elements, you can combine them as you wish.                                                            ║
// ╚════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝

// ✅ Remove Help Button
@use "modules/remove/button/help";

// ✅ Remove Download Button (Web)
@use "modules/remove/button/download";

// ⭕ Remove Explore Button (Working with: Default & Buttons; Not Working with: Combined & Divided)
//@use "modules/remove/button/explore";

// ⭕ Remove Add Server Button (Working with: Default & Buttons; Not Working with: Combined & Divided)
//@use "modules/remove/button/add";

// ✅ Remove Gift Button
@use "modules/remove/button/gift";

// ✅ Remove Sticker Button
@use "modules/remove/button/sticker";

// ✅ Remove GIF Button
@use "modules/remove/button/gif";

// 🧪 Remove Public Server Tag (WIP)
//@use "modules/remove/public-tag";

// ⭕ Remove Stream Popout
//@use "modules/remove/stream-popout";

// 🧪 Remove Channel Delete Icon (WIP)
//@use "modules/remove/icon/channel-delete";

// ⭕ Remove Developer Options Menu
//@use "modules/remove/menu/developer-options";

// ⭕ Remove Dismissible Contents Menu
//@use "modules/remove/menu/dismissible-contents";

// ⭕ Remove Hotspot Options Menu
//@use "modules/remove/menu/hotspot-options";

// ⭕ Remove HypeSquad Menu
//@use "modules/remove/menu/hypesquad";

// ⭕ Remove Payment Flow Modals
//@use "modules/remove/menu/payment-flow-modals";

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ 1.8 Animations           ║                                                                                         ║
// ╠══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╣
// ║ Enable or Disable these optional Animations, you can combine them as you wish.                                     ║
// ╚════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝

// ⭕ Adds Hover Animation
//@use "modules/animations/hover";

// ⭕ Adds Chat-Input Animation
//@use "modules/animations/chat-input";

// ⭕ Adds Sidebar Animation
//@use "modules/animations/channels-sidebar";

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ 1.9 Privacy              ║                                                                                         ║
// ╠══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╣
// ║ Enable or Disable these optional Privacy modules, you can combine them as you wish.                                ║
// ╚════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝

// ⭕ No Tag
//@use "modules/privacy/user-tag";

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ 2.0 Custom               ║                                                                                         ║
// ╠══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╣
// ║ Enable or Disable these optional Custom modules, you can combine them as you wish.                                 ║
// ╚════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝

// ✅ Tags
@use "modules/custom/tags";

// ✅ Server
@use "modules/custom/server";

// ✅ User
@use "modules/custom/user";

// 🧪 Private (WIP)
//@use "modules/custom/private";

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Source                   ║ Do not comment out these lines! By disabling the theme can not work correctly.          ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// ⚠️ Source Files (This loads the compiled source css file.)
@use "src/source";

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Testing                  ║ Custom CSS code is tested in the lower section.                                         ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Settings Background
.contentRegionScroller-2_GT_N {
  background: var(--background-secondary);
}

// No Voice Users (Panel)
.voiceUsers-3gPcwY {
  display: none;
}

// Remove Background Modifier element
.option-ayUoaq:after {
  display: none;
}

.communityInfoPill-2Mll66 {
  display: none;
}