// ╔════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ INFO                                                                                                   ║
// ╠════════════════════╦═══════════════════════════════════════════════════════════════════════════════════╣
// ║ Theme:             ║ CreArts                                                                           ║
// ║ version:           ║ 2.0.0                                                                             ║
// ║ author:            ║ CorellanStoma#1996                                                                ║
// ╠════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╣
// ║                                                                                                        ║
// ║ CreArts is a customizable Powercord theme that changes the look of Discord.                            ║
// ║ This theme was created by CorellanStoma#1996.                                                          ║
// ║                                                                                                        ║
// ║ More information about Powercord can be found here:                                                    ║
// ║ ● https://powercord.dev/                                                                               ║
// ║                                                                                                        ║
// ║ If you need support join our Creative Community:                                                       ║
// ║ ● https://discord.gg/8W8E39Z                                                                           ║
// ║                                                                                                        ║
// ║ Our Art & Design Wiki:                                                                                 ║
// ║ ● https://crearts.wiki/                                                                                ║
// ║                                                                                                        ║
// ╚════════════════════════════════════════════════════════════════════════════════════════════════════════╝

// ╔════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ CREDITS:                                                                                               ║
// ╠══════════════════════════╦═════════════════════════════════════════════════════════════════════════════╣
// ║ Settings Icons           ║ by Snapper#0001, botato#6883, MulverineX#0001, AAGaming#9395                ║
// ╠══════════════════════════╬═════════════════════════════════════════════════════════════════════════════╣
// ║ Discolored               ║ by Nyria#4198 & Snapper#0001                                                ║
// ╠══════════════════════════╬═════════════════════════════════════════════════════════════════════════════╣
// ║ Horizontal Server List   ║ by Gibbu#1211                                                               ║
// ╠══════════════════════════╬═════════════════════════════════════════════════════════════════════════════╣
// ║ Radial Status            ║ by Gibbu#1211                                                               ║
// ╠══════════════════════════╬═════════════════════════════════════════════════════════════════════════════╣
// ║ White Connection Icons   ║ by botato#6883                                                              ║
// ╠══════════════════════════╬═════════════════════════════════════════════════════════════════════════════╣
// ║ White Profile Badges     ║ by botato#6883                                                              ║
// ╠══════════════════════════╬═════════════════════════════════════════════════════════════════════════════╣
// ║ Emoji Replace            ║ by mwittrien                                                                ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════╝

// ✔️ Activated by default
// ❌ Disabled by default
// ⚠️ Do not touch
// 🧪 Experimental

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Skins (Ore)        ║ To disable certain things, you can comment out the lines. Use "// " in front.     ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

@use "./skins/rubine/style.scss"; // ✔️ Rubine Edition, a red colored skin.

//@use "./skins/emerald/style.scss"; // ❌ Emerald Edition, a green colored skin.

//@use "./skins/sapphire/style.scss"; // ❌ Sapphire Edition, a blue colored skin.

//@use "./skins/amethyst/style.scss"; // ❌ Amethyst Edition, a violet colored skin.

//@use "./skins/citrin/style.scss"; // 🧪 Citrin Edition, a yellow colored skin.

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Skins (Color)      ║ To disable certain things, you can comment out the lines. Use "// " in front.     ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

//@use "./skins/crimson/style.scss"; // ❌ Crimson Edition, a red colored skin.

//@use "./skins/hive/style.scss"; // ❌ Hive Edition, a yellow colored skin.

//@use "./skins/jungle/style.scss"; // ❌ Coffee Edition, a green colored skin.

//@use "./skins/coffee/style.scss"; // ❌ Coffee Edition, a brown colored skin.

//@use "./skins/nebula/style.scss"; // ❌ Nebula Edition, a space colored skin.

//@use "./skins/amoled/style.scss"; // 🧪 Amoled Edition, a space colored skin.

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Skins (Brands)     ║ To disable certain things, you can comment out the lines. Use "// " in front.     ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

//@use "./skins/discord-orginal/style.scss"; // ✔️ Discord Original Edition, a color skin inspired by discord.

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Alignment          ║ To disable certain things, you can comment out the lines. Use "// " in front.     ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

@use "./src/00-alignment/left/guild.scss"; // ✔️ Guild alignment on the left.

//@use "./src/00-alignment/right/guild.scss"; // ❌ Guild alignment on the right.

//@use "./src/00-alignment/top/guild.scss"; // ❌ Guild alignment on the top.

//@use "./src/00-alignment/bottom/guild.scss"; // ❌ Guild alignment on the bottom.

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Addons             ║ To disable certain things, you can comment out the lines. Use "// " in front.     ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

//@use "./src/05-addons/drag.scss"; // 🧪 

@use "./src/05-addons/folder_color.scss"; // ✔️ 

@use "./src/05-addons/bubbles.scss"; // ✔️ 

@use "./src/05-addons/left_icons.scss"; // ✔️ 

@use "./src/05-addons/status.scss"; // ✔️ 

//@use "./src/05-addons/blur/details.scss"; // ❌  

//@use "./src/05-addons/blur/spoiler.scss"; // ❌ 

//@use "./src/05-addons/blur/link.scss"; // ❌ 

//@use "./src/05-addons/neutral_usernames.scss"; // ❌ 

//@use "./src/05-addons/porkcord.scss"; // ❌ 

//@use "./src/05-addons/bad_http.scss"; // ❌

@use "./src/05-addons/minimal_panel.scss"; // ✔️

@use "./src/05-addons/settings_icons.scss"; // ✔️ by Snapper#0001

@use "./src/05-addons/discolored.scss"; // ✔️ by Nyria#4198

@use "./src/05-addons/white_icons.scss"; // ✔️ by botato#6883

//@use "./src/05-addons/radial_status.scss"; // ❌ by Gibbu#1211

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Addons (Emojis)    ║ To disable certain things, you can comment out the lines. Use "// " in front.     ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

//@use "./src/05-addons/emoji/whatsapp.scss"; // ❌ Use the Whatsapp Emoji as default, only Client side.

//@use "./src/05-addons/emoji/samsung.scss"; // ❌ Use the Samsung Emoji as default, only Client side.

//@use "./src/05-addons/emoji/microsoft.scss"; // ❌ Use the Microsoft Emoji as default, only Client side.

//@use "./src/05-addons/emoji/joypixels.scss"; // ❌ Use the Joypixels Emoji as default, only Client side.

//@use "./src/05-addons/emoji/google.scss"; // ❌ Use the Google Emoji as default, only Client side.

//@use "./src/05-addons/emoji/facebook.scss"; // ❌ Use the Facebook Emoji as default, only Client side.

//@use "./src/05-addons/emoji/apple.scss"; // ❌ Use the Apple Emoji as default, only Client side.

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Animations         ║ To disable certain things, you can comment out the lines. Use "// " in front.     ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

//@use "./src/06-animations/ping.scss"; // ❌ This adds a ping animation.

@use "./src/06-animations/spotify.scss"; // ✔️ This adds a cover spin animation to the spotify panel.

@use "./src/06-animations/buttons.scss"; // ✔️ This adds animation to the guild navigation.

@use "./src/06-animations/hover/avatar.scss"; // ✔️ This adds a hover animation to the avatar.

@use "./src/06-animations/hover/icons.scss"; // ✔️ This adds a hover animation to the icons.

@use "./src/06-animations/hover/clickable.scss"; // ✔️ This adds a hover animation to the icons.

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ SRC (Main)         ║ Do not comment out these lines! By disabling the theme can not work correctly.    ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

@use "./src/01-main/base.scss"; // ⚠️ (Warning!! Do not disable it!)

@use "./src/01-main/debug.scss"; // ⚠️ (Warning!! Do not disable it!)

@use "./src/01-main/discover.scss"; // ⚠️ (Warning!! Do not disable it!)

@use "./src/01-main/fonts.scss"; // ⚠️ (Warning!! Do not disable it!)

@use "./src/01-main/home.scss"; // ⚠️ (Warning!! Do not disable it!)

@use "./src/01-main/login.scss"; // ⚠️ (Warning!! Do not disable it!)

@use "./src/01-main/modals.scss"; // ⚠️ (Warning!! Do not disable it!)

@use "./src/01-main/boost.scss"; // ⚠️ (Warning!! Do not disable it!)

@use "./src/01-main/popouts.scss"; // ⚠️ (Warning!! Do not disable it!)

@use "./src/01-main/scrollbars.scss"; // ⚠️ (Warning!! Do not disable it!)

@use "./src/01-main/settings.scss"; // ⚠️ (Warning!! Do not disable it!)

@use "./src/01-main/titlebar.scss"; // ⚠️ (Warning!! Do not disable it!)

@use "./src/01-main/wallpaper.scss"; // ⚠️ (Warning!! Do not disable it!)

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ SRC (Home)         ║ Do not comment out these lines! By disabling the theme can not work correctly.    ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

@use "./src/02-home/discovery.scss"; // ⚠️ (Warning!! Do not disable it!)

@use "./src/02-home/friends.scss"; // ⚠️ (Warning!! Do not disable it!)

@use "./src/02-home/library.scss"; // ⚠️ (Warning!! Do not disable it!)

@use "./src/02-home/nitro.scss"; // ⚠️ (Warning!! Do not disable it!)

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ SRC (guild)        ║ Do not comment out these lines! By disabling the theme can not work correctly.    ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

@use "./src/03-guild/channels.scss"; // ⚠️ (Warning!! Do not disable it!)

@use "./src/03-guild/header.scss"; // ⚠️ (Warning!! Do not disable it!)

@use "./src/03-guild/members.scss"; // ⚠️ (Warning!! Do not disable it!)

@use "./src/03-guild/profile.scss"; // ⚠️ (Warning!! Do not disable it!)

@use "./src/03-guild/threads.scss"; // ⚠️ (Warning!! Do not disable it!)

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ SRC (chat)         ║ Do not comment out these lines! By disabling the theme can not work correctly.    ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

//@use "./src/04-chat/announcement.scss"; // ⚠️ (Warning!! Do not disable it!)

@use "./src/04-chat/stage.scss"; // ⚠️ (Warning!! Do not disable it!)

@use "./src/04-chat/store.scss"; // ⚠️ (Warning!! Do not disable it!)

@use "./src/04-chat/text.scss"; // ⚠️ (Warning!! Do not disable it!)

@use "./src/04-chat/voice.scss"; // ⚠️ (Warning!! Do not disable it!)

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Plugins            ║ Do not comment out these lines! By disabling the theme can not work correctly.    ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

@use "./src/08-Plugins/nsfw_tags.scss"; // ⚠️ (Warning!! Do not disable it!)

@use "./src/08-Plugins/theme_toggler.scss"; // ⚠️ (Warning!! Do not disable it!)

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Experimental       ║ Future features will be tested here.                                              ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

@use "./src/01-main/experimental.scss"; // 🧪 This is only for testing!

@use "./src/01-main/reponsive.scss"; // 🧪 This is only for testing!

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ HEX to RGB         ║ This function converts hex values to RGB.                                         ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

@function hexToRGB($hex) {
    @return red($hex), green($hex), blue($hex);
}
    
// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Root               ║ These are the Root variables.                                                     ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

:root {
// Glasscord
--glasscord-win-blur: blurbehind;
--glasscord-macos-vibrancy: fullscreen-ui;
--glasscord-linux-blur: true;
--glasscord-titlebar: windows;

// Version
--version: "#{style.$G001}";

// Fonts
--fonts-primary: #{style.$G002};
--fonts-secondary: #{style.$G003};
--fonts-tertiary: #{style.$G004};

// Wallpaper
--wallpaper: url('#{style.$G005}');

// Width
--channel-width: #{style.$G006}px;
--members-width: #{style.$G007}px;
--profile-width: #{style.$G008}px;

// Text
--text-align: #{style.$G009};

// Radius
--radius-avatar: #{style.$G010}px;
--radius-button: #{style.$G011}px;
--radius-mention: #{style.$G012}px;
--radius-reaction: #{style.$G013}px;
--radius-primary: #{style.$G014}px;
--radius-secondary: #{style.$G015}px;
--radius-tertiary: #{style.$G016}px;

// Border
--border-width: #{style.$G017}px;
--border-opacity: #{style.$G018};

// Blur
--blur: #{style.$G019}px;
--blur-wallpaper: #{style.$G020}px;
--blur-titlebar: #{style.$G021}px;
--blur-backdrop: #{style.$G022}px;

// Transparency
--transparency-menu: #{style.$G023};
--transparency-titlebar: #{style.$G024};
--transparency-backdrop: #{style.$G025};
--transparency-background: #{style.$G026};

--transparency-primary: #{style.$G027};
--transparency-secondary: #{style.$G028};
--transparency-tertiary: #{style.$G029};

--transparency-hover: #{style.$G030};
--transparency-active: #{style.$G031};
--transparency-selected: #{style.$G032};

// Opacity
--selection-opacity: #{style.$G033};
--shadow-opacity: #{style.$G034};
--shadow-popout-opacity: #{style.$G035};
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Theme Dark         ║ These are the variables for the Dark theme.                                       ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.theme-dark {

// Accent
--accent-primary: rgba(#{hexToRGB(style.$D001)}, #{style.$G036});
--accent-secondary: rgba(#{hexToRGB(style.$D002)}, #{style.$G037});
--accent-tertiary: rgba(#{hexToRGB(style.$D003)}, #{style.$G038});

// Green Button
--green-primary: rgba(#{hexToRGB(style.$D004)});
--green-secondary: rgba(#{hexToRGB(style.$D005)});
--green-tertiary: rgba(#{hexToRGB(style.$D006)});

// Yellow Button
--yellow-primary: rgba(#{hexToRGB(style.$D007)});
--yellow-secondary: rgba(#{hexToRGB(style.$D008)});
--yellow-tertiary: rgba(#{hexToRGB(style.$D009)});

// Red Button
--red-primary: rgba(#{hexToRGB(style.$D010)});
--red-secondary: rgba(#{hexToRGB(style.$D011)});
--red-tertiary: rgba(#{hexToRGB(style.$D012)});

// Purple Button
--purple-primary: rgba(#{hexToRGB(style.$D013)});
--purple-secondary: rgba(#{hexToRGB(style.$D014)});
--purple-tertiary: rgba(#{hexToRGB(style.$D015)});

// Background
--background-primary: rgba(#{hexToRGB(style.$D016)}, var(--transparency-primary));
--background-secondary: rgba(#{hexToRGB(style.$D017)}, var(--transparency-secondary));
--background-tertiary: rgba(#{hexToRGB(style.$D018)}, var(--transparency-tertiary));
--background-secondary-alt: rgba(#{hexToRGB(style.$D018)}, var(--transparency-tertiary));

--background-accent: rgba(#{hexToRGB(style.$D001)});
--background-floating: rgba(#{hexToRGB(style.$D018)}, var(--transparency-menu));

--background-mobile-primary: rgba(#{hexToRGB(style.$D016)});
--background-mobile-secondary: rgba(#{hexToRGB(style.$D017)});

--background-modifier-hover: rgba(#{hexToRGB(style.$D002)});
--background-modifier-active: rgba(#{hexToRGB(style.$D001)});
--background-modifier-selected: rgba(#{hexToRGB(style.$D001)});
--background-modifier-accent: rgba(#{hexToRGB(style.$D016)});

--background-mentioned: rgba(#{hexToRGB(style.$D001)}, 0.1);
--background-mentioned-hover: rgba(#{hexToRGB(style.$D001)}, 0.2);

--background-message-hover: rgba(#{hexToRGB(style.$D018)}, 0.4);
--background-help-warning: rgba(#{hexToRGB(style.$D001)});
--background-help-info: rgba(#{hexToRGB(style.$D002)});

// Toast
--toast-background: rgba(#{hexToRGB(style.$D017)}, var(--transparency-secondary));
--toast-header: rgba(#{hexToRGB(style.$D016)}, var(--transparency-primary));
--toast-contents: rgba(#{hexToRGB(style.$D018)}, var(--transparency-tertiary));
--toast-border: var(--background-secondary);
--toast-box-shadow: rgba(0, 0, 0, 0.400);

// Header
--header-primary: rgba(#{hexToRGB(style.$D019)});
--header-secondary: rgba(#{hexToRGB(style.$D021)});

// Text
--text-normal: rgba(#{hexToRGB(style.$D020)});
--text-muted: rgba(#{hexToRGB(style.$D022)});
--text-link: rgba(#{hexToRGB(style.$D001)});

// Channels
--channels-default: rgba(#{hexToRGB(style.$D021)});

// Interactive
--interactive-normal: rgba(#{hexToRGB(style.$D020)});
--interactive-hover: rgba(#{hexToRGB(style.$D019)});
--interactive-active: rgba(#{hexToRGB(style.$D019)});
--interactive-muted: rgba(#{hexToRGB(style.$D022)});

// Spotify Color
--spotify-color: rgba(#{hexToRGB(style.$D001)});

// Scrollbar
--scrollbar-thin-thumb: rgba(#{hexToRGB(style.$D016)});
--scrollbar-thin-track: rgba(#{hexToRGB(style.$D018)});
--scrollbar-auto-thumb: rgba(#{hexToRGB(style.$D016)});
--scrollbar-auto-track: rgba(#{hexToRGB(style.$D018)});
--scrollbar-auto-scrollbar-color-thumb: rgba(#{hexToRGB(style.$D016)});
--scrollbar-auto-scrollbar-color-track: rgba(#{hexToRGB(style.$D016)});

// Deprecated
--deprecated-card-bg: var(--background-tertiary);
--deprecated-card-editable-bg: var(--background-secondary);
--deprecated-store-bg: var(--background-secondary);
--deprecated-quickswitcher-input-background: var(--background-tertiary);
--deprecated-quickswitcher-input-placeholder: var(--text-normal);
--deprecated-text-input-bg: var(--background-tertiary);

// Elevation
--elevation-stroke: none;
--elevation-low: none;
--elevation-medium: none;
--elevation-high: none;

// Other
--logo-primary: var(--accent-primary);
--focus-primary: var(--accent-primary);
--radio-group-dot-foreground: var(--accent-primary);
--channeltextarea-background: rgba(#{hexToRGB(style.$D019)});
--activity-card-background: var(--background-secondary);
--textbox-markdown-syntax: rgba(#{hexToRGB(style.$D019)});

// Selection
--selection-text: rgba(#{hexToRGB(style.$D025)});
--selection-background: rgba(#{hexToRGB(style.$D026)}, var(--selection-opacity));

// Custom
--titlebar: rgba(#{hexToRGB(style.$D018)}, var(--transparency-titlebar));

--background: rgba(#{hexToRGB(style.$D016)}, var(--transparency-background));
--shadows: 0px 2px 8px 2px rgba(#{hexToRGB(style.$D023)}, var(--shadow-opacity));
--shadows-popout: 0px 2px 8px 2px rgba(#{hexToRGB(style.$D023)}, var(--shadow-popout-opacity));
--backdrop: rgba(#{hexToRGB(style.$D027)}, var(--transparency-backdrop));

--highlight-hover: rgba(#{hexToRGB(style.$D018)}, var(--transparency-hover));
--highlight-active: rgba(#{hexToRGB(style.$D018)}, var(--transparency-active));
--highlight-selected: rgba(#{hexToRGB(style.$D018)}, var(--transparency-selected));

--accent-active: rgba(#{hexToRGB(style.$D001)}, var(--transparency-hover));
--accent-hover: rgba(#{hexToRGB(style.$D002)}, var(--transparency-active));
--accent-selected: rgba(#{hexToRGB(style.$D003)}, var(--transparency-selected));

--normal-primary: rgba(#{hexToRGB(style.$D016)});
--normal-secondary: rgba(#{hexToRGB(style.$D017)});
--normal-tertiary: rgba(#{hexToRGB(style.$D018)});

--border: var(--border-width) solid rgba(#{hexToRGB(style.$D024)}, var(--border-opacity));

// Link preview
--linkpreview-background: transparent;
--linkpreview-color: #FFFFFF;
--linkpreview-border: none;

// Stream
--stream-active: rgba(#{hexToRGB(style.$D013)}, var(--transparency-hover));
--stream-hover: rgba(#{hexToRGB(style.$D014)}, var(--transparency-hover));
--stream-selected: rgba(#{hexToRGB(style.$D015)}, var(--transparency-hover));

// Accent Text
--accent-text-primary: rgba(#{hexToRGB(style.$D028)});
--accent-text-secondary: rgba(#{hexToRGB(style.$D029)});
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Theme Light        ║ These are the variables for the Light theme.                                      ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.theme-light {

// Accent
--accent-primary: rgba(#{hexToRGB(style.$L001)}, #{style.$G036});
--accent-secondary: rgba(#{hexToRGB(style.$L002)}, #{style.$G037});
--accent-tertiary: rgba(#{hexToRGB(style.$L003)}, #{style.$G038});

// Green Button
--green-primary: rgba(#{hexToRGB(style.$L004)});
--green-secondary: rgba(#{hexToRGB(style.$L005)});
--green-tertiary: rgba(#{hexToRGB(style.$L006)});

// Green Button
--yellow-primary: rgba(#{hexToRGB(style.$L007)});
--yellow-secondary: rgba(#{hexToRGB(style.$L008)});
--yellow-tertiary: rgba(#{hexToRGB(style.$L009)});

// Red Button
--red-primary: rgba(#{hexToRGB(style.$L010)});
--red-secondary: rgba(#{hexToRGB(style.$L011)});
--red-tertiary: rgba(#{hexToRGB(style.$L012)});

// Background
--background-primary: rgba(#{hexToRGB(style.$L016)}, var(--transparency-primary));
--background-secondary: rgba(#{hexToRGB(style.$L017)}, var(--transparency-secondary));
--background-tertiary: rgba(#{hexToRGB(style.$L018)}, var(--transparency-tertiary));
--background-secondary-alt: rgba(#{hexToRGB(style.$L018)}, var(--transparency-tertiary));

--background-accent: rgba(#{hexToRGB(style.$L001)});
--background-floating: rgba(#{hexToRGB(style.$L018)}, var(--transparency-menu));

--background-mobile-primary: rgba(#{hexToRGB(style.$L016)});
--background-mobile-secondary: rgba(#{hexToRGB(style.$L017)});

--background-modifier-hover: rgba(#{hexToRGB(style.$L002)});
--background-modifier-active: rgba(#{hexToRGB(style.$L001)});
--background-modifier-selected: rgba(#{hexToRGB(style.$L001)});
--background-modifier-accent: rgba(#{hexToRGB(style.$L016)});

--background-mentioned: rgba(#{hexToRGB(style.$L001)}, 0.1);
--background-mentioned-hover: rgba(#{hexToRGB(style.$L001)}, 0.2);

--background-message-hover: rgba(#{hexToRGB(style.$L018)}, 0.4);
--background-help-warning: rgba(#{hexToRGB(style.$L001)});
--background-help-info: rgba(#{hexToRGB(style.$L002)});

// Toast
--toast-background: rgba(#{hexToRGB(style.$L017)}, var(--transparency-secondary));
--toast-header: rgba(#{hexToRGB(style.$L016)}, var(--transparency-primary));
--toast-contents: rgba(#{hexToRGB(style.$L018)}, var(--transparency-tertiary));
--toast-border: var(--background-secondary);
--toast-box-shadow: rgba(0, 0, 0, 0.400);

// Header
--header-primary: rgba(#{hexToRGB(style.$L019)});
--header-secondary: rgba(#{hexToRGB(style.$L021)});

// Text
--text-normal: rgba(#{hexToRGB(style.$L020)});
--text-muted: rgba(#{hexToRGB(style.$L022)});
--text-link: rgba(#{hexToRGB(style.$L001)});

// Channels
--channels-default: rgba(#{hexToRGB(style.$L021)});

// Interactive
--interactive-normal: rgba(#{hexToRGB(style.$L020)});
--interactive-hover: rgba(#{hexToRGB(style.$L019)});
--interactive-active: rgba(#{hexToRGB(style.$L019)});
--interactive-muted: rgba(#{hexToRGB(style.$L022)});

// Spotify Color
--spotify-color: rgba(#{hexToRGB(style.$L001)});

// Scrollbar
--scrollbar-thin-thumb: rgba(#{hexToRGB(style.$L016)});
--scrollbar-thin-track: rgba(#{hexToRGB(style.$L018)});
--scrollbar-auto-thumb: rgba(#{hexToRGB(style.$L016)});
--scrollbar-auto-track: rgba(#{hexToRGB(style.$L018)});
--scrollbar-auto-scrollbar-color-thumb: rgba(#{hexToRGB(style.$L016)});
--scrollbar-auto-scrollbar-color-track: rgba(#{hexToRGB(style.$L016)});

// Deprecated
--deprecated-card-bg: var(--background-tertiary);
--deprecated-card-editable-bg: var(--background-secondary);
--deprecated-store-bg: var(--background-secondary);
--deprecated-quickswitcher-input-background: var(--background-tertiary);
--deprecated-quickswitcher-input-placeholder: var(--text-normal);
--deprecated-text-input-bg: var(--background-tertiary);

// Elevation
--elevation-stroke: none;
--elevation-low: none;
--elevation-medium: none;
--elevation-high: none;

// Other
--logo-primary: var(--accent-primary);
--focus-primary: var(--accent-primary);
--radio-group-dot-foreground: var(--accent-primary);
--channeltextarea-background: rgba(#{hexToRGB(style.$L019)});
--activity-card-background: var(--background-secondary);
--textbox-markdown-syntax: rgba(#{hexToRGB(style.$L019)});

// Selection
--selection-text: rgba(#{hexToRGB(style.$L025)});
--selection-background: rgba(#{hexToRGB(style.$L026)}, var(--selection-opacity));

// Custom
--titlebar: rgba(#{hexToRGB(style.$L018)}, var(--transparency-titlebar));

--background: rgba(#{hexToRGB(style.$L016)}, var(--transparency-background));
--shadows: 0px 2px 8px 2px rgba(#{hexToRGB(style.$L023)}, var(--shadow-opacity));
--shadows-popout: 0px 2px 8px 2px rgba(#{hexToRGB(style.$L023)}, var(--shadow-popout-opacity));
--backdrop: rgba(#{hexToRGB(style.$L027)}, var(--transparency-backdrop));

--highlight-hover: rgba(#{hexToRGB(style.$L018)}, var(--transparency-hover));
--highlight-active: rgba(#{hexToRGB(style.$L018)}, var(--transparency-active));
--highlight-selected: rgba(#{hexToRGB(style.$L018)}, var(--transparency-selected));

--accent-active: rgba(#{hexToRGB(style.$L001)}, var(--transparency-hover));
--accent-hover: rgba(#{hexToRGB(style.$L002)}, var(--transparency-active));
--accent-selected: rgba(#{hexToRGB(style.$L003)}, var(--transparency-selected));

--normal-primary: rgba(#{hexToRGB(style.$L016)});
--normal-secondary: rgba(#{hexToRGB(style.$L017)});
--normal-tertiary: rgba(#{hexToRGB(style.$L018)});

--border: var(--border-width) solid rgba(#{hexToRGB(style.$L024)}, var(--border-opacity));

// Linkpreview
--linkpreview-background: transparent;
--linkpreview-color:#000000;
--linkpreview-border:transparent;

// Stream
--stream-active: rgba(#{hexToRGB(style.$L013)}, var(--transparency-hover));
--stream-hover: rgba(#{hexToRGB(style.$L014)}, var(--transparency-hover));
--stream-selected: rgba(#{hexToRGB(style.$L015)}, var(--transparency-hover));

// Accent Text
--accent-text-primary: rgba(#{hexToRGB(style.$L028)});
--accent-text-secondary: rgba(#{hexToRGB(style.$L029)});
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ CSS                ║ Some CSS Stuff                                                                    ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.app-2rEoOp {
    background: transparent;
}

.popoutRight-1veHKi {
    margin-top: -90px;
}