/* ╔════════════════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Discord Theme                                                                                                      ║ */
/* ╠══════════════════════════╦═════════════════════════════════════════════════════════════════════════════════════════╣ */
/* ║ Name:                    ║ CreArts v3                                                                              ║ */
/* ║ Version:                 ║ 3.0.2                                                                                   ║ */
/* ║ Author:                  ║ CorellanStoma#1996                                                                      ║ */
/* ║ License:                 ║ MIT                                                                                     ║ */
/* ╠══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╣ */
/* ║                                                                                                                    ║ */
/* ║ CreArts is a theme for Discord that gives you a new modern interface and adds at the same time many                ║ */
/* ║ possibilities to be customized, one of the core features are Skins, which allow you to customize the appearance    ║ */
/* ║ with Variables.                                                                                                    ║ */
/* ║                                                                                                                    ║ */
/* ║ The goal of this Discord theme is to wrap the standard Discord charm in a new visual idea.                         ║ */
/* ║                                                                                                                    ║ */
/* ║ To enable or disable certain things, you can comment lines. Use "/* " in front.                                    ║ */
/* ║                                                                                                                    ║ */
/* ╚════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝ */

@import url("https://crearts-community.github.io/CreArts-Discord/clients/crearts.theme.css");