/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Privacy                  ║ User Tag                                                                                ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

.nameTag-sc-gpq .subtext-2HDqJ7:not(.spotify-artist) {
  background: var(--header-secondary);
  border-radius: 4px;
  width: 20%;
  height: 8px;
  margin-top: 4px;
}

.nameTag-sc-gpq:hover .subtext-2HDqJ7:not(.spotify-artist) {
  background: transparent;
  height: auto;
  margin-top: 0px;
}