// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Horizontal         ║ Import                                                                            ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

@use "settings.scss"; // (Warning!! Do not disable it!)
@use "serverlist.scss"; // (Warning!! Do not disable it!)


// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Horizontal         ║ Wrapper                                                                           ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝


// Backgrounds
#app-mount .wrapper-1Rf91z {
  background: transparent;
}

// Distance
#app-mount .app-1q1i1E .base-3dtUhz {
  position: absolute !important;
  top: 100px !important;
  left: 0 !important;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Horizontal         ║ Home Button                                                                       ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.tutorialContainer-1v44GL {
  border-radius: var(--radius-primary);
  background: transparent;
  position: fixed;
  padding-bottom: 74px;
  padding-top: 6px;
  margin-top: 20px;
  top: 0px;
}

// Blur
.tutorialContainer-1v44GL:before {
  background: var(--background-secondary);
  position: fixed;
  content: "";
  border-radius: var(--radius-primary);
  backdrop-filter: blur(var(--blur));
  border: var(--border) solid rgba( 255, 255, 255, var(--border-opacity));
  box-shadow: var(--shadows);
  height: 148px;
  width: 64px;
  margin-top: -8px;
  z-index: -1;
}

// Home Button
.childWrapper-anI2G9 {
  background: var(--background-primary);
  color: var(--interactive-normal);
}

// Settings Button
[aria-label="Brugerindstillinger"], // Dansk
[aria-label="Benutzereinstellungen"], // Deutsch
[aria-label="User Settings"], // English
[aria-label="Ajustes de usuario"], // Español
[aria-label="Paramètres utilisateur"], // Français
[aria-label="Korisničke postavke"], // Hrvatski
[aria-label="Impostazioni utente"], // Italiano
[aria-label="Naudotojo Nustatymai"], // Lietuviškai
[aria-label="Felhasználói beállítások"], // Magyar
[aria-label="Gebruikersinstellingen"], // Nederlands
[aria-label="Brukerinnstillinger"], // Norsk
[aria-label="Ustawienia użytkownika"], // Polski
[aria-label="Configurações de Usuário"], // Português do Brasil
[aria-label="Setări utilizator"], // Română
[aria-label="Käyttäjäasetukset"], // Suomi
[aria-label="Användarinställningar"], // Svenska
[aria-label="Cài đặt người dùng"], // Tiếng Việt
[aria-label="Kullanıcı Ayarları"], // Türkçe
[aria-label="Uživatelská nastavení"], // Čeština
[aria-label="Ρυθμίσεις χρήστη"], // Ελληνικά
[aria-label="Потребителски настройки"], // български
[aria-label="Настройки пользователя"], // Русский
[aria-label="Користувацькі налаштування"], // Українська
[aria-label="ตั้งค่าผู้ใช้"], // ไทย
[aria-label="用户设置"], // 中文
[aria-label="ユーザー設定"], // 日本語
[aria-label="使用者設定"], // 繁體中文
[aria-label="사용자 설정"] { // 한국어
  background: var(--background-primary);
  position: fixed;
  top: 52px;
  left: 102px;
  height: 50px;
  width: 50px;
  .contents-18-Yxp {
    transform: scale(1.6);
  }
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Horizontal         ║ Guilds                                                                            ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.scroller-2TZvBN {
  border-radius: var(--radius-primary);
  background: transparent;
  position: relative;
  bottom: 20px;
  margin-top: 210px;
  margin-bottom: 100px;
}

// Blur
.wrapper-1Rf91z::before {
background: var(--background-secondary);
position: absolute;
content: "";
border-radius: var(--radius-primary);
backdrop-filter: blur(var(--blur));
border: var(--border) solid rgba( 255, 255, 255, var(--border-opacity));
box-shadow: var(--shadows);
width: 64px;
bottom: 20px;
margin-top: 190px;
margin-bottom: 100px;
top: 0;
z-index: -1;
}

// Remove guild Separator
.guildSeparator-3s64Iy {display: none;}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Horizontal         ║ Add Server Button                                                                 ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.tutorialContainer-SGrQ1h {
  background: rgba(255, 0, 0, 0.164);
  position: fixed;
  bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

// Blur
.tutorialContainer-SGrQ1h::before {
  background: var(--background-secondary);
  position: fixed;
  content: "";
  border-radius: var(--radius-primary);
  backdrop-filter: blur(var(--transparency-blur));
  border: var(--border) solid rgba( 255, 255, 255, var(--border-opacity));
  box-shadow: var(--shadows);
  height: 80px;
  width: 64px;
  z-index: -1;
}

// Add Server & Explore Button
.circleIconButton-jET_ig {
  color: var(--interactive-normal);
  background: var(--background-primary);
}

.circleIconButton-jET_ig.selected-ugP_am svg path{
  fill: var(--interactive-active);
}







// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Horizontal         ║ Bottom Serverlist                                                                 ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝


body #app-mount .app-1q1i1E .base-3dtUhz {
  top: 0 !important;
  bottom: var(--server-container) !important;
}
body #app-mount .wrapper-1Rf91z.guilds-1SWlCJ {
  top: unset !important;
  left: 100vw;
  bottom: 0 !important;
  transform-origin: bottom left;
}
body #app-mount .wrapper-1Rf91z.guilds-1SWlCJ.content-Pph8t6 {
  top: unset !important;
  bottom: var(--server-container) !important;
}
body #app-mount .wrapper-1Rf91z.guilds-1SWlCJ.content-Pph8t6:not(.closed-j55_T-) + .base-3dtUhz {
  top: 0 !important;
  bottom: calc(var(--server-container) * 2) !important;
}
body #app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] {
  top: unset !important;
  bottom: calc((var(--server-size) / -1) + (var(--server-size) / 2) - 8px) !important;
}
body #app-mount .wrapper-1Rf91z.guilds-1SWlCJ [class*=pill] span {
  border-radius: 4px 0 0 4px;
}
body #app-mount .listItemTooltip-CDcY8J {
  position: absolute;
  white-space: nowrap;
  top: calc(var(--server-size) / -1 - 30px) !important;
  margin-left: calc(var(--server-size) / -1 - 20px);
}
body #app-mount .listItemTooltip-CDcY8J .tooltipPointer-3ZfirK {
  transform: rotate(0) !important;
  top: unset !important;
  bottom: -10px !important;
}

html.platform-osx #app-mount .base-3dtUhz {
  top: 32px !important;
}