// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Plugins            ║ NSFW Tags                                                                         ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Normal
.wrapper-2jXpOf .nsfw-text {
    background-color: var(--background-primary) !important;
    border-radius: var(--radius-primary) !important;
    color: var(--text-normal) !important;
    padding: 0 8px !important;
}

.wrapper-2jXpOf.modeSelected-346R90 .nsfw-text {
    background-color: var(--accent-text-primary) !important;
    border-radius: var(--radius-primary) !important;
    color: var(--accent-primary) !important;
    padding: 0 8px !important;
}

// Hover
.wrapper-2jXpOf:hover .nsfw-text {
    background-color: var(--accent-text-primary) !important;
    border-radius: var(--radius-primary) !important;
    color: var(--accent-primary) !important;
    padding: 0 8px !important;
}

.user-details-text {
    display: none;
}