// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Stage              ║                                                                                   ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Stage              ║ Tickets                                                                           ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.container-1n4bMv {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.container-2vijaa {
background: var(--background-secondary);
border-radius: var(--radius-primary);
margin-top: 10px;
margin-bottom: 10px;
padding: 0px;
margin-right: 10px !important;
width: auto;
}