// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Voice              ║ Base                                                                              ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.noChat-18KtBD {
    background: Black;
  }
  
  .noChat-18KtBD .children-19S4PO {
    background: transparent;
  }
  
  
  
  .noChat-18KtBD  .toolbar-1t6TWx {
  background: transparent;
  }
  .noChat-18KtBD  .overlayTitle-8IcS01 {
    border-radius: var(--radius-primary);
  }
  
  
  .noChat-18KtBD .gradientTop-3UWg3T,
  .noChat-18KtBD .gradientBottom-3X4SdK {
    display: none;
  }

.noChat-18KtBD .root-2sELX6 {
  background-color: #000000bd;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}







.content-2Sfaij .wrapper-3t9DeA::after {
  z-index: -1;
  content:'';
  position: absolute;
  top: -20px;
  left: -20px;
  width: 900px;
  height: 170px;
  opacity: 1;
  background: var(--user-background) center/cover no-repeat;
  background-color: var(--background-primary);
  filter: brightness(60%) blur(0px);
}