// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Discovery          ║                                                                                   ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.container-1a3EgQ {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.stageSection-3mAD8V .container-S9SaVf{
    max-width: 100% !important;
    width: 100%;
}

.stageSection-3mAD8V {
    margin-right: 10px;
}

// No Title
.stageSection-3mAD8V .headerContainer-1Wluzl {
    display: none;
}

// No Activity
.nowPlayingSidebar-2OFn0o {
    display: none;
}

// No Border 
.headerBarContainer-31FKNA {
    box-shadow: none;
}

// Cards
.theme-dark .container-S9SaVf,
.theme-light .container-S9SaVf {
    background: var(--background-secondary);
    border-radius: var(--radius-primary);
}

.theme-dark .container-S9SaVf:hover,
.theme-light .container-S9SaVf:hover {
    background: var(--background-tertiary);
    border-radius: var(--radius-primary);
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Discovery          ║ Tab Bar                                                                           ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.container-1a3EgQ .lookFilled-yCfaCM {
  background: var(--accent-primary) !important;
  border-radius: var(--radius-primary);
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}

.container-1a3EgQ .lookFilled-yCfaCM:hover {
  background: var(--accent-secondary) !important;
}