// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Friend             ║                                                                                   ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.children-3xh0VB .status-12NUUC  {
  margin-left: 8px;
  margin-right: 0px;
}


.children-3xh0VB .input-1nrc5P  {
  margin-left: 12px;
}


.children-3xh0VB .textBadge-1fdDPJ  {
  display: none;
}

.children-3xh0VB .iconWrapper-2awDjA  {
  display: none;
}

.children-3xh0VB .title-17SveM {
  background: var(--background-tertiary);
  margin-left: 8px;
  height: 70%;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: var(--radius-primary);
}

// Spacing
.container-2cd8Mz  {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.tabBody-2dgbAs {
  margin-top: 10px;
  margin-bottom: 10px;
}

// Background
.peopleColumn-1wMU14 {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  margin-right: 10px;
}

// No Title
.peopleList-2VBrVI .title-x4dI75 {
  display: none;
}

// No Border
.peopleListItem-u6dGxF {
  border: none;
}

// Button
.actionButton-3-B2x-:first-child {
  background: var(--accent-primary);
  color: var(--accent-text-primary);
}

.actionButton-3-B2x- {
  background: var(--background-primary);
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Friends            ║ Tab Bar                                                                           ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.container-2cd8Mz .item-3mHhwr {
  border-radius: var(--radius-primary);
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
  
.container-2cd8Mz .item-3mHhwr:last-child {
  background: var(--accent-primary) !important;
}

.container-2cd8Mz .item-3mHhwr:last-child:hover {
  background: var(--accent-secondary) !important;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Friends            ║ People                                                                            ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝


.peopleColumn-1wMU14 .peopleListItem-u6dGxF,
.peopleColumn-1wMU14 .peopleListItem-u6dGxF:hover,
.peopleColumn-1wMU14 .peopleListItem-u6dGxF.active-2UF8Zh {
border-radius: var(--radius-primary);
}


.peopleColumn-1wMU14 .scrollerBase-_bVAAt {
padding: 0px;
margin: 0px;
}




/*
// Base
.peopleColumn-1wMU14 {
padding: 0px 0px 0px 0px;
}

// Item
.peopleListItem-u6dGxF {
background: blue;
margin: 12px;
border-radius: var(--radius-primary);


display: inline-grid;
height: 160px !important;
width: 260px;
}

// Hover
.peopleListItem-u6dGxF:hover {
background: var(--accent-primary);
margin: 24px 24px 24px 24px;
padding: 12px 12px 12px 12px;
border-radius: var(--radius-primary);
//transition: var(--card-hover);
//transform: scale(1.04);
}

.peopleColumn-1wMU14 {
	display: flex;
	flex-wrap: wrap;
}

.peopleListItem-u6dGxF {
  border-radius: var(--radius-primary);
  background: red;
  padding: 24px !important;
  margin: 12px;


  height: 200px !important;
  flex: 1 0 10% !important;
  flex-grow: 1;
  flex-shrink: 2;
  flex-direction: row;
  width: 260px;
}


.peopleListItem-u6dGxF.active-2UF8Zh,
.peopleListItem-u6dGxF:hover {
  border-radius: var(--radius-primary);
  background: blue;

  padding: 24px !important;
  margin: 12px;
}
*/


// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Friends            ║ Activity                                                                          ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.nowPlayingColumn-1eCBCN {
  background: transparent;
  margin: 0px;
  margin-left: 10px;
}

.nowPlayingColumn-1eCBCN .scroller-hE2gWq {
  padding: 0px;
  border: none;
}

// Background
.wrapper-2RrXDg {
  border-radius: var(--radius-primary);
  background: transparent;
  position: relative;
}

.container-1oAagU { background: transparent;}

.wrapper-2RrXDg:hover { background: none !important;}

// Blur
.wrapper-2RrXDg:before {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  position: absolute;
  content: "";
  border: var(--border);
  backdrop-filter: blur(var(--blur));
  box-shadow: var(--shadows);
  width:100%;
  height:100%;
  left: 0;
  top: 0;
}

// Hover
.wrapper-2RrXDg:hover:before {
  background: var(--accent-primary) !important;
}

// No Header
.nowPlayingColumn-1eCBCN .header-Imy05m {
  display: none;
}

// Empty Card
.emptyCard-KDifrB {
  border-radius: var(--radius-primary);
  padding: 24px;
  margin-right: 10px;
}

// Items
.section-3G9aLW {
  background: var(--background-tertiary);
  border-radius: var(--radius-secondary);
  position: relative;
  padding: 12px;
}

.theme-dark .inset-SbsSFp {
  background-color: transparent;
}

// Activity Avatar
.activitySectionAssets-1wpe42 .largeImage-2EIggm {
  border-radius: 90px;
  width: 32px;
  height: 32px;
}

// Divider
.theme-dark .separator-2OaeRP {
  background-color: transparent;
  padding-top: 8px;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Friends            ║ Activity (Empty Card)                                                             ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.emptyCard-KDifrB {
  border-radius: var(--radius-primary);
  background: transparent;
  position: relative;
}

// Blur
.emptyCard-KDifrB:before {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  position: absolute;
  content: "";
  border: var(--border) solid rgba( 255, 255, 255, var(--border-opacity));
  backdrop-filter: blur(var(--blur));
  box-shadow: var(--shadows);
  height: 100%;
  width:100%;
  z-index: -1;
}