// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Home               ║ Searchbar                                                                         ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.privateChannels-oVe7HL{
    background: transparent;
    position: relative;
}

.searchBar-3TnChZ {
    padding: 0px;
    height: 40px;
    margin-bottom: 20px;
    background: transparent;
    border: var(--border);
    border-radius: var(--radius-primary);
}

.searchBar-3TnChZ .searchBarComponent-3N7dCG {
    background: transparent;
    border-radius: 0px;
    color: var(--header-secondary);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}


// Blur
.searchBar-3TnChZ:before {
    background: var(--background-secondary);
    border-radius: var(--radius-primary);
    position: absolute;
    content: "";
    backdrop-filter: blur(var(--blur));
    box-shadow: var(--shadows);
    width:100%;
    height:100%;
    left: 0;
    top: 0;
}

// Hover
.searchBar-3TnChZ:hover:before {
    background: var(--accent-primary);
}

.searchBar-3TnChZ:hover .searchBarComponent-3N7dCG {
color: var(--accent-text-primary);
}

// Text
.searchBar-3TnChZ .searchBarComponent-3N7dCG {
    z-index: 1;
}
 
// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Home               ║ Sidebar                                                                           ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.sidebar-1tnWFu {
    padding: 10px 10px 10px 20px;
}

.sidebar-1tnWFu .layout-1qmrhw {
    margin-right: 6px;
    margin-left: 0px;
    padding-left: 6px !important;
    height: 36px;
    margin-top: 4px;
    margin-bottom: 4px;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Home               ║ Sidebar (Buttons)                                                                 ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// No Badge
#private-channels .content-2a4AW9 .numberBadge-37OJ3S {
position: absolute;
right: 0px;
}

// Flex
#private-channels .content-2a4AW9 {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

// Spacing
#private-channels .content-2a4AW9 > a:not([href*="/channels/@me/"]) {
    flex-grow: 1;
    width: 25%;
    margin-top: 8px !important;
}

#private-channels .content-2a4AW9 .children-283-lq {margin-left: 0px};

#private-channels .content-2a4AW9 > a:not([href*="/channels/@me/"]) [class*="avatar-"] {
    margin: 0 !important;
}

#private-channels .content-2a4AW9 > h2 {
    width: 100%;
}

#private-channels .content-2a4AW9 > a[href*="/channels/@me/"] {
    width: 100%;
}

// No Text
#private-channels .content-2a4AW9 > a:not([href*="/channels/@me/"]) [class*="content-"] {
    display: none;
}

// Buttons
#private-channels .content-2a4AW9 > a:not([href*="/channels/@me/"]) [class*="layout-"] {
    justify-content: center;
    background: var(--background-tertiary);
    border-radius: var(--radius-primary);
    margin: 0 4px;
    padding: 0px !important;
}

// Buttons (Hover)
#private-channels .content-2a4AW9 .clickable-28SzVr:hover .layout-1qmrhw {
    background: var(--accent-primary) !important;
}

// Buttons (Select)
#private-channels .content-2a4AW9 .selected-1-Z6gm .layout-1qmrhw {
    background: var(--accent-primary) !important;
}

// Nitro
#private-channels .content-2a4AW9 > a[href='/store']  .linkButtonIcon-7rsZcu {
    position: relative;
    bottom: 1px;
}

// Library
#private-channels .content-2a4AW9 > a[href='/library']  .linkButtonIcon-7rsZcu {
    position: relative;
    bottom: 1px;

}

// Stage
#private-channels .content-2a4AW9 > a[href='/discovery']  .linkButtonIcon-7rsZcu {
    position: relative;
    bottom: 0px;
}

// Replace Friends Icon
#private-channels .content-2a4AW9 > a[href='/channels/@me']  .linkButtonIcon-7rsZcu {
    position: relative;
    width: 100%;
    height: 23px;
    bottom: 3px;
    left: -2px;
}

.linkButtonIcon-7rsZcu path[d="M0.5,0 L0.5,1.5 C0.5,5.65 2.71,9.28 6,11.3 L6,16 L21,16 L21,14 C21,11.34 15.67,10 13,10 C13,10 12.83,10 12.75,10 C8,10 4,6 4,1.5 L4,0 L0.5,0 Z M13,0 C10.790861,0 9,1.790861 9,4 C9,6.209139 10.790861,8 13,8 C15.209139,8 17,6.209139 17,4 C17,1.790861 15.209139,0 13,0 Z"]{
    d: path("M12,13.011c0.753,-0 1.758,-0.293 2.259,-0.81c2.925,0.482 3.937,1.124 4.65,2.28c0.81,1.312 0.709,2.923 0.845,5.439c-1.29,1.567 -5.169,2.314 -7.754,2.314c-2.585,0 -6.464,-0.747 -7.754,-2.314c0.136,-2.516 0.035,-4.127 0.845,-5.439c0.713,-1.156 1.725,-1.798 4.65,-2.28c0.505,0.521 1.506,0.81 2.259,0.81Zm-8.841,6.06c-1.466,-0.265 -2.585,-0.772 -3.159,-1.604c0,-2.874 0.185,-3.479 0.699,-4.435c0.481,-0.895 2.083,-1.604 3.812,-1.859c0.234,0.4 1.051,0.778 1.883,0.75c-2.406,0.984 -3.3,3.553 -3.235,7.148Zm17.682,-0c1.466,-0.265 2.585,-0.772 3.159,-1.604c-0,-2.874 -0.185,-3.479 -0.699,-4.435c-0.481,-0.895 -2.083,-1.604 -3.812,-1.859c-0.234,0.4 -1.051,0.778 -1.883,0.75c2.406,0.984 3.3,3.553 3.235,7.148Zm-8.829,-17.305c0.004,0 0.008,-0 0.011,-0c1.08,-0 2.376,0.302 3.103,1.155c0.778,0.915 0.99,2.47 0.99,3.902c-0,2.769 -1.856,4.976 -4.093,4.976c-0.007,0 -0.015,0 -0.023,-0l-0.023,0c-2.237,0 -4.093,-2.207 -4.093,-4.976c0,-1.432 0.212,-2.987 0.99,-3.902c0.727,-0.853 2.023,-1.155 3.103,-1.155c0.007,-0 0.015,0 0.023,0l0.012,0Zm-4.49,1.181c0.004,0.001 -0.837,1.286 -0.73,3.667c0.118,2.61 1.072,3.839 1.069,3.841c-2.469,1.336 -4.852,-0.563 -4.903,-3.342c-0.026,-1.431 0.08,-2.337 0.764,-3.324c0.764,-1.103 2.68,-1.069 3.8,-0.842Zm8.956,0c-0.004,0.001 0.837,1.286 0.73,3.667c-0.118,2.61 -1.072,3.839 -1.069,3.841c2.469,1.336 4.852,-0.563 4.903,-3.342c0.026,-1.431 -0.08,-2.337 -0.764,-3.324c-0.764,-1.103 -2.68,-1.069 -3.8,-0.842Z");
}

// Replace Library Icon
.linkButtonIcon-7rsZcu path[d="M17,13.6 L17.3999992,13.6 C19.0406735,13.6 20.496781,12.8097754 21.4084757,11.5891722 L21.8198761,18.8298199 C21.913864,20.4840062 20.6490733,21.9011814 18.994887,21.9951692 C18.9382174,21.9983891 18.8814679,22 18.8247069,22 L5.1752931,22 C3.51843885,22 2.1752931,20.6568542 2.1752931,19 C2.1752931,18.943239 2.17690401,18.8864895 2.18012387,18.8298199 L2.59152425,11.5891732 C3.503219,12.8097758 4.95932613,13.6 6.6,13.6 L7,13.6 L7,15 L9,15 L9,13.6 L15,13.6 L15,15 L17,15 L17,13.6 Z M7,16 L7,18 L9,18 L9,16 L7,16 Z M15,16 L17,16 L17,18 L15,18 L15,16 Z M15,11.6 L9,11.6 L9,9 L7,9 L7,11.6 L6.6,11.6 C4.94314575,11.6 3.6,10.2568542 3.6,8.6 L3.6,5 C3.6,3.34314575 4.94314575,2 6.6,2 L17.3999992,2 C19.0568535,2 20.3999992,3.34314575 20.3999992,5 L20.3999992,8.6 C20.3999992,10.2568542 19.0568535,11.6 17.3999992,11.6 L17,11.6 L17,9 L15,9 L15,11.6 Z"]{
    d: path("M20.8,7.7c-0.6-1.2-1.8-1.9-3.1-1.9H6.3C5,5.7,3.8,6.5,3.2,7.6l-2.8,5.8c0,0,0,0,0,0C-0.3,15.1,0.4,17,2,17.8L2.3,18C4,18.7,5.9,18,6.7,16.4l0.1-0.3c0.3-0.6,0.9-1,1.6-1h7.1c0.7,0,1.3,0.4,1.6,1l0.1,0.3c0.8,1.6,2.7,2.4,4.4,1.6l0.3-0.1c1.6-0.8,2.3-2.7,1.6-4.4L20.8,7.7z M8.6,10.5c0,0.2-0.2,0.4-0.4,0.4H7.3c-0.2,0-0.4,0.2-0.4,0.4v0.9c0,0.2-0.2,0.4-0.4,0.4H5.7c-0.2,0-0.4-0.2-0.4-0.4v-0.9c0-0.2-0.2-0.4-0.4-0.4c0,0,0,0,0,0H4.1c-0.2,0-0.4-0.2-0.4-0.4V9.7c0-0.2,0.2-0.4,0.4-0.4h0.9c0.2,0,0.4-0.2,0.4-0.4c0,0,0,0,0,0V8.1c0-0.2,0.2-0.4,0.4-0.4h0.8C6.8,7.7,7,7.9,7,8.1V9c0,0.2,0.2,0.4,0.4,0.4h0.9c0.2,0,0.3,0.2,0.3,0.4V10.5z M15.6,10.9c-0.4,0-0.8-0.3-0.8-0.8c0-0.4,0.3-0.8,0.8-0.8c0,0,0,0,0,0c0.4,0,0.8,0.3,0.8,0.8C16.4,10.5,16.1,10.9,15.6,10.9z M17.2,7.7C17.2,7.7,17.2,7.7,17.2,7.7c0.4,0,0.8,0.3,0.8,0.8c0,0,0,0,0,0c0,0.4-0.4,0.8-0.8,0.8c-0.4,0-0.8-0.4-0.8-0.8S16.8,7.7,17.2,7.7z M18,11.7L18,11.7C18,11.7,18,11.7,18,11.7c0,0.4-0.3,0.8-0.8,0.8c-0.4,0-0.8-0.3-0.8-0.8c0-0.4,0.3-0.8,0.8-0.8c0,0,0,0,0,0C17.7,10.9,18,11.3,18,11.7C18,11.7,18,11.7,18,11.7L18,11.7C18,11.7,18,11.7,18,11.7C18,11.7,18,11.7,18,11.7z M18.9,10.9c-0.4,0-0.8-0.3-0.8-0.8c0-0.4,0.3-0.8,0.8-0.8c0,0,0,0,0,0c0.4,0,0.8,0.3,0.8,0.8C19.6,10.5,19.3,10.9,18.9,10.9z");
}


// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Home               ║ DM Button                                                                         ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// DM Button (No Text)
#private-channels .content-2a4AW9 .headerText-1qIDDT {
    display: none;
}

// DM Button (Background)
#private-channels .content-2a4AW9 .container-q97qHp {
    background: var(--background-tertiary);
    border-radius: var(--radius-primary);
    height: 36px;
    justify-content: center;
    padding: 10px 0px 0px 0px;
    margin-bottom: 8px;
    margin-top: 8px;
    margin-left: 4px;
    margin-right: 4px;
}

// Clickable
#private-channels .content-2a4AW9 .clickable-ZD7xvu::before {
    content: "";
    background: transparent;
    border-radius: var(--radius-primary);
    position: fixed;
    left: 4px;
    height: 36px;
    width: calc(100% - 16px);
    top: 54px;
    margin-left: 4px;
}

// DM Button (Background Hover)
#private-channels .content-2a4AW9 .container-q97qHp:hover {
    background: var(--accent-primary) !important;
}

// DM Button (Icon)
#private-channels .content-2a4AW9 .clickable-ZD7xvu {
    padding: 0px;
    margin: 0px;
    border-radius: var(--radius-primary);
}

// Icon
#private-channels .content-2a4AW9 .container-q97qHp:hover .icon-2xnN2Y {
  color: var(--accent-text-primary);
}




















// name
.privateChannels-oVe7HL .name-3Vmqxm {
  height: 24px !important;
}

// Status
.privateChannels-oVe7HL .subText-OGOWMj {
  margin-top: -4px;
}