// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Library            ║ My Games                                                                          ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.container-3Mxszk {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

// Background
.scroller-1IIF0A {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  margin-right: 10px;
  margin-top: 10px;
}

// Header
.header-39GIC8 {
  background: transparent;
}

// Last Played
.lastPlayedCellNew-3twqHQ {
    color: var(--text-normal);
    text-transform: none;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Library            ║ Settings                                                                          ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.container-3Mxszk .children-19S4PO {
  margin-right: 10px;
}

.container-3Mxszk .toolbar-1t6TWx {
  margin-left: 20px;
}

.scroller-2XE8rp {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  margin-right: 10px;
  margin-top: 10px;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Library            ║ Tab Bar                                                                           ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.container-3Mxszk .item-PXvHYJ {
  border-radius: var(--radius-primary);
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}