// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Library            ║ My Games                                                                          ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.container-36u7Lw {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

// Background
.scroller-2XLwLg {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  margin-right: 10px;
  margin-top: 10px;
}

// Header
.header-2EadGG {
  background: transparent;
}

// Last Played
.lastPlayedCellNew-2sRIP_ {
    color: var(--text-normal);
    text-transform: none;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Library            ║ Settings                                                                          ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.container-36u7Lw .children-3xh0VB {
  margin-right: 10px;
}

.container-36u7Lw .toolbar-3_r2xA {
  margin-left: 20px;
}

.scroller-1TOeMq {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  margin-right: 10px;
  margin-top: 10px;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Library            ║ Tab Bar                                                                           ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.container-36u7Lw .item-3XjbnG {
  border-radius: var(--radius-primary);
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}