// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Nitro              ║ General                                                                           ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.applicationStore-2nk7Lo {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

// Background
.applicationStore-2nk7Lo .scroller-29cQFV {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  margin-right: 10px;
  margin-top: 10px;
}

.applicationStore-2nk7Lo .children-3xh0VB {
  margin-right: 10px;
}

// New Badge
.applicationStore-2nk7Lo .newBadge-1Is7Nf {
    background: var(--accent-primary);
}

.applicationStore-2nk7Lo .premiumContainer-3GGa8Q {
    padding: 40px;
}

// Header
.applicationStore-2nk7Lo .featuresHeader-2bjq5B {
    margin-left: 0px;
}

// Payment Header
.applicationStore-2nk7Lo .h5-2RwDNl {display: none;}

// Bloack
.applicationStore-2nk7Lo .detailsBlock-FoDTGA {
 background: var(--background-tertiary);
 border-radius: var(--radius-secondary);
}





.applicationStore-2nk7Lo .subscriptionDetails-3u1CML {
    padding-bottom: 0px;
    margin-bottom: 40px;
  border: none;
}



.applicationStore-2nk7Lo .feature-2IUcBI {
    background: var(--background-tertiary);
}



/*
.applicationStore-2nk7Lo .hero-1aNo0v {
  height: 280px;
}

.applicationStore-2nk7Lo .hero-1aNo0v::after {
  content: "";
  background: var(--accent-primary);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  z-index: 1;
}
*/