// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Autocomplete             ║ General                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.autocomplete-3NRXG8 {
background: var(--background-tertiary) !important;
border-radius: var(--radius-primary);
padding: 12px;
}

