
// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Popouts            ║ Guild Menu                                                                        ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.animatorBottom-fS5rNO {
  position: relative;
  left: -20px;
  top: 12px;
}

// Background
.animatorTop-2Y7x2r .menu-3sdvDG {
  border-radius: var(--radius-primary);
  background: transparent;
  position: relative;
}

.animatorBottom-fS5rNO .styleFixed-sX-yHV {
width: var(--channel-width);
border-radius: var(--radius-primary);
}

.animatorBottom-fS5rNO .item-1tOPte {
  border-radius: var(--radius-primary);
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.animatorBottom-fS5rNO .separator-2I32lJ {display: none;}

// Icons on the left
.icon-LYJorE, .iconContainer-2-XQPY {
  order: -1;
  padding-right: 10px;
  margin-left: 0px;
}


// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Popouts            ║ Pinned                                                                            ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.layer-v9HyYc .messagesPopoutWrap-1MQ1bW  {
background: var(--background-secondary);
position: fixed;
right: 20px;
top: 112px;
border-radius: var(--radius-primary);
width: 60vw;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Popouts            ║ Inbox                                                                             ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝











// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Popouts            ║ Calendar                                                                          ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.theme-dark .datePicker--XZbmJ,
.theme-light .datePicker--XZbmJ {
  background: var(--background-tertiary);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker,
.theme-light .calendarPicker-2yf6Ci .react-datepicker {
  background: transparent !important;
}

// Border
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day,
.theme-light .calendarPicker-2yf6Ci .react-datepicker__day {
  border-color: var(--background-tertiary);
  border-color: var(--background-tertiary);
  color: var(--accent-text-primary);
  box-shadow: none;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__week:last-of-type .react-datepicker__day,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__week .react-datepicker__day:last-of-type,
.theme-light .calendarPicker-2yf6Ci .react-datepicker__week:last-of-type .react-datepicker__day,
.theme-light .calendarPicker-2yf6Ci .react-datepicker__week .react-datepicker__day:last-of-type {
  border-color: var(--background-tertiary);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header,
.theme-light .calendarPicker-2yf6Ci .react-datepicker__header {
  background: transparent !important;

}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day,
.theme-light .calendarPicker-2yf6Ci .react-datepicker__day {
  background: var(--background-secondary) !important;
  color: var(--text-normal);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled:hover,
.theme-light .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled,
.theme-light .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled:hover {
  background: var(--background-tertiary) !important;
  color: var(--text-muted);
}

// Button
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--next,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--previous,
.theme-light .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--next,
.theme-light .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--previous {
  background-color: var(--background-tertiary);
  border-radius: var(--radius-primary);
  border: none;
}

// Selected
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--selected,
.theme-light .calendarPicker-2yf6Ci .react-datepicker__day--selected {
  background: var(--accent-primary) !important;
  color: var(--accent-text);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:after,
.theme-light .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:after {
  background: var(--accent-primary);
  color: var(--accent-text);
}

// Text
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day-name,
.theme-light .calendarPicker-2yf6Ci .react-datepicker__day-name {
  color: var(--text-normal);
}

// Header
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__current-month,
.theme-light .calendarPicker-2yf6Ci .react-datepicker__current-month {
  color: var(--text-normal);
  border-bottom: 0px solid;
  font-size: 16px;
  font-weight: 400;
}

// Shadow
.theme-dark .calendarPicker-2yf6Ci,
.theme-light .calendarPicker-2yf6Ci {
  box-shadow: none;
}

// No Calendar Tips
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw,
.theme-light .datePicker--XZbmJ .datePickerHint-3Q1Udw {
  display: none;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Popouts            ║ Krisp                                                                             ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.noiseCancellationPopout-iRK2A0 {
  background: var(--background-tertiary);
  border-radius: var(--radius-primary);
  box-shadow: var(--shadows-popout);
}

.theme-dark .notches-1sAcEM.black-1D3qCv {
  display: none;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Popouts            ║ RTC Connection                                                                    ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

/* Better RTC Connection popout */
.layerContainer-yqaFcK .layer-v9HyYc[style*="position: absolute; left: 100px;"] {
  left: 72px !important;
}
.container-2x5lvQ {
  width: 240px;
  box-shadow: none;
}
.layerContainer-yqaFcK .layer-v9HyYc[style*="position: absolute; left: 100px;"] .container-2x5lvQ header {
  background-color: var(--toast-header);
}
.layerContainer-yqaFcK .layer-v9HyYc[style*="position: absolute; left: 100px;"] .container-2x5lvQ section {
  background-color: var(--deprecated-panel-background);
}
.container-2x5lvQ section p:nth-of-type(1) {
  font-size: 0;
}
.container-2x5lvQ section p:nth-of-type(2) {
  display: none;
}
.container-2x5lvQ section strong {
  font-size: 14px;
  white-space: pre;
}
.container-2x5lvQ section strong::before {
  font-weight: normal;
}
.container-2x5lvQ section strong:nth-of-type(1)::before {
  content: 'Server: ';
}
.container-2x5lvQ section strong:nth-of-type(2)::before {
  content: 'Average Ping: ';
}
.container-2x5lvQ section strong:nth-of-type(3)::before {
  content: 'Last Ping: ';
}
.container-2x5lvQ section strong:nth-of-type(4)::before {
  content: 'Packet Loss: ';
}






































































































// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Popouts            ║ Search Options                                                                    ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background (Dark)
.theme-dark .container-3ayLPN {
  background: var(--background-tertiary);
  border-radius: var(--radius-primary);
  width: var(--members-width);
  border: none;
  margin-top: 20px;
}

.theme-dark .option-96V44q.selected-rZcOL- {
  background: var(--accent-primary);
  border-radius: var(--radius-primary);
}

.theme-dark .option-96V44q:after {
  background: transparent;
}

.theme-dark .option-96V44q.selected-rZcOL-:after {
  background: transparent;
}

// Background (Light)
.theme-light .container-3ayLPN {
  background: var(--background-tertiary);
  border-radius: var(--radius-primary);
  width: var(--members-width);
  border: none;
  margin-top: 20px;
}

.theme-light .option-96V44q.selected-rZcOL- {
  background: var(--accent-primary);
  border-radius: var(--radius-primary);
}

.theme-light .option-96V44q:after {
  background: transparent;
}

.theme-light .option-96V44q.selected-rZcOL-:after {
  background: transparent;
}


// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ popouts            ║ Powercord Toast                                                                   ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.powercord-toast {
  background: var(--background-secondary) !important;
  border-radius: var(--radius-primary) !important;
  border: none !important;
}

.powercord-toast .contents .inner {
  border-radius: var(--radius-secondary) !important;
  border: none !important;
}

// Header
.powercord-toast .header {
  border-radius: var(--radius-primary) !important;
  box-shadow: none !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

// X
.powercord-toast .header {
  background: var(--background-tertiary) !important;
  border-radius: var(--radius-primary) !important;
}

// Button Relaod (Normal)
.lookGhost-2Fn_0-.colorGreen-29iAKY {
  background: var(--green-primary) !important;
  border-radius: var(--radius-primary) !important;
  color: #fff !important;
  border: none !important;
}

// Button Relaod (Hover)
.lookGhost-2Fn_0-.colorGreen-29iAKY:Hover {
  background: var(--green-secondary) !important;
}

// Button Relaod (Active)
.lookGhost-2Fn_0-.colorGreen-29iAKY:active {
  background: var(--green-tertiary) !important;
}

// Button Postpone (Normal)
.lookOutlined-3sRXeN.colorGrey-2DXtkV {
  background: var(--red-primary) !important;
  border-radius: var(--radius-primary) !important;
  color: #fff !important;
  border: none !important;
}

// Button Postpone (Hover)
.lookOutlined-3sRXeN.colorGrey-2DXtkV:hover {
  background: var(--red-secondary) !important;
}

// Button Postpone (Active)
.lookOutlined-3sRXeN.colorGrey-2DXtkV:active {
  background: var(--red-tertiary) !important;
}

// Text
.powercord-toast .contents .inner {
  background: var(--background-tertiary) !important;
  line-height: 18px !important;
  border: none !important;
  padding: 12px !important;
  text-align: left !important;
}

.powercord-toast .buttons button {
  opacity: 1.0 !important;
}


// Update Button
.lookOutlined-3sRXeN.colorGreen-29iAKY {
  background: var(--green-primary) !important;
  border-radius: var(--radius-primary) !important;
  color: #fff !important;
  border: none !important;
}

.lookOutlined-3sRXeN.colorGreen-29iAKY:hover {
  background: var(--green-secondary) !important;
}

.lookGhost-2Fn_0-.colorBrand-3pXr91 {
  background: var(--background-primary) !important;
  border-radius: var(--radius-primary) !important;
  color: #fff !important;
  border: none !important;
}

.lookGhost-2Fn_0-.colorBrand-3pXr91:hover {
  background: var(--accent-primary) !important;
}



// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Popouts            ║ Emoji Drawer                                                                      ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Emoji Loading
.imageLoading-bpSr0M {
  background: var(--background-tertiary);
  border-radius: 90px;
  background-image: none !important;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Popouts            ║ Buttons                                                                           ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.buttonContainer-DHceWr .wrapper-2aW0bm {
  background-color: var(--background-tertiary);
  border-radius: var(--radius-primary);
}

.buttonContainer-DHceWr .button-1ZiXG9:hover {
  background-color: var(--background-modifier-hover);
  border-radius: var(--radius-primary);
}












