.container-2sjPya {
  margin-top: 12px;
}

/*.powercord-codeblock-table {
  width: 40vw !important;
}
*/
.scrollerInner-2PPAp2 .groupStart-3Mlgv1[data-is-author-self=true] .contents-2MsGLg > .markup-eYLPri:not(:empty) {
  background-color: var(--background-tertiary);
  display: inline-block;
  margin: 8px 0px 0px 0px;
  padding: 8px 8px;
  border-radius: var(--radius-secondary) 0px var(--radius-secondary) var(--radius-secondary);
  position: relative;
  overflow: visible;
  max-width: 36vw;
}

.scrollerInner-2PPAp2 .groupStart-3Mlgv1[data-is-author-self=true] .contents-2MsGLg > .markup-eYLPri:not(:empty):before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 2px solid var(--background-tertiary);
  border-right: 8px solid transparent;
  border-top: 8px solid var(--background-tertiary);
  border-bottom: 8px solid transparent;
  right: -10px;
  top: 0px;
}

.scrollerInner-2PPAp2 [data-is-author-self=true] .contents-2MsGLg > .markup-eYLPri:not(:empty) {
  background-color: var(--background-tertiary);
  display: inline-block;
  margin: 2px 0px 0px 0px;
  padding: 8px 8px;
  border-radius: var(--radius-secondary);
  position: relative;
  overflow: visible;
  max-width: 36vw;
}

.scrollerInner-2PPAp2 [data-is-author-self=true] {
  transform: scaleX(-1) !important;
}

.message-2CShn3[data-is-author-self=true] .username-h_Y3Us {
  transform: scaleX(-1) !important;
  display: inline-table;
}

.message-2CShn3[data-is-author-self=true] .embedWrapper-1MtIDg:not(.embedImage-2Ynqkh) {
  transform: scaleX(-1) !important;
}

.scrollerInner-2PPAp2 [data-is-author-self=true] .avatar-2e8lTP {
  transform: scaleX(-1) !important;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.scrollerInner-2PPAp2 [data-is-author-self=true] .spoilerWarning-8ovW0v {
  transform: scaleX(-1) translate(50%, -50%) !important;
}

.scrollerInner-2PPAp2 [data-is-author-self=true] .headerText-2z4IhQ:first-of-type {
  transform: scaleX(-1) !important;
}

.scrollerInner-2PPAp2 [data-is-author-self=true] .timestamp-p1Df1m {
  transform: scaleX(-1) !important;
}

.scrollerInner-2PPAp2 [data-is-author-self=true] .toprole-wrapper {
  transform: scaleX(-1) !important;
}

.scrollerInner-2PPAp2 [data-is-author-self=true] .pronoundb-pronouns {
  transform: scaleX(-1) !important;
}

.scrollerInner-2PPAp2 [data-is-author-self=true] .timestamp-p1Df1m.alt-1dvXnH {
  transform: scaleX(-1) !important;
  left: 0px;
}

.scrollerInner-2PPAp2 [data-is-author-self=true] .replyAvatar-sHd2sU {
  transform: scaleX(-1) !important;
}

.scrollerInner-2PPAp2 [data-is-author-self=true] .username-h_Y3Us {
  transform: scaleX(-1) !important;
  font-weight: 900;
}

.scrollerInner-2PPAp2 [data-is-author-self=true] .repliedTextPreview-1bvxun {
  transform: scaleX(-1) !important;
}

.scrollerInner-2PPAp2 [data-is-author-self=true] .contents-2MsGLg > .markup-eYLPri:not(:empty) {
  transform: scaleX(-1) !important;
}

.scrollerInner-2PPAp2 [data-is-author-self=true] .reactionInner-9eVHJa {
  transform: scaleX(-1) !important;
}

.scrollerInner-2PPAp2 [data-is-author-self=true] .icon-uXAV0f {
  transform: scaleX(-1) !important;
}

.scrollerInner-2PPAp2 [data-is-author-self=true] .container-2gUZhU {
  transform: scaleX(-1) !important;
}

.scrollerInner-2PPAp2 [data-is-author-self=true] .scrollableContainer-15eg7h {
  transform: scaleX(-1) !important;
}

.scrollerInner-2PPAp2 [data-is-author-self=true] .operations-3q3u6E {
  transform: scaleX(-1) !important;
}

.scrollerInner-2PPAp2 [data-is-author-self=true] .assetWrapper-2hzITV {
  transform: scaleX(-1) !important;
}

.scrollerInner-2PPAp2 [data-is-author-self=true] .blockquoteContainer-3VtvI1 {
  transform: scaleX(-1) !important;
}

.scrollerInner-2PPAp2 [data-is-author-self=true] .blockquoteContainer-3VtvI1 blockquote {
  transform: scaleX(-1) !important;
  background: var(--background-secondary);
  border-radius: var(--radius-secondary) 0 0 var(--radius-secondary);
  padding: 6px 16x 6px 12px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.scrollerInner-2PPAp2 [data-is-author-self=true] .blockquoteContainer-3VtvI1 .blockquoteDivider-363utW {
  background: var(--accent-primary);
  border-radius: 6px 0px 0px 6px;
  width: 6px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.scrollerInner-2PPAp2 [data-is-author-self=true] .wrapper-1HIH0j {
  transform: scaleX(-1) !important;
  background: var(--background-tertiary);
  border-radius: var(--radius-secondary) 0px var(--radius-secondary) var(--radius-secondary);
}

.scrollerInner-2PPAp2 [data-is-author-self=true] .wrapper-1HIH0j:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 2px solid var(--background-tertiary);
  border-right: 8px solid transparent;
  border-top: 8px solid var(--background-tertiary);
  border-bottom: 8px solid transparent;
  right: -9px;
  top: 0px;
}

.scrollerInner-2PPAp2 [data-is-author-self=true] .attachment-1PZZB2 {
  background-color: var(--background-tertiary);
  border-radius: var(--radius-secondary) 0px var(--radius-secondary) var(--radius-secondary);
}

.scrollerInner-2PPAp2 [data-is-author-self=true] .attachment-1PZZB2:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 2px solid var(--background-tertiary);
  border-right: 8px solid transparent;
  border-top: 8px solid var(--background-tertiary);
  border-bottom: 8px solid transparent;
  right: -9px;
  top: 0px;
}

.scrollerInner-2PPAp2 [data-is-author-self=true] .container-LxpXNv {
  transform: scaleX(-1) !important;
}

.scrollerInner-2PPAp2 .groupStart-3Mlgv1[data-is-author-self=true] .autocomplete-3NRXG8 {
  transform: scaleX(-1) !important;
}

.scrollerInner-2PPAp2 [data-is-author-self=true] .avatar-2e8lTP:hover {
  transform: scaleX(-1) scale(1.1) !important;
}

.scrollerInner-2PPAp2 .groupStart-3Mlgv1[data-is-author-self=false] .contents-2MsGLg .markup-eYLPri:not(:empty) {
  background-color: var(--background-primary);
  display: inline-block;
  margin: 8px 0px 0px 0px;
  padding: 8px 8px;
  border-radius: 0px var(--radius-secondary) var(--radius-secondary) var(--radius-secondary);
  position: relative;
  overflow: visible;
}

.scrollerInner-2PPAp2 [data-is-author-self=false] .contents-2MsGLg .markup-eYLPri:not(:empty) {
  background-color: var(--background-primary);
  display: inline-block;
  margin: 2px 0px 0px 0px;
  padding: 8px 8px;
  border-radius: var(--radius-secondary);
  position: relative;
  overflow: visible;
}

.scrollerInner-2PPAp2 .groupStart-3Mlgv1[data-is-author-self=false] .contents-2MsGLg .markup-eYLPri:not(:empty):before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-right: 2px solid var(--background-primary);
  border-left: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-top: 8px solid var(--background-primary);
  left: -10px;
  top: 0px;
}

.scrollerInner-2PPAp2 [data-is-author-self=false] .blockquoteContainer-3VtvI1 blockquote {
  background: var(--background-secondary);
  border-radius: 0 var(--radius-secondary) var(--radius-secondary) 0;
  padding: 6px 16px 6px 12px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.scrollerInner-2PPAp2 [data-is-author-self=false] .blockquoteContainer-3VtvI1 .blockquoteDivider-363utW {
  background: var(--accent-primary);
  border-radius: 6px 0px 0px 6px;
  width: 6px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.scrollerInner-2PPAp2 [data-is-author-self=false] .wrapper-1HIH0j {
  background: var(--background-primary);
  border-radius: 0px var(--radius-secondary) var(--radius-secondary) var(--radius-secondary);
}

.scrollerInner-2PPAp2 [data-is-author-self=false] .wrapper-1HIH0j:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-right: 2px solid var(--background-primary);
  border-left: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-top: 8px solid var(--background-primary);
  left: -9px;
  top: 2px;
}

.scrollerInner-2PPAp2 .timestamp-p1Df1m {
  opacity: 0;
}

.scrollerInner-2PPAp2 .message-2CShn3:hover .timestamp-p1Df1m {
  opacity: 1;
}

.timestamp-p1Df1m {
  position: relative;
  top: -1px;
  opacity: 0.4 !important;
  margin-left: 0px;
}

.message-2CShn3:hover .timestamp-p1Df1m {
  opacity: 0.4 !important;
}

.pronoundb-pronouns {
  padding-right: 10px;
}

.header-2jRmjb {
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: var(--radius-primary);
  padding-left: 8px;
  padding-right: 8px;
}

/*
.scrollerInner-2PPAp2 .groupStart-3Mlgv1[data-is-author-self="true"] .contents-2MsGLg .markup-eYLPri:not(:empty),
.scrollerInner-2PPAp2 [data-is-author-self="true"] .contents-2MsGLg .markup-eYLPri:not(:empty),
.scrollerInner-2PPAp2 .groupStart-3Mlgv1[data-is-author-self="false"] .contents-2MsGLg .markup-eYLPri:not(:empty),
.scrollerInner-2PPAp2 [data-is-author-self="false"] .contents-2MsGLg .markup-eYLPri:not(:empty) {
  max-width: unset;
}
*/
.scrollerInner-2PPAp2 .groupStart-3Mlgv1[data-is-author-self=true] .contents-2MsGLg .markup-eYLPri:not(:empty),
.scrollerInner-2PPAp2 [data-is-author-self=true] .contents-2MsGLg .markup-eYLPri:not(:empty),
.scrollerInner-2PPAp2 .groupStart-3Mlgv1[data-is-author-self=false] .contents-2MsGLg .markup-eYLPri:not(:empty),
.scrollerInner-2PPAp2 [data-is-author-self=false] .contents-2MsGLg .markup-eYLPri:not(:empty) {
  max-width: 40vw;
}

.markup-eYLPri blockquote,
.markup-eYLPri pre {
  max-width: 100% !important;
  min-width: 100% !important;
}