.powercord-codeblock-table {
  width: 40vw !important;
}

.container-2sjPya {
  margin-top: 12px;
}

.scrollerInner-2PPAp2 [data-is-author-self=true] .contents-2MsGLg > .markup-eYLPri:not(:empty) {
  background-color: var(--background-tertiary);
}

.scrollerInner-2PPAp2 [data-is-author-self=true] .contents-2MsGLg > .markup-eYLPri:not(:empty):before {
  border-right: 2px solid var(--background-tertiary);
  border-top: 8px solid var(--background-tertiary);
}

.groupStart-3Mlgv1 .contents-2MsGLg > .markup-eYLPri:not(:empty) {
  background-color: var(--background-primary);
  display: inline-block;
  margin: 8px 0px 0px 0px;
  padding: 8px 8px;
  border-radius: 0px var(--radius-secondary) var(--radius-secondary) var(--radius-secondary) !important;
  position: relative;
  overflow: visible;
  max-width: 36vw;
}

.scrollerInner-2PPAp2 .contents-2MsGLg > .markup-eYLPri:not(:empty) {
  background-color: var(--background-primary);
  display: inline-block;
  margin: 2px 0px 0px 0px;
  padding: 8px 8px;
  border-radius: var(--radius-secondary);
  position: relative;
  overflow: visible;
  max-width: 36vw;
}

.groupStart-3Mlgv1 .contents-2MsGLg > .markup-eYLPri:not(:empty):before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-right: 2px solid var(--background-primary);
  border-left: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-top: 8px solid var(--background-primary);
  left: -10px;
  top: 0px;
}

.scrollerInner-2PPAp2 [data-is-author-self=false] .blockquoteContainer-3VtvI1 blockquote {
  background: var(--background-secondary);
  border-radius: 0 var(--radius-secondary) var(--radius-secondary) 0;
  padding: 6px 16px 6px 12px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.scrollerInner-2PPAp2 .blockquoteContainer-3VtvI1 .blockquoteDivider-363utW {
  background: var(--accent-primary);
  border-radius: 6px 0px 0px 6px;
  width: 6px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.scrollerInner-2PPAp2 .wrapper-1HIH0j {
  background: var(--background-primary);
  border-radius: 0px var(--radius-secondary) var(--radius-secondary) var(--radius-secondary);
}

.scrollerInner-2PPAp2 .wrapper-1HIH0j:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-right: 2px solid var(--background-primary);
  border-left: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-top: 8px solid var(--background-primary);
  left: -10px;
  top: 2px;
}