/* ╔════════════════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Add-on                                                                                                             ║ */
/* ╠══════════════════════════╦═════════════════════════════════════════════════════════════════════════════════════════╣ */
/* ║ Theme:                   ║ Context-Icons                                                                           ║ */
/* ║ Author:                  ║ CorellanStoma#1996                                                                      ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Import                   ║ Do not comment out these lines! By disabling the theme can not work correctly.          ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

@import url("https://crearts-community.github.io/Context-Icons/theme.css");

@import url("https://crearts-community.github.io/Context-Icons/modules/plugins/powercord.css");

@import url("https://crearts-community.github.io/Context-Icons/modules/plugins/betterdiscord.css");

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ CSS                      ║ Change Arrow                                                                            ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

.scroller-1bVxF5 .caret-2MOQD6 {
  width: 24px;
  height: 24px;
  margin-top: -2px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
    
.scroller-1bVxF5 path[d="M16.59 8.59004L12 13.17L7.41 8.59004L6 10L12 16L18 10L16.59 8.59004Z"] {
  d: path("M11.71,15.29L14.3,12.7C14.69,12.31 14.69,11.68 14.3,11.29L11.71,8.7C11.08,8.08 10,8.52 10,9.41L10,14.58C10,15.48 11.08,15.92 11.71,15.29Z");
}