/* ╔════════════════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Add-on                                                                                                             ║ */
/* ╠══════════════════════════╦═════════════════════════════════════════════════════════════════════════════════════════╣ */
/* ║ Theme:                   ║ Cooler Activity Status                                                                  ║ */
/* ║ Author:                  ║ mr_miner#9699                                                                           ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */


/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ CSS                      ║ Do not comment out these lines! By disabling the theme can not work correctly.          ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

:root {
	--text-color: #fff;
	--activity-bg: #627ee4;
	--spotify-bg: #1ed860;
	--twitch-bg: #6441a5;
	--bot-bg: #546cc4;
	--xbox-bg: #107c10
}

.activityUserPopout-2MzGCj,
.activityProfile-1712BN {
	background-color: var(--activity-bg);
	padding: 10px;
	border-radius: var(--radius-primary);
	margin-bottom: 10px;
	z-index: 1
}

.activityUserPopout-2MzGCj h3,
.activityUserPopout-2MzGCj .content-tXPNDw,
.activityUserPopout-2MzGCj .activityName-3YXl6e,
.activityUserPopout-2MzGCj .details-2-ciHo,
.activityProfile-1712BN h3,
.activityProfile-1712BN .content-tXPNDw,
.activityProfile-1712BN .activityName-3YXl6e,
.activityProfile-1712BN .details-2-ciHo {
	color: var(--text-color) !important
}

.activityUserPopout-2MzGCj .colorGrey-2iAG-B,
.activityProfile-1712BN .colorGrey-2iAG-B {
	background-color: transparent !important;
	border: var(--text-color) 2px solid;
	transition: .5s
}

.activityUserPopout-2MzGCj .colorGrey-2iAG-B:hover,
.activityProfile-1712BN .colorGrey-2iAG-B:hover {
	background-color: var(--text-color) !important;
	border-color: transparent;
	color: #000 !important
}

.activityUserPopout-2MzGCj .detailsWrap-omKn0b.textRow-1sENuL[title]::after,
.activityProfile-1712BN .detailsWrap-omKn0b.textRow-1sENuL[title]::after {
	content: "";
	width: 100%;
	height: 100%;
	z-index: -2;
	background-color: var(--twitch-bg);
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 6px
}

.activityUserPopout-2MzGCj .timeBarUserPopout-qLXZaR::after,
.activityUserPopout-2MzGCj .timeBarProfile-1z_HH-::after,
.activityProfile-1712BN .timeBarUserPopout-qLXZaR::after,
.activityProfile-1712BN .timeBarProfile-1z_HH-::after {
	content: "";
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: var(--spotify-bg);
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 6px
}

.activityUserPopout-2MzGCj .platformIcon-k3yytQ,
.activityProfile-1712BN .platformIcon-k3yytQ {
	margin: 5px 5px 0px 0px
}

.activityUserPopout-2MzGCj .platformIcon-k3yytQ path,
.activityProfile-1712BN .platformIcon-k3yytQ path {
	fill: var(--text-color)
}

.activityUserPopout-2MzGCj .contentNoImagesUserPopout-12NyFa::after,
.activityProfile-1712BN .contentNoImagesUserPopout-12NyFa::after {
	content: "";
	width: 100%;
	height: 100%;
	z-index: -2;
	background-color: var(--bot-bg);
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 6px
}

.activityUserPopout-2MzGCj .xboxAssets-aGhVw8~div::after,
.activityProfile-1712BN .xboxAssets-aGhVw8~div::after {
	content: "";
	width: 100%;
	height: 100%;
	z-index: -2;
	background-color: var(--xbox-bg);
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 6px
}

.activityProfile-1712BN {
	margin: 10px;
	border-radius: 6px
}

.activityProfile-1712BN .platformIcon-k3yytQ {
	margin: 0px
}