/* ╔════════════════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Add-on                                                                                                             ║ */
/* ╠══════════════════════════╦═════════════════════════════════════════════════════════════════════════════════════════╣ */
/* ║ Theme:                   ║ Discolored                                                                              ║ */
/* ║ Author:                  ║ Nyria#3863                                                                              ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Import                   ║ Do not comment out these lines! By disabling the theme can not work correctly.          ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

@import url("https://nyri4.github.io/Discolored/main.css");