/*
// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Align (Left)       ║ Settings                                                                          ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

//Spacing
.layers-OrUESM > .layer-86YKbF:first-child {
  transform: none !important;
  opacity: 1 !important;
}

.layers-OrUESM > .layer-86YKbF.stop-animations:first-child {
  z-index: 1;
}



.sidebarRegionScroller-FXiQOh {
border-radius: var(--radius-primary);
}










.contentRegion-3HkfJJ {
  position: fixed;
  width: 200px;
  height: 200px;

  display: none;
}


.standardSidebarView-E9Pc3j {
background: transparent !important;
}
*/

/*
.sidebarRegion-1VBisG {
position: absolute;
width: calc(var(--channel-width) - 20px);
height: 80%;
left: 150px;

margin: 200px;
padding: 0px !important;
margin: 0px !important;

}
*/