/*
// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Align (Left)       ║ Settings                                                                          ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

//Spacing
.layers-3iHuyZ > .layer-3QrUeG:first-child {
  transform: none !important;
  opacity: 1 !important;
}

.layers-3iHuyZ > .layer-3QrUeG.stop-animations:first-child {
  z-index: 1;
}



.sidebarRegionScroller-3MXcoP {
border-radius: var(--radius-primary);
}










.contentRegion-3nDuYy {
  position: fixed;
  width: 200px;
  height: 200px;

  display: none;
}


.standardSidebarView-3F1I7i {
background: transparent !important;
}
*/

/*
.sidebarRegion-VFTUkN {
position: absolute;
width: calc(var(--channel-width) - 20px);
height: 80%;
left: 150px;

margin: 200px;
padding: 0px !important;
margin: 0px !important;

}
*/