// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Align (Left)       ║ Settings                                                                          ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

//Spacing
.layers-3iHuyZ > .layer-3QrUeG:first-child {
  transform: none !important;
  opacity: 1 !important;
}

.layers-3iHuyZ > .layer-3QrUeG.stop-animations:first-child {
  z-index: 1;
}

/*
.standardSidebarView-3F1I7i {
margin: 110px 110px 30px 200px;
}
*/

/*
.sidebarRegion-VFTUkN


.contentRegion-3nDuYy
*/