.avatar-1EWyVD {
  z-index: 20;
  transition: all 0.2s ease-in-out;
}

.avatar-1EWyVD:hover {
  transform: scale(1.1);
}

.avatar-2e8lTP.clickable-31pE3P {
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.avatar-2e8lTP.clickable-31pE3P:hover {
  display: inline-block;
  transform: scale(1.1);
}