.scroller-3X7KbA > .listItem-GuPuDH:nth-last-child(2) .circleIconButton-1QV--U.selected-1JjBPm {
  -webkit-animation: Explore 2s infinite linear;
          animation: Explore 2s infinite linear;
}

@-webkit-keyframes Explore {
  0% {
    transform: rotate(-20deg);
  }
  60% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

@keyframes Explore {
  0% {
    transform: rotate(-20deg);
  }
  60% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
.childWrapper-1j_1ub:hover {
  -webkit-animation: Home 1s infinite ease-in-out;
          animation: Home 1s infinite ease-in-out;
}

.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub {
  -webkit-animation: Home 1s infinite ease-in-out;
          animation: Home 1s infinite ease-in-out;
}

@-webkit-keyframes Home {
  0% {
    transform: rotate(-12deg);
  }
  50% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(-12deg);
  }
}

@keyframes Home {
  0% {
    transform: rotate(-12deg);
  }
  50% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(-12deg);
  }
}
.button-12Fmur:nth-last-child(1):hover path[d="M19.738 10H22V14H19.739C19.498 14.931 19.1 15.798 18.565 16.564L20 18L18 20L16.565 18.564C15.797 19.099 14.932 19.498 14 19.738V22H10V19.738C9.069 19.498 8.203 19.099 7.436 18.564L6 20L4 18L5.436 16.564C4.901 15.799 4.502 14.932 4.262 14H2V10H4.262C4.502 9.068 4.9 8.202 5.436 7.436L4 6L6 4L7.436 5.436C8.202 4.9 9.068 4.502 10 4.262V2H14V4.261C14.932 4.502 15.797 4.9 16.565 5.435L18 3.999L20 5.999L18.564 7.436C19.099 8.202 19.498 9.069 19.738 10ZM12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z"] {
  -webkit-animation: Settings 8s infinite linear;
          animation: Settings 8s infinite linear;
  transform-origin: center;
}

/*
.panels-3wFtMD  > .container-YkUktl .flex-3BkGQD .button-12Fmur:nth-last-child(1):hover {
  animation: Settings 8s infinite linear;
}
*/
@-webkit-keyframes Settings {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Settings {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}