// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Animations         ║ Home Button                                                                       ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.childWrapper-anI2G9:hover {
  animation: Home 1s infinite ease-in-out;
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 {
  animation: Home 1s infinite ease-in-out;
}

@keyframes Home {
  0% {transform: rotate(-12deg);}
  50% {transform: rotate(6deg);}
  100% {transform: rotate(-12deg);}
}