// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Hover              ║ Clickable                                                                         ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.clickable-28SzVr {
  transition: all .2s ease-in;
}

.clickable-28SzVr:hover {
  transform: scale(1.04);
  transition: all .2s ease-in;
}


#private-channels .content-2a4AW9 .container-q97qHp:before {
  transition: all .2s ease-in;
}


#private-channels .content-2a4AW9 .container-q97qHp:before:hover {
  transform: scale(1.04);
  transition: all .2s ease-in;
}





/*
// DM Button (No Text)
#private-channels .content-2a4AW9 .headerText-1qIDDT {
    display: none;
}

// DM Button (Background)
#private-channels .content-2a4AW9 .container-q97qHp {
    background: var(--background-tertiary);
    border-radius: var(--radius-primary);
    height: 36px;
    justify-content: center;
    padding: 10px 0px 0px 0px;
    margin-bottom: 8px;
    margin-top: 8px;
    margin-left: 4px;
    margin-right: 4px;
}

// Clickable
#private-channels .content-2a4AW9 .clickable-ZD7xvu::before {
    content: "";
    background: transparent;
    border-radius: var(--radius-primary);
    position: fixed;
    left: 4px;
    height: 36px;
    width: calc(100% - 16px);
    top: 54px;
    margin-left: 4px;
}

// DM Button (Background Hover)
#private-channels .content-2a4AW9 .container-q97qHp:hover {
    background: var(--accent-primary) !important;
}

// DM Button (Icon)
#private-channels .content-2a4AW9 .clickable-ZD7xvu {
    padding: 0px;
    margin: 0px;
    border-radius: var(--radius-primary);
}

*/