.icon-2xnN2Y, .small-1hw8IT {
  transition: all 0.2s ease-in-out;
}

.icon-2xnN2Y:hover, .small-1hw8IT:hover {
  transform: scale(1.2);
}

[aria-label="Open GIF picker"] {
  transition: all 0.2s ease-in-out;
}

[aria-label="Open GIF picker"]:hover {
  transform: scale(1.2);
}

[aria-label="Send a gift"] {
  transition: all 0.2s ease-in-out;
}

[aria-label="Send a gift"]:hover {
  transform: scale(1.2);
}

[aria-label="Upload a File"] {
  transition: all 0.2s ease-in-out;
}

[aria-label="Upload a File"]:hover {
  transform: scale(1.2);
}

.button-2BMPJJ {
  transition: all 0.2s ease-in-out;
}

.button-2BMPJJ:hover {
  transform: scale(1.3);
}

.guildIconContainer-2FW_iA {
  transition: all 0.2s ease-in-out;
}

.guildIconContainer-2FW_iA:hover {
  transform: scale(1.2);
}