// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Animations         ║ Ping                                                                              ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.base-PmTxvP {
  background: var(--accent-primary) !important;
  animation: 1.8s pulse infinite;
}


@keyframes pulse {
  0% {
    transform: scale3d(0.96);
      box-shadow: 0 0 0 0 var(--accent-secondary);
  }

  70% {
    transform: scale3d(1.1, 1.1, 1.1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale3d(0.96);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}



/*
@keyframes pulse {
  0% {
      transform: scale(0.96);
      box-shadow: 0 0 0 0 var(--accent-secondary);
  }

  70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
      transform: scale(0.96);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
*/