.powercord-spotify .avatarWrapper-1B9FTW {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 16000ms;
          animation-duration: 16000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}