// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Guild                    ║ Base                                                                                    ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

#app-mount .base-2jDfDU {margin-top: 40px;}

// Background
.scroller-3X7KbA {
    background: var(--background-secondary);
    border-radius: var(--radius-primary);
    margin-bottom: 40px;
}
    
.wrapper-1_HaEi {
    background: transparent !important;
}