
/**
 * @name Horizontal Server List
 * @author Gibbu#1211
 * @version 2.0.0
 * @invite ZHthyCw
 * @description Moves the server list from the left to the top of Discord. Compatible with Server Folders and most basic transparent themes
 * @source https://github.com/DiscordStyles/HorizontalServerList
 * @website https://www.gibbu.me
*/

@import url("https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css");

/* Bottom HorizontalServerList. Simply remove the comments surrounding the @import to enable it. */
//@import url("https://discordstyles.github.io/Addons/bottomhsl.css");

:root {
  --HSL-server-icon-size: 48px;  /* Size of the server icons | DEFAULT: 40px */
  --HSL-server-spacing: 8px;  /* Spacing between each server icon | DEFAULT: 10px */
}
