/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Top (Default)            ║ Base                                                                                    ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Spacing */
.base-2jDfDU {
  margin-left: var(--layout-margin-left) !important;
}

.layers-OrUESM {
  margin-top: calc(72px + var(--layout-margin-top));
}

.wrapper-1_HaEi {
  position: fixed;
  transform: rotate(-90deg);
  transform-origin: left top;
  top: calc(72px + var(--layout-margin-top));
  left: calc(var(--layout-margin-left));
  height: 100vw;
}

.platform-win .wrapper-1_HaEi {
  top: calc(var(--height-titlebar) + 72px - 2px + var(--layout-margin-top));
}

.guilds-2JjMmN {
  margin: unset !important;
  background: transparent !important;
}

/* Background */
.scroller-3X7KbA {
  background: var(--background-secondary) !important;
  border-radius: var(--radius-primary);
  margin-bottom: calc(var(--layout-margin-right) + var(--layout-margin));
}

/* Pill */
.pill-L_aLMQ,
.pill-1NRFie,
.pill-22lZHo,
.pill-2RsI5Q {
  transform: rotate(90deg);
  transform-origin: center;
  top: -32px;
  left: 32px;
}

/* Separator */
.guildSeparator-a4uisj {
  transform: rotate(90deg);
}

/* Item */
.listItem-3SmSlK {
  transform: rotate(90deg);
}

/* Unread */
.unreadMentionsIndicatorBottom-3RJMnQ {
  margin-bottom: calc(var(--layout-margin-right) + var(--layout-margin-bottom));
}