// ╔════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ CreArts v2.0.0 (Revamp Edition)                                                                        ║
// ╠════════════════════╦═══════════════════════════════════════════════════════════════════════════════════╣
// ║ name:              ║ CreArts                                                                           ║
// ║ version:           ║ 2.0.0                                                                             ║
// ║ author:            ║ CorellanStoma#1996                                                                ║
// ╠════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╣
// ║                                                                                                        ║
// ║ This is the official theme of the CreArts Community. CreArts is a Powercord theme that changes the     ║
// ║ UI from Discord and was created by CorellanStoma#1996. This theme is a standalone version,             ║
// ║ we can't promise that theme will work in combination with other themes.                                ║
// ║                                                                                                        ║
// ║ More information about Powercord can be found here:                                                    ║
// ║ ● https://powercord.dev/                                                                               ║
// ║                                                                                                        ║
// ║ If you need support join our Creative Community:                                                       ║
// ║ ● https://discord.gg/8W8E39Z                                                                           ║
// ║                                                                                                        ║
// ║ Our Art & Design Wiki:                                                                                 ║
// ║ ● https://crearts.wiki/                                                                                ║
// ║                                                                                                        ║
// ╚════════════════════════════════════════════════════════════════════════════════════════════════════════╝

// ╔════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║                                                                                                        ║
// ║                                                                                                        ║
// ║                                                                                                        ║
// ║                                                                                                        ║
// ║                                                                                                        ║
// ║                                                                                                        ║
// ║                                                                                                        ║
// ║                                                                                                        ║
// ╚════════════════════════════════════════════════════════════════════════════════════════════════════════╝

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ General            ║ CreArts (Revamp Edition)                                                          ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Title
$G001: 'v2.0.0 (Revamp Edition)'; // Changes 'Version' name.

//Wallpaper
$G002: 'none'; // Changes 'Wallpaper' name.

// Width
$G003: '300'; // Changes the 'Channel' width. (Default: '300')
$G004: '255'; // Changes the 'Members' width. (Default: '300')

// Text Align
$G005: 'justify'; // Changes the 'Text' align. (Default: '300')

// Radius
$G006: '90'; // Changes the 'Avatar radius. (Default: '90')
$G007: '90'; // Changes the 'Button radius. (Default: '90')
$G008: '90'; // Changes the 'Mention radius. (Default: '90')
$G009: '90'; // Changes the 'Reaction radius. (Default: '90')
$G010: '0'; // Changes the 'Primary radius. (Default: '24')
$G011: '12'; // Changes the secondary radius. (Default: '12')
$G012: '6'; // Changes the tertiary radius. (Default: '6')

// Border
$G013: '0.0'; // Changes the border radius. (Default: '1')
$G014: '0.0'; // Changes the border opacity. (Default: '0.10')

// Blur
$G015: '0.0'; // Changes the general Blur. (Default: '20.0')
$G016: '4.0'; // Changes the wallpaper Blur. (Default: '4.0')
$G017: '20.0'; // Changes the titlebar Blur. (Default: '4.0')
$G018: '6.0'; // Changes the backdrop Blur. (Default: '4.0')

// Transparency
$G019: '0';
$G020: '0';

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Colors (Dark)      ║ CreArts (Glassmorphism Edition)                                                   ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Accent
$D001: #628BF7; // This changes the primary accent color.
$D002: #779CF8; // This changes the secondary accent color.
$D003: #517FF6; // This changes the tertiary accent color.

// Green
$D004: #43B581; // This changes the primary green color.
$D005: #61D09A; // This changes the secondary green color.
$D006: #209967; // This changes the tertiary green color.

// Yellow
$D007: #FAA61A; // This changes the primary yellow color.
$D008: #FFC23D; // This changes the secondary yellow color.
$D009: #DC8C00; // This changes the tertiary yellow color.

// Red
$D010: #F04747; // This changes the primary red color.
$D011: #FF6660; // This changes the secondary red color.
$D012: #D12731; // This changes the tertiary red color.

// Purple
$D013: #593695; // This changes the primary purple color.
$D014: #744FB1; // This changes the secondary purple color.
$D015: #3E207C; // This changes the tertiary purple color.

// Background
$D016: #2D2C4A; // This changes the primary background color.
$D017: #292843; // This changes the secondary background color.
$D018: #21203A; // This changes the tertiary background color.

// Highlight
$D019: #FFFFFF; // This changes the first highlight color.
$D020: #C0C6DB; // This changes the second highlight color.
$D021: #8A90A4; // This changes the third highlight color.
$D022: #585E70; // This changes the fourth highlight color.

// Shaddow
$D023: #000000; // This changes the shaddow color.

// Selection
$D024: #FFFFFF; // This changes the selection text color.
$D025: #628BF7; // This changes the selection background color.

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Colors (Light)     ║ CreArts (Glassmorphism Edition)                                                   ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Accent
$L001: #628BF7; // This changes the primary accent color.
$L002: #779CF8; // This changes the secondary accent color.
$L003: #517FF6; // This changes the tertiary accent color.

// Green
$L004: #43B581; // This changes the primary green color.
$L005: #61D09A; // This changes the secondary green color.
$L006: #209967; // This changes the tertiary green color.

// Yellow
$L007: #FAA61A; // This changes the primary yellow color.
$L008: #FFC23D; // This changes the secondary yellow color.
$L009: #DC8C00; // This changes the tertiary yellow color.

// Red
$L010: #F04747; // This changes the primary red color.
$L011: #FF6660; // This changes the secondary red color.
$L012: #D12731; // This changes the tertiary red color.

// Purple
$L013: #593695; // This changes the primary purple color.
$L014: #744FB1; // This changes the secondary purple color.
$L015: #3E207C; // This changes the tertiary purple color.

// Background
$L016: #F7FAFF; // This changes the primary background color.
$L017: #EBEFF7; // This changes the secondary background color.
$L018: #dfe5f0; // This changes the tertiary background color.

// Highlight
$L019: #000000; // This changes the first highlight color.
$L020: #747F8D; // This changes the second highlight color.
$L021: #495360; // This changes the third highlight color.
$L022: #AEBAC9; // This changes the fourth highlight color.

// Shaddow
$L023: #000000; // This changes the shaddow color.

// Selection
$L024: #FFFFFF; // This changes the selection text color.
$L025: #628BF7; // This changes the selection background color.

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Custom CSS         ║ CreArts (Glassmorphism Edition)                                                   ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝