// CorellanStoma Banner
[style='background-image: url("https://cdn.discordapp.com/banners/288362986991648778/6abda565378c469eccacf755b8165c6d.png?size=512"); background-color: rgb(249, 224, 233);'] {
  background-image: url(https://i.imgur.com/416k2o1.png) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}