// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ USRBG              ║ CreArts Database                                                                  ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.userPopout-3XzG_A {
	--user-popout-position: center;
}

//CorellanStoma#1996
[user_by_bdfdb*="288362986991648778"],
[data-user-id*="288362986991648778"]
{--user-background: url('https://i.imgur.com/4Evidtw.jpg');}

//Eivarain#8437
[user_by_bdfdb*="409265569460912128"],
[data-user-id*="409265569460912128"]
{--user-background: url('https://i.imgur.com/sRkNbgN.jpg');}

//Chromus#4761
[user_by_bdfdb*="511758610720751626"],
[data-user-id*="511758610720751626"]
{--user-background: url('https://cdn.discordapp.com/attachments/598596167349174286/755994055724236880/animatedrlicon.gif');}

//Moby135#8560
[user_by_bdfdb*="243044444549545984"],
[data-user-id*="243044444549545984"]
{--user-background: url('https://i.imgur.com/GqjPKLy.gif');}
