#app-mount .wrapper-1VLyxH {
border-radius: 20%;
}

#app-mount .wrapper-1VLyxH svg:not(:root) {
overflow: visible;
}

#app-mount .wrapper-1VLyxH foreignObject {
-webkit-mask: none;
mask: none;
border-radius: 20%;
}

#app-mount .avatarHint-k7pYop foreignObject {
-webkit-mask: none;
mask: none;
border-radius: 20%;
}
