// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Blur               ║ Details                                                                           ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Title
.children-1xdcWE  .fieldTitle-2g5r_V {
    margin-left: 4px;
}

// My Account
.children-1xdcWE .fieldList-in8WkP .size16-rrJ6ag {
    transition: all 40ms cubic-bezier(0.550, 0.085, 0.680, 0.530);
    filter: blur(3px);
    opacity: 0.8;
    margin-left: 4px;
}

.children-1xdcWE .fieldList-in8WkP .size16-rrJ6ag:hover {
    transition: all 40ms cubic-bezier(0.55, 0.09, 0.68, 0.53);
    filter: none;
    opacity: 1;
    margin-left: 4px;
}

// User-ID
.detailsInner-2IFSJC .size16-rrJ6ag {
    transition: all 40ms cubic-bezier(0.550, 0.085, 0.680, 0.530);
    filter: blur(3px);
    opacity: 0.8;
    margin-left: 2px;
}

.detailsInner-2IFSJC .size16-rrJ6ag:hover {
    transition: all 40ms cubic-bezier(0.55, 0.09, 0.68, 0.53);
    filter: none;
    opacity: 1;
    margin-left: 2px;
}

// Payment Methods
.paymentSourceRow-1z8x7Z .subText-3Yps8e {
    transition: all 40ms cubic-bezier(0.550, 0.085, 0.680, 0.530);
    filter: blur(2px);
    opacity: 0.8;
}

.paymentSourceRow-1z8x7Z .subText-3Yps8e:hover {
    transition: all 40ms cubic-bezier(0.55, 0.09, 0.68, 0.53);
    filter: none;
    opacity: 1;
}

// Transaction History
.theme-dark .verticalFit-21XL0v .summaryInfo-3hcuop,
.theme-light .verticalFit-21XL0v .summaryInfo-3hcuop {
    transition: all 40ms cubic-bezier(0.550, 0.085, 0.680, 0.530);
    filter: blur(8px);
    opacity: 0.8;
}

.theme-dark .verticalFit-21XL0v:hover .summaryInfo-3hcuop,
.theme-light .verticalFit-21XL0v:hover .summaryInfo-3hcuop {
    transition: all 40ms cubic-bezier(0.55, 0.09, 0.68, 0.53);
    filter: none;
    opacity: 1;
}

// Subscriptions
.detailsBlock-FoDTGA .paymentSourceLabel-1z_EVr {
    transition: all 40ms cubic-bezier(0.550, 0.085, 0.680, 0.530);
    filter: blur(3px);
}

.detailsBlock-FoDTGA .paymentSourceLabel-1z_EVr:hover {
    transition: all 40ms cubic-bezier(0.55, 0.09, 0.68, 0.53);
    filter: none;
    opacity: 1;
}