.contents-2MsGLg .anchor-1MIwyf {
  transition: all 40ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  filter: blur(2px);
  opacity: 0.8;
}

.contents-2MsGLg .anchor-1MIwyf:hover {
  transition: all 40ms cubic-bezier(0.55, 0.09, 0.68, 0.53);
  filter: none;
  opacity: 1;
}

.contents-2MsGLg .operations-3q3u6E > a {
  filter: blur(0px);
}