.contents-2MsGLg .spoilerText-27bIiA.hidden-3B-Rum, .contents-2MsGLg .spoilerText-27bIiA.hidden-3B-Rum:hover, .contents-2MsGLg .spoilerText-27bIiA {
  background: rgba(0, 0, 0, 0.02);
}

.contents-2MsGLg .spoilerText-27bIiA.hidden-3B-Rum > .inlineContent-2YnoDy {
  filter: blur(2px);
  opacity: 1;
}