// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Addons             ║ Discolored                                                                        ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Airplane
[style*='background-image: url("/assets/712a0fd4d14a1caadd31cb0745e91238.svg");'],
[style*='background-image: url("/assets/857c505aafbe092e4f6efecebcad0bc8.svg");'] { 
    background-image: url('https://nyri4.github.io/Discolored/assets/airplane.svg') !important; 
}

// Arcades
[style*='background-image: url("/assets/d01c53acda73318e5b39676ef8242eb7.svg");'],
[style*='background-image: url("/assets/bb8e02d970950bdadb649d765f3b8488.svg");'] { 
    background-image: url('https://nyri4.github.io/Discolored/assets/arcades.svg') !important; 
}

// Ban Hammer
[style*='background-image: url("/assets/789de85a973b1d974a21aa03c1e14323.svg");'],
[style*='background-image: url("/assets/e3fb8fe698a871db1d0e34ededf8a954.svg");'] { 
    background-image: url('https://nyri4.github.io/Discolored/assets/ban_hammer.svg') !important; 
}

// Broken magnifying glass
.theme-dark .errorImage-12Q43V, .theme-light .errorImage-12Q43V {
    background-image: url('https://nyri4.github.io/Discolored/assets/broken.svg'); 
}

// Castle
.theme-dark .verification-3RfWYC, .theme-light .verification-3RfWYC {
    background-image: url('https://nyri4.github.io/Discolored/assets/castle.svg');
}

// Channel settings
[src="/assets/bfffd518c76d3f6bc5e96eb52e4ae2cf.svg"],
[src="/assets/9ad4d437577c5569dc231a787a5377f6.svg"] {
    content: url('https://nyri4.github.io/Discolored/assets/channel_settings.svg');
}

// Community banner
.theme-dark .avatarUploaderInnerSquare-2wsxgt, .theme-light .avatarUploaderInnerSquare-2wsxgt {
    background-image: url('https://nyri4.github.io/Discolored/assets/community_banner.svg');
}

// Computer
[style*='background-image: url("/assets/b47564b3086d0d8d941aae95a4b7b78c.svg");'] { 
    background-image: url('https://nyri4.github.io/Discolored/assets/computer.svg') !important; 
}

// Crash
.theme-dark .image-3zK3Wt, .theme-light .image-3zK3Wt {
    background-image: url('https://nyri4.github.io/Discolored/assets/crash.svg'); 
}

// Developer Options
[style*='background-image: url("/assets/59c726954bd8424f376ca3a7eedc4c54.svg");'],
[style*='background-image: url("/assets/fe5ef0f14b8d025d73465e2d76913e20.svg");'] { 
    background-image: url('https://nyri4.github.io/Discolored/assets/dev_options.svg') !important; 
}

// Emojis
[style*='background-image: url("/assets/a7371de3223292c6f31f8aeed62f17c1.svg");'], 
[style*='background-image: url("/assets/3236694e0c095adfbbd5334fc8dc7aa0.svg");'] { 
    background-image: url('https://nyri4.github.io/Discolored/assets/emojis.svg') !important; 
}

// Empty
.theme-dark .image-3rvd0n, .theme-light .image-3rvd0n, .theme-dark .emptyImage-1ABqhB, .theme-light .emptyImage-1ABqhB {
    background-image: url('https://nyri4.github.io/Discolored/assets/empty.svg');
}

// Friend
.theme-dark .channelNotice-1-XFjC.invite-OjTXrW, .theme-light .channelNotice-1-XFjC.invite-OjTXrW {
    background-image: url('https://nyri4.github.io/Discolored/assets/friend.svg');
}

// GIF not found
.theme-dark .sadImage-2ph8SI, .theme-light .sadImage-2ph8SI {
    background-image: url('https://nyri4.github.io/Discolored/assets/gif_not_found.svg');
}

// GIF picker end
.theme-dark .endContainer-1ZDW8j:after, .theme-light .endContainer-1ZDW8j:after {
    background-image: url('https://nyri4.github.io/Discolored/assets/gif_picker_end.svg');
}

// Groups
.theme-dark .noFriends-1fVUuM .errorStateIcon-3fNXE5, .theme-light .noFriends-1fVUuM .errorStateIcon-3fNXE55 {
    background-image: url('https://nyri4.github.io/Discolored/assets/groups.svg');
}

// Gift Inventory
.theme-dark .emptyStateImage-2MrSNs, .theme-light .emptyStateImage-2MrSNs {
    background-image: url('https://nyri4.github.io/Discolored/assets/gift_inventory.svg');
}

// Houses
.theme-dark .emptyIconGuilds-3OViNh, .theme-light .emptyIconGuilds-3OViNh { 
    background-image: url('https://nyri4.github.io/Discolored/assets/houses.svg');
}

// Integrations
[src="/assets/36d0e0bb009fa362c2533003c0af67b5.svg"],
[src="/assets/c9b2eb9473c66578a8e021e9fe46b74b.svg"] {
    content: url('https://nyri4.github.io/Discolored/assets/integrations.svg');
}

// Key
.theme-dark .channelNotice-1-XFjC.guildMFAWarning-3GEzs8, .theme-light .channelNotice-1-XFjC.guildMFAWarning-3GEzs8 {
    background-image: url('https://nyri4.github.io/Discolored/assets/key.svg');
}

// Nitro
[src="/assets/5a4ac7879fb43bc2509169b8fac68a4a.svg"] {
    content: url('https://nyri4.github.io/Discolored/assets/nitro.svg');
}

// No keybinds
.theme-dark .image-1GzsFd, .theme-light .image-1GzsFd {
    background-image: url('https://nyri4.github.io/Discolored/assets/no_keybinds.svg');
}

// No Mutuals
.theme-dark .emptyIconFriends-BrjhY9, .theme-light .emptyIconFriends-BrjhY9 {
    background-image: url('https://nyri4.github.io/Discolored/assets/no_mutuals.svg');
    background-size: 100%;
}

// No results conversation
.theme-dark .emptyState-2gL-9T, .theme-light .emptyState-2gL-9T {
    background-image: url('https://nyri4.github.io/Discolored/assets/no_results_conv.svg');
    background-size: 20%;
}

// No results search bar
.theme-dark .noResultsImage-3Y0eCI, .theme-light .noResultsImage-3Y0eCI {
    background-image: url('https://nyri4.github.io/Discolored/assets/no_results.svg');
}

// Phones
.theme-dark .verificationBlock-1Chfpc .image-2LVZ_j.phone-27MBJz, .theme-light .verificationBlock-1Chfpc .image-2LVZ_j.phone-27MBJz {
    background-image: url('https://nyri4.github.io/Discolored/assets/phones.svg');
}

// Pictures
[style*='background-image: url("/assets/e9aaf1824f17126a7992e5ad98752389.svg");'],
[style*='background-image: url("/assets/fffa18d6d66a76c08c500c56afe68a62.svg");'] { 
    background-image: url('https://nyri4.github.io/Discolored/assets/pictures.svg') !important; 
}

// Pinned
[style*='background-image: url("/assets/6793e022dc1b065b21f12d6df02f91bd.svg");'],
[style*='background-image: url("/assets/03c7541028afafafd1a9f6a81cb7f149.svg");'] { 
    background-image: url('https://nyri4.github.io/Discolored/assets/pinned.svg') !important; 
}

// Poo
.theme-dark .imageError-2OefUi, .theme-light .imageError-2OefUi, 
.theme-dark .invalidPoop-pnUbq7, .theme-light .invalidPoop-pnUbq7,
.theme-dark .guildIconExpired-2Qcq05, .theme-light .guildIconExpired-2Qcq05 { 
    background-image: url('https://nyri4.github.io/Discolored/assets/poop.svg'); 
}

// Scroll
[style*='background-image: url("/assets/99253cefda98913b1e9f7d155ad81ed3.svg");'],
[style*='background-image: url("/assets/0049cd2d5d8dad87fac3811fa651988e.svg");'] {
    background-image: url('https://nyri4.github.io/Discolored/assets/scroll.svg') !important; 
}

// Searching
.theme-dark .searchIndexBackground-HQa_J9, .theme-light .searchIndexBackground-HQa_J9 { 
    background-image: url('https://nyri4.github.io/Discolored/assets/searching.svg'); 
}

// Server outage
.theme-dark .art-clkMXs, .theme-light .art-clkMXs { 
    background-image: url('https://nyri4.github.io/Discolored/assets/server_outage.svg'); 
}

// Spotify error
.theme-dark .artworkSpotifySessionEnded-11d_If, .theme-light .artworkSpotifySessionEnded-11d_If {
    background-image: url('https://nyri4.github.io/Discolored/assets/spotify_error.svg'); 
}

// Streamer Mode
.theme-dark .streamerModeEnabledImage-3vynUz, .theme-light .streamerModeEnabledImage-3vynUz {
    background-image: url('https://nyri4.github.io/Discolored/assets/streamer_mode.svg'); 
}

// Switch
.theme-dark .channelNotice-1-XFjC.quickswitcher-35bYg4, .theme-light .channelNotice-1-XFjC.quickswitcher-35bYg4 {
    background-image: url('https://nyri4.github.io/Discolored/assets/switch.svg'); 
}

// Test Video
[src="/assets/aba3ec7874f7f01fe9a8275a3e5c21a0.svg"],
[src="/assets/baf6cccc846651d5ca897296163227f5.svg"] {
    content: url('https://nyri4.github.io/Discolored/assets/test_video.svg');
}

// Treasure Chest
[src="/assets/cdea41ede63f61153e4a3c0531fa3873.svg"],
[src="/assets/f8696a3854655998a24c219403420867.svg"] {
    content: url('https://nyri4.github.io/Discolored/assets/treasure_chest.svg');
}

// Unclaimed
.theme-dark .imageUnclaimed-5nJyYs, .theme-light .imageUnclaimed-5nJyYs {
    background-image: url('https://nyri4.github.io/Discolored/assets/unclaimed.svg'); 
}

// Wumpus Mining
[style*='background-image: url("/assets/8c998f8fb62016fcfb4901e424ff378b.svg");'],
[style*='background-image: url("/assets/645df33d735507f39c78ce0cac7437f0.svg");'] { 
    background-image: url('https://nyri4.github.io/Discolored/assets/wumpus_mining.svg') !important; 
}

// Wumpus Mountains
[style*='background-image: url("/assets/b669713872b43ca42333264abf9c858e.svg");'],
[style*='background-image: url("/assets/c84361b810ca7c10d6e8ddb6ea722ebe.svg");'] { 
    background-image: url('https://nyri4.github.io/Discolored/assets/wumpus_mountain.svg') !important; 
}

// Wumpus Sleeping
[style*='background-image: url("/assets/a12ff54c4c5c03b41006fd96a4709c29.svg");'],
[style*='background-image: url("/assets/d834d700306f3838c0facef39e7d8a38.svg");'] { 
    background-image: url('https://nyri4.github.io/Discolored/assets/wumpus_sleeping.svg') !important; 
}

// Wumpus Tea Party
[style*='background-image: url("/assets/b5eb2f7d6b3f8cc9b60be4a5dcf28015.svg");'],
[style*='background-image: url("/assets/6b7098de4cc16f7e431ad8f9aae7f6db.svg");'],
.theme-dark .notFriends-SkjxV- .errorStateIcon-3fNXE5, .theme-light .notFriends-SkjxV- .errorStateIcon-3fNXE5 { 
    background-image: url('https://nyri4.github.io/Discolored/assets/wumpus_tea_party.svg') !important; 
}