.container-1eFtFS:before {
  background: transparent;
  position: absolute;
  content: "";
  height: 99.4%;
  width: 99.4%;
  top: 0px;
  margin-left: 4px;
  -webkit-app-region: drag;
}

.scroller-3X7KbA {
  -webkit-app-region: no-drag !important;
}

.sidebar-1tnWFu .thin-31rlnD {
  -webkit-app-region: no-drag !important;
}

.tutorialContainer-2sGCg9:before {
  -webkit-app-region: no-drag !important;
}

.sidebar-1tnWFu .container-1-ERn5 {
  -webkit-app-region: no-drag !important;
}

.tutorialContainer-30WoTp::before {
  -webkit-app-region: no-drag !important;
}

.layer-2aCOJ3 {
  -webkit-app-region: no-drag !important;
}

.panels-3wFtMD {
  -webkit-app-region: no-drag !important;
}

.chatContent-3KubbW {
  -webkit-app-region: no-drag !important;
}

.children-3xh0VB {
  -webkit-app-region: no-drag !important;
}

.toolbar-3_r2xA {
  -webkit-app-region: no-drag !important;
}

.membersWrap-3NUR2t {
  -webkit-app-region: no-drag !important;
}

.embedIframe-1UpXja {
  -webkit-app-region: no-drag !important;
}

.wrapper-1FP9YQ {
  -webkit-app-region: no-drag !important;
}

.pageWrapper-2PwDoS {
  -webkit-app-region: no-drag !important;
}