.wrapper-1_HaEi .item-2LIpTv {
  background: var(--accent-primary);
}

.wrapper-1_HaEi .closedFolderIconWrapper-2sTcE6 {
  background: var(--background-primary);
  transition: 400ms ease-in-out;
}

.wrapper-1_HaEi .closedFolderIconWrapper-2sTcE6:hover {
  background: transparent;
}