// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Fonts              ║                                                                                   ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

@font-face {
    font-family: Discord;
    src: url("./assets/fonts/UniSansHeavyCAPS.otf") format('otf');
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

