// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Addons             ║ Left Icons                                                                        ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.icon-LYJorE, .iconContainer-2-XQPY {
    order: -1;
    padding-right: 10px;
    margin-left: 0px;
}