.container-1zzFcN {
  border: none;
}

.spotify-extra-controls {
  display: none !important;
}

.spotify-seek-elements {
  display: none !important;
}

.powercord-spotify.hover .spotify-extra-controls + .spotify-seek {
  margin-top: 0px;
}

.panels-3wFtMD .activityPanel-9icbyU,
.panels-3wFtMD .powercord-spotify {
  display: none;
}

.panels-3wFtMD:hover .activityPanel-9icbyU,
.panels-3wFtMD:hover .powercord-spotify {
  display: block;
}

/*
// Show
.panels-3wFtMD:hover .activityPanel-9icbyU,
.panels-3wFtMD:hover .powercord-spotify {
  display: block;
}


.button-12Fmur {
  cursor: pointer !important;
}

//
.title-338goq {
  background: rgba(255, 0, 0, 0.219) !important;
  content: '';
  position: absolute;
  border-radius: var(--radius-primary);

  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  color: var(--accent-text-secondary);
  text-transform: uppercase;
}



*/