// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Addons             ║ Mobile Menu                                                                       ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.button-1w5pas path {
    display: none;
}

.button-1w5pas.open-1Te94t {
    transform: none;
}

.theme-dark .button-1w5pas {
    -webkit-mask: url('https://raw.githubusercontent.com/CorellanStoma/CreArts/master/assets/icons/theme_menu.svg');
    background: var(--interactive-active);
    background-size: cover;
    width: 18px;
    height: 18px;
    position: relative;
    opacity: 1;
    top: 0px;

}

.theme-light .button-1w5pas {
    -webkit-mask: url('https://raw.githubusercontent.com/CorellanStoma/CreArts/master/assets/icons/theme_menu.svg');
    background: var(--interactive-active);
    background-size: cover;
    width: 18px;
    height: 18px;
    position: relative;
    opacity: 1;
    top: 0px;
}