// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Addons             ║ Name Badges                                                                       ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝


@mixin badge($userID, $badgeLink) {
  .wrapper-2a6GCs[data-author-id="#{$userID}"] .header-23xsNx .username-1A8OIy, // Messages
  .avatar-3EQepX[data-user-id="#{$userID}"] + .headerInfo-30uryT .username-2b1r56, // Profile Modals
  .avatar-3W3CeO[data-user-id="#{$userID}"] + .text-37NqbO .username-31C1TQ, // Friends List
  .wrapper-3t9DeA[data-user-id="#{$userID}"] + .header-3uLluP { // Beginning of DMs
      &::before {
          content: "";
          background: url($badgeLink) center/100% no-repeat;
          border-radius: var(--radius-primary);
      }
  }
}

#app-mount {
  .wrapper-2a6GCs[data-author-id] .header-23xsNx .username-1A8OIy, // Messages
  .avatar-3EQepX[data-user-id] + .headerInfo-30uryT .username-2b1r56, // Profile Modals
  .avatar-3W3CeO[data-user-id] .text-37NqbO .username-31C1TQ { // Friends List
      &::before {
          padding: 0 10px 0 10px;
          margin-right: 5px;
      }
  }

  .wrapper-3t9DeA[data-user-id] + .header-3uLluP { // Start of DMs
      &::before {
          padding: 0 15px 0 15px;
          margin-right: 3px;
          margin-left: 1px
      }
  }
}


// LuckFire#4800
@include badge("399416615742996480", 'https://cdn.discordapp.com/emojis/635936642372337674.png?v=1');
// botato#6883
@include badge("440990343899643943", 'https://i.imgur.com/n73BD5k.gif');
// snapperito#0001
@include badge("431883840483491850", 'https://cdn.discordapp.com/attachments/755015869914152981/762399113643425842/iu.png');
// 𝖌𝖆𝖇𝖊#7384
@include badge("492134292634337295", 'https://cdn.discordapp.com/emojis/524587767024582658.png?v=1');
// Liam The Protogen#2501
@include badge("441384103946878987", 'https://cdn.discordapp.com/emojis/678032580066410507.png');
// mo#9999
@include badge("682735971392815124",'https://cdn.discordapp.com/attachments/713629764597973043/782302584340873256/latest.png');
// Hoofer#0001
@include badge("547951620235984906", 'https://cdn.discordapp.com/attachments/738968109288914976/772559828274118776/new.png');
// AHIRA#1246
@include badge("249521750465970177", 'https://cdn.discordapp.com/emojis/762438597340430367.png');
// ezist#7571
@include badge("632082248954282014", 'https://i.imgur.com/3k77hqg.png');
// Akkoza#3400
@include badge("703448942519517246", 'https://cdn.discordapp.com/attachments/738968109288914976/767095382400041020/uRrxAmOB_400x400.png');
// Fuzzy#5997
@include badge("215689512058224640", 'https://i.imgur.com/iiGtbj1.png');
// Freeplay#5676
@include badge("158296466119458816", 'https://i.imgur.com/Fdkm5zS.png');
// Ryan.#0002 
@include badge("180769501552443403", 'https://cdn.discordapp.com/attachments/620711972312449034/762505641490120744/pump.gif');
// Ariana aka deznuts#2929
@include badge("424555688992309248", 'https://i.imgur.com/mq3YHYv.png');
// Whippersnatch Pumpkinpatch#2008
@include badge("245592600793317377", 'https://cdn.discordapp.com/attachments/713729995595317279/762580310906634260/download.png');
// ANGER BRO#2131
@include badge("417372538557956096", 'https://cdn.discordapp.com/attachments/418538118547898388/762638865575837766/2.0.png');
// azumi#6464
@include badge("197899789252165632", 'https://i.imgur.com/0hbRrJv.png');
// DanKSpooKLy#1337
@include badge("348918040248713217", 'https://i.imgur.com/xSObeUv.gif');
// arceus#0413
@include badge("479451939243950091", 'https://cdn.discordapp.com/attachments/720701686036824084/763137268843413514/sticker.png');
// Klip#1337
@include badge("349312657658216450", 'https://cdn.discordapp.com/emojis/745122924779929700.gif');
// PlutonicPluto#9145
@include badge("758805621767929866", 'https://cdn.discordapp.com/attachments/760722365293527060/765101459381157888/Cyan.png');
// Taikutsunan#6781
@include badge("334469240394481667", 'https://cdn.discordapp.com/attachments/691799184063594546/764995840145358899/unknown.png');
// Pandaaa#8612
@include badge("605186191746138132", 'https://cdn.discordapp.com/emojis/638108014901198913.gif?v=1');
// PoorPockets McNewHold#1984
@include badge("277173061973835778", 'https://i.imgur.com/7ugPOvO.png');
// Curvu#0254
@include badge("323104036066951168", 'https://i.imgur.com/DclUwaS_d.png');
// wholesome kris#0001
@include badge("330544247042473984", 'https://media.discordapp.net/attachments/778759746798485518/819650718058283008/tenor.gif');
// Lucas🧦#6500
@include badge("256815446802694144", 'https://cdn.discordapp.com/attachments/738968109288914976/771057075785957397/Monke2.png');
// mirlia#5920
@include badge("510664042990403584", 'https://i.imgur.com/VIwlSHT.png');
// Dark;#7986
@include badge("449245847767482379", 'https://cdn.discordapp.com/emojis/511919340728221708.png?v=1');
// LSD_FREE_2020#3209
@include badge("631202116836261936", 'https://cdn.discordapp.com/attachments/760042880491716608/772714477719126016/5607_rainbow_pride_spinning_hearts.png');
// omelet#7407
@include badge("670453754423672832", 'https://cdn.discordapp.com/attachments/760042880491716608/772715964114534430/pinpng.com-png-tumblr-transparent-donut-2723629.png');
// liām#7708
@include badge("627459424461783040", 'https://cdn.discordapp.com/emojis/742918925364232232.png?v=1');
// wyber#0001
@include badge("639580234349281300", 'https://cdn.discordapp.com/attachments/767493692243443736/777074419545669652/10-2-anime-png-images.png');
// absol#0666
@include badge("194830015353847817", 'https://cdn.discordapp.com/attachments/765149162752180264/776365646757101588/clear_.png');
// tale#0042
@include badge("66188246706552832", 'https://cdn.discordapp.com/emojis/777208120392810517.png?v=1');
// Hop#7919
@include badge("255488840301674497", 'https://cdn.discordapp.com/attachments/767046925228703784/792519168003276800/owo.png');
// jakefaith#6001
@include badge("301088721984552961", 'https://cdn.discordapp.com/attachments/458755142532071426/792176982473310208/emote.png');
// KortyBoi#0001
@include badge("167335587488071682", 'https://i.imgur.com/sIfbQfU.png');
// thefudgeishot#0001
@include badge("333520057617612802", 'https://cdn.discordapp.com/emojis/513069003120574464.png?v=1');
// 6392#6625
@include badge("692206224745431161", 'https://cdn.discordapp.com/attachments/738968109288914976/814277620702511114/853759-cirno.png');






// bakzkndd#2819
@include badge("343103632453009408", 'https://cdn.discordapp.com/emojis/816451733285896193.gif');
// It'sJustJosh#1156
@include badge("362628885361197056", 'https://i.imgur.com/Q1XS8O3.png');
// Black_Energy™ | Eny™#2193
@include badge("252312595107676162", 'https://cdn.discordapp.com/attachments/766326926465564713/817763947683512320/XD.gif');
// miu 🎀#6328
@include badge("201461440928940032", "https://cdn.discordapp.com/emojis/778702455152181268.png?v=1");
// Jayleaf#1234
@include badge("395205580668534785", "https://cdn.discordapp.com/emojis/788776604167962624.gif?v=1");
// pandora#3067
@include badge("468922513410490368", "https://cdn.discordapp.com/attachments/747175904878526568/819376432593371176/saturn-planet.png");
// Parzival#5075
@include badge("249877580180750336", "https://i.imgur.com/rC5TAWU.gif");
// poob#1410
@include badge("708550161659592734", "https://i.imgur.com/ce0VjlG.gif");
// Bred#50205
@include badge("285526150678183938", "https://i.imgur.com/unwSsqJ_d.png");
// encezo#1223
@include badge("801048748544491550", "https://cdn.discordapp.com/attachments/815624770430566460/819632707591864370/romaniabecausewhynot.png");
// zjtech123#6743
@include badge("261236127581601793", "https://cdn.discordapp.com/emojis/440328145472585729.png");
// Pig#4701 
@include badge("188620609499037697", "https://cdn.discordapp.com/attachments/537292318047469568/819974254924660786/peepohappy.png");
// dante_nl#7950
@include badge("618082876730376202", "https://media.discordapp.net/attachments/806145540563271681/819844948274446366/goodwumpus.png");
// CloneyInnit#6510
@include badge("729934422068953098", "https://cdn.discordapp.com/attachments/818142332641607712/820685833057075260/partner.png");
// arctic#9999
@include badge("160504751203549185", "https://media.tenor.com/images/054e7e7f6060bf2fcdb72634b926ee29/tenor.gif");
// Cherry#8456
@include badge("231843289345687554", "https://cdn.discordapp.com/attachments/738968109288914976/820841059746709534/image0.jpg");
// dnglchlk#9343
@include badge("295075692620546048", "https://cdn.discordapp.com/attachments/771801032131870751/821441060399480862/pfpraccclear_Custom.png");
// Dormy#8393
@include badge("319029124666490881", "https://cdn.discordapp.com/emojis/500773550572175380.png");




// CorellanStoma#1996
@include badge("288362986991648778", 'https://i.imgur.com/5NG5y84.png');