// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Addons             ║ Name Badges                                                                       ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝


@mixin badge($userID, $badgeLink) {
  .wrapper-2a6GCs[data-author-id="#{$userID}"] .header-23xsNx .username-1A8OIy, // Messages
  .avatar-3EQepX[data-user-id="#{$userID}"] + .headerInfo-30uryT .username-2b1r56, // Profile Modals
  .avatar-3W3CeO[data-user-id="#{$userID}"] + .text-37NqbO .username-31C1TQ, // Friends List
  .wrapper-3t9DeA[data-user-id="#{$userID}"] + .header-3uLluP { // Beginning of DMs
      &::before {
          content: "";
          background: url($badgeLink) center/100% no-repeat;
          border-radius: var(--radius-primary);
      }
  }
}

#app-mount {
  .wrapper-2a6GCs[data-author-id] .header-23xsNx .username-1A8OIy, // Messages
  .avatar-3EQepX[data-user-id] + .headerInfo-30uryT .username-2b1r56, // Profile Modals
  .avatar-3W3CeO[data-user-id] .text-37NqbO .username-31C1TQ { // Friends List
      &::before {
          padding: 0 10px 0 10px;
          margin-right: 5px;
      }
  }

  .wrapper-3t9DeA[data-user-id] + .header-3uLluP { // Start of DMs
      &::before {
          padding: 0 15px 0 15px;
          margin-right: 3px;
          margin-left: 1px
      }
  }
}