// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Addons             ║ ReColor                                                                           ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Filled Buton
.lookFilled-1Gx00P.colorBrand-3pXr91 {
    background: var(--accent-primary);
    color: #fff;
}

.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
    background: var(--accent-primary);
}

.lookFilled-1Gx00P.colorBrand-3pXr91:active {
    background: var(--accent-primary);
}

// Home Button
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 {
    background: var(--accent-primary);
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9:hover {
    background: var(--accent-secondary);
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9:active {
    background: var(--accent-tertiary);
}

// Explore Button
.circleIconButton-jET_ig.selected-ugP_am {
    background: var(--accent-primary);
}

.circleIconButton-jET_ig.selected-ugP_am:hover {
    background: var(--accent-secondary);
}

.circleIconButton-jET_ig.selected-ugP_am:active {
    background: var(--accent-tertiary);
}

//Add Server
.circleIconButton-jET_ig.selected-ugP_am {
    background: var(--accent-primary);
}

.circleIconButton-jET_ig.selected-ugP_am:hover {
    background: var(--accent-secondary);
}

.circleIconButton-jET_ig.selected-ugP_am:active {
    background: var(--accent-tertiary);
}



// Discover Button
.categoryItem-3zFJns.selectedCategoryItem-3X8ujp .itemInner-3gVXMG {
    background: var(--accent-primary);
}

.categoryItem-3zFJns.selectedCategoryItem-3X8ujp .itemInner-3gVXMG:hover {
    background: var(--accent-secondary);
}

.categoryItem-3zFJns.selectedCategoryItem-3X8ujp .itemInner-3gVXMG:active {
    background: var(--accent-tertiary);
}

// Verified
.verified-1eC5dy {
    color: var(--accent-primary);
}

.verified-1eC5dy:hover {
    color: var(--accent-secondary);
}

.verified-1eC5dy:active {
    color: var(--accent-tertiary);
}





// Reaction
.reaction-1hd86g.reactionMe-wv5HKu {
    background: var(--accent-active);
}

.reaction-1hd86g.reactionMe-wv5HKu:hover {
    background: var(--accent-hover);
}



.reaction-1hd86g {
    background: var(--background-tertiary);
    border-radius: var(--radius-reaction);
}

.reaction-1hd86g {
    border-radius: .25rem;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: .125rem;
    margin-bottom: .125rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background-color .1s ease;
    transition: background-color .1s ease;
    background: var(--background-modifier-accent);
}




