// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Addons             ║ Revert Radio Boxes                                                                ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.item-26Dhrx {border-radius:5px;color:var(--interactive-active)!important;background:#0000!important}
.item-26Dhrx .title-3BE6m5 {font-weight:500}
.item-26Dhrx[aria-checked="false"] .title-3BE6m5 {color:var(--radio-bar-accent-color)}
.item-26Dhrx[aria-checked="true"] {color:#fff!important}
.theme-dark {--checkbox-fill:#72767d}
.theme-light {--checkbox-fill:#b9bbbe}
.radioBar-bMNUI- path {
    d: path("M3 0C1.34326 0 0 1.34277 0 3V21C0 22.6572 1.34326 24 3 24H21C22.6567 24 24 22.6572 24 21V3C24 1.34277 22.6567 0 21 0H3ZM3 1C1.89551 1 1 1.89551 1 3V21C1 22.1045 1.89551 23 3 23H21C22.1045 23 23 22.1045 23 21V3C23 1.89551 22.1045 1 21 1H3Z");
    fill: var(--checkbox-fill);
}
.item-26Dhrx[aria-checked="true"] .radioBar-bMNUI- path {
    d: path("M4 1C2.34326 1 1 2.34277 1 4V20C1 21.6572 2.34326 23 4 23H20C21.6567 23 23 21.6572 23 20V4C23 2.34277 21.6567 1 20 1H4ZM6.62231 12L9.74976 15.127L17.6924 7.19238L18.7498 8.25L9.74976 17.25L5.55737 13.0576L6.62231 12Z");
    fill: #fff
}
.radioBar-bMNUI- circle {display:none}
.radioBar-bMNUI- {border:solid 1px var(--background-tertiary);background:var(--deprecated-card-editable-bg)}
.radioBar-bMNUI- {--radio-bar-accent-color:#7289da}
[aria-checked="true"]>.radioBar-bMNUI- {background:var(--radio-bar-accent-color);border-color:var(--radio-bar-accent-color)}
[aria-checked="true"]>.radioBar-bMNUI- {--radio-bar-accent-color:#7289da}
[aria-checked="false"]>.radioBar-bMNUI- .size14-e6ZScH {color:var(--interactive-normal)}
[aria-checked="false"]>.radioBar-bMNUI-  {--radio-bar-accent-color:var(--interactive-active)}