// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Addons             ║ Status                                                                            ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Round Mask
.pointerEvents-2zdfdO:not([mask="url(#svg-mask-status-online-mobile)"]) {
  mask: url(#svg-mask-status-online);
}

// Menu
.menu-3sdvDG .icon-1IxfJ2 foreignObject {
  mask: url(#svg-mask-status-online);
}





/*
// Normal
.wrapper-3t9DeA .svg-2V3M55 {
  [mask*="status-online"] {fill: var(--green-primary);}
  [mask*="status-idle"] {fill: var(--yellow-primary);}
  [mask*="status-dnd"] {fill: var(--red-primary);}
  [mask*="status-streaming"] {fill: var(--purple-primary);}
}


// Hover
.wrapper-3t9DeA .svg-2V3M55:hover {
  [mask*="status-online"] {fill: var(--green-secondary)}
  [mask*="status-idle"] {fill: var(--yellow-secondary);}
  [mask*="status-dnd"] {fill: var(--red-secondary);}
  [mask*="status-streaming"] {fill: var(--purple-secondary);}
}
*/




// Channel Hover
.clickable-1JJAn8:hover .wrapper-3t9DeA .svg-2V3M55 {
  [mask*="status-online"] {fill: var(--accent-text)}
  [mask*="status-idle"] {fill: var(--accent-text)}
  [mask*="status-dnd"] {fill: var(--accent-text)}
  [mask*="status-streaming"] {fill: var(--accent-text)}
}

.clickable-1JJAn8:hover .roleColor-rz2vM0 {
  color: var(--accent-text) !important;
}

.clickable-1JJAn8:hover .premiumIcon-1rDbWQ {
  color: var(--accent-text) !important;
}

.clickable-1JJAn8:hover .activityText-yGKsKm {
color: var(--accent-text) !important;
}

// Activity Icon
.clickable-1JJAn8:hover .icon-15YQ1T {
  color: var(--accent-text);
}

// Bot Tag
.clickable-1JJAn8:hover .botTagRegular-2HEhHi {
  background: var(--accent-text);
  color: var(--accent-secondary);
}


