.pointerEvents-9SZWKj:not([mask="url(#svg-mask-status-online-mobile)"]) {
  -webkit-mask: url(#svg-mask-status-online);
          mask: url(#svg-mask-status-online);
}

.menu-1QACrS .icon-Lz4Y-_ foreignObject {
  -webkit-mask: url(#svg-mask-status-online);
          mask: url(#svg-mask-status-online);
}

/*
// Normal
.wrapper-1VLyxH .svg-2azL_l {
  [mask*="status-online"] {fill: var(--green-primary);}
  [mask*="status-idle"] {fill: var(--yellow-primary);}
  [mask*="status-dnd"] {fill: var(--red-primary);}
  [mask*="status-streaming"] {fill: var(--purple-primary);}
}


// Hover
.wrapper-1VLyxH .svg-2azL_l:hover {
  [mask*="status-online"] {fill: var(--green-secondary)}
  [mask*="status-idle"] {fill: var(--yellow-secondary);}
  [mask*="status-dnd"] {fill: var(--red-secondary);}
  [mask*="status-streaming"] {fill: var(--purple-secondary);}
}
*/