@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css'); // Database | USRBG

@import url('https://corellanstoma.github.io/CreArts/database/usrbg.css'); // Database | CreArts

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Addons             ║ USRBG                                                                             ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// USBRG (Big User Profile)
.header-QKLPzZ .wrapper-3t9DeA::after {
  z-index: -1;
  content:'';
  position: absolute;
  top: -20px;
  left: -20px;
  width: 900px;
  height: 170px;
  opacity: 1;
  background: var(--user-background) center/cover no-repeat;
  background-color: var(--background-primary);
  filter: brightness(60%) blur(0px);
}


