// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Addons                   ║ White Profile Badges                                                                    ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.header-QKLPzZ .powercord-badge-cutie img:first-child{display: none !important}
.header-QKLPzZ .powercord-badge-cutie img:last-child{display:block!important}
[class^="profileBadge-2BqF-Z powercord-badge-"]{color:white!important}
[class*="BadgeStaff"]{filter: brightness(10)!important}
[class*="BadgePartner"]{filter: brightness(10)!important}
[class*="BadgeHypesquad-"]{filter: brightness(10)!important}
[class*="BadgeHypeSquadOnlineHouse1"]{filter: brightness(10)!important}
[class*="BadgeHypeSquadOnlineHouse2"]{filter: brightness(10)!important}
[class*="BadgeHypeSquadOnlineHouse3"]{filter: brightness(10)!important}
[class*="BadgeBugHunter"]{filter: brightness(10)!important}
[class*="BadgeVerifiedDeveloper"]{filter: brightness(10)!important}
[class*="BadgeEarlySupporter"]{background-image:url("/assets/ce15562552e3d70c56d5408cfeed2ffd.svg")!important}
[class*="BadgePremium"]{background-image:url("/assets/379d2b3171722ef8be494231234da5d1.svg")!important}
[class*="GuildSubscriberlvl1"]{background-image:url("/assets/a86d7e56b8208da9f8623ac49fe822dc.svg")!important}
[class*="GuildSubscriberlvl2"]{background-image:url("/assets/e85361cd599b6722548c5a5f003b4b78.svg")!important}
[class*="GuildSubscriberlvl3"]{background-image:url("/assets/7a0be61e754af3353d0871070f46a9d6.svg")!important}
[class*="GuildSubscriberlvl4"]{background-image:url("/assets/88f960f400930f109847d0335685de69.svg")!important}
[class*="GuildSubscriberlvl5"]{background-image:url("/assets/a99def5f819c077e5e5061cab741b7e6.svg")!important}
[class*="GuildSubscriberlvl6"]{background-image:url("/assets/2cfb317f3db3963d8ded9a97ee967bac.svg")!important}
[class*="GuildSubscriberlvl7"]{background-image:url("/assets/278736f579d810b11ddf308cb598b19e.svg")!important}
[class*="GuildSubscriberlvl8"]{background-image:url("/assets/38e40f25802a0fdf480d9b855a37a2f3.svg")!important}
[class*="GuildSubscriberlvl9"]{background-image:url("/assets/cfbc2d8ceacfacf07850f986c8165195.svg")!important}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Addons                   ║ White Connection Icons                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.connectedAccountIcon-2vls0t[alt*="Battle.net"]{content:url(/assets/3a257c4cab129e956b05bd50047eb0f9.png)}
.connectedAccountIcon-2vls0t[alt*=Facebook]{content:url(/assets/c926e69c482dac25b8e940db74496813.png)}
.connectedAccountIcon-2vls0t[alt*=GitHub]{content:url(/assets/9e2893717851c493b4bff518f8b63ee7.png)}
.connectedAccountIcon-2vls0t[alt*="League of Legends"]{content:url(/assets/fbbd224a0d94747c102515090682bbe1.png)}
.connectedAccountIcon-2vls0t[alt*=Reddit]{content:url(/assets/bcc7bc0c0b27f9cbadaa1a47ea79db22.png)}
.connectedAccountIcon-2vls0t[alt*=Spotify]{content:url(/assets/fe3770614c2658a07dea3ecb286ce745.png)}
.connectedAccountIcon-2vls0t[alt*=Skype]{content:url(/assets/de5fb9e860729912c65048c1c657e1a3.png)}
.connectedAccountIcon-2vls0t[alt*=Steam]{content:url(/assets/baf4bdd36b7ef74e8f34b402e66f81f4.png)}
.connectedAccountIcon-2vls0t[alt*=Twitch]{content:url(/assets/4c1bab3f945269a5c1be0b3a2c177141.png)}
.connectedAccountIcon-2vls0t[alt*=Twitter]{content:url(/assets/2ac50d286a1c883f28b5149239a8ad36.png)}
.connectedAccountIcon-2vls0t[alt*=YouTube]{content:url(/assets/0ef81742942677bcef0bebdfb7061d29.png)}
.connectedAccountIcon-2vls0t[alt*="Xbox Live"]{content:url(/assets/850ed4fcf5839b7a32651f5959e8511e.png)}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Addons                   ║ Nitro                                                                                   ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Flower
.flowerStar-2tNFCR {display: none;}


.childContainer-U_a6Yh {display: none;}

// Flower
.flowerStar-2tNFCR {display: none;}

// Guild Tier None
.iconBackgroundTierNone-3ZkOsa {
    background: var(--interactive-active);
    -webkit-mask: url('https://corellanstoma.github.io/CreArts-Discord/assets/icons/theme_nitro_none.svg') center no-repeat;
    mask: url('https://corellanstoma.github.io/CreArts-Discord/assets/icons/theme_nitro_none.svg') center no-repeat;
}

// Guild Tier I
.iconBackgroundTierOne-2OQMBY {
    background: var(--interactive-active);
    -webkit-mask: url('https://corellanstoma.github.io/CreArts-Discord/assets/icons/theme_nitro.svg') center no-repeat;
    mask: url('https://corellanstoma.github.io/CreArts-Discord/assets/icons/theme_nitro.svg') center no-repeat;
}

// Guild Tier II
.iconBackgroundTierTwo-Eab9L6 {
    background: var(--interactive-active);
    -webkit-mask: url('https://corellanstoma.github.io/CreArts-Discord/assets/icons/theme_nitro.svg') center no-repeat;
    mask: url('https://corellanstoma.github.io/CreArts-Discord/assets/icons/theme_nitro.svg') center no-repeat;
}

// Guild Tier III
.iconBackgroundTierThree-FWlUL9 {
    background: var(--interactive-active);
    -webkit-mask: url('https://corellanstoma.github.io/CreArts-Discord/assets/icons/theme_nitro.svg') center no-repeat;
    mask: url('https://corellanstoma.github.io/CreArts-Discord/assets/icons/theme_nitro.svg') center no-repeat;
}

// Partner
.guildBadge-3IDi4U {
    background: var(--interactive-active);
    -webkit-mask: url('https://corellanstoma.github.io/CreArts-Discord/assets/icons/theme_partner.svg') center no-repeat;
    mask: url('https://corellanstoma.github.io/CreArts-Discord/assets/icons/theme_partner.svg') center no-repeat;
}

// .guildBadge-3IDi4U, .premiumGuildIconGem-DAxGL7

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Addons             ║ White Powercord                                                                   ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝


.powercord-badge:not(.powercord-badge-cutie) {
    filter: brightness(10);
    transition: 800ms ease-out;
}

.powercord-badge:hover {
    filter: none;
    transition: 800ms ease-out;
}

/*
.userPopout-2j1gM4 .powercord-badge-cutie img:last-child,
.header-S26rhB .powercord-badge-cutie img:last-child
*/

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Addons             ║ Porkcord                                                                          ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.header-3OsQeK .powercord-badge-cutie img {display: none;}

.header-3OsQeK .powercord-badge{
    background: var(--interactive-active);
    -webkit-mask: url('https://corellanstoma.github.io/CreArts-Discord/assets/icons/theme_powercord.svg') no-repeat;
}