// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Guild (Top)              ║ Spacing                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Backgrounds
#app-mount .wrapper-1_HaEi {
background: transparent;
margin-left: 20px;
margin-bottom: 30px;
}

.base-2jDfDU {
margin-top: 20px;
}

.platform-osx #app-mount .wrapper-1_HaEi {
margin-top: 22px;
}

// Linux
.base-2jDfDU {
margin-top: 20px;
}

// Windows
.platform-win .base-2jDfDU {
margin-top: 20px;
}

// OSX
.platform-osx .base-2jDfDU {
margin-top: 10px;
}


// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Guild (Top)              ║ Button Area                                                                             ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.tutorialContainer-2sGCg9 {
border-radius: var(--radius-primary);
background: transparent;
position: fixed;
top: 4px;
}

// Blur
.tutorialContainer-2sGCg9:before {
background: var(--background-secondary);
position: fixed;
content: "";
border-radius: var(--radius-primary);
backdrop-filter: blur(var(--blur));
border: var(--border);
box-shadow: var(--shadows);
height: 188px;
width: 68px;
margin-top: -4px;
z-index: -1;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Guild (Top)              ║ Home Button                                                                             ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub,
.wrapper-3kah-n:hover .childWrapper-1j_1ub {
background: var(--accent-primary);
}

// Home Button
.childWrapper-1j_1ub {
background: var(--background-primary);
color: var(--interactive-normal);
border-radius: 90px;
}

.homeIcon-FuNwkv {
color: transparent;
-webkit-mask: url('https://corellanstoma.github.io/CreArts-Discord/assets/icons/theme_home.svg') center no-repeat;
mask: url('https://corellanstoma.github.io/CreArts-Discord/assets/icons/theme_home.svg') center no-repeat;
background: var(--interactive-normal);
width: 60%;
height: 60%;
margin-top: 2px;
}

.wrapper-3kah-n.selected-1Drb7Z .homeIcon-FuNwkv {
background: var(--accent-text-primary);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Guild (Top)              ║ Settings Button                                                                         ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.panels-3wFtMD  > .container-YkUktl .flex-3BkGQD .button-12Fmur:nth-last-child(1) {
background: var(--background-primary);
position: fixed;
bottom: 40px !important;
left: 90px;
height: 48px;
width: 48px;

.contents-3ca1mk {
    transform: scale(1.6);
}
}

.panels-3wFtMD  > .container-YkUktl .flex-3BkGQD .button-12Fmur:nth-last-child(1):hover {
background: var(--accent-primary);
color: var(--accent-text-primary);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Guild (Top)              ║ Explore Server Button                                                                   ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.scroller-3X7KbA > .listItem-GuPuDH:nth-last-child(2) {
position: fixed !important;
background: transparent !important;
top: 120px !important;
}

.circleIconButton-1QV--U {
border-radius: 90px !important;
}

.circleIconButton-1QV--U.selected-1JjBPm {
background: var(--accent-primary) !important;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Guild (Top)              ║ Guilds                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.scroller-3X7KbA {
border-radius: var(--radius-primary);
background: transparent;
position: relative;
margin-top: 333px;
bottom: 130px;
}

// Blur
.wrapper-1_HaEi::before {
background: var(--background-secondary);
position: fixed;
content: "";
border-radius: var(--radius-primary);
backdrop-filter: blur(var(--blur));
border: var(--border);
box-shadow: var(--shadows);
width: 68px;
bottom: 20px;
margin-top: 205px;
margin-bottom: 110px;
top: 0;
left: 20;
}

// Remove guild Separator
.guildSeparator-33mFX6 {
display: none !important;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Guild (Top)              ║ Add Server Button                                                                       ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.tutorialContainer-30WoTp {
background: transparent;
position: fixed;
border-radius: var(--radius-primary);
padding-top: 12px;
padding-bottom: 4px;
bottom: 40px;
}

// Blur
.tutorialContainer-30WoTp::before {
background: var(--background-secondary);
position: fixed;
content: "";
border-radius: var(--radius-primary);
backdrop-filter: blur(var(--blur));
border: var(--border);
box-shadow: var(--shadows);
height: 72px;
width: 68px;
bottom: 40px;
z-index: -1;
}

// Add Server & Explore Button
.circleIconButton-1QV--U {
color: var(--interactive-normal);
background: var(--background-primary);
}

.circleIconButton-1QV--U.selected-ugP_am svg path{
fill: var(--interactive-active);
}


// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Guild (Top)              ║ Unread                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Mention
.mention-3XBnnZ {
background: var(--accent-primary);
opacity: 1;
}

.mention-3XBnnZ:hover {
background: var(--accent-secondary);
}

.mention-3XBnnZ:active {
background: var(--accent-tertiary);
}

// Up
.unreadMentionsIndicatorTop-2bTgUU .text-2GsXbW {
color: transparent;
background: var(--interactive-active);
-webkit-mask: url('https://corellanstoma.github.io/CreArts-Discord/assets/icons/theme_arrow_up.svg') center no-repeat;
mask: url('https://corellanstoma.github.io/CreArts-Discord/assets/icons/theme_arrow_up.svg') center no-repeat;
width: 36%;
height: 36%;
margin-bottom: -2px;
}

.unreadMentionsIndicatorTop-2bTgUU {
  top: 220px;
}

// Down
.unreadMentionsIndicatorBottom-3RJMnQ .text-2GsXbW {
color: transparent;
background: var(--interactive-active);
-webkit-mask: url('https://corellanstoma.github.io/CreArts-Discord/assets/icons/theme_arrow_down.svg') center no-repeat;
mask: url('https://corellanstoma.github.io/CreArts-Discord/assets/icons/theme_arrow_down.svg') center no-repeat;
width: 36%;
height: 36%;
margin-bottom: -2px;
}

.unreadMentionsIndicatorBottom-3RJMnQ {
bottom: 140px;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Guild (Top)              ║ Ping                                                                                    ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.lowerBadge-3WTshO .base-3IDx3L {
background: var(--accent-primary) !important;
color: var(--accent-text-primary);
}

.expandedFolderBackground-1cujaW { background: transparent;}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Guild (Bottom)           ║ DM Button                                                                               ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.scroller-3X7KbA [style="opacity: 1; height: 56px; transform: scale(1);"] {
position: fixed;
margin-bottom: -8px;
margin-top: 8px;
z-index: 9;
}

// Linux
.scroller-3X7KbA [style="opacity: 1; height: 56px; transform: scale(1);"] {
bottom: 52px;
}

// Windows
.platform-win .scroller-3X7KbA [style="opacity: 1; height: 56px; transform: scale(1);"] {
bottom: 52px;
}

// Mac
.platform-osx .scroller-3X7KbA [style="opacity: 1; height: 56px; transform: scale(1);"] {
bottom: 52px;
}