// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ HSL                      ║ General                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

:root {
  --server-size: var(--HSL-server-icon-size, 48px);
  --server-spacing: var(--HSL-server-spacing, 8px);
  --server-container: calc(var(--server-size) + 46px);
}

#app-mount .app-3xd6d0 .base-2jDfDU {
  top: var(--server-container) !important;
  position: absolute !important;
  left: 0 !important;
  right: 0;
  bottom: 0;
}
#app-mount .sidebar-1tnWFu {
  border-radius: 0;
}

#app-mount .guilds-2JjMmN {
  transform-origin: top left;
  transform: rotate(-90deg);
  height: 100vw !important;
  width: var(--server-container);
  top: var(--server-container);
  bottom: unset;
  position: absolute !important;
  left: 0;
}
#app-mount .guilds-2JjMmN .scrollerWrap-1IAIlv {
  width: calc(100% + 30px);
}
#app-mount .guilds-2JjMmN .scrollerBase-_bVAAt {
  padding-top: 0 !important;
}
#app-mount .guilds-2JjMmN .scrollerBase-_bVAAt > div[style]:not(.listItem-2P_4kh) {
  height: auto !important;
}
#app-mount .guilds-2JjMmN .scrollerBase-_bVAAt > div[style]:not(.listItem-2P_4kh)[style*="height: 0px"] {
  padding-top: 1px;
}
#app-mount .guilds-2JjMmN .svg-2zuE5p,
#app-mount .guilds-2JjMmN .wrapper-28eC3z,
#app-mount .guilds-2JjMmN .guildsError-b7zR5H,
#app-mount .guilds-2JjMmN .placeholderMask-3K9THS {
  width: var(--server-size);
  height: var(--server-size);
}
#app-mount .guilds-2JjMmN [role=group] {
  height: auto !important;
}
#app-mount .guilds-2JjMmN [class*=pill] {
  transform: rotate(90deg) translateY(-50%);
  height: var(--server-size);
  width: 4px;
  top: calc(var(--server-size) / -1 + var(--server-size) / 2 - 8px) !important;
  margin-left: -2px;
}
#app-mount .guilds-2JjMmN [class*=pill] span {
  height: 100% !important;
  width: 4px !important;
  transform: scale(0, 1) !important;
  transition: 0.15s ease !important;
  margin-left: 0;
  border-radius: 0 4px 4px 0;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 0"] {
  transform: scale(1, 0.24) !important;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 1"] {
  transform: scale(1, 0.24) !important;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 2"] {
  transform: scale(1, 0.24) !important;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 3"] {
  transform: scale(1, 0.24) !important;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 4"] {
  transform: scale(1, 0.24) !important;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 5"] {
  transform: scale(1, 0.24) !important;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 6"] {
  transform: scale(1, 0.24) !important;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 7"] {
  transform: scale(1, 0.24) !important;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 8"] {
  transform: scale(1, 0.24) !important;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 9"] {
  transform: scale(1, 0.7) !important;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 10"] {
  transform: scale(1, 0.7) !important;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 11"] {
  transform: scale(1, 0.7) !important;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 12"] {
  transform: scale(1, 0.7) !important;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 13"] {
  transform: scale(1, 0.7) !important;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 14"] {
  transform: scale(1, 0.7) !important;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 15"] {
  transform: scale(1, 0.7) !important;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 16"] {
  transform: scale(1, 0.7) !important;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 17"] {
  transform: scale(1, 0.7) !important;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 18"] {
  transform: scale(1, 0.7) !important;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 19"] {
  transform: scale(1, 0.7) !important;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 20"] {
  transform: scale(1, 0.7) !important;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 21"] {
  transform: scale(1, 1) !important;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 22"] {
  transform: scale(1, 1) !important;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 23"] {
  transform: scale(1, 1) !important;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 24"] {
  transform: scale(1, 1) !important;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 25"] {
  transform: scale(1, 1) !important;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 26"] {
  transform: scale(1, 1) !important;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 27"] {
  transform: scale(1, 1) !important;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 28"] {
  transform: scale(1, 1) !important;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 29"] {
  transform: scale(1, 1) !important;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 30"] {
  transform: scale(1, 1) !important;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 31"] {
  transform: scale(1, 1) !important;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 32"] {
  transform: scale(1, 1) !important;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 33"] {
  transform: scale(1, 1) !important;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 34"] {
  transform: scale(1, 1) !important;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 35"] {
  transform: scale(1, 1) !important;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 36"] {
  transform: scale(1, 1) !important;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 37"] {
  transform: scale(1, 1) !important;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 38"] {
  transform: scale(1, 1) !important;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 39"] {
  transform: scale(1, 1) !important;
}
#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 40"] {
  transform: scale(1, 1) !important;
}
#app-mount .guilds-2JjMmN .wrapper-z5ab_q {
  height: var(--server-size) !important;
}
#app-mount .guilds-2JjMmN .wrapper-21YSNc,
#app-mount .guilds-2JjMmN .wrapper-3Njo_c {
  width: var(--server-container);
}
#app-mount .guilds-2JjMmN [class*=listItem]:not([class*=listItemWrapper]) {
  width: var(--server-size);
  transform: rotate(90deg);
  margin: var(--server-spacing) 10px;
  position: unset;
}
#app-mount .guilds-2JjMmN [class*=guildSeparator] {
  transform: rotate(90deg);
  width: var(--server-size);
}
#app-mount .guilds-2JjMmN [class*=expandedFolderBackground] {
  width: var(--server-size);
  left: 50%;
  border-radius: 10px;
  transform: translateX(-50%);
}
#app-mount .guilds-2JjMmN .folder-21wGz3 {
  background: transparent;
}
#app-mount [class*=listItemTooltip] {
  position: absolute;
  max-width: unset;
  white-space: nowrap;
  margin-left: calc(var(--server-size) / -1 - 20px);
  top: calc(var(--server-size) - 10px);
}
#app-mount [class*=listItemTooltip] [class*=tooltipPointer] {
  transform: rotate(180deg);
  top: -5px;
  right: unset;
  left: 13px;
  z-index: 1;
}
#app-mount .friendsOnline-2JkivW {
  position: absolute;
  transform: translate(-50%, 50%);
  top: calc(-50% + var(--server-spacing));
  left: calc(-50%);
  width: calc(var(--server-size) + var(--server-spacing));
  display: flex;
  justify-content: center;
}

#app-mount .guilds-2JjMmN.content-Pph8t6, #app-mount .BF-folderSidebar {
  position: absolute !important;
  top: calc(var(--server-container) * 2) !important;
}
#app-mount .guilds-2JjMmN.content-Pph8t6:not(.closed-j55_T-) + .base-2jDfDU, #app-mount .BF-folderSidebar:not(.closed-j55_T-) + .base-2jDfDU {
  top: calc(var(--server-container) * 2) !important;
}
#app-mount .guilds-2JjMmN .frame-oXWS21[class*=listItem] {
  height: var(--server-size) !important;
}
#app-mount .guilds-2JjMmN .frame-oXWS21[class*=listItem] .wrapper-3kah-n {
  height: 100% !important;
}
#app-mount .guilds-2JjMmN .frame-oXWS21[class*=listItem] .button-Jt-tIg {
  width: 100%;
  height: 100% !important;
  border-radius: 50%;
  padding: 2px;
  font-size: 10px;
  box-sizing: border-box;
  text-align: center;
}
#app-mount .BF-folderSidebar {
  top: calc(var(--server-container)) !important;
}

html.platform-osx #app-mount .typeMacOS-3V4xXE {
  width: 100%;
}
html.platform-osx #app-mount .base-2jDfDU {
  top: calc(var(--server-container) + 30px) !important;
}
html.platform-osx #app-mount #pluginNotice {
  top: 32px;
  z-index: 100000 !important;
}

body.foldercontentopened .base-2jDfDU {
  transition: 0.2s ease !important;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ HSL                      ║ Bottom                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

body #app-mount .app-3xd6d0 .base-2jDfDU {
  top: 0 !important;
  bottom: var(--server-container) !important;
}
body #app-mount .guilds-2JjMmN {
  top: unset !important;
  left: 100vw;
  bottom: 0 !important;
  transform-origin: bottom left;
}
body #app-mount .guilds-2JjMmN.content-Pph8t6 {
  top: unset !important;
  bottom: var(--server-container) !important;
}
body #app-mount .guilds-2JjMmN.content-Pph8t6:not(.closed-j55_T-) + .base-2jDfDU {
  top: 0 !important;
  bottom: calc(var(--server-container) * 2) !important;
}
body #app-mount .guilds-2JjMmN [class*=pill] {
  top: unset !important;
  bottom: calc((var(--server-size) / -1) + (var(--server-size) / 2) - 8px) !important;
}
body #app-mount .guilds-2JjMmN [class*=pill] span {
  border-radius: 4px 0 0 4px;
}
body #app-mount [class*=listItemTooltip] {
  position: absolute;
  white-space: nowrap;
  top: calc(var(--server-size) / -1 - 30px) !important;
  margin-left: calc(var(--server-size) / -1 - 20px);
}
body #app-mount [class*=listItemTooltip] [class*=tooltipPointer] {
  transform: rotate(0) !important;
  top: unset !important;
  bottom: -10px !important;
}

html.platform-osx #app-mount .base-2jDfDU {
  top: 32px !important;
}