#app-mount .wrapper-1_HaEi {
  background: transparent;
  margin-left: 20px;
  margin-bottom: 30px;
}

.base-2jDfDU {
  margin-top: 20px;
}

.platform-osx #app-mount .wrapper-1_HaEi {
  margin-top: 22px;
}

.base-2jDfDU {
  margin-top: 20px;
}

.platform-win .base-2jDfDU {
  margin-top: 20px;
}

.platform-osx .base-2jDfDU {
  margin-top: 10px;
}

.tutorialContainer-2sGCg9 {
  border-radius: var(--radius-primary);
  background: transparent;
  position: fixed;
  top: 4px;
}

.tutorialContainer-2sGCg9:before {
  background: var(--background-secondary);
  position: fixed;
  content: "";
  border-radius: var(--radius-primary);
  -webkit-backdrop-filter: blur(var(--blur));
          backdrop-filter: blur(var(--blur));
  border: var(--border);
  box-shadow: var(--shadows);
  height: 188px;
  width: 68px;
  margin-top: -4px;
  z-index: -1;
}

.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub,
.wrapper-3kah-n:hover .childWrapper-1j_1ub {
  background: var(--accent-primary);
}

.childWrapper-1j_1ub {
  background: var(--background-primary);
  color: var(--interactive-normal);
  border-radius: 90px;
}

.homeIcon-FuNwkv {
  color: transparent;
  -webkit-mask: url("https://corellanstoma.github.io/CreArts-Discord/assets/icons/theme_home.svg") center no-repeat;
  mask: url("https://corellanstoma.github.io/CreArts-Discord/assets/icons/theme_home.svg") center no-repeat;
  background: var(--interactive-normal);
  width: 60%;
  height: 60%;
  margin-top: 2px;
}

.wrapper-3kah-n.selected-1Drb7Z .homeIcon-FuNwkv {
  background: var(--accent-text-primary);
}

.panels-3wFtMD > .container-YkUktl .flex-3BkGQD .button-12Fmur:nth-last-child(1) {
  background: var(--background-primary);
  position: fixed;
  bottom: 40px !important;
  left: 90px;
  height: 48px;
  width: 48px;
}
.panels-3wFtMD > .container-YkUktl .flex-3BkGQD .button-12Fmur:nth-last-child(1) .contents-3ca1mk {
  transform: scale(1.6);
}

.panels-3wFtMD > .container-YkUktl .flex-3BkGQD .button-12Fmur:nth-last-child(1):hover {
  background: var(--accent-primary);
  color: var(--accent-text-primary);
}

.scroller-3X7KbA > .listItem-GuPuDH:nth-last-child(2) {
  position: fixed !important;
  background: transparent !important;
  top: 120px !important;
}

.circleIconButton-1QV--U {
  border-radius: 90px !important;
}

.circleIconButton-1QV--U.selected-1JjBPm {
  background: var(--accent-primary) !important;
}

.scroller-3X7KbA {
  border-radius: var(--radius-primary);
  background: transparent;
  position: relative;
  margin-top: 333px;
  bottom: 130px;
}

.wrapper-1_HaEi::before {
  background: var(--background-secondary);
  position: fixed;
  content: "";
  border-radius: var(--radius-primary);
  -webkit-backdrop-filter: blur(var(--blur));
          backdrop-filter: blur(var(--blur));
  border: var(--border);
  box-shadow: var(--shadows);
  width: 68px;
  bottom: 20px;
  margin-top: 205px;
  margin-bottom: 110px;
  top: 0;
  left: 20;
}

.guildSeparator-33mFX6 {
  display: none !important;
}

.tutorialContainer-30WoTp {
  background: transparent;
  position: fixed;
  border-radius: var(--radius-primary);
  padding-top: 12px;
  padding-bottom: 4px;
  bottom: 40px;
}

.tutorialContainer-30WoTp::before {
  background: var(--background-secondary);
  position: fixed;
  content: "";
  border-radius: var(--radius-primary);
  -webkit-backdrop-filter: blur(var(--blur));
          backdrop-filter: blur(var(--blur));
  border: var(--border);
  box-shadow: var(--shadows);
  height: 72px;
  width: 68px;
  bottom: 40px;
  z-index: -1;
}

.circleIconButton-1QV--U {
  color: var(--interactive-normal);
  background: var(--background-primary);
}

.circleIconButton-1QV--U.selected-ugP_am svg path {
  fill: var(--interactive-active);
}

.mention-3XBnnZ {
  background: var(--accent-primary);
  opacity: 1;
}

.mention-3XBnnZ:hover {
  background: var(--accent-secondary);
}

.mention-3XBnnZ:active {
  background: var(--accent-tertiary);
}

.unreadMentionsIndicatorTop-2bTgUU .text-2GsXbW {
  color: transparent;
  background: var(--interactive-active);
  -webkit-mask: url("https://corellanstoma.github.io/CreArts-Discord/assets/icons/theme_arrow_up.svg") center no-repeat;
  mask: url("https://corellanstoma.github.io/CreArts-Discord/assets/icons/theme_arrow_up.svg") center no-repeat;
  width: 36%;
  height: 36%;
  margin-bottom: -2px;
}

.unreadMentionsIndicatorTop-2bTgUU {
  top: 220px;
}

.unreadMentionsIndicatorBottom-3RJMnQ .text-2GsXbW {
  color: transparent;
  background: var(--interactive-active);
  -webkit-mask: url("https://corellanstoma.github.io/CreArts-Discord/assets/icons/theme_arrow_down.svg") center no-repeat;
  mask: url("https://corellanstoma.github.io/CreArts-Discord/assets/icons/theme_arrow_down.svg") center no-repeat;
  width: 36%;
  height: 36%;
  margin-bottom: -2px;
}

.unreadMentionsIndicatorBottom-3RJMnQ {
  bottom: 140px;
}

.lowerBadge-3WTshO .base-3IDx3L {
  background: var(--accent-primary) !important;
  color: var(--accent-text-primary);
}

.expandedFolderBackground-1cujaW {
  background: transparent;
}

.scroller-3X7KbA [style="opacity: 1; height: 56px; transform: scale(1);"] {
  position: fixed;
  margin-bottom: -8px;
  margin-top: 8px;
  z-index: 9;
}

.scroller-3X7KbA [style="opacity: 1; height: 56px; transform: scale(1);"] {
  bottom: 52px;
}

.platform-win .scroller-3X7KbA [style="opacity: 1; height: 56px; transform: scale(1);"] {
  bottom: 52px;
}

.platform-osx .scroller-3X7KbA [style="opacity: 1; height: 56px; transform: scale(1);"] {
  bottom: 52px;
}

@media screen and (min-width: 0px) and (max-width: 1200px) {
  .membersWrap-3NUR2t {
    display: none;
  }

  .selected-29KTGM {
    display: none;
  }

  .toolbar-3_r2xA .clickable-ZD7xvu:nth-last-child(4) {
    display: none;
  }
}
@media screen and (min-width: 0px) and (max-width: 1100px) {
  .toolbar-3_r2xA {
    display: none;
  }

  .children-3xh0VB {
    margin-right: 10px;
  }
}
@media screen and (min-width: 0px) and (max-width: 1000px) {
  .sidebar-1tnWFu {
    width: 0px !important;
  }

  .sidebar-1tnWFu {
    padding: 0px !important;
  }

  .chat-2ZfjoI {
    margin-left: 10px;
  }
}
:root {
  --server-size: var(--HSL-server-icon-size, 48px);
  --server-spacing: var(--HSL-server-spacing, 8px);
  --server-container: calc(var(--server-size) + 46px);
}

#app-mount .app-3xd6d0 .base-2jDfDU {
  top: var(--server-container) !important;
  position: absolute !important;
  left: 0 !important;
  right: 0;
  bottom: 0;
}

#app-mount .sidebar-1tnWFu {
  border-radius: 0;
}

#app-mount .guilds-2JjMmN {
  transform-origin: top left;
  transform: rotate(-90deg);
  height: 100vw !important;
  width: var(--server-container);
  top: var(--server-container);
  bottom: unset;
  position: absolute !important;
  left: 0;
}

#app-mount .guilds-2JjMmN .scrollerWrap-1IAIlv {
  width: calc(100% + 30px);
}

#app-mount .guilds-2JjMmN .scrollerBase-_bVAAt {
  padding-top: 0 !important;
}

#app-mount .guilds-2JjMmN .scrollerBase-_bVAAt > div[style]:not(.listItem-2P_4kh) {
  height: auto !important;
}

#app-mount .guilds-2JjMmN .scrollerBase-_bVAAt > div[style]:not(.listItem-2P_4kh)[style*="height: 0px"] {
  padding-top: 1px;
}

#app-mount .guilds-2JjMmN .svg-2zuE5p,
#app-mount .guilds-2JjMmN .wrapper-28eC3z,
#app-mount .guilds-2JjMmN .guildsError-b7zR5H,
#app-mount .guilds-2JjMmN .placeholderMask-3K9THS {
  width: var(--server-size);
  height: var(--server-size);
}

#app-mount .guilds-2JjMmN [role=group] {
  height: auto !important;
}

#app-mount .guilds-2JjMmN [class*=pill] {
  transform: rotate(90deg) translateY(-50%);
  height: var(--server-size);
  width: 4px;
  top: calc(var(--server-size) / -1 + var(--server-size) / 2 - 8px) !important;
  margin-left: -2px;
}

#app-mount .guilds-2JjMmN [class*=pill] span {
  height: 100% !important;
  width: 4px !important;
  transform: scale(0, 1) !important;
  transition: 0.15s ease !important;
  margin-left: 0;
  border-radius: 0 4px 4px 0;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 0"] {
  transform: scale(1, 0.24) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 1"] {
  transform: scale(1, 0.24) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 2"] {
  transform: scale(1, 0.24) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 3"] {
  transform: scale(1, 0.24) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 4"] {
  transform: scale(1, 0.24) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 5"] {
  transform: scale(1, 0.24) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 6"] {
  transform: scale(1, 0.24) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 7"] {
  transform: scale(1, 0.24) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 8"] {
  transform: scale(1, 0.24) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 9"] {
  transform: scale(1, 0.7) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 10"] {
  transform: scale(1, 0.7) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 11"] {
  transform: scale(1, 0.7) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 12"] {
  transform: scale(1, 0.7) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 13"] {
  transform: scale(1, 0.7) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 14"] {
  transform: scale(1, 0.7) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 15"] {
  transform: scale(1, 0.7) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 16"] {
  transform: scale(1, 0.7) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 17"] {
  transform: scale(1, 0.7) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 18"] {
  transform: scale(1, 0.7) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 19"] {
  transform: scale(1, 0.7) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 20"] {
  transform: scale(1, 0.7) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 21"] {
  transform: scale(1, 1) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 22"] {
  transform: scale(1, 1) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 23"] {
  transform: scale(1, 1) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 24"] {
  transform: scale(1, 1) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 25"] {
  transform: scale(1, 1) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 26"] {
  transform: scale(1, 1) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 27"] {
  transform: scale(1, 1) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 28"] {
  transform: scale(1, 1) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 29"] {
  transform: scale(1, 1) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 30"] {
  transform: scale(1, 1) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 31"] {
  transform: scale(1, 1) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 32"] {
  transform: scale(1, 1) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 33"] {
  transform: scale(1, 1) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 34"] {
  transform: scale(1, 1) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 35"] {
  transform: scale(1, 1) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 36"] {
  transform: scale(1, 1) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 37"] {
  transform: scale(1, 1) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 38"] {
  transform: scale(1, 1) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 39"] {
  transform: scale(1, 1) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 40"] {
  transform: scale(1, 1) !important;
}

#app-mount .guilds-2JjMmN .wrapper-z5ab_q {
  height: var(--server-size) !important;
}

#app-mount .guilds-2JjMmN .wrapper-21YSNc,
#app-mount .guilds-2JjMmN .wrapper-3Njo_c {
  width: var(--server-container);
}

#app-mount .guilds-2JjMmN [class*=listItem]:not([class*=listItemWrapper]) {
  width: var(--server-size);
  transform: rotate(90deg);
  margin: var(--server-spacing) 10px;
  position: unset;
}

#app-mount .guilds-2JjMmN [class*=guildSeparator] {
  transform: rotate(90deg);
  width: var(--server-size);
}

#app-mount .guilds-2JjMmN [class*=expandedFolderBackground] {
  width: var(--server-size);
  left: 50%;
  border-radius: 10px;
  transform: translateX(-50%);
}

#app-mount .guilds-2JjMmN .folder-21wGz3 {
  background: transparent;
}

#app-mount [class*=listItemTooltip] {
  position: absolute;
  max-width: unset;
  white-space: nowrap;
  margin-left: calc(var(--server-size) / -1 - 20px);
  top: calc(var(--server-size) - 10px);
}

#app-mount [class*=listItemTooltip] [class*=tooltipPointer] {
  transform: rotate(180deg);
  top: -5px;
  right: unset;
  left: 13px;
  z-index: 1;
}

#app-mount .friendsOnline-2JkivW {
  position: absolute;
  transform: translate(-50%, 50%);
  top: calc(-50% + var(--server-spacing));
  left: calc(-50%);
  width: calc(var(--server-size) + var(--server-spacing));
  display: flex;
  justify-content: center;
}

#app-mount .guilds-2JjMmN.content-Pph8t6, #app-mount .BF-folderSidebar {
  position: absolute !important;
  top: calc(var(--server-container) * 2) !important;
}

#app-mount .guilds-2JjMmN.content-Pph8t6:not(.closed-j55_T-) + .base-2jDfDU, #app-mount .BF-folderSidebar:not(.closed-j55_T-) + .base-2jDfDU {
  top: calc(var(--server-container) * 2) !important;
}

#app-mount .guilds-2JjMmN .frame-oXWS21[class*=listItem] {
  height: var(--server-size) !important;
}

#app-mount .guilds-2JjMmN .frame-oXWS21[class*=listItem] .wrapper-3kah-n {
  height: 100% !important;
}

#app-mount .guilds-2JjMmN .frame-oXWS21[class*=listItem] .button-Jt-tIg {
  width: 100%;
  height: 100% !important;
  border-radius: 50%;
  padding: 2px;
  font-size: 10px;
  box-sizing: border-box;
  text-align: center;
}

#app-mount .BF-folderSidebar {
  top: calc(var(--server-container)) !important;
}

html.platform-osx #app-mount .typeMacOS-3V4xXE {
  width: 100%;
}

html.platform-osx #app-mount .base-2jDfDU {
  top: calc(var(--server-container) + 30px) !important;
}

html.platform-osx #app-mount #pluginNotice {
  top: 32px;
  z-index: 100000 !important;
}

body.foldercontentopened .base-2jDfDU {
  transition: 0.2s ease !important;
}

body #app-mount .app-3xd6d0 .base-2jDfDU {
  top: 0 !important;
  bottom: var(--server-container) !important;
}

body #app-mount .guilds-2JjMmN {
  top: unset !important;
  left: 100vw;
  bottom: 0 !important;
  transform-origin: bottom left;
}

body #app-mount .guilds-2JjMmN.content-Pph8t6 {
  top: unset !important;
  bottom: var(--server-container) !important;
}

body #app-mount .guilds-2JjMmN.content-Pph8t6:not(.closed-j55_T-) + .base-2jDfDU {
  top: 0 !important;
  bottom: calc(var(--server-container) * 2) !important;
}

body #app-mount .guilds-2JjMmN [class*=pill] {
  top: unset !important;
  bottom: calc((var(--server-size) / -1) + (var(--server-size) / 2) - 8px) !important;
}

body #app-mount .guilds-2JjMmN [class*=pill] span {
  border-radius: 4px 0 0 4px;
}

body #app-mount [class*=listItemTooltip] {
  position: absolute;
  white-space: nowrap;
  top: calc(var(--server-size) / -1 - 30px) !important;
  margin-left: calc(var(--server-size) / -1 - 20px);
}

body #app-mount [class*=listItemTooltip] [class*=tooltipPointer] {
  transform: rotate(0) !important;
  top: unset !important;
  bottom: -10px !important;
}

html.platform-osx #app-mount .base-2jDfDU {
  top: 32px !important;
}