// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ User Profile             ║ Base                                                                                    ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.animatorLeft-1EQxU0,
.popoutRight-1veHKi,
.animatorRight-3i_YPs {
  background: var(--background-tertiary);
  border-radius: var(--radius-primary);
  box-shadow: var(--shadows-popout);
  max-height: 60vh;
  overflow: scroll;
}

.headerNormal-1mX3KY {
  background: transparent !important;
  border-radius: var(--radius-primary);
}

// Spacing
.headerTop-2cWpdB {
  padding: 70px 16px 0px;
  border: none;
}

.userPopout-xaxa6l,
.popoutBanner-19WKGg{
  width: var(--profile-width) !important;
}

.body-3HBlXn {
  padding: 0px 16px 0px 16px !important;
}

.bodyInnerWrapper-1NH0NQ {
  padding-right: 0px;
}

// No Protip
.protip-2urNh2 {display: none;}

// No Title
.bodyTitle-3FWCs2 {display: none;}

// No Identity Link
.setIdentityLink-3lcnXW {display: none;}

// No Header Text (Activity
.headerText-1HLrL7 {display: none;}



// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ User Profile             ║ Banner                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Banner
.popoutBanner-19WKGg {
  background-color: var(--accent-primary) !important;
  border-radius: var(--radius-primary);
  height: 124px;
}

// Hover
.bannerOverlay-1uIerX {
  border-radius: var(--radius-primary);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ User Profile             ║ Avatar                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Avatar
.avatarPositionNormal-aZjAsn {
  top: 80px;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ User Profile             ║ Profile Badges                                                                          ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// profile Badges
.profileBadges-3cJaE1 {
  position: absolute;
  top: 12px;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ User Profile             ║ Nickname                                                                                ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Nickname
.headerText-15Q25Z,
.headerTagNoNickname-1VyQza {
  margin-bottom: 12px;
}



// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ User Profile             ║ Identity Link                                                                           ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.setIdentityLink-3lcnXW {
  color: var(--text-normal);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ User Profile             ║ Details                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.user-details-text {
  background: var(--background-secondary);
  border-radius: var(--radius-secondary);
  padding: 12px;
  margin-bottom: 12px;
  width: auto;
}

// Title
.user-details-text::before {
  display: flex;
  color: var(--accent-text-secondary);
  text-transform: uppercase;
  content: 'Details';
  position: relative;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Quicksand';
  width: 100%;
  top: 0px;
  margin-bottom: 12px;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ User Profile             ║ Status                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.customStatus-oN4ZZY {
  background: var(--background-secondary);
  border-radius: var(--radius-secondary);
  padding: 12px;
  margin-bottom: 12px;
  width: auto;
}

// Title
.customStatus-oN4ZZY::before {
  display: flex;
  color: var(--accent-text-secondary);
  text-transform: uppercase;
  content: 'Status';
  position: relative;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Quicksand';
  width: 100%;
  top: 0px;
  margin-bottom: 12px;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ User Profile             ║ Activity                                                                                ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.activity-3v9l4T {
  background: var(--background-secondary);
  border-radius: var(--radius-secondary);
  padding: 12px;
  margin: 0px 16px 12px 16px;
  width: auto;
}

// Title
.activity-3v9l4T::before {
  display: flex;
  color: var(--accent-text-secondary);
  text-transform: uppercase;
  content: 'Activity';
  position: relative;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Quicksand';
  width: 100%;
  top: 0px;
  margin-bottom: 12px;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ User Profile             ║ Roles                                                                                   ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.rolesList-TyGJiZ {
  background: var(--background-secondary);
  border-radius: var(--radius-secondary);
  padding: 12px;
  margin-bottom: 0px;
  margin-top: 0px;
  width: auto;
}

.endBodySection-ypd-38{
  margin-bottom: 12px !important;
}

// Title
.rolesList-TyGJiZ::before {
  display: flex;
  color: var(--accent-text-secondary);
  text-transform: uppercase;
  content: 'Roles';
  position: relative;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Quicksand';
  width: 100%;
  top: 0px;
  margin-bottom: 12px;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ User Profile             ║ Note                                                                                    ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.note-1MiCN7 {
  background: var(--background-secondary);
  border-radius: var(--radius-secondary);
  padding: 12px;
  margin-bottom: 12px;
  width: auto;
  margin-left: 0px;
}

// Title
.note-1MiCN7::before {
  display: flex;
  color: var(--accent-text-secondary);
  text-transform: uppercase;
  content: 'Note';
  position: relative;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Quicksand';
  width: 100%;
  top: 0px;
  margin-bottom: 12px;
}

// Text Input
.note-1MiCN7 .input-cIJ7To {
  border-radius: 0px;
}

// Background
.note-1MiCN7 .input-cIJ7To:focus {
  background: transparent;
}

.note-1MiCN7 .textarea-2r0oV8 {
  text-align: var(--text-align);
  word-break: break-word;
  text-align-last: left;
  max-height: 120px !important;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ User Profile             ║ Pronouns                                                                                ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.animatorLeft-1EQxU0 .marginBottom8-AtZOdT,
.popoutRight-1veHKi .marginBottom8-AtZOdT,
.animatorRight-3i_YPs .marginBottom8-AtZOdT {
  background: var(--background-secondary);
  border-radius: var(--radius-secondary);
  padding: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
}

// Title
.animatorLeft-1EQxU0 .marginBottom8-AtZOdT::before,
.popoutRight-1veHKi .marginBottom8-AtZOdT::before,
.animatorRight-3i_YPs .marginBottom8-AtZOdT::before {
  display: flex;
  color: var(--accent-text-secondary);
  text-transform: uppercase;
  content: 'Pronouns';
  position: relative;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Quicksand';
  width: 100%;
  top: 0px;
  margin-bottom: 12px;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ User Profile             ║ Input                                                                                   ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.input-2_SIlA {
  border-radius: var(--radius-secondary);
  background: var(--background-secondary);
}