/*
#status-picker .scrollerBase-_bVAAt {
  display: grid;
}

#status-picker
  > div
  > *:not(#status-picker-online, #status-picker-idle, #status-picker-dnd, #status-picker-invisible) {
  grid-column: 1/5;
}

#status-picker
  .item-1OdjEX:not(#status-picker-custom-status, #status-picker-switch-account)
  .status-3TYC5W {
  display: none;
}
#status-picker .description-3Cwkxk {
  display: none;
}
#status-picker .separator-1So4YB {
  display: none;
}

#status-picker .status-3TYC5W {
  margin-left: 8px;
}

#status-picker .customEmojiPlaceholder-3mRJqA,
#status-picker .switchAccountsIcon-36imMT {
  margin-left: 1px;
}

#status-picker .mask-2Me5HY {
  height: 78%;
  width: 78%;
  margin-left: 3px;
}

#status-picker-online,
#status-picker-idle,
#status-picker-dnd {
  margin-right: 20px;
}

#status-picker-online .statusItem-2hiCNB,
#status-picker-idle .statusItem-2hiCNB,
#status-picker-dnd .statusItem-2hiCNB,
#status-picker-invisible .statusItem-2hiCNB {
  padding: 8px 8px;
}

#status-picker-custom-status .statusItem-2hiCNB {
  padding: 6px 8px;
}

#status-picker .customEmojiPlaceholder-3mRJqA {
  background-image: none;
  background-color: var(--interactive-normal);
  mask: var(--icon) center/contain no-repeat;
  -webkit-mask: var(--icon) center/contain no-repeat;
  width: 22px;
  height: 22px;
  --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Crect fill='none' height='24' width='24'/%3E%3Cpath d='M11.99,2C6.47,2,2,6.48,2,12s4.47,10,9.99,10C17.52,22,22,17.52,22,12S17.52,2,11.99,2z M8.5,8C9.33,8,10,8.67,10,9.5 S9.33,11,8.5,11S7,10.33,7,9.5S7.67,8,8.5,8z M16.75,14.75C15.8,16.39,14.03,17.5,12,17.5s-3.8-1.11-4.75-2.75 C7.06,14.42,7.31,14,7.69,14h8.62C16.7,14,16.94,14.42,16.75,14.75z M15.5,11c-0.83,0-1.5-0.67-1.5-1.5S14.67,8,15.5,8 S17,8.67,17,9.5S16.33,11,15.5,11z'/%3E%3C/svg%3E");
}

#status-picker
  .colorDefault-CDqZdO.focused-3qFvc8.customEmojiPlaceholder-3mRJqA {
  background: var(--interactive-active);
}

#status-picker .switchAccountsIcon-36imMT {
  background-image: none;
  background-color: var(--interactive-normal);
  mask: var(--icon) center/contain no-repeat;
  -webkit-mask: var(--icon) center/contain no-repeat;
  width: 22px;
  height: 22px;
  --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cg%3E%3Crect fill='none' height='24' width='24'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M17,20H4V7c0-0.55-0.45-1-1-1S2,6.45,2,7v13c0,1.1,0.9,2,2,2h13c0.55,0,1-0.45,1-1S17.55,20,17,20z M20,2H8 C6.9,2,6,2.9,6,4v12c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2V4C22,2.9,21.1,2,20,2z M14,5c1.66,0,3,1.34,3,3c0,1.66-1.34,3-3,3 s-3-1.34-3-3C11,6.34,12.34,5,14,5z M7.76,16c1.47-1.83,3.71-3,6.24-3s4.77,1.17,6.24,3H7.76z'/%3E%3C/g%3E%3C/svg%3E");
}

#status-picker .colorDefault-CDqZdO.focused-3qFvc8.switchAccountsIcon-36imMT {
  background: var(--interactive-active);
}

#status-picker-custom-status,
#status-picker-switch-account,
#status-picker-switch-account--manage-accounts {
  margin-top: 12px !important;
}

#status-picker-custom-status::after {
  content: "";
  background: var(--background-modifier-accent);
  position: absolute;
  top: -6px;
  left: 2px;
  width: 98%;
  height: 1px;
}

#status-picker-switch-account::after {
  content: "";
  background: var(--background-modifier-accent);
  position: absolute;
  top: -6px;
  left: 2px;
  width: 98%;
  height: 1px;
}

#status-picker-switch-account--manage-accounts::after {
  content: "";
  background: var(--background-modifier-accent);
  position: absolute;
  top: -7px;
  left: 2px;
  width: 98%;
  height: 1px;
}

#status-picker-dnd::after,
#status-picker-idle::after,
#status-picker-online::after {
  content: "";
  background: var(--background-modifier-accent);
  position: absolute;
  top: 6px;
  left: 50px;
  width: 1px;
  height: 24px;
}
*/
