/* ╔════════════════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ CreArts                                                                                                            ║ */
/* ╠══════════════════════════╦═════════════════════════════════════════════════════════════════════════════════════════╣ */
/* ║ Skin:                    ║ Template Edition                                                                        ║ */
/* ║ Author:                  ║ CorellanStoma#1996                                                                      ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ General                  ║ Here you can make general adjustments.                                                  ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

:root {
  /* Info */
  --SKIN-skin: "Template Edition" !important;
  --SKIN-author: "CorellanStoma" !important;
  
  /* Wallpaper */
  --SKIN-wallpaper: url("") !important;
  --SKIN-wallpaper-opacity: 1.0 !important;
  
  /* Fonts */
  --SKIN-titlebar-font: "Segoe UI" !important;
  --SKIN-primary-font: "CreArts" !important;
  --SKIN-display-font: "CreArts" !important;
  --SKIN-code-font: "Consolas" !important;

  /* Opacity */
  --SKIN-opacity-titlebar-wordmark: 1.0 !important;
  --SKIN-opacity-titlebar-title: 1.0 !important;
  --SKIN-opacity-titlebar-buttons: 1.0 !important;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Shape                    ║ Here you can make general adjustments.                                                  ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

:root {
  /* Info */
  --SKIN-info-shape: "(Wide Squircle)" !important;

  /* Radius */
  --SKIN-radius-primary: 18px !important;
  --SKIN-radius-secondary: 12px !important;
  --SKIN-radius-tertiary: 6px !important;
  
  /* Layout */
  --SKIN-layout-margin: 20px !important;
  --SKIN-layout-margin-top: 20px !important;
  --SKIN-layout-margin-left: 20px !important;
  --SKIN-layout-margin-right: 20px !important;
  --SKIN-layout-margin-bottom: 20px !important;
  
  /* Inner */
  --SKIN-inner-primary: 8px !important;
  --SKIN-inner-secondary: 12px !important;
  --SKIN-inner-tertiary: 16px !important;
  
  /* Width */
  --SKIN-width-channel: 260px !important;
  --SKIN-width-members: 240px !important;
  
  /* Height */
  --SKIN-height-titlebar: 12px !important;
  --SKIN-height-header: 44px !important;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Palette                  ║ Here you can make general adjustments.                                                  ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

.theme-dark {
/* Lightness */
--SKIN-lightness: 0% !important;

/* Grading */
--SKIN-grading-0: 0% !important;
--SKIN-grading-1: 3% !important;
--SKIN-grading-2: 6% !important;
--SKIN-grading-3: 9% !important;

/* Interactive (HSLA) */
--SKIN-interactive-h: 195 !important;
--SKIN-interactive-s: 12% !important;
--SKIN-interactive-l: 55% !important;
--SKIN-interactive-a: 1.0 !important;

/* Background (HSLA) */
--SKIN-background-h: 194 !important;
--SKIN-background-s: 23% !important;
--SKIN-background-l: 21% !important;
--SKIN-background-a: 1.0 !important;

/* Accent (HSLA) */
--SKIN-accent-h: 163 !important;
--SKIN-accent-s: 56% !important;
--SKIN-accent-l: 41% !important;
--SKIN-accent-a: 1.0 !important;

/* Green (HSLA) */
--SKIN-green-h: 153 !important;
--SKIN-green-s: 46% !important;
--SKIN-green-l: 49% !important;
--SKIN-green-a: 1.0 !important;

/* Yellow (HSLA) */
--SKIN-yellow-h: 38 !important;
--SKIN-yellow-s: 96% !important;
--SKIN-yellow-l: 54% !important;
--SKIN-yellow-a: 1.0 !important;

/* Red (HSLA) */
--SKIN-red-h: 0 !important;
--SKIN-red-s: 85% !important;
--SKIN-red-l: 61% !important;
--SKIN-red-a: 1.0 !important;

/* Purple (HSLA) */
--SKIN-purple-h: 262 !important;
--SKIN-purple-s: 47% !important;
--SKIN-purple-l: 40% !important;
--SKIN-purple-a: 1.0 !important;
}