// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Explore                  ║ Base                                                                                    ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝
/*
.discoverHeader-Ijkm_M {
    opacity: 0;
    height: 0px;
    margin: 16px 0px 0px 0px;
}
*/