
// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Pages                    ║ My Account                                                                              ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Avatar
.accountProfileCard-lbN7n- .avatar-3mTjvZ {
    background: var(--background-primary);
    border-color: var(--background-primary);
    top: 136px
}

// Banner
.accountProfileCard-lbN7n- .settingsBanner-1eDJ5w {
    background-position: top;
    height: 160px;
}

// Background
.accountProfileCard-lbN7n-,
.accountProfileCard-lbN7n- .fieldList-in8WkP,
.accountProfileCard-lbN7n- .background-3d_SjE {
    background: transparent;
}

.accountProfileCard-lbN7n- .userInfo-regn9W {
    background: var(--background-primary);
    border-radius: 0px 0px var(--radius-primary) var(--radius-primary);
    padding-bottom: 36px !important;
    height: 80px;
}

// Spacing
.accountProfileCard-lbN7n- .background-3d_SjE {
    padding: 0px;
    margin: 24px 0px 0px 0px;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Pages                    ║ Fields                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝


// Background
.accountProfileCard-lbN7n- .field-21XZwa {
  background: var(--background-primary);
  border-radius: var(--secondary-radius);
  padding: 12px;
  height: 60px;
}

// Spacing
.accountProfileCard-lbN7n- .fieldButton-14lHvK {
    width: 90px;
}

// Remove Button
.accountProfileCard-lbN7n- .removeButton-v6eolJ {
    background: var(--red-primary);
}

// No Divider (Settings)
.divider-_0um2u {
    opacity: 0;
}