// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Announcement             ║ Share with followers                                                                    ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.container-2nXavw {
    background: var(--accent-primary);
    border-radius: var(--radius-primary);
    width: 100%;
  }
  
  .container-2nXavw:hover {
    background: var(--accent-secondary);
  }
  
  .container-2nXavw .bumpBox-1r5p3c {
    background: transparent;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 12px;
    padding-right: 12px;
  }
  
  .container-2nXavw .contents-18-Yxp {
  text-decoration: none !important;
  }
  
  .container-2nXavw .icon-ek0zSM,
  .container-2nXavw .base-1x0h_U,
  .container-2nXavw .lookLink-9FtZy- {
    color: var(--accent-text-primary);
  }
  