// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Announcement             ║ Share with followers                                                                    ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.container-LxpXNv {
    background: var(--accent-primary);
    border-radius: var(--radius-primary);
    width: 100%;
  }
  
  .container-LxpXNv:hover {
    background: var(--accent-secondary);
  }
  
  .container-LxpXNv .bumpBox-1Pp4td {
    background: transparent;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 12px;
    padding-right: 12px;
  }
  
  .container-LxpXNv .contents-3ca1mk {
  text-decoration: none !important;
  }
  
  .container-LxpXNv .icon-3N9zCW,
  .container-LxpXNv .base-21yXnu,
  .container-LxpXNv .lookLink-15mFoz {
    color: var(--accent-text-primary);
  }
  