// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ Background                                                                        ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.chatContent-3KubbW {
    background: var(--background-secondary);
    border-radius: var(--radius-primary);
    border: var(--border);
    backdrop-filter: blur(var(--blur));
    box-shadow: var(--shadows);
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ Spacing                                                                           ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.messagesWrapper-RpOMA3 {
    margin-right: 0px;
    margin-left: 0px;
}

.scrollerSpacer-3AqkT9 {
    height: 12px;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ No Divider                                                                        ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// No Divider (Dark)
.theme-dark .form-3gdLxP:before {
    display: none;
}

// No Divider (Light)
.theme-light .form-3gdLxP:before {
    display: none;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════════════════╗
// ║ Chat               ║ Input                                                                             ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.scrollableContainer-15eg7h {
    background: var(--background-tertiary);
    border-radius: var(--radius-primary);
    backdrop-filter: var(--blur);
    box-shadow: var(--shadows);
    z-index: 90;
    bottom: 0px;
}

.channelTextArea-1FufC0 {
    background: transparent;
    margin-bottom: 0px;
}

.form-3gdLxP {
    padding: 0px;
}

.sansAttachButton-1ERHue {
    padding-left: 26px;
    padding-right: 0px;
}

.chat-2ZfjoI .content-1jQy2l .chatContent-3KubbW .messagesWrapper-RpOMA3, .chat-2ZfjoI .content-1jQy2l .chatContent-3KubbW .scroller-kQBbkU {
    margin-bottom: 4px;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Addons             ║ Error                                                                             ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝


.theme-dark .characterCount-8yNPfb,
.theme-light .characterCount-8yNPfb {
    color: var(--text-normal) !important;
}
// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Addons             ║ Hover Button                                                                      ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.attachButton-_ACFSu {
    padding: 0px 0px 0px 8px;
}

.buttonWrapper-3YFQGJ {
    margin-bottom: -3px;
}
    
// Emoji Button (Input)
.chatContent-3KubbW .emojiButton-3FRTuj .contents-3ca1mk {
    background: var(--interactive-normal);
    -webkit-mask: url('https://corellanstoma.github.io/CreArts-Discord/assets/icons/theme_emoji.svg') center no-repeat;
    mask: url('https://corellanstoma.github.io/CreArts-Discord/assets/icons/theme_emoji.svg') center no-repeat;
    height: 20px;
    width: 20px;
    margin-bottom: 0px;
}

.chatContent-3KubbW .emojiButton-3FRTuj:hover .contents-3ca1mk {
    background: var(--interactive-hover);
}

.chatContent-3KubbW .sprite-2lxwfc {
    opacity: 0.0;
}

// Upload Button
.attachWrapper-3slhXI {
    order: 1;
    margin-left: 9px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 0px;
}


// Hover
.channelTextArea-1FufC0 .buttons-uaqb-5 {
    border-radius: var(--radius-primary);
    opacity: 0.0;
}

.channelTextArea-1FufC0:hover .buttons-uaqb-5 {
    border-radius: var(--radius-primary);
    opacity: 1.0;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ Reply                                                                             ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.text-1pxItg, .colorBrand-21Le_q, .colorMuted-20987_, .closeButton-3IEry2 {color: var(--accent-text-primary);}

.name-3DDHNY { color: var(--accent-text-primary) !important;}

.replyBar-1oi75v {
    background: var(--accent-primary);
    border-radius: var(--radius-primary);
    margin-bottom: 12px;
    margin-left: 20px;
    margin-right: 20px;

}

.replyBar-1oi75v:hover {
    background: var(--accent-secondary);
}

.container-A2jo65:active {
    background: var(--accent-tertiary);
}

.separator-8ngZ3p {
    width: 2px;
    background: var(--accent-text-primary);
}

// Cooldown
.cooldownWrapper-2k1jHK {
    color: white !important;
}

// Slowmode
.slowModeIcon-35Psjn {
color: white;
}

// Separator
.separator-8ngZ3p {
    display: none;
}

// Mention
.mentionButton-3C5YMI, .closeButton-3IEry2 {
    padding: 3px 10px;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ Typing                                                                            ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.form-3gdLxP {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
}

.typing-2J1mQU, .base-3bcbY3 {
    background: var(--accent-primary);
    border-radius: var(--radius-primary);
    position: relative;
    margin-bottom: 12px;

    left: 0;
    margin-left: 20px;
    margin-right: 20px;

    padding-left: 10px;
    padding-right: 10px;
    z-index: 2;
}

.typing-2J1mQU:hover, .base-3bcbY3:hover {
    background: var(--accent-secondary);
}

.dots-1BwzZQ.themed-3T-OPr, .base-3bcbY3 .text-3S7XCz {
    color: var(--accent-text-primary);
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ Jump to Present                                                                   ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.jumpToPresentBar-1cEnH0 {
    visibility: hidden;
    bottom: 10px;
    margin-right: -2px;
}

.jumpToPresentBar-1cEnH0 .barButtonIcon-bMvzp2 {
    background: var(--accent-primary);
    position: relative;
    transform: scale(1.5);
    visibility: visible;
    padding: 4px;
    border-radius: 90px;
    margin: 0px;
}

.barButtonIcon-bMvzp2:hover {background: var(--accent-secondary);}
.barButtonIcon-bMvzp2:active {background: var(--accent-tertiary);}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ New Message Bar                                                                   ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.newMessagesBar-1hF-9G {
    background: var(--accent-primary);
    border-radius: var(--radius-primary);
    margin-top: 12px;
}

.newMessagesBar-1hF-9G:hover {
    background: var(--accent-secondary);
}

.newMessagesBar-1hF-9G:active {
    background: var(--accent-tertiary);
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ Emoji Drawer                                                                      ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.drawerSizingWrapper-1txdWG {
    position: absolute;
    height: calc(100vh / 2.2);
    bottom: 0px;
    right: 0;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ Hover Highlight                                                                   ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.message-2CShn3.selected-2LX7Jy, .mouse-mode.full-motion .message-2CShn3:hover {
    border-radius: var(--radius-secondary);
  }

.chat-2ZfjoI .content-1jQy2l .chatContent-3KubbW .messagesWrapper-RpOMA3,
.chat-2ZfjoI .content-1jQy2l .chatContent-3KubbW .scroller-kQBbkU {
    border-radius: var(--radius-primary) var(--radius-primary) 0 0;
}


// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ Embeds                                                                            ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.embedFull-1HGV2S {
    background: var(--background-tertiary);
    border-top-right-radius: var(--radius-primary);
	border-bottom-right-radius: var(--radius-primary);
    border-left: 6px solid var(--accent-primary);
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ Downloads                                                                         ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.attachment-1PZZB2 {
    border: none;
    background-color: var(--background-tertiary);
	border-radius: var(--radius-secondary);
}



// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ Media                                                                             ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝


// Image
.wrapper-1FP9YQ {
    border-radius: var(--radius-secondary);
}

// Video
.imageWrapper-oMkQl4 {
    border-radius: var(--radius-secondary);
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ Mention                                                                           ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Mention Line
.ephemeral-2nDdnn:before, .mentioned-Tre-dv:before, .replying-eZ7p5z:before {
    width: 4px;
    left: 0px;
    border-radius: var(--radius-secondary) 0 0 var(--radius-secondary);
    background: var(--accent-primary) !important;
}

// Mention Background
.mentioned-Tre-dv {
    background-color: var(--background-mentioned);
    border-radius: var(--radius-secondary);
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ Mention                                                                           ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Mention (Normal)
.theme-light .wrapper-1ZcZW-,
.theme-dark .wrapper-1ZcZW- {
    color: var(--text-normal);
    background: var(--accent-active);
    border-radius: var(--radius-mention);
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none !important;
}

.theme-light .wrapper-1ZcZW-:hover,
.theme-dark .wrapper-1ZcZW-:hover {
    color: var(--text-normal);
    background: var(--accent-hover);
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ Reaction (Active)                                                                 ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝


// Background
.reaction-2A2y9y.reactionMe-3I9gFK {
    background: var(--accent-active);
    border: none;
    box-shadow: 0 0 0 0.8px var(--accent-primary);
}

.reaction-2A2y9y.reactionMe-3I9gFK:hover {
    background: var(--accent-hover);
    border: none;
    box-shadow: 0 0 0 0.8px var(--accent-primary);
}

// Reaction
.reaction-2A2y9y {
    background: var(--background-tertiary);
    border-radius: var(--radius-reaction);
}

// Emoji
.reaction-2A2y9y .emoji {
    width: 1.2rem;
    height: 1.2rem;
}

// Text
.reactionMe-3I9gFK .reactionCount-1zkLcN {color: var(--interactive-normal);}
.reactionMe-3I9gFK:hover .reactionCount-1zkLcN {color: var(--interactive-hover);}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ Selection                                                                         ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

::selection {
    color: var(--selection-text);
    background: var(--selection-background);
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ Quotes                                                                            ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝


// Background
.blockquoteContainer-3VtvI1 blockquote {
    background: var(--background-secondary);
    border-radius: 0 var(--radius-secondary) var(--radius-secondary) 0;
    padding: 6px 16px 6px 12px;
    margin-top: 4px;
    margin-bottom: 4px;
}
    
// line
.blockquoteContainer-3VtvI1 .blockquoteDivider-363utW {
    background: var(--accent-primary);
    border-radius: 6px 0px 0px 6px;
    width: 6px;
    margin-top: 4px;
    margin-bottom: 4px;
}


// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ Edit Message                                                                      ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.contents-2MsGLg .operations-3q3u6E>a {
    color:  var(--accent-primary);
    font-size: 12px !important;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ Follow Channel                                                                    ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.wrapper-2SplAX {
    background: var(--background-tertiary);
    border-radius: var(--radius-primary);
    margin-bottom: 0px;
    height: 40px;
    padding: 0px;
}

// Image
.image-3FliiM {
    height: 40px;
    margin-right: 12px;
    margin-bottom: -8px;
    -ms-flex-item-align: end;
    align-self: flex-end;
    width: 22px;
}

// Text
.base-21yXnu {
    font-weight: 400;
    color: var(--text-normal);
}

.size16-rrJ6ag {
    font-size: 14px;
    line-height: 14px;
}

// Button
.theme-dark .lookFilled-yCfaCM.colorPrimary-2AuQVo,
.theme-light .lookFilled-yCfaCM.colorPrimary-2AuQVo {
  color: var(--interactive-active);
  background: var(--accent-primary);
  border-radius: var(--radius-button);
}

.theme-dark .lookFilled-yCfaCM.colorPrimary-2AuQVo:hover,
.theme-light .lookFilled-yCfaCM.colorPrimary-2AuQVo:hover {
  background: var(--accent-secondary);
}

.theme-dark .lookFilled-yCfaCM.colorPrimary-2AuQVo:active,
.theme-light .lookFilled-yCfaCM.colorPrimary-2AuQVo:active {
  background: var(--accent-secondary);
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Text               ║ NSFW                                                                              ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.scroller-3KyaqJ {
  margin-right: 10px !important;
}

.gatedContent-31-gID {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Text               ║ Private Chat                                                                      ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.username-h_Y3Us {color: var(--accent-primary);}
.username-h_Y3Us:hover {
    color: var(--accent-secondary);
    text-decoration: none !important;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Text               ║ Unread                                                                            ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.isUnread-3Lojb- {
  border-color: var(--accent-primary);
}
  
.unreadPillCapStroke-1nE1Q8 {
  color: var(--accent-primary) !important;
  fill: var(--accent-primary) !important;
}

.unreadPill-3nEWYM {
  background-color: var(--accent-primary);
  border-radius: 0 var(--radius-tertiary)var(--radius-tertiary) 0 ;
  padding-left: 4px;
  padding-right: 6px;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Text               ║ Timestamp                                                                         ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.timestamp-p1Df1m {
  color: var(--text-muted) !important;
}
  
// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Text               ║ Pronouns                                                                          ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.pronoundb-pronouns {
  font-size: 0px !important;
  color: var(--text-muted) !important;
}
  
.pronoundb-pronouns span {
  font-size: 14px !important;
}


// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ Autocomplete                                                                      ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝
