// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Threads            ║                                                                                   ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// background
.threadSidebar-1o3BTy {
    background: var(--background-secondary);
    border-radius: var(--radius-primary);
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
  
  // Input
  .threadSidebar-1o3BTy .sansAttachButton-1ERHue {
    padding-bottom: 0px;
  }
  
  .form-3uUEen {
    padding: 0px;
  }
  
  .channelTextArea-2ZBawt {
    background: transparent;
    margin: 0px;
  }

  .appMount-2yBXZl, body {
    background: var(--background-primary);
}