// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Voice              ║ Base                                                                              ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.noChat-2UYgeE {
    background: Black;
  }
  
  .noChat-2UYgeE .children-3xh0VB {
    background: transparent;
  }
  
  
  
  .noChat-2UYgeE  .toolbar-3_r2xA {
  background: transparent;
  }
  .noChat-2UYgeE  .overlayTitle-2efoIF {
    border-radius: var(--radius-primary);
  }
  
  
  .noChat-2UYgeE .gradientTop-1UBZHm,
  .noChat-2UYgeE .gradientBottom-uB_-4E {
    display: none;
  }

.noChat-2UYgeE .root-1Emen5 {
  background-color: #000000bd;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}







.content-3u3YYB .wrapper-1VLyxH::after {
  z-index: -1;
  content:'';
  position: absolute;
  top: -20px;
  left: -20px;
  width: 900px;
  height: 170px;
  opacity: 1;
  background: var(--user-background) center/cover no-repeat;
  background-color: var(--background-primary);
  filter: brightness(60%) blur(0px);
}