// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Boost              ║ General                                                                           ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.theme-dark .perksModal-fSYqOq {
background-color: transparent;
}


.theme-dark .tierHeaderUnlocked-1n-OTI,
.theme-light .tierHeaderUnlocked-1n-OTI {
  background: var(--accent-primary);
}

.tierMarkerAccomplished-2MiXeg {
    background: var(--accent-secondary) !important;
}

.tierMarkerBackground-3q29am {
    background: var(--background-secondary) !important;
}

.barBackground-2EEiLw {
    background: var(--background-secondary) !important;
}

.barForeground-3KglC8 {
    background: var(--accent-secondary) !important;
    z-index: 1;
}

.tierMarker-5HkGJ_ { z-index: 1;}