// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Addons             ║ No Scrollbars                                                                     ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

::-webkit-scrollbar { display: none !important;}

.note-1MiCN7 { margin-right: 0; }
.content-1x5b-n { margin: 0 !important; border-radius: 0; }
.mainContent-u_9PKf { padding-left: 8px;}
.member-3-YXUe, [id*="private-channels-"] { margin: 0; max-width: unset; }
.layout-2DM8Md { border-radius: 0; padding: 0 16px;}
.unread-2lAfLh { z-index: 1;}.content-1LAB8Z, .item-1tOPte { margin-right: 8px;}
.scroller-2hZ97C { padding-left: 0;}.scroller-2hZ97C > .content-3YMskv,
.buttons-3JBrkn, .messagesPopout-24nkyi { padding-right: 10px !important; }
.inviteRow-2L02ae {border-radius: 0; padding-left: 15px;}
.sidebar-CFHs9e { padding-right : 0; margin: 0 40px 0 20px;}

.featuresHeader-4YwLcc { margin-left: 95px;}
.userSettingsVoice-iwdUCU, .container-3PXSwK { width: auto !important;}
.menu-3sdvDG .layer-v9HyYc { margin-left: -8px;}
