// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Channels           ║ Background                                                                        ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.container-3w7J-x{
    border-radius: var(--radius-primary);
    background: transparent;
    position: relative;
}

// Blur
.sidebar-2K8pFh .thin-1ybCId {
    background: var(--background-secondary);
    border-radius: var(--radius-primary);
    position: relative;
    content: "";
    border: var(--border);
    backdrop-filter: blur(var(--blur));
    box-shadow: var(--shadows);
    
    height:100%;
    width: var(--channel-width);
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Channels           ║ Spacing                                                                           ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.sidebar-2K8pFh .thin-1ybCId {
    padding: 0px 8px 0px 8px !important;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Channels           ║ Header                                                                            ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.container-1taM1r {
    background: var(--background-secondary);
    border-radius: var(--radius-primary);
    height: 40px;
    backdrop-filter: blur(var(--blur));
    box-shadow: var(--shadows);
    border: var(--border);
    z-index: 2;
    margin-bottom: 20px;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Channels           ║ Mobile Menu                                                                       ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.button-1w5pas path {display: none;}
.button-1w5pas.open-1Te94t {transform: none;}

.theme-dark .button-1w5pas,
.theme-light .button-1w5pas {
    -webkit-mask: url('https://corellanstoma.github.io/CreArts/assets/icons/theme_menu.svg') center no-repeat;
    mask: url('https://corellanstoma.github.io/CreArts/assets/icons/theme_menu.svg') center no-repeat;
    background: var(--interactive-active);
    position: relative;
    opacity: 1;
    margin-bottom: 8px;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Channels           ║ Nitro                                                                             ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.childContainer-1wxZNh {display: none;}

// Flower
.flowerStar-1GeTsn {display: none;}

// Guild Tier None
.iconBackgroundTierNone-3ZkOsa {
    background: var(--interactive-active);
    -webkit-mask: url('https://corellanstoma.github.io/CreArts/assets/icons/theme_nitro_none.svg') center no-repeat;
    mask: url('https://corellanstoma.github.io/CreArts/assets/icons/theme_nitro_none.svg') center no-repeat;
}

// Guild Tier I
.iconBackgroundTierOne-2OQMBY {
    background: var(--interactive-active);
    -webkit-mask: url('https://corellanstoma.github.io/CreArts/assets/icons/theme_nitro.svg') center no-repeat;
    mask: url('https://corellanstoma.github.io/CreArts/assets/icons/theme_nitro.svg') center no-repeat;
}

// Guild Tier II
.iconBackgroundTierTwo-Eab9L6 {
    background: var(--interactive-active);
    -webkit-mask: url('https://corellanstoma.github.io/CreArts/assets/icons/theme_nitro.svg') center no-repeat;
    mask: url('https://corellanstoma.github.io/CreArts/assets/icons/theme_nitro.svg') center no-repeat;
}

// Guild Tier III
.iconBackgroundTierThree-FWlUL9 {
    background: var(--interactive-active);
    -webkit-mask: url('https://corellanstoma.github.io/CreArts/assets/icons/theme_nitro.svg') center no-repeat;
    mask: url('https://corellanstoma.github.io/CreArts/assets/icons/theme_nitro.svg') center no-repeat;
}

// Partner
.guildBadge-3IDi4U {
    background: var(--interactive-active);
    -webkit-mask: url('https://corellanstoma.github.io/CreArts/assets/icons/theme_partner.svg') center no-repeat;
    mask: url('https://corellanstoma.github.io/CreArts/assets/icons/theme_partner.svg') center no-repeat;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Channels           ║ Text                                                                              ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Header
.name-1jkAdW, .tierTooltipTitle-3AtaZT {
    font-weight: 400;
    color: var(--interactive-normal);
}

.name-1jkAdW {
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-bottom: 2px;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Channels           ║ Notice                                                                            ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.channelNotice-2bJINM {
    margin-left: 0px;
    margin-right: 0px;
    padding: 20px;
    border-radius: var(--radius-primary);
    background: var(--background-secondary);
    margin-top: 0px;
    margin-bottom: 20px;
    border: none;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Channels           ║ Server Banner                                                                     ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.animatedContainer-1NSq4T {
    background:transparent;
    overflow: hidden;
    width: var(--channel-width);
    box-shadow: none;
    border-radius: var(--radius-primary);
    z-index: 2;
    top: -2px;
}

.bannerImage-3KhIJ6{
    width: var(--channel-width);
    height: 100%;
    z-index: 1;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Channels           ║ Selector                                                                          ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.wrapper-2jXpOf .content-1x5b-n {
    border-radius: var(--radius-primary);
}

// Icon
.wrapper-2jXpOf:hover .icon-1DeIlz  {
    color: var(--accent-text-primary);
}

// Text
.wrapper-2jXpOf:hover .channelName-2YrOjO  {
    color: var(--accent-text-primary);
}

// Action
.wrapper-2jXpOf:hover .actionIcon-PgcMM2 {
    color: var(--accent-text-primary);
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Channels           ║ Selector (Selected)                                                               ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.wrapper-2jXpOf.modeSelected-346R90 .content-1x5b-n {
    background: var(--accent-primary);
    border-radius: var(--radius-primary);
}

.wrapper-2jXpOf.modeSelected-346R90:hover .content-1x5b-n {
    background: var(--accent-secondary);
    border-radius: var(--radius-primary);
}

// Icon
.wrapper-2jXpOf.modeSelected-346R90 .icon-1DeIlz,
.wrapper-2jXpOf.modeSelected-346R90:hover .icon-1DeIlz  {
    color: var(--accent-text-primary);
}

// Text
.wrapper-2jXpOf.modeSelected-346R90 .channelName-2YrOjO  {
    color: var(--accent-text-primary);
}

// Action
.wrapper-2jXpOf.modeSelected-346R90 .actionIcon-PgcMM2 {
    color: var(--accent-text-primary);
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Channels           ║ Selector (Unread)                                                                 ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background (Normal)
.wrapper-2jXpOf.modeUnread-1qO3K1 .content-1x5b-n {
    background: var(--background-primary);

}

// Background (Hover)
.wrapper-2jXpOf.modeUnread-1qO3K1:hover .content-1x5b-n {
    background: var(--background-tertiary);
}

// Icon
.wrapper-2jXpOf.modeUnread-1qO3K1 .icon-1DeIlz,
.wrapper-2jXpOf.modeUnread-1qO3K1:hover .icon-1DeIlz  {
    color: var(--accent-text-secondary);
}

// Text
.wrapper-2jXpOf.modeUnread-1qO3K1 .channelName-2YrOjO,
.wrapper-2jXpOf.modeUnread-1qO3K1:hover .channelName-2YrOjO  {
    color: var(--accent-text-secondary);
}

// Action
.wrapper-2jXpOf.modeUnread-1qO3K1:hover .actionIcon-PgcMM2 {
    color: var(--accent-text-secondary);
}


// Mention
.mentionsBadge-3tC7Mi .baseShapeRound-1Mm1YW {
    background-color: var(--accent-primary) !important;
}

// Mention Text
.mentionsBadge-3tC7Mi .numberBadge-2s8kKX {
    color: var(--accent-text-primary) !important;
}

// Dot
.unread-2lAfLh {
    height: 4px;
    width: 4px;
    border-radius: 90px;
    top: 55%;
    left: 6px;
    margin-top: -4px;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Channels           ║ Selector (Stage)                                                                  ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Icon
.wrapper-2jXpOf .iconLive-AtZKgD {
    color: var(--accent-text-secondary) !important;
}

.wrapper-2jXpOf:hover .iconLive-AtZKgD {
    color: var(--accent-text-primary) !important;
}

.wrapper-2jXpOf.modeSelected-346R90 .iconLive-AtZKgD {
    color: var(--accent-text-primary) !important;
}

.wrapper-2jXpOf.modeSelected-346R90:hover .iconLive-AtZKgD {
    color: var(--accent-text-primary) !important;
}

// Subtitle
.wrapper-2jXpOf .subtitle-3V1p2E,
.wrapper-2jXpOf:hover .subtitle-3V1p2E {
    color: var(--accent-text-primary) !important;
}

.wrapper-2jXpOf.modeConnected-3IsKId .subtitle-3V1p2E,
.wrapper-2jXpOf.modeConnected-3IsKId:hover .subtitle-3V1p2E {
    color: var(--accent-text-secondary) !important;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Channels           ║ Selector (Voice)                                                                  ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Icon
.wrapper-2jXpOf.modeConnected-3IsKId .icon-1DeIlz  {
    color: var(--accent-text-secondary);
}

// Icon
.wrapper-2jXpOf.modeConnected-3IsKId:hover .icon-1DeIlz  {
    color: var(--accent-text-primary);
}


// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Channels           ║ Voice User                                                                        ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝


// Normal
.listDefault-3ir5aS .clickable-1lCRLF .content-1Wq3SX {
    background: var(--background-primary);
    border-radius: var(--radius-primary);
}

// Hover
.listDefault-3ir5aS .clickable-1lCRLF:hover .content-1Wq3SX {
    background: var(--accent-primary);
    border-radius: var(--radius-primary);
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Channels           ║ Voice User                                                                        ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Channels           ║ Unread                                                                            ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝


// Top
.unreadTop-3rAB3r .text-2e2ZyG {
    color: var(--accent-text-primary);
}
// Bottom
.unreadBottom-1_LF_w .text-2e2ZyG {
    color: var(--accent-text-primary);
}

