// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Boost              ║ General                                                                           ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.theme-dark .perksModal-fSYqOq {
background-color: transparent;
}


.theme-dark .tierHeaderUnlocked-1n-OTI,
.theme-light .tierHeaderUnlocked-1n-OTI {
  background: var(--accent-primary);
}

.tierMarkerAccomplished-1SkbEJ {
    background: var(--accent-secondary) !important;
}

.tierMarkerBackground-G8FoN4 {
    background: var(--background-secondary) !important;
}

.barBackground-unEPDT {
    background: var(--background-secondary) !important;
}

.barForeground-2kwBa_ {
    background: var(--accent-secondary) !important;
    z-index: 1;
}

.tierMarker-Vw1C95 { z-index: 1;}