// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Explore                  ║                                                                                         ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.pageWrapper-2PwDoS {
    background: var(--background-secondary) !important;
    border-radius: var(--radius-primary);
    margin-right: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}



.sidebar-1tnWFu .discoverHeader-Ijkm_M {
color: transparent;
margin: 0px;
}


.sidebar-1tnWFu  .layout-1qmrhw {
    margin-right: 6px;
    margin-left: 0px;
    padding-left: 6px !important;
    height: 36px;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Discover                 ║ Searchbar                                                                               ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.searchHeader-3ZIh2x .searchTitle-1qceKb {
    display: none;
}

// Header Image
.searchHeader-3ZIh2x .headerImage-2D5D-v {
    display: none;
}

// No Text
.searchHeader-3ZIh2x .size16-rrJ6ag {
    display: none;
}

.search-25t1e9 .searchBox-31Zv9h:focus, .search-25t1e9 .searchBox-31Zv9h:focus-within {
    box-shadow: none;
}

// Background
.search-25t1e9 .searchBox-31Zv9h {
background: red;
border-radius: var(--radius-primary);
box-shadow: none;
}

// Text
.search-25t1e9 .searchBox-31Zv9h .searchBoxInput-3h4etz {
    color: blue;
}