// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Sidebar                  ║ General                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

//Spacing
.platform-osx .sidebar-nqHbhN [data-item-id="HypesquadOnline"] {margin-top: 40px;}
.platform-osx .sidebar-nqHbhN .socialLinks-2DELRE {margin-top: 10px; margin-bottom: 0px;}
.platform-osx .sidebar-nqHbhN [data-item-id=logout] {margin-top: 20px; margin-bottom: 20px;}

// Order
.platform-osx .sidebar-nqHbhN [data-item-id="HypesquadOnline"] {order: 1;}
.platform-osx .sidebar-nqHbhN [data-item-id="Experiments"] {order: 2;}
.platform-osx .sidebar-nqHbhN [data-item-id="DeveloperOptions"] {order: 3;}
.platform-osx .sidebar-nqHbhN [data-item-id="changelog"] {order: 4;}
.platform-osx .sidebar-nqHbhN .info-1sUqUG {order: 6;}
.platform-osx .sidebar-nqHbhN .socialLinks-2DELRE {order: 7;}
.platform-osx .sidebar-nqHbhN [data-item-id="logout"] {order: 5;}

// Separator
.platform-osx .side-2ur1Qk .separator-2wx7h6 {display: none;}

// Spacing
.platform-osx .sidebar-nqHbhN [data-item-id="Connections"] {margin-bottom: 16px;}
.platform-osx .sidebar-nqHbhN [data-item-id="Billing"] {margin-bottom: 16px;}
.platform-osx .sidebar-nqHbhN [data-item-id="Advanced"] {margin-bottom: 16px;}
.platform-osx .sidebar-nqHbhN [data-item-id="Overlay"] {margin-bottom: 16px;}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Sidebar                  ║ Plugins                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.platform-osx .powercord .sidebar-nqHbhN [data-item-id="pc-updater"] {
  margin-bottom: 50px !important;
}

// Header
.platform-osx .powercord .sidebar-nqHbhN .header-2Kx1US {
  font-family: 'Quicksand';
  font-weight: 600;
}

// Plugin Header
.platform-osx .powercord .info-1sUqUG:before {
  background: transparent;
  content: 'Plugins';
  position: absolute;
  font-size: 15px !important;
  font-weight: 600;
  font-family: 'Quicksand';
  width: 100%;
  top: 1056px;
  color: var(--accent-text-secondary);
  text-transform: uppercase;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Sidebar                  ║ Logout                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background & Text
.platform-osx .side-2ur1Qk [data-item-id="logout"] {
background: var(--red-primary);
color: white !important;
}

// Icon
.platform-osx .side-2ur1Qk [data-item-id="logout"]::before {
background: white !important;
}

// Spacing
.platform-osx .side-2ur1Qk [data-item-id="logout"] {
margin-top: 30px;
margin-bottom: 30px;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Sidebar                  ║ Info                                                                                    ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Base
.platform-osx .info-1sUqUG .size12-oc4dx4 {
color: var(--text-normal);
user-select: none;
}

// Header
.platform-osx .info-1sUqUG .size12-oc4dx4:first-child::before {
content: 'Info \a';
text-transform: none;
white-space: pre;
user-select: none;
font-size: 15px;
text-transform: uppercase;
color: var(--accent-text-secondary);
font-weight: 600;
position: relative;
bottom: 8px;
}

// Info
.platform-osx .info-1sUqUG .size12-oc4dx4:last-child::after {
content: '\a' '\a Version: CreArts ' var(--version) '\a Skin:'var(--skin);
text-transform: none;
white-space: pre;
user-select: none;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Sidebar                  ║ Social Links                                                                            ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Social
.platform-osx .powercord-pc-icon svg {border: none !important;}

.platform-osx .socialLinks-2DELRE {
  padding-left: 4px;
}

.platform-osx .powercord-pc-icon::before {
  content: "";
  position: absolute;
  top: -6px !important;
  right: 0px !important;
  width: 20px !important;
  height: 20px !important;
  opacity: 0.6 !important;
}


.platform-osx .socialLinks-2DELRE .foreground-2hyALB {
  color: var(--text-muted) !important;
}