// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Content                  ║ Layout                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.content-1jQy2l {
  margin: calc(var(--layout-margin) / 2) 0px 0px calc(var(--layout-margin) / 2);
}

.scroller-kQBbkU {
  border-radius: var(--radius-primary) var(--radius-primary) 0px 0px;
}

// Background
.chatContent-3KubbW {
  margin: 0px 0px 0px 0px;
  border-radius: var(--radius-primary);
}

// Background (Chat)
.chat-2ZfjoI .messagesWrapper-RpOMA3 {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Content                  ║ Layout (Explore)                                                                        ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.pageWrapper-2PwDoS {
  background: var(--background-secondary) !important;
}

// Spacing
.pageWrapper-2PwDoS {
  border-radius: var(--radius-primary);
  margin: 0px 0px 0px calc(var(--layout-margin) / 2);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Content                  ║ Layout (Friends)                                                                        ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.tabBody-2dgbAs:before {
  display: none;
}

.container-1oAagU {
  background: transparent;
}

// Background
.peopleColumn-1wMU14 {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  margin: calc(var(--layout-margin) / 2) 0px 0px calc(var(--layout-margin) / 2);
}

.nowPlayingColumn-1eCBCN {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  margin: calc(var(--layout-margin) / 2) 0px 0px var(--layout-margin);
}

.applicationStore-2nk7Lo,
.container-2cd8Mz {
  background: transparent !important;
  border: none;
}

.headerBar-1dSpQr:before {
  box-shadow: none;
}

.nowPlayingColumn-1eCBCN .scroller-hE2gWq {
  margin-left: 0px;
  border: none;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Content                  ║ Layout (No Page)                                                                        ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.noChannel-1GDIAZ {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  margin-left: calc(var(--layout-margin) / 2);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Content                  ║ Layout (Voice)                                                                          ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.callContainer-HtHELf {
  margin: 0px 0px 0px calc(var(--layout-margin) / 2);
  border-radius: var(--radius-primary);
}

.callContainer-HtHELf .container-ZMc96U {
  margin-left: 0px;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Content                  ║ Home                                                                                    ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.theme-dark .background-fkKrXt,
.theme-light .background-fkKrXt {
  background: transparent;
}

.homeContainer-r4Hvv1 {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
}

.container-4HqGB3.background-3X6Uak {
  background: var(--background-primary);
  border: 1px solid var(--background-modifier-active);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Content                  ║ Chat (Header)                                                                           ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.container-1yy5xN {
  background: var(--background-secondary-alt);
  border-radius: var(--radius-secondary);
  margin: 16px 0px 0px 16px;
  padding: 12px;
}

// Buttons (Normal)
.container-1yy5xN .channelSettingButtons-sCQ_2T .button-1kija8 {
  color: #fff;
  background: var(--brand-experiment);
  border-radius: var(--radius-tertiary);
  height: 32px;
  min-width: 60px;
  min-height: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

// Buttons (Hover)
.container-1yy5xN .channelSettingButtons-sCQ_2T .button-1kija8:hover {
  background-color: var(--brand-experiment-560);
}

// No Icon
.emptyChannelIcon-1YdEz2 {
  display: none;
}

// No Avatar
.container-1yy5xN .avatars-37eU13 {
  display: none;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Content                  ║ Chat (Embeds)                                                                           ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.embedFull-1HGV2S {
  background: var(--background-secondary-alt);
  border-radius: 4px var(--radius-secondary) var(--radius-secondary) 4px;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Content                  ║ Rules                                                                                   ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.container-30bdan {
  flex-direction: row;
}

// Title
.titleName-2vkJTW {
  text-align: left;
}

// Sub Title
.subtitle-3tY4DQ {
  text-align: left;
}



// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Content                  ║ Build Override                                                                          ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.wrapper-3-JZ_Z {
  background: var(--background-secondary-alt) !important;
}



// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Content                  ║ Timestamp                                                                               ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.cozy-VmLDNB .timestamp-p1Df1m {
  color: var(--header-secondary);
}



















/*
// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Content                  ║ Voice (Guild)                                                                           ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.callContainer-HtHELf {
  overflow: visible !important;
  border-radius: var(--radius-primary) !important;
}

// Radius
.gradientTop-1UBZHm,
.gradientBottom-uB_-4E {
  border-radius: var(--radius-primary);
}

// Header
.wrapper-1gVUIN:not(.minimum-fXpVNc) {
  margin-top: calc(var(--layout-margin-top) + var(--height-header));
  border-radius: var(--radius-primary);
  height: calc(100% - var(--layout-margin-top) - var(--height-header)) !important;
  background: transparent;
}

.topControls-23RE3h {
  margin-top: calc((var(--layout-margin-top) + var(--height-header)) * -1);
  height: var(--height-header);
  opacity: 1.0 !important;
  transform: none !important;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Content                  ║ Voice (DM)                                                                              ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.wrapper-1gVUIN.minimum-fXpVNc {
  margin-top: calc(var(--layout-margin-top) + var(--height-header));
  background-color: transparent;
  margin-bottom: var(--layout-margin);
}

.wrapper-1gVUIN.minimum-fXpVNc .root-22AK9z {
  background: black;
  border-radius: var(--radius-primary);
}

// Controls
.videoControls-353CsJ .quickSelect-384d3G {
  margin-top: 20px;
}

// Resize Handle
.wrapper-1gVUIN.minimum-fXpVNc .resizeHandle-1zU8BL,
.wrapper-1gVUIN .resizeHandle-1zU8BL {
  background: var(--background-secondary-alt);
  border-radius: var(--radius-primary);
  height: 8px;
  margin: calc(var(--layout-margin) / 2) 0px 0px calc(var(--layout-margin) / 2);
  width: calc(100% -  calc(var(--layout-margin) / 2));
  bottom: -18px;

}

.voiceCallWrapper-3UtDiC {
  padding-bottom: 0px;
}

// Opacity
.callContainer-HtHELf .videoControls-353CsJ .quickSelect-384d3G,
.callContainer-HtHELf .controlButton-2PMNom {
  opacity: 0;
  transition: all 0.4s ease;
}
.callContainer-HtHELf:hover .videoControls-353CsJ .quickSelect-384d3G,
.callContainer-HtHELf:hover .controlButton-2PMNom {
  opacity: 1;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Content                  ║ Voice (Chat)                                                                            ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.container-3XgAHv:not(.floating-3M3WeH) {
  margin-top: calc((var(--layout-margin-top) + var(--height-header)) * -1);
}

.container-3XgAHv .chat-1-OBC7 {
  margin: calc(var(--layout-margin) / 2) 0px 0px calc(var(--layout-margin) / 2);
}

.chatIcon-R5MUNn {
  margin-top: calc((var(--layout-margin-top) + var(--height-header)) * -1);
  min-width: 0px;
  margin-right: 0px;
  padding: 0px;
}

.root-22AK9z.idle-39sGPO .chatButton-10jXXp:not(.chatButtonShowing-1aD1ch) {
  transform: none !important;
  opacity: 1.0 !important;
}

// Floating
.floating-3M3WeH {
  margin-top: calc(var(--layout-margin-top) + var(--height-header));
  border: none;
  filter: none;
  border-radius: 0px;
}

// Resize Handle
.resizeHandle-PBRzPC {
  background: var(--background-secondary-alt);
  border-radius: var(--radius-primary);
  margin-left: calc(var(--layout-margin) / 2);
  margin-top: calc((var(--layout-margin-top) + var(--height-header)) * -1);
  height: unset;
}
*/