// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Guild                    ║ Base                                                                                    ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.guilds-2JjMmN .circleIcon-3489FI {
    color: var(--interactive-normal) !important;
}

.circleIconButton-1VxDrg.selected-2r1Hvo .circleIcon-3489FI {
    color: var(--interactive-active) !important;
}

.circleIconButton-1VxDrg.selected-2r1Hvo {
    background: var(--brand-experiment);
}