// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Header                   ║ Layout                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.container-ZMc96U {
  margin: 0px 0px calc(var(--layout-margin) / 2) calc(var(--layout-margin) / 2);
  background: transparent !important;
  padding: 0px;
  width: unset;
  height: 40px;
  height: var(--height-header);
}

// Title
.children-3xh0VB {
  background: var(--background-secondary);
  margin: 0px calc(var(--layout-margin) / 2) 0px 0px;
  border-radius: var(--radius-primary);
  height: 100%;
}

// Toolbar
.toolbar-3_r2xA {
  background: var(--background-secondary);
  margin: 0px 0px 0px calc(var(--layout-margin) / 2);
  border-radius: var(--radius-primary);
  height: 100%;
}

// Divider
.divider-q3P9HC {
  background: var(--background-primary);
}

// Remove Divider
.divider-q3P9HC {
  display: none !important;
}

// Icons
.button-1fGHAH {
  margin: 0px;
}

.toolbar-3_r2xA button{
  margin: 0 8px;
}