
// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Input                    ║ Layout                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.chat-2ZfjoI .scrollableContainer-15eg7h,
.chat-1-OBC7 .scrollableContainer-15eg7h,
.channelTextArea-1FufC0 {
  background: transparent;
}

// Spacing
.inner-NQg18Y {
  margin-top: calc((var(--layout-margin) / 2) + (var(--layout-margin) / 2));
}

.channelTextArea-1FufC0 {
  margin-bottom: 0px;
}

.chat-2ZfjoI .form-3gdLxP,
.chat-1-OBC7 .form-3gdLxP {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column-reverse;

}

// Disabled
.chat-2ZfjoI .channelTextAreaDisabled-1p2fQv,
.chat-1-OBC7 .channelTextAreaDisabled-1p2fQv {
  display: none;
}

// Text
.chat-2ZfjoI .fontSize16Padding-XoMpjI,
.chat-1-OBC7 .fontSize16Padding-XoMpjI {
  padding: 11px;
  overflow: hidden !important;
}



// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Input                    ║ Reply                                                                                   ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.chat-2ZfjoI .replyBar-1oi75v,
.chat-1-OBC7 .replyBar-1oi75v {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  margin: calc(calc(var(--layout-margin) / 2) + calc(var(--layout-margin) / 2)) 0px 0px 0px;
  width: 100%;
}

// Spacing
.chat-2ZfjoI .clipContainer-31nYlH,
.chat-1-OBC7 .clipContainer-31nYlH {
  overflow: hidden;
  padding-top: 0px;
  margin-top: 0px;
}

// No Background
.chat-2ZfjoI .attachedBars-2BCP3l,
.chat-1-OBC7 .attachedBars-2BCP3l {
  order: -1;
  background: transparent;
}

// No Separator
.chat-2ZfjoI .separator-8ngZ3p,
.chat-1-OBC7 .separator-8ngZ3p {
  display: none;
}

// No Thread Suggestion
.chat-2ZfjoI .threadSuggestionBar-3ExSyc,
.chat-1-OBC7 .threadSuggestionBar-3ExSyc {
  display: none;
}

.chat-2ZfjoI .colorLink-2apWfY,
.chat-1-OBC7 .colorLink-2apWfY {
  color: var(--interactive-normal);
}


// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Input                    ║ Announcements                                                                           ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.wrapper-2SplAX {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  margin: calc(calc(var(--layout-margin) / 2) + calc(var(--layout-margin) / 2)) 0px 0px 0px;
  order: -1 !important;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Input                    ║ Typing                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.chat-2ZfjoI .typing-2J1mQU {
  order: 1;
}

.chat-2ZfjoI .base-3bcbY3,
.chat-1-OBC7 .base-3bcbY3 {
  position: relative;
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  height: 24px;
  left: 0px;
  right: 0px;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: calc(calc(var(--layout-margin) / 2) + calc(var(--layout-margin) / 2));
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Input                    ║ Upload Button                                                                           ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.attachWrapper-3slhXI .lookBlank-21BCro {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  margin-right: calc(calc(var(--layout-margin) / 2) + calc(var(--layout-margin) / 2));
}

// Spacing
.attachButton-1ijpt9 {
  margin-left: 0px;
  padding: 0px;
  height: 44px;
  width: 44px;
}

.sansAttachButton-1ERHue {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  padding-left: 0px;
}

// Upload Button
.attachWrapper-3slhXI {
  order: 1;
  position: sticky;
  left: 0;
  top: auto;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Input                    ║ Text Area                                                                               ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.chat-1-OBC7 .textArea-2CLwUE,
.chat-2ZfjoI .textArea-2CLwUE {
  order: 2;
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  margin-right: calc((var(--layout-margin) / 2) + (var(--layout-margin) / 2));
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Input                    ║ Buttons                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Backgound
.chat-2ZfjoI .buttons-uaqb-5 {
  order: 3;
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
}

// Replace Emoji Icon
.chat-2ZfjoI .sprite-2lxwfc {
  background: var(--interactive-normal);
  -webkit-mask: var(--emoji);
  mask: var(--emoji);
  height: 20px;
  --emoji: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:serif='http://www.serif.com/' width='100%25' height='100%25' viewBox='0 0 1800 1800' version='1.1' xml:space='preserve' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;' data-minimalscrollbar='yes'%3E%3Cg transform='matrix(1,0,0,1,-179.989,-180)'%3E%3Cpath d='M1079.99,180C1576.71,180 1979.99,583.276 1979.99,1080C1979.99,1576.72 1576.71,1980 1079.99,1980C583.266,1980 179.989,1576.72 179.989,1080C179.989,583.276 583.266,180 1079.99,180ZM1571.11,1206.48C1571.11,1477.54 1351.05,1697.6 1079.99,1697.6C808.933,1697.6 588.871,1477.54 588.871,1206.48L1571.11,1206.48ZM735.94,682.104C817.11,682.104 883.01,748.004 883.01,829.174C883.01,910.344 817.11,976.243 735.94,976.243C654.77,976.243 588.871,910.344 588.871,829.174C588.871,748.004 654.77,682.104 735.94,682.104ZM1424.06,682.104C1505.23,682.104 1571.13,748.004 1571.13,829.174C1571.13,910.344 1505.23,976.243 1424.06,976.243C1342.89,976.243 1276.99,910.344 1276.99,829.174C1276.99,748.004 1342.89,682.104 1424.06,682.104Z'/%3E%3C/g%3E%3C/svg%3E")
    center no-repeat;
}

.button-3BaQ4X {
  padding: 0px;
  margin: 0px;
  width: 44px;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Input                    ║ Send Button                                                                             ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.separator-3ng7S5 {
  margin-left: 0px;
}

// No Border
.separator-3ng7S5:before {
  display: none;
}

// Button
.activeButtonChild-2hgLAO {
  color: var(--interactive-normal);
}

.theme-dark .button-y6hemj:focus-within .activeButtonChild-2hgLAO,
.theme-dark .button-y6hemj:focus .activeButtonChild-2hgLAO,
.theme-dark .button-y6hemj:hover .activeButtonChild-2hgLAO {
  color: var(--interactive-active);
}

// Spacing
.buttonContainer-6W2Ep3 .innerButton-1aF_E_ {
  margin: 0px;
  padding: 0px;
  width: 44px;
  height: 100%;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Input                    ║ Uplaod                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.scrollableContainer-15eg7h {
  max-height: unset !important;
}

// No Divider
.scrollableContainer-15eg7h .divider-2rZFJK {
  display: none;
}

// Background
.channelAttachmentArea-HwpkuQ {
  gap: 12px;
  background: transparent;
  border-radius: var(--radius-primary);
  padding: var(--layout-margin) 0px var(--layout-margin) 0px;
  margin: 0px;
}

// Upload
.channelAttachmentArea-HwpkuQ .upload-vLbqu- {
  background: var(--background-secondary);
  border-radius: var(--radius-secondary);
  padding: 8px;
  min-width: 100px;
  min-height: 10px;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Input                    ║ Slash Command Bar                                                                       ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background
.chat-2ZfjoI .bar-2MWHzg {
  margin: var(--layout-margin) 0px 0px 0px;
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
}