// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Notice                   ║ Layout                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.channelNotice-7cg_jN,
.notice-2HEN-u,
.notice-1x8lm- {
  margin-bottom: var(--layout-margin);
  border-radius: var(--radius-primary);
  background: var(--background-secondary) !important;
  box-shadow: none;
}
.chat-2ZfjoI .content-2a4AW9,
.chat-1-OBC7 .content-2a4AW9 {
  border-radius: var(--radius-primary);
}
