// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Serverlist               ║ Layout                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.guilds-2JjMmN {
  margin: var(--layout-margin-top) 0px var(--layout-margin-bottom) var(--layout-margin-left);
  border-radius: var(--radius-primary);
}

.wrapper-1_HaEi {
  background: var(--background-secondary);
}

.scroller-3X7KbA {
  background: transparent;
}

.platform-win .scroller-3X7KbA {
  padding-top: 12px;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
// ║ Serverlist               ║ Order                                                                                   ║ */
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

.scroller-3X7KbA {
  display: flex;
  flex-direction: column;
}

.tutorialContainer-1pL9QS:first-child {
  order: -3;
}

.scroller-3X7KbA > .listItem-3SmSlK:nth-last-child(2) {
  order: -2;
}

.tutorialContainer-2jwoiB {
  order: -1;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Serverlist               ║ Base                                                                                    ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.guilds-2JjMmN .circleIcon-3489FI {
  color: var(--interactive-normal) !important;
}

.circleIconButton-1VxDrg.selected-2r1Hvo .circleIcon-3489FI {
  color: var(--interactive-active) !important;
}

.circleIconButton-1VxDrg.selected-2r1Hvo {
  background: var(--brand-experiment);
}


// Guild Separator
.guildSeparator-a4uisj {
  background: var(--background-primary);
}


// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Serverlist               ║ Folder                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.expandedFolderIconWrapper-3RwQpD {
  background: var(--background-secondary-alt);
  border-radius: var(--radius-primary);
}

.expandedFolderBackground-1kSAf6 {
  background: var(--background-primary);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Serverlist               ║ Inbox                                                                                   ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.scroller-3X7KbA {
  display: flex;
  flex-direction: column;
}

.tutorialContainer-1pL9QS:nth-child(2) {
  order: -1;
}

.listItemWrapper-3d87LP:active {
  transform: none !important;
}

// Icon (Normal)
.iconButton-2z1iK7 {
  height: 48px;
  border-radius: 90%;
  -webkit-transition: background-color 0.15s ease-out, color 0.15s ease-out;
  transition: background-color 0.15s ease-out, color 0.15s ease-out;
}

// Icon (Hover)
.iconButton-2z1iK7:hover,
.iconButton-2z1iK7.selected-1WnveH {
  border-radius: 18px;
}

// Pill (Normal)
.iconButton-2z1iK7::after {
  content: "";
  position: absolute;
  background: var(--header-primary);
  width: 8px;
  border-radius: 0 4px 4px 0;
  margin-left: -4px !important;
  z-index: 99;
  left: 0;
}

// Pill (Hover)
.iconButton-2z1iK7:hover::after {
  height: 20px !important;
}

// Pill (Active)
.iconButton-2z1iK7.selected-1WnveH::after {
  height: 40px;
}