// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Threads                  ║ Layout                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// No Border
.chat-1-OBC7:before {
  display: none;
}

.messagesWrapper-RpOMA3 {
  background: var(--background-secondary);
  margin: 0px 0px 0px 0px;
}