// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Header             ║ Topic                                                                             ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.children-3xh0VB {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  height: 40px;
  backdrop-filter: blur(var(--blur));
  box-shadow: var(--shadows);
  border: var(--border);
  z-index: 2;
}

// Remove Divider
.content-1jQy2l:before, .divider-q3P9HC{
    display: none;
  }

// No Divider
.theme-dark .children-3xh0VB:after,
.theme-light .children-3xh0VB:after {
  display: none;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Header             ║ Toolbar                                                                           ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.toolbar-3_r2xA {
  border-radius: var(--radius-primary);
  background: var(--background-secondary);
  position: relative;
  border: var(--border);
  backdrop-filter: blur(var(--blur));
  box-shadow: var(--shadows);
}


.toolbar-3_r2xA .iconBadge-3Mmg92 {
  background-color: var(--accent-primary);
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Toolbar            ║ Icons                                                                             ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Update
.updateIconForeground-2V_zo4 {
  fill: var(--interactive-normal)
}

.updateIconForeground-2V_zo4:hover {
  fill: var(--interactive-hover)
}

.updateIconForeground-2V_zo4:active {
  fill: var(--interactive-active)
}

// Member
.selected-29KTGM .icon-2xnN2Y {
  color: var(--interactive-normal);
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Toolbar            ║ Searchbar                                                                         ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Order
.search-39IXmY {
  order: -1;
  margin-right: 2px;
  margin-left: 0px;
}

// Icon
.icon-18rqoe, .icon-3CDcPB {
  color:var(--interactive-normal);
  height: 23px;
  width: 23px;
}

//spacing
.iconContainer-1RqWJj, .iconContainer-6pgShY {
  bottom: 3px;
  padding-left: 30px;
}


//Searchbar
.searchBar-zdmu7v, .searchBar-1UNSCg {
  background: none;
  transition: width 0.6s ease-in-out;
  color:#fff;
  width: 20px;
}

.focused-8aNhVB .searchBar-zdmu7v, .open-3y3yI_ .searchBar-zdmu7v, .searchBar-zdmu7v:hover {
  background: none;
  transition: width 0.6s ease-in-out;
  color:#fff;
  width: 300px;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Toolbar            ║ Searchbar                                                                         ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.theme-dark .searchAnswer-23w-CH, .theme-dark .searchFilter-2UfsDk {
  background: var(--accent-primary);
  border-radius: var(--radius-primary);
  padding-left: 8px;
  padding-right: 8px;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Toolbar            ║ Replace Inbox                                                                     ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.iconWrapper-2awDjA path[d="M19 3H4.99C3.88 3 3.01 3.89 3.01 5L3 19C3 20.1 3.88 21 4.99 21H19C20.1 21 21 20.1 21 19V5C21 3.89 20.1 3 19 3ZM19 15H15C15 16.66 13.65 18 12 18C10.35 18 9 16.66 9 15H4.99V5H19V15Z"]{
  d: path("M 12 2 C 6.486 2 2 6.486 2 12 C 2 17.515 6.486 22 12 22 C 14.039 22 15.993 21.398 17.652 20.259 L 16.521 18.611 C 15.195 19.519 13.633 20 12 20 C 7.589 20 4 16.411 4 12 C 4 7.589 7.589 4 12 4 C 16.411 4 20 7.589 20 12 V 12.782 C 20 14.17 19.402 15 18.4 15 L 18.398 15.018 C 18.338 15.005 18.273 15 18.209 15 H 18 C 17.437 15 16.6 14.182 16.6 13.631 V 12 C 16.6 9.464 14.537 7.4 12 7.4 C 9.463 7.4 7.4 9.463 7.4 12 C 7.4 14.537 9.463 16.6 12 16.6 C 13.234 16.6 14.35 16.106 15.177 15.313 C 15.826 16.269 16.93 17 18 17 L 18.002 16.981 C 18.064 16.994 18.129 17 18.195 17 H 18.4 C 20.552 17 22 15.306 22 12.782 V 12 C 22 6.486 17.514 2 12 2 Z M 12 14.599 C 10.566 14.599 9.4 13.433 9.4 11.999 C 9.4 10.565 10.566 9.399 12 9.399 C 13.434 9.399 14.6 10.565 14.6 11.999 C 14.6 13.433 13.434 14.599 12 14.599 Z");
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Toolbar            ║ No Help Button                                                                    ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.toolbar-3_r2xA .anchor-1MIwyf {
  display: none;
}