// Width
.members-3WRCEx {
    width: var(--members-width);
}


//Background
.members-3WRCEx, .members-3WRCEx>div {
    background: transparent;
}






// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Members            ║ Background                                                                        ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.membersWrap-3NUR2t {
    background: var(--background-secondary);
    border-radius: var(--radius-primary);
    border: var(--border);
    backdrop-filter: blur(var(--blur));
    box-shadow: var(--shadows);
    margin-left: 10px;
}




// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Members            ║ Group                                                                             ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Padding
.membersGroup-2eiWxl {
    padding-bottom: 24px;
    height: 40px;
}


// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Members            ║ Member                                                                            ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Spacing

.layout-1qmrhw {
    margin-right: 12px;
    margin-left: 12px;
    padding-left: 6px !important;
}

// Background
.clickable-28SzVr:hover .layout-1qmrhw,
.selected-1-Z6gm .layout-1qmrhw {
    background: var(--accent-primary);
    border-radius: var(--radius-primary);
}

// Status
.clickable-28SzVr:hover .wrapper-1VLyxH .svg-2azL_l,
.selected-1-Z6gm .wrapper-1VLyxH .svg-2azL_l {
    [mask*="status-online"] {fill: var(--accent-text-primary)}
    [mask*="status-idle"] {fill: var(--accent-text-primary)}
    [mask*="status-dnd"] {fill: var(--accent-text-primary)}
    [mask*="status-streaming"] {fill: var(--accent-text-primary)}
}

// Name
.clickable-28SzVr:hover .roleColor-nA7BqX,
.selected-1-Z6gm .roleColor-nA7BqX {
    color: var(--accent-text-primary) !important;
}

// Nitro Icon
.clickable-28SzVr:hover .premiumIcon-3PLiGh,
.selected-1-Z6gm .premiumIcon-3PLiGh {
    color: var(--accent-text-primary) !important;
}


// Activity Text
.clickable-28SzVr:hover .activityText-1rR-8O,
.selected-1-Z6gm .activityText-1rR-8O {
    color: var(--accent-text-primary) !important;
}

// Activity Icon
.clickable-28SzVr:hover .icon-Lupfh-,
.selected-1-Z6gm .icon-Lupfh- {
    color: var(--accent-text-primary);
}

// Bot Tag
.botTag-7aX5WZ {
    background: var(--accent-primary);
    border-radius: var(--radius-primary) !important;
    color: var(--accent-text-primary);
}

.clickable-28SzVr:hover .botTagRegular-kpctgU,
.selected-1-Z6gm .botTagRegular-kpctgU {
    background: var(--accent-text);
    color: var(--accent-secondary);
}



// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Members            ║ Text                                                                              ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.membersWrap-3NUR2t .container-q97qHp {
    font-size: 13px;
}


