// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Profile            ║ Background                                                                        ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.panels-3wFtMD {
    border-radius: var(--radius-primary);
    background: transparent;
    position: relative;
    margin-top: 20px;
    box-shadow: none;
    margin-right: 2px;
    z-index: 200;
}

// Blur
.panels-3wFtMD::before {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  position: absolute;
  content: "";
  border: var(--border);
  backdrop-filter: blur(var(--blur));
  height:100%; 
  width: 100%;
  z-index: -1;
}

// Background
.panels-3wFtMD .container-YkUktl:nth-last-child(1) {
  background: var(--background-tertiary);
  border-radius: var(--radius-primary);
  box-shadow: none;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════════════════╗
// ║ Profile            ║ Game icon                                                                         ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.panels-3wFtMD .activityPanel-9icbyU .gameIcon-2BIUJ3 {
  border-radius: var(--radius-primary);
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════════════════╗
// ║ Profile            ║ No border                                                                         ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.panels-3wFtMD .activityPanel-9icbyU {
  border: none;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════════════════╗
// ║ Profile            ║ Buttons                                                                           ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Buttons
.panels-3wFtMD .button-12Fmur {
  border-radius: 90px;
}

.panels-3wFtMD .strikethrough-2Kl6HF {
  color: var(--accent-primary);
}
  
.panels-3wFtMD .button-12Fmur:hover  .strikethrough-2Kl6HF {
  color: var(--accent-text-primary);
}






// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════════════════╗
// ║ Profile            ║ Spotify                                                                           ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.powercord-spotify .horizontal-112GEH {
  margin-top: 2px;
}

// Spotify Controls
.fas, .fa-backward, .fa-fw, .fa-heart, .fa-sync, .fa-undo {
  color: var(--interactive-normal) ;
}

// Bar
.powercord-spotify .spotify-seek-bar {
  background: var(--background-tertiary) !important;
  height: 6px !important;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: var(--radius-primary);
  margin-top: 4px;
  margin-bottom: 8px;
}

.powercord-spotify .spotify-seek-bar-progress {
  border-radius: var(--radius-primary) !important;
  background: var(--accent-primary) !important;
}

// Cursor
.powercord-spotify .spotify-seek-bar-cursor {
  background: var(--interactive-normal) !important;
  width: 12px !important;
  height: 12px !important;
  border: none !important;
}

// Seek Elements
.powercord-spotify .spotify-seek-elements {
  margin-left: 6px !important;
  margin-right: 6px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.powercord-spotify.hover .spotify-seek-elements {
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

// Extra Controls
.powercord-spotify.hover .spotify-extra-controls {
  margin-left: 80px;
  margin-right: 80px;
  border-radius: var(--radius-primary);
  background: var(--background-tertiary);
  margin-top: -4px;
  margin-bottom: -14px;
}

// Text
.powercord-spotify .spotify-seek-duration {
  font-size: 14px;
}