// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Call               ║                                                                                   ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.wrapper-2qzCYF.fullScreen-1tMzXY, .wrapper-2qzCYF.noChat-18KtBD {
  border-radius: var(--radius-primary);
  padding: 0;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ No Divider                                                                        ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝
/*
// Mobile Unread Message Bar
#---new-messages-bar {
  margin: 01.5px 20px;
  top: 0;height: 22px;
  border-top: 0;
}


#---new-messages-bar .content-1o0f9g {
  font-size: 14px;
  font-weight: 500;
  padding: 0 8px;
  background: red;
  border-radius: 0}

#---new-messages-bar span::before {
  position: absolute;
  content: "";
  width: 100%;
  top: 50%;
  left: 0;
  border-bottom: thin solid;
  border-color: var(--background-modifier-accent);
  background-color: var(--accent-primary);
  z-index: -1;
  opacity: 0.3 !important
}

#---new-messages-bar .content-1o0f9g::after {
  border-color: currentColor;
  opacity: 0.0
}



// Background
#---new-messages-bar .unreadPill-2HyYtt {
position: initial;
height: 100%;
top: 0;
color: #fff;
font-weight: 600;
background-color: var(--accent-primary);
border-radius: var(--radius-primary);
padding-left: 12px;
padding-right: 12px;
font-size: 0
}

#---new-messages-bar .unreadPill-2HyYtt::after {
font-size: 16px;
content: "NEW MESSAGES";
margin-bottom: -2px;
}

#---new-messages-bar > span::before {
  border-color: currentColor;
  opacity: 1.0;
}

// Remove
#---new-messages-bar .unreadPill-2HyYtt svg {display: none}
#---new-messages-bar .content-1o0f9g + .unreadPill-2HyYtt::after {display: none}
*/

.container-3PXSwK {
  border-radius: var(--radius-primary);
}

.theme-dark .notches-1sAcEM.gray-3_LNYR {
display: none;
}

.theme-dark .progress-1IcQ3A,
.theme-light .progress-1IcQ3A {
  background: var(--background-primary);
}


.micTestCaption-2xsa4I {
  top: 32px;
  left: 148px;
}

// Button
.micTestButton-2Vwk4_ {
  width: 140px;
}


/*
// Profile Voice icon
.ping-2NgC8E {
  transform: scale(1.7);
  margin-left: 5px;
  margin-top: 11px;
  margin-bottom: 0;
  height: 10px;
}

.channel-1TmDQ6 {
  margin-left: 30px;
  margin-top: -9px;
}

.rtcConnectionStatusConnected-VRZDjy {
  margin-left: 5px;
}
*/




// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

/*
//inbox
.layer-v9HyYc {
  margin-top: 20px;
}

// (Unreads)
.container-enaOkj {
  background: var(--background-tertiary);
  border-radius: var(--radius-primary);
}

.recentMentionsPopout-3rCiI6 {
  width: 65vw;
  max-width: 500px;
  min-width: 280px;
  max-height: 20vh;
}
*/

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base               ║ Search Results                                                                    ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

//Background
.searchResultsWrap-3-pOjs {
  background: transparent;
  position: relative;
  border-radius: var(--radius-primary);
  width: 40vw;
  margin-left:10px;
  margin-right: 10px;
}

// Blur
.searchResultsWrap-3-pOjs:before {
  background: var(--background-secondary);
  position: absolute;
  content: "";
  border-radius: var(--radius-secondary);
  backdrop-filter: blur(var(--transparency-blur));
  width:100%;
  height:100%;
}

// Header
.searchHeader-2XoQg7 {
  background: var(--background-secondary);

  border-radius: var(--radius-primary);
}

/*
.searchHeader-2XoQg7 {
  background: var(--background-tertiary);
  position: absolute;
  content: "";
  border-radius: var(--radius-primary);
  backdrop-filter: blur(var(--transparency-blur));
  width:100%;
}
*/

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║                    ║                                                                                   ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

/*
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
  background: var(ra);
}
*/

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Channels           ║ Header                                                                            ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.sidebar-2K8pFh .header-2V-4Sw {
  border-radius: var(--radius-primary);
  background: transparent;
  position: relative;

  height:40px;
  width: 100%;
  margin: 0px 0px 20px 0px;
  padding-left: 20px;
  padding-right: 20px;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ Nitro Classic                                                                     ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.giftCodeContainer-1fbmAS .embedVertical-W5-T0m {
  width: 300px;
}

.theme-dark .tile-2OwFgW,
.theme-light .tile-2OwFgW {
  background: var(--background-tertiary);
  border-radius: var(--radius-primary);
}


.theme-dark .tile-2OwFgW:hover,
.theme-light .tile-2OwFgW:hover {
  background: var(--highlight-hover);
}

.media-gfq_4j {
border-radius: var(--radius-primary);
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Popout             ║ Explore Server                                                                    ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.theme-dark .root-1gCeng:before, .theme-light .root-1gCeng:before {
  z-index: -1;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base               ║ Radio Button                                                                      ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.radioBar-bMNUI- circle {color: white}

.radioBar-bMNUI- {
    border: none;
    background: var(--background-tr);
    border-radius: var(--radius-secondary);
}

.item-26Dhrx {border-radius:5px;color:var(--interactive-active)!important;background:#0000!important}
.item-26Dhrx .title-3BE6m5 {font-weight:500}
.item-26Dhrx[aria-checked="false"] .title-3BE6m5 {color:var(--radio-bar-accent-color)}
.item-26Dhrx[aria-checked="true"] {color:#fff!important}
.theme-dark {--checkbox-fill:#72767d}
.theme-light {--checkbox-fill:#b9bbbe}


.radioBar-bMNUI- {--radio-bar-accent-color:#7289da}
[aria-checked="true"]>.radioBar-bMNUI- {background:var(--radio-bar-accent-color);border-color:var(--radio-bar-accent-color)}
[aria-checked="true"]>.radioBar-bMNUI- {--radio-bar-accent-color:#7289da}
[aria-checked="false"]>.radioBar-bMNUI- .size14-e6ZScH {color:var(--interactive-normal)}
[aria-checked="false"]>.radioBar-bMNUI-  {--radio-bar-accent-color:var(--interactive-active)}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base               ║ No Channel Notice                                                                 ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.container-3w7J-x .channelNotice-1-XFjC {
  display: none;
}




/*
[class*=GuildSubscriberlvl8]  {display: none;}
*/

.scroller-1Bvpku {
  contain: unset;
}