/* ╔════════════════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ CreArts                                                                                                            ║ */
/* ╠══════════════════════════╦═════════════════════════════════════════════════════════════════════════════════════════╣ */
/* ║ Skin:                    ║ Zelda Edition                                                                           ║ */
/* ║ Author:                  ║ CorellanStoma#1996                                                                      ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ General                  ║ Here you can make general adjustments.                                                  ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

:root {
  /* Info */
  --SKIN-skin: "Zelda Edition";
  --SKIN-author: "CorellanStoma";
  
  /* Wallpaper */
  --SKIN-wallpaper: url("https://i.imgur.com/VwKuOEN.jpg");
  --SKIN-wallpaper-opacity: 1.0;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Dark                     ║ Here you can make general adjustments.                                                  ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

.theme-dark {
/* Lightness */
--SKIN-lightness: 0%;

/* Grading */
--SKIN-grading-0: 0%;
--SKIN-grading-1: 3%;
--SKIN-grading-2: 6%;
--SKIN-grading-3: 9%;

/* Interactive (HSLA) */
--SKIN-interactive-h: 101;
--SKIN-interactive-s: 10%;
--SKIN-interactive-l: 90%;
--SKIN-interactive-a: 1.0;

/* Background (HSLA) */
--SKIN-background-h: 170;
--SKIN-background-s: 20%;
--SKIN-background-l: 20%;
--SKIN-background-a: 0.7;

/* Accent (HSLA) */
--SKIN-accent-h: 150;
--SKIN-accent-s: 80%;
--SKIN-accent-l: 40%;
--SKIN-accent-a: 1.0;

/* Green (HSLA) */
--SKIN-green-h: 153;
--SKIN-green-s: 46%;
--SKIN-green-l: 49%;
--SKIN-green-a: 1.0;

/* Yellow (HSLA) */
--SKIN-yellow-h: 38;
--SKIN-yellow-s: 96%;
--SKIN-yellow-l: 54%;
--SKIN-yellow-a: 1.0;

/* Red (HSLA) */
--SKIN-red-h: 0;
--SKIN-red-s: 85%;
--SKIN-red-l: 61%;
--SKIN-red-a: 1.0;

/* Purple (HSLA) */
--SKIN-purple-h: 262;
--SKIN-purple-s: 47%;
--SKIN-purple-l: 40%;
--SKIN-purple-a: 1.0;
}