// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Sidebar                  ║ Misc Settings                                                                                    ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Header
.info-1VyQPT:after {
    background: transparent;
    content: 'Misc Settings';
    position: absolute;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Quicksand';
    width: 100%;
    top: 38px;
    color: var(--accent-text-secondary);
    text-transform: uppercase;
}


// Reoder
.sidebar-CFHs9e [data-item-id="HypesquadOnline"] {order: -4;}
.sidebar-CFHs9e [data-item-id="DeveloperOptions"] {order: -3;}
.sidebar-CFHs9e [data-item-id="Experiments"] {order: -2;}
.sidebar-CFHs9e [data-item-id="changelog"] {order: -1;}

// Spacing
.sidebar-CFHs9e [data-item-id="changelog"] {margin-bottom: 16px;}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Sidebar                  ║ User Settings                                                                           ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.sidebar-CFHs9e [data-item-id="Connections"] {margin-bottom: 16px;}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Sidebar                  ║ Billing Settings                                                                        ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.sidebar-CFHs9e [data-item-id="Billing"] {margin-bottom: 16px;}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Sidebar                  ║ App Settings                                                                            ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.sidebar-CFHs9e [data-item-id="Advanced"] {margin-bottom: 16px;}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Sidebar                  ║ Activity Settings                                                                       ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.sidebar-CFHs9e [data-item-id="Overlay"] {margin-bottom: 16px;}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Sidebar                  ║ Powercord                                                                               ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Sidebar                  ║ Plugins                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.sidebar-CFHs9e [data-item-id="pc-updater"] {
  margin-bottom: 50px !important;
}

// Header
.sidebar-CFHs9e .header-2RyJ0Y {
  font-family: 'Quicksand';
  font-weight: 600;
}

// Separator
.side-8zPYf6 .separator-gCa7yv {display: none;}

// Plugin Header
.info-1VyQPT:before {
  background: transparent;
  content: 'Plugins';
  position: absolute;
  font-size: 15px !important;
  font-weight: 600;
  font-family: 'Quicksand';
  width: 100%;
  top: 1240px;
  color: var(--accent-text-secondary);
  text-transform: uppercase;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Sidebar                  ║ Logout                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Background & Text
.side-8zPYf6 [data-item-id="logout"] {
background: var(--red-primary);
color: white !important;
}

// Icon
.side-8zPYf6 [data-item-id="logout"]::before {
background: white !important;
}

// Spacing
.side-8zPYf6 [data-item-id="logout"] {
margin-top: 30px;
margin-bottom: 30px;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Sidebar                  ║ Info                                                                                    ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Base
.info-1VyQPT .size12-3cLvbJ {
color: var(--text-normal);
user-select: none;
}

// Header
.info-1VyQPT .size12-3cLvbJ:first-child::before {
content: 'Info \a';
text-transform: none;
white-space: pre;
user-select: none;
font-size: 15px;
text-transform: uppercase;
color: var(--accent-text-secondary);
font-weight: 600;
position: relative;
bottom: 8px;
}

// Info
.info-1VyQPT .size12-3cLvbJ:last-child::after {
content: '\a' '\a Version: CreArts ' var(--version) '\a Skin:'var(--skin);
text-transform: none;
white-space: pre;
user-select: none;
}


// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Sidebar                  ║ Social Links                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝


.socialLinks-3jqNFy {
order: 1;
}