// Banner
.container-1NXEtd[aria-label*="CreArts | Community"] .header-3OsQeK::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-image: url("https://i.imgur.com/nOPFf0m.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: var(--radius-primary);
}





// Spacing
.container-1NXEtd[aria-label*="CreArts | Community"] .header-3OsQeK {
  height: 135px !important;
  padding-bottom: 80px;
}


// Info Hide
.container-1NXEtd[aria-label*="CreArts | Community"] .guildIconContainer-2FW_iA,
.container-1NXEtd[aria-label*="CreArts | Community"] .name-3Uvkvr,
.container-1NXEtd[aria-label*="CreArts | Community"] .button-2BMPJJ {
  z-index: 2;
  opacity: 0;
  transition: none;
}

.container-1NXEtd[aria-label*="CreArts | Community"] .header-3OsQeK:hover .guildIconContainer-2FW_iA,
.container-1NXEtd[aria-label*="CreArts | Community"] .header-3OsQeK:hover .name-3Uvkvr,
.container-1NXEtd[aria-label*="CreArts | Community"] .header-3OsQeK:hover .button-2BMPJJ {
  z-index: 2;
  opacity: 1;
  transition: none;
}



.container-1NXEtd[aria-label*="CreArts | Community"] .header-3OsQeK:hover .name-3Uvkvr {
color: var(--interactive-active);
}

/*
.container-1NXEtd[aria-label*="CreArts | Community"] .positionedContainer-W9XtGp {
  position: relative;
  border-radius: var(--radius-primary);
  top: -60px;
  width: 100%;
  height: 120px !important;
  box-shadow: inset 0 0 0 135px rgba(0,0,0,0.060);
  background-image: url("https://i.imgur.com/nOPFf0m.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: -40px;
}
*/






















/*
.container-1NXEtd[aria-label*="CreArts | Community"] .container-1-ERn5 {
  background: transparent !important;
  }
  



//Hover
.container-1NXEtd[aria-label*="CreArts | Community"] .positionedContainer-W9XtGp:hover {
  box-shadow: inset 0 0 0 135px rgba(0,0,0,0.200) !important;
}

.container-1NXEtd[aria-label*="CreArts | Community"] .header-3OsQeK {
  background: transparent !important;
}




// Unread
.container-1NXEtd[aria-label*="CreArts | Community"] .unreadTop-1DJtGv {
  height: 200px;
  position: ab; top: 160px;
}
*/


/*
.container-1NXEtd[aria-label*="CreArts | Community"] .clickable-vvKY2q .header-3OsQeK:hover,
.container-1NXEtd[aria-label*="CreArts | Community"] .selected-1GtAC5 .header-3OsQeK {
  background: rgba(0, 0, 0, 0.274) !important;
  }
*/
