

/*
.avatar-2e8lTP[src*="288362986991648778"] + h2 .username-h_Y3Us::after {
    content: 'CreArts';
    color: #fff;
    background: var(--accent-primary);
    display: inline-block;
    font-size: 10px;
    font-weight: 500;
    height: 1.28em;
    padding: 2px 4px;
    border-radius: var(--radius-primary);
    line-height: 1.3;
    margin-left: 4px;
    bottom: 2px;
    position: relative;
    text-transform: uppercase;
}
*/