.powercord-codeblock-table {
  width: 40vw !important;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Bubbles            ║ General                                                                           ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Image Spacing
.container-1ov-mD {
  margin-top: 12px;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Bubbles            ║ Self                                                                              ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.scrollerInner-2YIMLh [data-is-author-self="true"] .contents-2mQqc9 > .markup-2BOw-j:not(:empty) {
  background-color: var(--background-tertiary);
}

// Background (Triangle)
.scrollerInner-2YIMLh [data-is-author-self="true"]  .contents-2mQqc9 > .markup-2BOw-j:not(:empty):before {
  border-right: 2px solid var(--background-tertiary);
  border-top: 8px solid var(--background-tertiary);
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Bubbles            ║ Other                                                                             ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background (First Type)
.groupStart-23k01U .contents-2mQqc9 > .markup-2BOw-j:not(:empty) {
  background-color: var(--background-primary);
  display: inline-block;
  margin: 2px 0px 0px 0px;
  padding: 8px 8px ;
  border-radius: 0px var(--radius-secondary) var(--radius-secondary) var(--radius-secondary) !important;
  position: relative;
  overflow: visible;
  max-width: 36vw;
}

// Background (Second Type)
.scrollerInner-2YIMLh .contents-2mQqc9 > .markup-2BOw-j:not(:empty) {
  background-color: var(--background-primary);
  display: inline-block;
  margin: 2px 0px 0px 0px;
  padding: 8px 8px;
  border-radius: var(--radius-secondary);
  position: relative;
  overflow: visible;
  max-width: 36vw;
}

// Background (Triangle) (First Type)
.groupStart-23k01U .contents-2mQqc9 >  .markup-2BOw-j:not(:empty):before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-right: 2px solid var(--background-primary);
  border-left: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-top: 8px solid var(--background-primary);
  left: -10px;
  top: 0px;
}


// Blockquote (Background)
.scrollerInner-2YIMLh  [data-is-author-self="false"] .blockquoteContainer-U5TVEi blockquote {
  background: var(--background-secondary);
  border-radius: 0 var(--radius-secondary) var(--radius-secondary) 0;
  padding: 6px 16px 6px 12px;
  margin-top: 4px;
  margin-bottom: 4px;
}
  
// Blockquote (line)
.scrollerInner-2YIMLh .blockquoteContainer-U5TVEi .blockquoteDivider-2hH8H6 {
  background: var(--accent-primary);
  border-radius: 6px 0px 0px 6px;
  width: 6px;
  margin-top: 4px;
  margin-bottom: 4px;
}

//Server Invite
.scrollerInner-2YIMLh .wrapper-35wsBm {
  background: var(--background-primary);
  border-radius: 0px var(--radius-secondary) var(--radius-secondary) var(--radius-secondary);
}

// Background (Triangle)
.scrollerInner-2YIMLh .wrapper-35wsBm:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-right: 2px solid var(--background-primary);
  border-left: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-top: 8px solid var(--background-primary);
  left: -10px;
  top: 2px;
}

