/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ No GIF                   ║ Base                                                                                    ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

.buttonContainer-2lnNiN>.button-f2h6uQ:not(.emojiButton-1fMsf3 ).colorBrand-I6CyqQ>.contents-3ca1mk:not(.stickerButton-1-nFh2){
    position: fixed;
    visibility: hidden;
}