// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Channels           ║ Background                                                                        ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.container-3w7J-x{
    border-radius: var(--radius-primary);
    background: transparent;
    position: relative;
}

// Blur
.sidebar-2K8pFh .thin-1ybCId {
    background: var(--background-secondary);
    border-radius: var(--radius-primary);
    position: relative;
    content: "";
    border: var(--border);
    backdrop-filter: blur(var(--blur));
    box-shadow: var(--shadows);
    
    height:100%;
    width: var(--channel-width);
  }


// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════════════════╗
// ║ Channels           ║ Header                                                                            ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Header Background
.header-2V-4Sw {
    border-radius: var(--radius-primary);
    background: transparent;
    position:relative;
    height: 40px;
    
}

// Header Hover
.header-2V-4Sw:hover {
    background: transparent;
    border-radius: var(--radius-primary);
    box-shadow: none;
}
// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Channels           ║ Sidebar                                                                           ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.sidebar-2K8pFh {
    background: transparent;
    width: var(--channel-width);
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Channels           ║ Server Banner                                                                     ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.bannerImage-3KhIJ6{
    width: var(--channel-width);
    height: 100%;
    z-index: 1;
}

.animatedContainer-1NSq4T {
    background:transparent;
    overflow: hidden;
    width: var(--channel-width);
    box-shadow: none;
    border-radius: var(--radius-primary);
    z-index: 2;
}
