// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Channels           ║ Background                                                                        ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.container-3w7J-x{
    border-radius: var(--radius-primary);
    background: transparent;
    position: relative;
}

// Blur
.sidebar-2K8pFh .thin-1ybCId {
    background: var(--background-secondary);
    border-radius: var(--radius-primary);
    position: relative;
    content: "";
    border: var(--border);
    backdrop-filter: blur(var(--blur));
    box-shadow: var(--shadows);
    
    height:100%;
    width: var(--channel-width);
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Channels           ║ Header                                                                            ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.container-1taM1r {
    background: var(--background-secondary);
    border-radius: var(--radius-primary);
    height: 40px;
    backdrop-filter: blur(var(--blur));
    box-shadow: var(--shadows);
    border: var(--border);
    z-index: 2;
    margin-bottom: 20px;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Channels           ║ Mobile Menu                                                                       ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝


.button-1w5pas path {display: none;}
.button-1w5pas.open-1Te94t {transform: none;}

.theme-dark .button-1w5pas,
.theme-light .button-1w5pas {
    -webkit-mask: url('https://corellanstoma.github.io/CreArts/assets/icons/theme_menu.svg') center no-repeat;
    mask: url('https://corellanstoma.github.io/CreArts/assets/icons/theme_menu.svg') center no-repeat;
    background: var(--interactive-normal);
    position: relative;
    opacity: 1;
    margin-bottom: 8px;
}


// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Channels           ║ Nitro                                                                             ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.childContainer-1wxZNh {display: none;}


// Flower
.flowerStar-1GeTsn {display: none;}

// Guild Tier None
.iconBackgroundTierNone-3ZkOsa {
    background: var(--interactive-normal);
    -webkit-mask: url('https://corellanstoma.github.io/CreArts/assets/icons/theme_nitro_none.svg') center no-repeat;
    mask: url('https://corellanstoma.github.io/CreArts/assets/icons/theme_nitro_none.svg') center no-repeat;
}

// Guild Tier I
.iconBackgroundTierOne-2OQMBY {
    background: var(--interactive-normal);
    -webkit-mask: url('https://corellanstoma.github.io/CreArts/assets/icons/theme_nitro.svg') center no-repeat;
    mask: url('https://corellanstoma.github.io/CreArts/assets/icons/theme_nitro.svg') center no-repeat;
}

// Guild Tier II
.iconBackgroundTierTwo-Eab9L6 {
    background: var(--interactive-normal);
    -webkit-mask: url('https://corellanstoma.github.io/CreArts/assets/icons/theme_nitro.svg') center no-repeat;
    mask: url('https://corellanstoma.github.io/CreArts/assets/icons/theme_nitro.svg') center no-repeat;
}

// Guild Tier III
.iconBackgroundTierThree-FWlUL9 {
    background: var(--interactive-normal);
    -webkit-mask: url('https://corellanstoma.github.io/CreArts/assets/icons/theme_nitro.svg') center no-repeat;
    mask: url('https://corellanstoma.github.io/CreArts/assets/icons/theme_nitro.svg') center no-repeat;
}

// Partner
.guildBadge-3IDi4U {
    background: var(--interactive-normal);
    -webkit-mask: url('https://corellanstoma.github.io/CreArts/assets/icons/theme_partner.svg') center no-repeat;
    mask: url('https://corellanstoma.github.io/CreArts/assets/icons/theme_partner.svg') center no-repeat;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Channels           ║ text                                                                              ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.name-1jkAdW, .tierTooltipTitle-3AtaZT {
    font-weight: 400;
    color: var(--interactive-normal);
}

.name-1jkAdW {

    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-bottom: 2px;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Channels           ║ Server Banner                                                                     ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.animatedContainer-1NSq4T {
    background:transparent;
    overflow: hidden;
    width: var(--channel-width);
    box-shadow: none;
    border-radius: var(--radius-primary);
    z-index: 2;
    top: -2px;
}

.bannerImage-3KhIJ6{
    width: var(--channel-width);
    height: 100%;
    z-index: 1;
}