// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ Background                                                                        ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.chatContent-a9vAAp {
    background: var(--background-secondary);
    border-radius: var(--radius-primary);
    position: relative;
    content: "";
    border: var(--border);
    backdrop-filter: blur(var(--blur));
    box-shadow: var(--shadows);

    height:100%;
    width:100%;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ Spacing                                                                           ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.messagesWrapper-1sRNjr {
    margin-right: 0px;
    margin-left: 0px;

}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ No Divider                                                                        ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// No Divider (Dark)
.theme-dark .form-2fGMdU:before {
    display: none;
}

// No Divider (Light)
.theme-light .form-2fGMdU:before {
    display: none;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════════════════╗
// ║ Chat               ║ Input                                                                             ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.scrollableContainer-2NUZem {
    background: var(--background-tertiary);
    border-radius: var(--radius-primary);
    position: relative;
    content: "";
    backdrop-filter: blur(var(--blur));
    box-shadow: var(--shadows);
    z-index: 90;
    bottom: 0px;
}

.channelTextArea-rNsIhG {
    background: transparent;
    margin-bottom: 0px;
}

.form-2fGMdU {
    padding: 0px;
}

.sansAttachButton-td2irx {
    padding-left: 26px;
    padding-right: 20px;
}

.chat-3bRxxu .content-yTz4x3 .chatContent-a9vAAp .messagesWrapper-1sRNjr, .chat-3bRxxu .content-yTz4x3 .chatContent-a9vAAp .scroller-2LSbBU {
    margin-bottom: 4px;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Addons             ║ Hover Button                                                                      ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Hover
.scrollableContainer-2NUZem:hover .buttons-3JBrkn {
    opacity: 1.0;
}

.form-2fGMdU .buttons-3JBrkn {
    opacity: 0.0;
    transition: opacity 0.2s;
}

// Spacing
.attachButton-2WznTc {
    padding: 0px 0px 0px 10px;
}

.buttonWrapper-1ZmCpA {
    margin-bottom: -3px;
}
    
// Upload Button
.attachWrapper-2TRKBi {
    order: 1;
    margin-left: 9px;
}

// Emoji Button
.emojiButton-3uL3Aw .contents-18-Yxp {
    background: var(--interactive-normal);
    -webkit-mask: url('https://corellanstoma.github.io/CreArts/assets/icons/theme_emoji.svg') center no-repeat;
    mask: url('https://corellanstoma.github.io/CreArts/assets/icons/theme_emoji.svg') center no-repeat;
    height: 20px;
    width: 20px;
    margin-bottom: 0px;
}

.emojiButton-3uL3Aw:hover .contents-18-Yxp {
    background: var(--interactive-hover);
}

.sprite-2iCowe {
    opacity: 0.0;
}








  
// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ Reply                                                                             ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.text-15b_0l, .colorBrand-2tjs5J, .colorMuted-HdFt4q, .closeButton-37O8QC {color: var(--accent-text);}

.name-hpTFiv { color: var(--accent-text) !important;}

.container-2fRDfG {
    background: var(--accent-primary);
    border-radius: var(--radius-primary);
    margin-bottom: 12px;
    margin-top: 6px;
    margin-left: 20px;
    margin-right: 20px;
}

.container-2fRDfG:hover {
    background: var(--accent-secondary);
}

.container-2fRDfG:active {
    background: var(--accent-tertiary);
}

.separator-ju-9xl {
    width: 2px;
    background: var(--accent-text);
}

// Cooldown
.cooldownWrapper-3joyFc {
    color: white !important;
}

//Slowmode
.slowModeIcon-1BPDC_ {
color: white;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ Typing                                                                            ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.form-2fGMdU {
    display: flex;
    flex-direction: column-reverse;
}

.typing-2GQL18, .base-gE7OpD {
    background: var(--accent-primary);
    border-radius: var(--radius-primary);
    position: relative;
    margin-bottom: 5px;

    left: 0;
    margin-left: 20px;
    margin-right: 20px;

    padding-left: 10px;
    padding-right: 10px;
}

.typing-2GQL18:hover, .base-gE7OpD:hover {
    background: var(--accent-secondary);
}

.scrollerSpacer-avRLaA {
    height: 40px;
}

.dots-3Bkt3k.themed-IQiCm3, .base-gE7OpD .text-1y-e8- {
    color: var(--accent-text);
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ Jump to Present                                                                   ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.jumpToPresentBar-G1R9s6 {
    visibility: hidden;
    bottom: 10px;
    margin-right: -10px;
}

.jumpToPresentBar-G1R9s6 .barButtonIcon-3t4V3d {
    background: var(--accent-primary);
    position: relative;
    transform: scale(1.5);
    visibility: visible;
    padding: 4px;
    border-radius: 90px;
    margin: 0px;
}

.barButtonIcon-3t4V3d:hover {background: var(--accent-secondary);}
.barButtonIcon-3t4V3d:active {background: var(--accent-tertiary);}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ New Message Bar                                                                   ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.newMessagesBar-265mhP {
    background: var(--accent-primary);
    border-radius: var(--radius-primary);
    margin-top: 12px;
}

.newMessagesBar-265mhP:hover {
    background: var(--accent-secondary);
}

.newMessagesBar-265mhP:active {
    background: var(--accent-tertiary);
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ Emoji Drawer                                                                      ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.drawerSizingWrapper-17Mss4 {
    position: absolute;
    height: calc(100vh / 2.2);
    bottom: 0px;
    right: 0;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ Hover Highlight                                                                   ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.message-2qnXI6.selected-2P5D_Z, .mouse-mode.full-motion .message-2qnXI6:hover {
    border-radius: var(--radius-secondary);
  }

.chat-3bRxxu .content-yTz4x3 .chatContent-a9vAAp .messagesWrapper-1sRNjr,
.chat-3bRxxu .content-yTz4x3 .chatContent-a9vAAp .scroller-2LSbBU {
    border-radius: var(--radius-primary) var(--radius-primary) 0 0;
}


// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ Embeds                                                                            ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.embedFull-2tM8-- {
    background: var(--background-tertiary);
    border-top-right-radius: var(--radius-primary);
	border-bottom-right-radius: var(--radius-primary);
    border-left: 6px solid var(--accent-primary);
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ Downloads                                                                         ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.attachment-33OFj0 {
    border: none;
    background-color: var(--background-tertiary);
	border-radius: var(--radius-secondary);
}

.anchor-3Z-8Bb {
    color: var(--text-link);
    text-decoration: none;

    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ Media                                                                             ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝


// Image
.wrapper-2TxpI8 {
    border-radius: var(--radius-secondary);
}

// Video
.imageWrapper-2p5ogY {
    border-radius: var(--radius-secondary);
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ Mention                                                                           ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Mention Line
.mentioned-xhSam7:before {
    background: var(--accent-primary);
}

.ephemeral-1PsL1r:before, .mentioned-xhSam7:before, .replying-1x3H0T:before {
    width: 6px;
    left: 0px;
    border-radius: var(--radius-secondary) 0 0 var(--radius-secondary);
}

// Mention Background
.mentioned-xhSam7 {
    background-color: var(--background-mentioned);
    border-radius: var(--radius-secondary);
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ Mention (Text & User)                                                             ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Mention (Normal)
.wrapper-3WhCwL {
    color: var(--accent-primary);
    background: var(--accent-active);
    border-radius: var(--radius-mention);
    padding-left: 8px;
    padding-right: 8px;
}

// Mention (Hover)
.wrapper-3WhCwL:hover {
    color: var(--accent-secondary);
    background: var(--accent-hover);
    border-radius: var(--radius-mention);
}




.mention {
    border-radius: var(--radius-mention);
    padding-left: 8px;
    padding-right: 8px;
}



// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ Reaction                                                                          ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Reaction
.reaction-1hd86g {
    background: var(--background-tertiary);
    border-radius: var(--radius-reaction);
}

// Emoji
.reaction-1hd86g .emoji {
    width: 1.2rem;
    height: 1.2rem;
}

// Text
.reactionMe-wv5HKu .reactionCount-2mvXRV {color: var(--interactive-normal);}
.reactionMe-wv5HKu:hover .reactionCount-2mvXRV {color: var(--interactive-hover);}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ Selection                                                                         ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

::selection {
    color: var(--selection-text);
    background: var(--selection-background);
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ Quotes                                                                            ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.blockquoteContainer-U5TVEi blockquote {
    background: var(--background-tertiary);
    border-radius: 0 var(--radius-primary) var(--radius-primary)  0;
    padding: 6px 16px 6px 12px;
    margin-top: 4px;
    margin-bottom: 4px;
}
    
// line
.blockquoteContainer-U5TVEi .blockquoteDivider-2hH8H6 {
    background: var(--accent-primary);
    border-radius: 6px 0px 0px 6px;
    width: 6px;
    margin-top: 4px;
    margin-bottom: 4px;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ Spoiler                                                                            ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝































// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ Invite                                                                            ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ Code                                                                              ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝











// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ Follow Channel                                                                    ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.wrapper-39oAo3 {
    background: var(--background-tertiary);
    border-radius: var(--radius-primary);
    margin-bottom: 0px;
    height: 40px;
    padding: 0px;
}

// Image
.image-3XsqGc {
    height: 40px;
    margin-right: 12px;
    margin-bottom: -8px;
    -ms-flex-item-align: end;
    align-self: flex-end;
    width: 22px;
}

// Text
.base-1x0h_U {
    font-weight: 400;
    color: var(--text-normal);
}

.size16-1P40sf {
    font-size: 14px;
    line-height: 14px;
}

// Button
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6,
.theme-light .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    color: var(--interactive-active);
    background: var(--accent-primary);
    border-radius: var(--radius-button);
}

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover,
.theme-light .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover {
    background: var(--accent-secondary);
}

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:active,
.theme-light .lookFilled-1Gx00P.colorPrimary-3b3xI6:active {
    background: var(--accent-secondary);
}