// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Discover           ║                                                                                   ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.theme-dark .pageWrapper-1PgVDX {
    background-color: var(--background-secondary);
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: var(--radius-primary);
}
