// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Discover           ║                                                                                   ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.pageWrapper-1PgVDX {
    background: var(--background-secondary) !important;
    border-radius: var(--radius-primary);
    margin-right: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
