// ╔════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ CreArts v2.0.0                                                                                         ║
// ╠════════════════════╦═══════════════════════════════════════════════════════════════════════════════════╣
// ║ name:              ║ CreArts                                                                           ║
// ║ version:           ║ 2.0.0                                                                             ║
// ║ author:            ║ CorellanStoma#1996                                                                ║
// ╠════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╣
// ║                                                                                                        ║
// ║ This is the official theme of the CreArts Community. CreArts is a Powercord theme that changes the     ║
// ║ UI from Discord and was created by CorellanStoma#1996. This theme is a standalone version,             ║
// ║ we can't promise that theme will work in combination with other themes.                                ║
// ║                                                                                                        ║
// ║ More information about Powercord can be found here:                                                    ║
// ║ ● https://powercord.dev/                                                                               ║
// ║                                                                                                        ║
// ║ If you need support join our Creative Community:                                                       ║
// ║ ● https://discord.gg/8W8E39Z                                                                           ║
// ║                                                                                                        ║
// ║ Our Art & Design Wiki:                                                                                 ║
// ║ ● https://crearts.wiki/                                                                                ║
// ║                                                                                                        ║
// ╚════════════════════════════════════════════════════════════════════════════════════════════════════════╝

// Avatar
.avatar-1BDn8e, .wrapper-3t9DeA {
  border-radius: var(--radius-avatar);
}


///////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Popouts            ║ Profile (Background)                                                              ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.userPopout-3XzG_A {
  border-radius: var(--radius-primary);
  background: transparent;
  position: relative;
  border: var(--border) solid rgba( 255, 255, 255, var(--border-opacity));
  box-shadow: var(--shadows-popout);
  width: var(--profile-width);
}

// Blur
.userPopout-3XzG_A:before {
  background: var(--background-secondary);
  position: absolute;
  content: "";
  border-radius: var(--radius-primary);
  backdrop-filter: blur(var(--blur));
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}

// Header
.headerTop-3C2Zn0 {
  border-radius: var(--radius-primary);
  background: var(--accent-primary);
  position: relative;
  min-height: 218px;
  z-index: 1;
}

.headerTop-3C2Zn0:hover {
  background: var(--accent-secondary);
}

// No Background
.headerPlaying-j0WQBV, .headerSpotify-zpWxgT, .headerStreaming-2FjmGz{
  background: transparent;
}

.theme-dark .headerNormal-T_seeN {
  background: transparent;
  margin-bottom: -40px;
}

// Image Banner
.reduce-motion .userPopout-3XzG_A {
	transform:translateZ(0);
}

.userPopout-3XzG_A .wrapper-3t9DeA::after {
  border-radius: var(--radius-primary);
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
  height: 252px;
	z-index:-1;

	opacity: 1;
	pointer-events: none;
  filter: brightness(60%);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: var(--user-popout-position) center;
	background-image: var(--user-background);
}

// Status
.customStatus-1bh2V9 {
  text-align: var(--text-align);
  word-break: break-word;
  text-align-last: left;
  line-height: 18px;
  z-index: 2;
  height: 70px;
  overflow: scroll;
}

// Text
.headerNormal-T_seeN .headerTag-2pZJzA,
.headerNormal-T_seeN .customStatus-1bh2V9 {
  color: var(--text-normal);
}

// Activity
.activity-11LB_k {
  background: transparent;
}

// Roles
.theme-dark .body-3iLsc4,
.theme-dark .footer-1fjuF6,
.theme-light .body-3iLsc4,
.theme-light .footer-1fjuF6 {
  border-radius: var(--radius-primary);
  background: var(--background-tertiary);
  padding-top: 20px;
  margin-bottom: -12px;
}

.bodyInnerWrapper-Z8WDxe {
  padding-right: 12px;
}

.endBodySection-Rf4s-7 {
  margin-top: 20px;
  margin-bottom: 0px;
}


/*
// No Note
.note-3HfJZ5 { display: none; }
.footer-1fjuF6 { padding-bottom: 17.5px; margin-top: -15px }
.bodyTitle-Y0qMQz { display: none }
.bodyInnerWrapper-Z8WDxe:before { 
  content: 'User Roles:';
  font-weight: 700;
  font-size: 14px;
  color: white;
}
*/

// Footer
.theme-dark .footer-1fjuF6,
.theme-light .footer-1fjuF6 {

  background: transparent;
}

// Message
.popouts-2bnG9Z .input-cIJ7To {
  position: relative;
  background: transparent;
  padding-top: 20px;
  height: 60px;
}

.popouts-2bnG9Z .input-cIJ7To:before {
  background: red;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
}

// No Protip
.protip-YaFfgO {display: none;}








//Roles
.role-2irmRk {
  border-radius: 90px;
  position: relative;
  overflow: hidden;
  border: none;

  z-index: 1;
}

.roleCircle-3xAZ1j::before {
  background: inherit;
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;

  opacity: 0.2;
  z-index: -1;
}

.roleName-32vpEy {
  color: white;
}



/*
.role-2irmRk {
  position: relative;
  overflow: hidden;
  border: none;
  padding: 5px;
}
.roleCircle-3xAZ1j::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  opacity: .2;
  pointer-events: none;
}
*/




// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Call               ║                                                                                   ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.wrapper-2qzCYF.fullScreen-1tMzXY, .wrapper-2qzCYF.noChat-18KtBD {
  border-radius: var(--radius-primary);
  padding: 0;
}
















// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Chat               ║ No Divider                                                                        ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝
/*
// Mobile Unread Message Bar
#---new-messages-bar {
  margin: 01.5px 20px;
  top: 0;height: 22px;
  border-top: 0;
}


#---new-messages-bar .content-1o0f9g {
  font-size: 14px;
  font-weight: 500;
  padding: 0 8px;
  background: red;
  border-radius: 0}

#---new-messages-bar span::before {
  position: absolute;
  content: "";
  width: 100%;
  top: 50%;
  left: 0;
  border-bottom: thin solid;
  border-color: var(--background-modifier-accent);
  background-color: var(--accent-primary);
  z-index: -1;
  opacity: 0.3 !important
}

#---new-messages-bar .content-1o0f9g::after {
  border-color: currentColor;
  opacity: 0.0
}



// Background
#---new-messages-bar .unreadPill-2HyYtt {
position: initial;
height: 100%;
top: 0;
color: #fff;
font-weight: 600;
background-color: var(--accent-primary);
border-radius: var(--radius-primary);
padding-left: 12px;
padding-right: 12px;
font-size: 0
}

#---new-messages-bar .unreadPill-2HyYtt::after {
font-size: 16px;
content: "NEW MESSAGES";
margin-bottom: -2px;
}

#---new-messages-bar > span::before {
  border-color: currentColor;
  opacity: 1.0;
}

// Remove
#---new-messages-bar .unreadPill-2HyYtt svg {display: none}
#---new-messages-bar .content-1o0f9g + .unreadPill-2HyYtt::after {display: none}
*/











.container-3PXSwK {
  border-radius: var(--radius-primary);
}



.theme-dark .notches-1sAcEM.gray-3_LNYR {
display: none;
}


.theme-dark .progress-1IcQ3A,
.theme-light .progress-1IcQ3A {
  background: var(--background-primary);
}


.micTestCaption-2xsa4I {
  top: 32px;
  left: 148px;
}


// Button
.micTestButton-2Vwk4_ {
  width: 140px;
}












































// Profile Voice icon

.ping-2NgC8E {
  transform: scale(1.7);
  margin-left: 5px;
  margin-top: 11px;
  margin-bottom: 0;
  height: 10px;
}

.channel-1TmDQ6 {
  margin-left: 30px;
  margin-top: -9px;
}

.rtcConnectionStatusConnected-VRZDjy {
  margin-left: 5px;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Popouts            ║ Krisp                                                                             ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.noiseCancellationPopout-iRK2A0 {
  background: var(--background-primary);
  border-radius: var(--radius-primary);
  box-shadow: var(--shadows-popout);
}

.theme-dark .notches-1sAcEM.black-1D3qCv {
  display: none;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Popouts            ║ RTC Connection                                                                    ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

/* Better RTC Connection popout */
.layerContainer-yqaFcK .layer-v9HyYc[style*="position: absolute; left: 100px;"] {
  left: 72px !important;
}
.container-2x5lvQ {
  width: 240px;
  box-shadow: none;
}
.layerContainer-yqaFcK .layer-v9HyYc[style*="position: absolute; left: 100px;"] .container-2x5lvQ header {
  background-color: var(--toast-header);
}
.layerContainer-yqaFcK .layer-v9HyYc[style*="position: absolute; left: 100px;"] .container-2x5lvQ section {
  background-color: var(--deprecated-panel-background);
}
.container-2x5lvQ section p:nth-of-type(1) {
  font-size: 0;
}
.container-2x5lvQ section p:nth-of-type(2) {
  display: none;
}
.container-2x5lvQ section strong {
  font-size: 14px;
  white-space: pre;
}
.container-2x5lvQ section strong::before {
  font-weight: normal;
}
.container-2x5lvQ section strong:nth-of-type(1)::before {
  content: 'Server: ';
}
.container-2x5lvQ section strong:nth-of-type(2)::before {
  content: 'Average Ping: ';
}
.container-2x5lvQ section strong:nth-of-type(3)::before {
  content: 'Last Ping: ';
}
.container-2x5lvQ section strong:nth-of-type(4)::before {
  content: 'Packet Loss: ';
}










/*
//inbox
.layer-v9HyYc {
  margin-top: 20px;
}

// (Unreads)
.container-enaOkj {
  background: var(--background-tertiary);
  border-radius: var(--radius-primary);
}

.recentMentionsPopout-3rCiI6 {
  width: 65vw;
  max-width: 500px;
  min-width: 280px;
  max-height: 20vh;
}
*/

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base               ║ Inbox                                                                             ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.layer-v9HyYc .recentMentionsPopout-3rCiI6 {
  position: fixed;
  top: 112px;
  right: 20px;
  border-radius: var(--radius-primary);
  width: 60vw;
}


.messagesPopoutWrap-1MQ1bW {
  background-color: var(--background-secondary);
  -webkit-box-shadow: var(--elevation-stroke),var(--elevation-high);
  box-shadow: var(--elevation-stroke),var(--elevation-high);
  width: 420px;
  min-height: 200px;
  border-radius: 4px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
}




// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base               ║ Search Results                                                                    ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

//Background
.searchResultsWrap-3-pOjs {
  background: transparent;
  position: relative;
  border-radius: var(--radius-primary);
  width: 40vw;
  margin-left:10px;
  margin-right: 10px;
}

// Blur
.searchResultsWrap-3-pOjs:before {
  background: var(--background-secondary);
  position: absolute;
  content: "";
  border-radius: var(--radius-secondary);
  backdrop-filter: blur(var(--transparency-blur));
  width:100%;
  height:100%;
}




// Heder
.searchHeader-2XoQg7 {
  background: var(--background-secondary);

  border-radius: var(--radius-primary);
}

/*
.searchHeader-2XoQg7 {
  background: var(--background-tertiary);
  position: absolute;
  content: "";
  border-radius: var(--radius-primary);
  backdrop-filter: blur(var(--transparency-blur));
  width:100%;
}
*/





// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║                    ║                                                                                   ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

/*
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
  background: var(ra);
}
*/














// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Channels           ║ Selector                                                                          ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Normal
.wrapper-2jXpOf .content-1x5b-n {
  border-radius: var(--radius-primary);
}

// Hover
.wrapper-2jXpOf:hover .content-1x5b-n {
  background: var(--accent-primary);
  border-radius: var(--radius-primary);
}






// Voice Icon (Connected)
.modeConnected-3IsKId .icon-1DeIlz,
.modeConnected-3IsKId:hover .icon-1DeIlz {
color: var(--interactive-active);
}

// Voice Icon (Selected)
.modeSelected-346R90 .icon-1DeIlz,
.modeSelected-346R90:hover .icon-1DeIlz {
color: var(--interactive-active);
}

// Voice Icon (Unread)
.modeUnread-1qO3K1 .icon-1DeIlz, 
.modeUnread-1qO3K1:hover .icon-1DeIlz {
  color: var(--interactive-active);
}














// Channel Icon (Selected)
.modeSelected-346R90 .icon-1DeIlz,
.modeSelected-346R90:hover .icon-1DeIlz {
  color: var(--interactive-active);
}

// Channel Icon (Unread)
.modeUnread-1qO3K1 .icon-1DeIlz,
.modeUnread-1qO3K1:hover .icon-1DeIlz {
  color: var(--interactive-active);
}




// Voice Text (Selected)
.modeSelected-346R90 .name-23GUGE,
.modeSelected-346R90:hover .name-23GUGE {
  color: var(--interactive-active);
}

// Voice Text (Unread)
.modeUnread-1qO3K1 .name-23GUGE, 
.modeUnread-1qO3K1:hover .name-23GUGE {
  color: var(--interactive-active);
}

// Voice Text (Connected)
.modeConnected-3IsKId .name-23GUGE,
.modeConnected-3IsKId:hover .name-23GUGE {
color: var(--interactive-active);
}



// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Discover           ║ Searchbar                                                                         ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.headerContentWrapper-2u32yq .searchTitle-36D1cB {
display: none;
}

.headerImage-3X1tyY {
  display: none;
}

.searchHeader-2I26nG {
  height: 0px;
  min-height: 0px;
  max-height: 0px;
}

.headerContentWrapper-2u32yq {
  display: none;
position: fixed;
z-index: 20;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Discover           ║ Sidebar                                                                           ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝


// Header
.sidebar-2K8pFh .header-2V-4Sw {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  position: relative;
  content: "";
  border: var(--border);
  backdrop-filter: blur(var(--blur));
  box-shadow: var(--shadows);
  
  height:40px;
  width: 100%;
  margin-bottom: 20px;
}




//Background
.sidebar-2K8pFh .thin-1ybCId {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  position: relative;
  content: "";
  border: var(--border);
  backdrop-filter: blur(var(--blur));
  box-shadow: var(--shadows);
  
  height:100%;
  width: var(--channel-width);
}






/*
.thin-1ybCId, .thin-1ybCId.fade-2kXiP2:hover, .thin-1ybCId.scrolling-1Cdwk- {
  background: red;
}
*/