// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Home               ║ Base                                                                              ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝



.theme-dark .container-1D34oG,
.theme-light .container-1D34oG {
margin-left: 10px;
}

.tabBody-3YRQ8W {
    margin-top: 10px;
    margin-bottom: 10px;
}


.sidebar-2K8pFh {
    padding: 10px 10px 10px 20px;
}




// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Home               ║ Private Channels                                                                  ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.privateChannels-1nO12o{
    border-radius: var(--radius-primary);
    background: transparent;
    position: relative;
}



/*
// Blur
.privateChannels-1nO12o::before{
    background: var(--background-secondary);
    border-radius: var(--radius-primary);
    position: absolute;
    content: "";
    border: var(--border) solid rgba( 255, 255, 255, var(--border-opacity));
    backdrop-filter: blur(var(--blur));
    box-shadow: var(--shadows);

    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}













// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Home               ║ Private Channels                                                                  ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.privateChannels-1nO12o{
    border-radius: var(--radius-primary);
    background: transparent;
    position: relative;
}



// Header
.searchBar-6Kv8R2::after {
    background: var(--background-secondary);
    border-radius: var(--radius-primary);
    position: relative;
    content: "";
    border: var(--border);
    backdrop-filter: blur(var(--blur));
    box-shadow: var(--shadows);
    
    height:40px;
    width: 100%;


    padding: 0px;
    margin: 0px 0px 20px 0px;
}


// Search
.searchBar-6Kv8R2 .searchBarComponent-32dTOx {
    width: 100%;
    height: 28px;
    overflow: hidden;
    border-radius: var(--radius-primary);
    background-color: var(--background-secondary);
    -webkit-box-shadow: none;
    box-shadow: none;
    color: var(--text-muted);
    text-align: left;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    white-space: nowrap;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Home               ║ Peoplelist                                                                        ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.peopleColumn-29fq28 {
    border-radius: var(--radius-primary);
    background: transparent;
    position: relative;
}

// Blur
.peopleColumn-29fq28:before {
    background: var(--background-secondary);
    border-radius: var(--radius-primary);
    position: absolute;
    content: "";
    border: var(--border) solid rgba( 255, 255, 255, var(--border-opacity));
    backdrop-filter: blur(var(--blur));
    box-shadow: var(--shadows);

    height:100%;
    width:100%;
    left: 0;
    top: 0;
}

// Header
.title-30qZAO {
    font-size: 15px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--interactive-active);
}

// button
.actionButton-uPB8Fs {
    background: var(--background-tertiary);
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Home               ║ Activity                                                                          ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.wrapper-3D2qGf {
    border-radius: var(--radius-primary);
    background: transparent;
    position: relative;
}

// Blur
.wrapper-3D2qGf:before {
    background: var(--background-secondary);
    border-radius: var(--radius-primary);
    position: absolute;
    content: "";
    border: var(--border) solid rgba( 255, 255, 255, var(--border-opacity));
    backdrop-filter: blur(var(--blur));
    box-shadow: var(--shadows);


    width:100%;
    height:100%;
    left: 0;
    top: 0;
}

// Background
.nowPlayingColumn-2sl4cE {
    background: transparent;
    margin: 20px;
}

// Spacing
.nowPlayingScroller-2XrVUt {
    padding: 0px;
}

// No Header
.header-13Cw0- {
	display: none;
}

// Empty Card
.emptyCard-1RJw8n {
    border-radius: var(--radius-primary);
    padding: 24px;
}

// Items
.section-2gLsgF {
	background: var(--background-tertiary);
  	border-radius: 24px;
    position: relative;
    padding: 12px;
}

.theme-dark .inset-3sAvek {
    background-color: transparent;
}

// Activity Avatar
.activitySectionAssets-32WyHu .largeImage-DLXk-f {
	border-radius: 90px;
    width: 32px;
    height: 32px;
}

// Divider
.theme-dark .separator-XqIyoz {
    background-color: transparent;
	padding-top: 8px;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Home               ║ Activity (Empty Card)                                                             ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.emptyCard-1RJw8n {
    border-radius: var(--radius-primary);
    background: transparent;
    position: relative;
}

// Blur
.emptyCard-1RJw8n:before {
    background: var(--background-secondary);
    border-radius: var(--radius-primary);
    position: absolute;
    content: "";
    border: var(--border) solid rgba( 255, 255, 255, var(--border-opacity));
    backdrop-filter: blur(var(--blur));
    box-shadow: var(--shadows);

    height: 100%;
    width:100%;
    
    z-index: -1;
}
*/