// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Members            ║ Background                                                                     ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.membersWrap-2h-GB4 {
    border-radius: var(--radius-primary);
    background: transparent;
    position:relative;
    border: var(--border);
}

// Blur
.membersWrap-2h-GB4:before {
    background: var(--background-secondary);
    border-radius: var(--radius-primary);
    position: absolute;
    content: "";

    backdrop-filter: blur(var(--blur));
    box-shadow: var(--shadows);

    height:100%;
    width:100%;
    left: 0;
    top: 0;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Members            ║                                                                                   ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.members-1998pB, .members-1998pB>div {
    background-color: transparent;
}


// Width
.members-1998pB {
    width: var(--members-width);
}


// Member Padding
.member-3-YXUe {
    margin-left: 2px;
    padding-right: 8px;
}

// Bot Tag
.botTag-2WPJ74 {
    border-radius: var(--radius-primary) !important;
}