// ╔════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ CreArts v2.0.0                                                                                         ║
// ╠════════════════════╦═══════════════════════════════════════════════════════════════════════════════════╣
// ║ name:              ║ CreArts                                                                           ║
// ║ version:           ║ 2.0.0                                                                             ║
// ║ author:            ║ CorellanStoma#1996                                                                ║
// ╠════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╣
// ║                                                                                                        ║
// ║ This is the official theme of the CreArts Community. CreArts is a Powercord theme that changes the     ║
// ║ UI from Discord and was created by CorellanStoma#1996. This theme is a standalone version,             ║
// ║ we can't promise that theme will work in combination with other themes.                                ║
// ║                                                                                                        ║
// ║ More information about Powercord can be found here:                                                    ║
// ║ ● https://powercord.dev/                                                                               ║
// ║                                                                                                        ║
// ║ If you need support join our Creative Community:                                                       ║
// ║ ● https://discord.gg/8W8E39Z                                                                           ║
// ║                                                                                                        ║
// ║ Our Art & Design Wiki:                                                                                 ║
// ║ ● https://crearts.wiki/                                                                                ║
// ║                                                                                                        ║
// ╚════════════════════════════════════════════════════════════════════════════════════════════════════════╝

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Plugins            ║ Theme Toggler                                                                     ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Theme Toggler
.theme-toggler-buttons > button {
    border-radius: var(--radius-primary);
}

// Reorder
.side-8zPYf6 > div {
    order: -1;
}

.side-8zPYf6 > div[data-item-id="pc-general"],
.side-8zPYf6 > div[data-item-id="pc-general"] ~ div {
    order: 2;
}

.side-8zPYf6 > div[data-item-id="theme-toggler"] {
    order: 1 !important;
}