// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Popouts            ║ Menu                                                                              ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.menu-3sdvDG {
  border-radius: var(--radius-primary);
  background: transparent;
  position: relative;
}

// Blur
.menu-3sdvDG:before {
  background: var(--background-tertiary);
  position: absolute;
  content: "";
  border-radius: var(--radius-secondary);
  backdrop-filter: blur(var(--blur));
  width:100%;
  height:100%;
  border: var(--border) solid rgba( 255, 255, 255, 0.08 );
  box-shadow: var(--shadows);
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Popouts            ║ Search Options                                                                    ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background (Dark)
.theme-dark .container-3ayLPN {
  background: var(--background-tertiary);
  border-radius: var(--radius-primary);
  width: var(--members-width);
  border: none;
  margin-top: 20px;
}

.theme-dark .option-96V44q.selected-rZcOL- {
  background: var(--accent-primary);
  border-radius: var(--radius-primary);
}

.theme-dark .option-96V44q:after {
  background: transparent;
}

.theme-dark .option-96V44q.selected-rZcOL-:after {
  background: transparent;
}

// Background (Light)
.theme-light .container-3ayLPN {
  background: var(--background-tertiary);
  border-radius: var(--radius-primary);
  width: var(--members-width);
  border: none;
  margin-top: 20px;
}

.theme-light .option-96V44q.selected-rZcOL- {
  background: var(--accent-primary);
  border-radius: var(--radius-primary);
}

.theme-light .option-96V44q:after {
  background: transparent;
}

.theme-light .option-96V44q.selected-rZcOL-:after {
  background: transparent;
}


// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ popouts            ║ Powercord Toast                                                                   ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.powercord-toast {
  background: var(--background-secondary) !important;
  border-radius: var(--radius-primary) !important;
  border: none !important;
}

.powercord-toast .contents .inner {
  border-radius: var(--radius-secondary) !important;
  border: none !important;
}

// Header
.powercord-toast .header {
  border-radius: var(--radius-primary) !important;
  box-shadow: none !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

// X
.powercord-toast .header {
  background: var(--background-tertiary) !important;
  border-radius: var(--radius-primary) !important;
}

// Button Relaod (Normal)
.lookGhost-2Fn_0-.colorGreen-29iAKY {
  background: var(--green-primary) !important;
  border-radius: var(--radius-primary) !important;
  color: #fff !important;
  border: none !important;
}

// Button Relaod (Hover)
.lookGhost-2Fn_0-.colorGreen-29iAKY:Hover {
  background: var(--green-secondary) !important;
}

// Button Relaod (Active)
.lookGhost-2Fn_0-.colorGreen-29iAKY:active {
  background: var(--green-tertiary) !important;
}

// Button Postpone (Normal)
.lookOutlined-3sRXeN.colorGrey-2DXtkV {
  background: var(--red-primary) !important;
  border-radius: var(--radius-primary) !important;
  color: #fff !important;
  border: none !important;
}

// Button Postpone (Hover)
.lookOutlined-3sRXeN.colorGrey-2DXtkV:hover {
  background: var(--red-secondary) !important;
}

// Button Postpone (Active)
.lookOutlined-3sRXeN.colorGrey-2DXtkV:active {
  background: var(--red-tertiary) !important;
}

// Text
.powercord-toast .contents .inner {
  background: var(--background-tertiary) !important;
  line-height: 18px !important;
  border: none !important;
  padding: 12px !important;
  text-align: left !important;
}

.powercord-toast .buttons button {
  opacity: 1.0 !important;
}


// Update Button
.lookOutlined-3sRXeN.colorGreen-29iAKY {
  background: var(--green-primary) !important;
  border-radius: var(--radius-primary) !important;
  color: #fff !important;
  border: none !important;
}

.lookOutlined-3sRXeN.colorGreen-29iAKY:hover {
  background: var(--green-secondary) !important;
}

.lookGhost-2Fn_0-.colorBrand-3pXr91 {
  background: var(--background-primary) !important;
  border-radius: var(--radius-primary) !important;
  color: #fff !important;
  border: none !important;
}

.lookGhost-2Fn_0-.colorBrand-3pXr91:hover {
  background: var(--accent-primary) !important;
}



// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Popouts            ║ User Profile                                                                      ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝