// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Settings           ║ Version                                                                           ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.info-1VyQPT .size12-3cLvbJ:last-child::after{
    content: "\a CreArts " var(--version);
    text-transform: none;
    white-space: pre;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Settings           ║ Header                                                                            ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Header
.header-2RyJ0Y {
    font-size: 15px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--interactive-active);
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Settings           ║ No Keybind                                                                        ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.theme-dark .keybind-KpFkfr {display: none;}
.theme-light .keybind-KpFkfr {display: none;}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Settings           ║ Language                                                                          ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.flagImage-3Wbkq4 {
    border-radius: var(--radius-tertiary);
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Settings           ║ Buttons                                                                           ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Login Button (Normal)
.lookFilled-1Gx00P.colorBrand-3pXr91 {
    border-radius: var(--radius-primary);
    background: var(--accent-primary);
    color: #fff;
}

// Login Button (Hover)
.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
    background: var(--accent-secondary);
}

// Login Button (Active)
.lookFilled-1Gx00P.colorBrand-3pXr91:active {
    background: var(--accent-tertiary);
}


// Green Button (Normal)
.lookFilled-1Gx00P.colorGreen-29iAKY {
    background: var(--green-primary);
    color: #fff;
}

// Green Button (Hover)
.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
    background: var(--green-secondary);
    color: #fff;
}

// Green Button (Active)
.lookFilled-1Gx00P.colorGreen-29iAKY:active {
    background: var(--green-tertiary);
    color: #fff;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Settings           ║ Permissons                                                                        ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Permissons (Red)
.deny-3nAuT6 {color: var(--red-primary);}

.deny-3nAuT6:hover {background: var(--red-primary) !important; color: white;}
.deny-3nAuT6.selected-2YhbGh {background: var(--red-primary) !important;}
.deny-3nAuT6.selected-2YhbGh:hover {background: var(--red-secondary) !important;}

// Permissons (Yellow)
.passthrough-1c2ewQ {color: var(--yellow-primary);}

.passthrough-1c2ewQ:hover {background: var(--yellow-primary) !important; color: white;}
.passthrough-1c2ewQ.selected-2YhbGh {background: var(--yellow-primary) !important;}
.passthrough-1c2ewQ.selected-2YhbGh:hover {background: var(--yellow-secondary) !important;}

// Permissons (Green)
.allow-1PzSY3 {color: var(--green-primary);}

.allow-1PzSY3:hover {background: var(--green-primary) !important; color: white;}
.allow-1PzSY3.selected-2YhbGh {background: var(--green-primary) !important;}
.allow-1PzSY3.selected-2YhbGh:hover {background: var(--green-secondary) !important;}