// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Toolbar            ║ Background                                                                        ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.toolbar-1t6TWx {
    border-radius: var(--radius-primary);
    background: var(--background-secondary);
    position: relative;
    border: var(--border);
    backdrop-filter: blur(var(--blur));
    box-shadow: var(--shadows);
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Toolbar            ║ Icons                                                                             ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Update
.updateIconForeground-3tnNZn {
    fill: var(--interactive-normal)
}

.updateIconForeground-3tnNZn:hover {
    fill: var(--interactive-hover)
}

.updateIconForeground-3tnNZn:active {
    fill: var(--interactive-active)
}

// Member
.selected-1GqIat .icon-22AiRD {
    color: var(--interactive-normal);
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Toolbar            ║ Searchbar                                                                         ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Order
.search-36MZv- {
    order: -1;
    margin-right: 2px;
    margin-left: 0px;
}

// Icon
.icon-3cZ1F_, .icon-1S6UIr {
    color:var(--interactive-normal);
    height: 23px;
    width: 23px;
}

//spacing
.iconContainer-O4O2CN, .iconContainer-2wXvy1 {
    bottom: 3px;
    padding-left: 30px;
}


//Searchbar
.searchBar-3dMhjb, .searchBar-TUoVPN {
    background: none;
    transition: width 0.6s ease-in-out;
    color:#fff;
    width: 20px;
}

.focused-31_ccS .searchBar-3dMhjb, .open-6_Y_aH .searchBar-3dMhjb, .searchBar-3dMhjb:hover {
    background: none;
    transition: width 0.6s ease-in-out;
    color:#fff;
    width: 300px;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Toolbar            ║ Searchbar                                                                         ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3 {
    background: var(--accent-primary);
    border-radius: var(--radius-primary);
    padding-left: 8px;
    padding-right: 8px;
}