// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base               ║ Topic                                                                             ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.children-19S4PO {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  height: 40px;
  backdrop-filter: blur(var(--blur));
  box-shadow: var(--shadows);
  border: var(--border);
  z-index: 2;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Topic              ║ Remove Divider                                                                    ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.content-yTz4x3:before, .divider-3FBTu8{
    display: none;
  }

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Topic              ║ No Divider                                                                        ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.theme-dark .children-19S4PO:after {display: none;}

.theme-light .children-19S4PO:after {display: none;}