// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base               ║ Topic                                                                             ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Background
.children-19S4PO {
  border-radius: var(--radius-primary);
  background: transparent;
  position: relative;
  height: 40px;
  border: var(--border);
  box-shadow: var(--shadows);
}

// Blur
.children-19S4PO:before {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  position: absolute;
  content: "";

  backdrop-filter: blur(var(--blur));


  height:100%;
  width:100%;
  z-index: -1;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Topic              ║ Remove Divider                                                                    ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.content-yTz4x3:before, .divider-3FBTu8{
    display: none;
  }

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Topic              ║ No Divider                                                                        ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.theme-dark .children-19S4PO:after {display: none;}

.theme-light .children-19S4PO:after {display: none;}