// ╔════════════════════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ CreArts v2.0.0                                                                                         ║
// ╠════════════════════╦═══════════════════════════════════════════════════════════════════════════════════╣
// ║ name:              ║ CreArts                                                                           ║
// ║ version:           ║ 2.0.0                                                                             ║
// ║ author:            ║ CorellanStoma#1996                                                                ║
// ╠════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╣
// ║                                                                                                        ║
// ║ This is the official theme of the CreArts Community. CreArts is a Powercord theme that changes the     ║
// ║ UI from Discord and was created by CorellanStoma#1996. This theme is a standalone version,             ║
// ║ we can't promise that theme will work in combination with other themes.                                ║
// ║                                                                                                        ║
// ║ More information about Powercord can be found here:                                                    ║
// ║ ● https://powercord.dev/                                                                               ║
// ║                                                                                                        ║
// ║ If you need support join our Creative Community:                                                       ║
// ║ ● https://discord.gg/8W8E39Z                                                                           ║
// ║                                                                                                        ║
// ║ Our Art & Design Wiki:                                                                                 ║
// ║ ● https://crearts.wiki/                                                                                ║
// ║                                                                                                        ║
// ╚════════════════════════════════════════════════════════════════════════════════════════════════════════╝

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Wallpaper          ║ Background                                                                        ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.container-2lgZY8 {
    background: var(--background);
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Wallpaper          ║ Image                                                                             ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.bg-h5JY_x {
    background: var(--wallpaper) center/cover no-repeat;
    filter: blur(var(--blur-wallpaper));
    margin: -10px;
}
