// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Names                    ║ Powercord Settings                                                                      ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.side-2ur1Qk>.item-3XjbnG[data-item-id=pc-general]:not(.role-3pGE29) {
    color: transparent;
  }
  
  .side-2ur1Qk>.item-3XjbnG[data-item-id=pc-general]:not(.role-3pGE29)::after {
    content: "Settings";
    color:var(--text-normal);
    position: absolute;
    left: 38px;
  }
  
  .side-2ur1Qk>.item-3XjbnG.selected-g-kMVV[data-item-id=pc-general]:not(.role-3pGE29)::after {
    color:var(--accent-text-primary);
  }

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Names                    ║ Linux Settings                                                                          ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.side-2ur1Qk>.item-3XjbnG[data-item-id=Linux]:not(.role-3pGE29) {
  color: transparent;
}

.side-2ur1Qk>.item-3XjbnG[data-item-id=Linux]:not(.role-3pGE29)::after {
  content: "System";
  color:var(--text-normal);
  position: absolute;
  left: 38px;
}


.side-2ur1Qk>.item-3XjbnG.selected-g-kMVV[data-item-id=Linux]:not(.role-3pGE29)::after {
  color:var(--accent-text-primary);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Names                    ║ Windows Settings                                                                        ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.side-2ur1Qk>.item-3XjbnG[data-item-id=Windows]:not(.role-3pGE29) {
  color: transparent;
}

.side-2ur1Qk>.item-3XjbnG[data-item-id=Windows]:not(.role-3pGE29)::after {
  content: "System";
  color:var(--text-normal);
  position: absolute;
  left: 38px;
}


.side-2ur1Qk>.item-3XjbnG.selected-g-kMVV[data-item-id=Windows]:not(.role-3pGE29)::after {
  color:var(--accent-text-primary);
}