// No Subscriptions Icon
.sidebar-nqHbhN .icon-Zc-uZZ {display: none;}

//No Border
//.sidebar-nqHbhN .separator-2wx7h6 {display: none;}
















// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Settings           ║ Header                                                                            ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Header
.header-2Kx1US {
    font-size: 15px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--interactive-active);
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Settings           ║ No Keybind                                                                        ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.theme-dark .keybind-13vtq8 {display: none;}
.theme-light .keybind-13vtq8 {display: none;}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Settings           ║ Language                                                                          ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

.flagImage-9qG9zR {
    border-radius: var(--radius-tertiary);
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Settings           ║ Buttons                                                                           ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Login Button (Normal)
.lookFilled-yCfaCM.colorBrand-I6CyqQ {
    border-radius: var(--radius-primary);
    background: var(--accent-primary);
    color: #fff;
}

// Login Button (Hover)
.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover {
    background: var(--accent-secondary);
}

// Login Button (Active)
.lookFilled-yCfaCM.colorBrand-I6CyqQ:active {
    background: var(--accent-tertiary);
}


// Green Button (Normal)
.lookFilled-yCfaCM.colorGreen-3y-Z79 {
    background: var(--green-primary);
    color: #fff;
}

// Green Button (Hover)
.lookFilled-yCfaCM.colorGreen-3y-Z79:hover {
    background: var(--green-secondary);
    color: #fff;
}

// Green Button (Active)
.lookFilled-yCfaCM.colorGreen-3y-Z79:active {
    background: var(--green-tertiary);
    color: #fff;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Settings           ║ Permissons                                                                        ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Permissons (Red)
.deny-1GO6vI {color: var(--red-primary);}

.deny-1GO6vI:hover {background: var(--red-primary) !important; color: white;}
.deny-1GO6vI.selected-3jieYB {background: var(--red-primary) !important;}
.deny-1GO6vI.selected-3jieYB:hover {background: var(--red-secondary) !important;}

// Permissons (Yellow)
.passthrough--fbdFR {color: var(--yellow-primary);}

.passthrough--fbdFR:hover {background: var(--yellow-primary) !important; color: white;}
.passthrough--fbdFR.selected-3jieYB {background: var(--yellow-primary) !important;}
.passthrough--fbdFR.selected-3jieYB:hover {background: var(--yellow-secondary) !important;}

// Permissons (Green)
.allow-1h61-Z {color: var(--green-primary);}

.allow-1h61-Z:hover {background: var(--green-primary) !important; color: white;}
.allow-1h61-Z.selected-3jieYB {background: var(--green-primary) !important;}
.allow-1h61-Z.selected-3jieYB:hover {background: var(--green-secondary) !important;}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Settings           ║ Powercord (Themes)                                                                ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// No Manage Button
.powercord-entities-manage-tabs .item-3XjbnG:first-child {display: none !important;}