:root {
  --version: "v2.3.0";
  --skin: " Glassmorphism Edition";
  --author: " CorellanStoma";
  --fonts-primary: Quicksand;
  --fonts-secondary: Quicksand;
  --fonts-tertiary: Fira Code;
  --font-display: Quicksand !important;
  --wallpaper: url("https://i.imgur.com/CleRk4m.gif");
  --channel-width: 260px;
  --members-width: 240px;
  --profile-width: 320px;
  --text-align: justify;
  --radius-avatar: 90px;
  --radius-button: 90px;
  --radius-mention: 90px;
  --radius-reaction: 90px;
  --radius-primary: 24px;
  --radius-secondary: 12px;
  --radius-tertiary: 6px;
  --border-width: 1.0px;
  --border-opacity: 0.10;
  --blur: 20.0px;
  --blur-wallpaper: 4.0px;
  --blur-titlebar: 20.0px;
  --blur-backdrop: 6.0px;
  --transparency-menu: 0.8;
  --transparency-titlebar: 0.4;
  --transparency-backdrop: 0.4;
  --transparency-background: 0.0;
  --transparency-primary: 0.4;
  --transparency-secondary: 0.3;
  --transparency-tertiary: 0.4;
  --transparency-hover: 0.4;
  --transparency-active: 0.6;
  --transparency-selected: 0.8;
  --selection-opacity: 0.80;
  --shadow-opacity: 0.0;
  --shadow-popout-opacity: 0.4;
  --glasscord-win-blur: blurbehind;
  --glasscord-macos-vibrancy: fullscreen-ui;
  --glasscord-linux-blur: true;
  --glasscord-titlebar: windows;
}

.theme-dark {
  --accent-primary: rgba(221, 70, 200, 1.0);
  --accent-secondary: rgba(253, 81, 229, 1.0);
  --accent-tertiary: rgba(176, 56, 159, 1.0);
  --green-primary: rgba(67, 181, 129);
  --green-secondary: rgba(97, 208, 154);
  --green-tertiary: rgba(32, 153, 103);
  --yellow-primary: rgba(250, 166, 26);
  --yellow-secondary: rgba(255, 194, 61);
  --yellow-tertiary: rgba(220, 140, 0);
  --red-primary: rgba(240, 71, 71);
  --red-secondary: rgba(255, 102, 96);
  --red-tertiary: rgba(209, 39, 49);
  --purple-primary: rgba(89, 54, 149);
  --purple-secondary: rgba(116, 79, 177);
  --purple-tertiary: rgba(62, 32, 124);
  --background-primary: rgba(51, 57, 73, var(--transparency-primary));
  --background-secondary: rgba(42, 48, 64, var(--transparency-secondary));
  --background-tertiary: rgba(33, 40, 55, var(--transparency-tertiary));
  --background-secondary-alt: rgba(33, 40, 55, var(--transparency-tertiary));
  --background-accent: rgba(221, 70, 200);
  --background-floating: rgba(33, 40, 55, var(--transparency-menu));
  --background-mobile-primary: rgba(51, 57, 73);
  --background-mobile-secondary: rgba(42, 48, 64);
  --background-modifier-hover: rgba(253, 81, 229);
  --background-modifier-active: rgba(221, 70, 200);
  --background-modifier-selected: rgba(221, 70, 200);
  --background-modifier-accent: rgba(51, 57, 73);
  --background-mentioned: rgba(221, 70, 200, 0.1);
  --background-mentioned-hover: rgba(221, 70, 200, 0.2);
  --background-message-hover: rgba(33, 40, 55, 0.4);
  --background-help-warning: rgba(221, 70, 200);
  --background-help-info: rgba(253, 81, 229);
  --toast-background: rgba(42, 48, 64, var(--transparency-secondary));
  --toast-header: rgba(51, 57, 73, var(--transparency-primary));
  --toast-contents: rgba(33, 40, 55, var(--transparency-tertiary));
  --toast-border: var(--background-secondary);
  --toast-box-shadow: rgba(0, 0, 0, 0.400);
  --header-primary: rgba(255, 255, 255);
  --header-secondary: rgba(159, 167, 192);
  --text-normal: rgba(211, 218, 240);
  --text-muted: rgba(118, 125, 146);
  --text-link: rgba(221, 70, 200);
  --channels-default: rgba(159, 167, 192);
  --interactive-normal: rgba(211, 218, 240);
  --interactive-hover: rgba(255, 255, 255);
  --interactive-active: rgba(255, 255, 255);
  --interactive-muted: rgba(118, 125, 146);
  --spotify-color: rgba(221, 70, 200);
  --scrollbar-thin-thumb: rgba(51, 57, 73);
  --scrollbar-thin-track: rgba(33, 40, 55);
  --scrollbar-auto-thumb: rgba(51, 57, 73);
  --scrollbar-auto-track: rgba(33, 40, 55);
  --scrollbar-auto-scrollbar-color-thumb: rgba(51, 57, 73);
  --scrollbar-auto-scrollbar-color-track: rgba(51, 57, 73);
  --deprecated-card-bg: var(--background-tertiary);
  --deprecated-card-editable-bg: var(--background-secondary);
  --deprecated-store-bg: var(--background-secondary);
  --deprecated-quickswitcher-input-background: var(--background-tertiary);
  --deprecated-quickswitcher-input-placeholder: var(--text-normal);
  --deprecated-text-input-bg: var(--background-tertiary);
  --elevation-stroke: none;
  --elevation-low: none;
  --elevation-medium: none;
  --elevation-high: none;
  --logo-primary: var(--accent-primary);
  --focus-primary: var(--accent-primary);
  --radio-group-dot-foreground: var(--accent-primary);
  --channeltextarea-background: rgba(255, 255, 255);
  --activity-card-background: var(--background-secondary);
  --textbox-markdown-syntax: rgba(255, 255, 255);
  --selection-text: rgba(255, 255, 255);
  --selection-background: rgba(221, 70, 200, var(--selection-opacity));
  --titlebar: rgba(33, 40, 55, var(--transparency-titlebar));
  --background: rgba(51, 57, 73, var(--transparency-background));
  --shadows: 0px 2px 8px 2px rgba(0, 0, 0, var(--shadow-opacity));
  --shadows-popout: 0px 2px 8px 2px rgba(0, 0, 0, var(--shadow-popout-opacity));
  --backdrop: rgba(0, 0, 0, var(--transparency-backdrop));
  --highlight-hover: rgba(33, 40, 55, var(--transparency-hover));
  --highlight-active: rgba(33, 40, 55, var(--transparency-active));
  --highlight-selected: rgba(33, 40, 55, var(--transparency-selected));
  --accent-active: rgba(221, 70, 200, var(--transparency-hover));
  --accent-hover: rgba(253, 81, 229, var(--transparency-active));
  --accent-selected: rgba(176, 56, 159, var(--transparency-selected));
  --normal-primary: rgba(51, 57, 73);
  --normal-secondary: rgba(42, 48, 64);
  --normal-tertiary: rgba(33, 40, 55);
  --border: var(--border-width) solid rgba(255, 255, 255, var(--border-opacity));
  --linkpreview-background: transparent;
  --linkpreview-color: #FFFFFF;
  --linkpreview-border: none;
  --stream-active: rgba(89, 54, 149, var(--transparency-hover));
  --stream-hover: rgba(116, 79, 177, var(--transparency-hover));
  --stream-selected: rgba(62, 32, 124, var(--transparency-hover));
  --accent-text-primary: rgba(255, 255, 255);
  --accent-text-secondary: rgba(255, 255, 255);
}

.theme-light {
  --accent-primary: rgba(221, 70, 200, 1.0);
  --accent-secondary: rgba(253, 81, 229, 1.0);
  --accent-tertiary: rgba(176, 56, 159, 1.0);
  --green-primary: rgba(67, 181, 129);
  --green-secondary: rgba(97, 208, 154);
  --green-tertiary: rgba(32, 153, 103);
  --yellow-primary: rgba(250, 166, 26);
  --yellow-secondary: rgba(255, 194, 61);
  --yellow-tertiary: rgba(220, 140, 0);
  --red-primary: rgba(240, 71, 71);
  --red-secondary: rgba(255, 102, 96);
  --red-tertiary: rgba(209, 39, 49);
  --background-primary: rgba(247, 250, 255, var(--transparency-primary));
  --background-secondary: rgba(235, 239, 247, var(--transparency-secondary));
  --background-tertiary: rgba(223, 229, 240, var(--transparency-tertiary));
  --background-secondary-alt: rgba(223, 229, 240, var(--transparency-tertiary));
  --background-accent: rgba(221, 70, 200);
  --background-floating: rgba(223, 229, 240, var(--transparency-menu));
  --background-mobile-primary: rgba(247, 250, 255);
  --background-mobile-secondary: rgba(235, 239, 247);
  --background-modifier-hover: rgba(253, 81, 229);
  --background-modifier-active: rgba(221, 70, 200);
  --background-modifier-selected: rgba(221, 70, 200);
  --background-modifier-accent: rgba(247, 250, 255);
  --background-mentioned: rgba(221, 70, 200, 0.1);
  --background-mentioned-hover: rgba(221, 70, 200, 0.2);
  --background-message-hover: rgba(223, 229, 240, 0.4);
  --background-help-warning: rgba(221, 70, 200);
  --background-help-info: rgba(253, 81, 229);
  --toast-background: rgba(235, 239, 247, var(--transparency-secondary));
  --toast-header: rgba(247, 250, 255, var(--transparency-primary));
  --toast-contents: rgba(223, 229, 240, var(--transparency-tertiary));
  --toast-border: var(--background-secondary);
  --toast-box-shadow: rgba(0, 0, 0, 0.400);
  --header-primary: rgba(0, 0, 0);
  --header-secondary: rgba(48, 52, 58);
  --text-normal: rgba(83, 91, 102);
  --text-muted: rgba(83, 91, 102);
  --text-link: rgba(221, 70, 200);
  --channels-default: rgba(48, 52, 58);
  --interactive-normal: rgba(83, 91, 102);
  --interactive-hover: rgba(0, 0, 0);
  --interactive-active: rgba(0, 0, 0);
  --interactive-muted: rgba(83, 91, 102);
  --spotify-color: rgba(221, 70, 200);
  --scrollbar-thin-thumb: rgba(247, 250, 255);
  --scrollbar-thin-track: rgba(223, 229, 240);
  --scrollbar-auto-thumb: rgba(247, 250, 255);
  --scrollbar-auto-track: rgba(223, 229, 240);
  --scrollbar-auto-scrollbar-color-thumb: rgba(247, 250, 255);
  --scrollbar-auto-scrollbar-color-track: rgba(247, 250, 255);
  --deprecated-card-bg: var(--background-tertiary);
  --deprecated-card-editable-bg: var(--background-secondary);
  --deprecated-store-bg: var(--background-secondary);
  --deprecated-quickswitcher-input-background: var(--background-tertiary);
  --deprecated-quickswitcher-input-placeholder: var(--text-normal);
  --deprecated-text-input-bg: var(--background-tertiary);
  --elevation-stroke: none;
  --elevation-low: none;
  --elevation-medium: none;
  --elevation-high: none;
  --logo-primary: var(--accent-primary);
  --focus-primary: var(--accent-primary);
  --radio-group-dot-foreground: var(--accent-primary);
  --channeltextarea-background: rgba(0, 0, 0);
  --activity-card-background: var(--background-secondary);
  --textbox-markdown-syntax: rgba(0, 0, 0);
  --selection-text: rgba(255, 255, 255);
  --selection-background: rgba(221, 70, 200, var(--selection-opacity));
  --titlebar: rgba(223, 229, 240, var(--transparency-titlebar));
  --background: rgba(247, 250, 255, var(--transparency-background));
  --shadows: 0px 2px 8px 2px rgba(0, 0, 0, var(--shadow-opacity));
  --shadows-popout: 0px 2px 8px 2px rgba(0, 0, 0, var(--shadow-popout-opacity));
  --backdrop: rgba(255, 255, 255, var(--transparency-backdrop));
  --highlight-hover: rgba(223, 229, 240, var(--transparency-hover));
  --highlight-active: rgba(223, 229, 240, var(--transparency-active));
  --highlight-selected: rgba(223, 229, 240, var(--transparency-selected));
  --accent-active: rgba(221, 70, 200, var(--transparency-hover));
  --accent-hover: rgba(253, 81, 229, var(--transparency-active));
  --accent-selected: rgba(176, 56, 159, var(--transparency-selected));
  --normal-primary: rgba(247, 250, 255);
  --normal-secondary: rgba(235, 239, 247);
  --normal-tertiary: rgba(223, 229, 240);
  --border: var(--border-width) solid rgba(255, 255, 255, var(--border-opacity));
  --linkpreview-background: transparent;
  --linkpreview-color:#000000;
  --linkpreview-border:transparent;
  --stream-active: rgba(89, 54, 149, var(--transparency-hover));
  --stream-hover: rgba(116, 79, 177, var(--transparency-hover));
  --stream-selected: rgba(62, 32, 124, var(--transparency-hover));
  --accent-text-primary: rgba(0, 0, 0);
  --accent-text-secondary: rgba(0, 0, 0);
}