/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Code                     ║ Base                                                                                    ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/*
.markup-eYLPri code {
  width: fit-content;
}
.vpc-shiki {
  width: fit-content;
}
pre.vpc-shiki {
  width: fit-content;
}

.markup-eYLPri blockquote, .markup-eYLPri pre {
  width: fit-content;
}
*/