/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Edited                   ║ Import                                                                                  ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

.edited-1v5nT8:not(.message-translate-indicator) {
  display: none;
}

.timestamp-p1Df1m:not(.timestampInline-_lS3aK,
.timestampVisibleOnHover-9PEuZS) time::after {
  content: "("attr(aria-label)")";
  color: var(--text-muted);
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1;
  user-select: none;
}