/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Emoji                    ║ Import                                                                                  ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

@font-face {
  font-family: "CreArts-Emoji";
  font-style: normal;
  font-display: swap;
  src: url(https://crearts-community.github.io/Assets/fonts/emoji/emoji.woff2) format('woff2');
  unicode-range: U+1F1E9, U+1F1EA, U+1F1EB, U+1F1F7, U+2694, U+1F6E1;
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Emoji                    ║ Base                                                                                    ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

.name-3Vmqxm,
.container-q97qHp,
.channelName-3KPsGw,
.base-21yXnu,
.description-22d6ux,
.activity-2EQDZv,
.customStatus-3XAoF9,
.name-3Uvkvr,
.input-2g-os5 {
  font-family: var(--font-display);
}