// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Addons             ║ Drag                                                                              ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Drag
.container-2lgZY8:before {
    background: transparent;
    position: absolute;
    content: "";
    height: 99.4%;
    width: 99.4%;
    top: 0px;
    margin-left: 4px;;
    -webkit-app-region: drag;
}

// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Addons             ║ No Drag                                                                           ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// Serverlist
.scroller-1Bvpku {
-webkit-app-region: no-drag !important;
}

// Channellist
.sidebar-2K8pFh .thin-1ybCId {
    -webkit-app-region: no-drag !important;
}

// Server info
.tutorialContainer-2sGCg9:before {
    -webkit-app-region: no-drag !important;
}

.sidebar-2K8pFh .container-1taM1r {
    -webkit-app-region: no-drag !important;
}

.tutorialContainer-30WoTp::before {
    -webkit-app-region: no-drag !important;
}

// Menu
.layer-v9HyYc {
    -webkit-app-region: no-drag !important;
}

// Profile
.panels-j1Uci_ {
    -webkit-app-region: no-drag !important;
}

// Chat
.chatContent-a9vAAp {
    -webkit-app-region: no-drag !important;
}

// Topic
.children-19S4PO {
    -webkit-app-region: no-drag !important;
}

// Toolbar
.toolbar-1t6TWx {
    -webkit-app-region: no-drag !important;
}

// Members
.membersWrap-2h-GB4 {
    -webkit-app-region: no-drag !important;
}

// YouTube
.embedIframe-2hcNY5 {
    -webkit-app-region: no-drag !important;
}

// Video
.wrapper-2TxpI8 {
-webkit-app-region: no-drag !important;
}


// Explore
.pageWrapper-1PgVDX {
    -webkit-app-region: no-drag !important;
}