// ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Addons             ║ Minimal Panel                                                                     ║
// ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝

// No Border
.container-1giJp5 {
    border: none;
  }
  
  //.wrapper-24pKcD,
  .panels-j1Uci_ .activityPanel-28dQGo,
  .panels-j1Uci_ .powercord-spotify {
    display: none;
  }
  
  //.panels-j1Uci_:hover .wrapper-24pKcD,
  .panels-j1Uci_:hover .activityPanel-28dQGo,
  .panels-j1Uci_:hover .powercord-spotify {
    display: block;
  }
  
  .spotify-extra-controls  {display: none !important;}
  .spotify-seek-elements  {display: none !important;}
  
  .powercord-spotify.hover .spotify-extra-controls + .spotify-seek {
    margin-top: 0px;
  }
  
  
  