// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Internationalization     ║ English                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

html[lang^=en-] {
    --i18n-payment: "Billing";
    --i18n-partnership: "Partner Program";
    --i18n-discovery: "Enable Discovery";
    --i18n-roles: "Roles";
    --i18n-hypesquad: "HypeSquad";
    --i18n-back: "Back";
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Internationalization     ║ Chinese, China                                                                          ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

html[lang=zh-CN] {
    --i18n-payment: "账单";
    --i18n-partnership: "合作伙伴项目";
    --i18n-discovery: "开启“发现服务器”";
    --i18n-roles: "身份组";
    --i18n-back: "后退";
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Internationalization     ║ Chinese, Taiwan                                                                         ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

html[lang=zh-TW] {
    --i18n-payment: "帳單";
    --i18n-partnership: "合作夥伴計畫";
    --i18n-discovery: "啟用探索";
    --i18n-roles: "身分組";
    --i18n-back: "返回";
}





html[lang=cs] {
    --i18n-payment: "Fakturace";
    --i18n-partnership: "Partnerský program";
    --i18n-discovery: "Povolit Vyhledávání";
    --i18n-roles: "Role";
    --i18n-back: "Zpět";
}
html[lang=da] {
    --i18n-payment: "Fakturering";
    --i18n-partnership: "Partnerprogram";
    --i18n-discovery: "Slå Discovery til";
    --i18n-roles: "Roller";
    --i18n-back: "Tilbage";
}
html[lang=nl] {
    --i18n-payment: "Facturatie";
    --i18n-partnership: "Partnerprogramma";
    --i18n-discovery: "Ontdekking inschakelen";
    --i18n-roles: "Rollen";
    --i18n-back: "Terug";
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Internationalization     ║ France                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

html[lang=fr] {
    --i18n-partnership: "Partner Program";
    --i18n-payment: "Facturation";
    --i18n-discovery: "Activer Découverte de serveurs";
    --i18n-roles: "Rôles";
    --i18n-back: "Retour";
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Internationalization     ║ German                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

html[lang=de] {
    --i18n-payment: "Zahlungsabwicklung";
    --i18n-partnership: "Partnerprogramm";
    --i18n-discovery: "Entdeckung aktivieren";
    --i18n-roles: "Rollen";
    --i18n-back: "Zurück";
}
html[lang=el] {
    --i18n-payment: "Τιμολόγηση";
    --i18n-partnership: "Πρόγραμμα Συνεργατών";
    --i18n-discovery: "Ενεργοποίηση Ανακάλυψης";
    --i18n-roles: "Ρόλοι";
    --i18n-hypesquad: "Ομάδα Δημοσιότητας HypeSquad";
    --i18n-back: "Πίσω";
}
html[lang=hu] {
    --i18n-payment: "Számlázás";
    --i18n-partnership: "Partnerprogram";
    --i18n-discovery: "Felfedezés engedélyezése";
    --i18n-roles: "Rangok";
}
html[lang=it] {
    --i18n-payment: "Fatturazione";
    --i18n-partnership: "Programma di partnership";
    --i18n-discovery: "Attiva Esplora";
    --i18n-roles: "Ruoli";
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Internationalization     ║ Japanese                                                                                ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

html[lang=ja] {
    --i18n-payment: "請求";
    --i18n-partnership: "パートナープログラム";
    --i18n-discovery: "発見を有効にする";
    --i18n-roles: "ロール";
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Internationalization     ║ Korean                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

html[lang=ko] {
    --i18n-payment: "청구";
    --i18n-partnership: "파트너 프로그램";
    --i18n-discovery: "서버 찾기 활성화";
    --i18n-roles: "역할";
}


html[lang=pl] {
    --i18n-payment: "Dane do faktury";
    --i18n-partnership: "Program Partnerski";
    --i18n-discovery: "Włącz Wyszukiwanie serwerów";
    --i18n-roles: "Role";
}
html[lang=pt-BR] {
    --i18n-payment: "Cobrança";
    --i18n-partnership: "Programa de Parceria";
    --i18n-discovery: "Ativar Descobrir";
    --i18n-roles: "Cargos";
}
html[lang=ru] {
    --i18n-payment: "Выставление счетов";
    --i18n-partnership: "Partner Program";
    --i18n-discovery: "Включить «Путешествие»";
    --i18n-roles: "Роли";
}
html[lang=es-ES] {
    --i18n-payment: "Facturación";
    --i18n-partnership: "Programa Partner";
    --i18n-discovery: "Habilitar Descubrimiento";
    --i18n-roles: "Roles";
}
html[lang=sv-SE] {
    --i18n-payment: "Fakturering";
    --i18n-partnership: "Partnerprogram";
    --i18n-discovery: "Aktivera Identifiering";
    --i18n-roles: "Roller";
}
html[lang=tr] {
    --i18n-payment: "Faturalandırma";
    --i18n-partnership: "Discord Ortağı Programı";
    --i18n-discovery: "Keşfi Etkinleştir";
    --i18n-roles: "Roller";
}
html[lang=bg] {
    --i18n-payment: "Таксуване";
    --i18n-partnership: "Партньорска програма";
    --i18n-discovery: "Активирай Откриване";
    --i18n-roles: "Роли";
}
html[lang=uk] {
    --i18n-payment: "Виставлення рахунку";
    --i18n-partnership: "Партнерська програма Discord";
    --i18n-discovery: "Увімкнути «Знайомство з серверами»";
    --i18n-roles: "Ролі";
}
html[lang=fi] {
    --i18n-payment: "Laskutus";
    --i18n-partnership: "Kumppaniohjelma";
    --i18n-discovery: "Ota palvelinhaku käyttöön";
    --i18n-roles: "Roolit";
}
html[lang=no] {
    --i18n-payment: "Fakturering";
    --i18n-partnership: "Partnerprogram";
    --i18n-discovery: "Aktiver oppdagelse";
    --i18n-roles: "Roller";
}
html[lang=hr] {
    --i18n-payment: "Obračun";
    --i18n-discovery: "Omogući Otkrivanje";
    --i18n-partnership: "Partner Program";
    --i18n-roles: "Uloge";
}
html[lang=ro] {
    --i18n-payment: "Facturare";
    --i18n-discovery: "Activează Descoperire";
    --i18n-partnership: "Programul de parteneriat";
    --i18n-roles: "Roluri";
}
html[lang=lt] {
    --i18n-payment: "Atsiskaitymas";
    --i18n-discovery: "Įjungti atradimo funkciją";
    --i18n-partnership: "Partnerių programa";
    --i18n-roles: "Rolės";
}
html[lang=th] {
    --i18n-payment: "การชำระเงิน";
    --i18n-partnership: "โปรแกรมพาร์ทเนอร์";
    --i18n-discovery: "เปิดใช้งานการค้นพบ";
    --i18n-roles: "บทบาท";
}
html[lang=vi] {
    --i18n-payment: "Thanh toán";
    --i18n-partnership: "Chương Trình Đối Tác";
    --i18n-discovery: "Kích Hoạt Khám Phá";
    --i18n-roles: "Vai trò";
}
html[lang=hi] {
    --i18n-payment: "बिलिंग";
    --i18n-discovery: "डिस्कवरी को ऑन करें";
    --i18n-partnership: "पार्टनर कार्यक्रम";
    --i18n-roles: "रोल्स";
}


html[lang=hu] { --i18n-back: "Vissza"; }
html[lang=it] { --i18n-back: "Indietro"; }
html[lang=ja] { --i18n-back: "戻る"; }
html[lang=ko] { --i18n-back: "뒤로 가기"; }
html[lang=pl] { --i18n-back: "Wstecz"; }
html[lang=pt-PT]  { --i18n-back: "Back"; }
html[lang=pt-BR]  { --i18n-back: "Voltar"; }
html[lang=ru] { --i18n-back: "Назад"; }
html[lang=sk] { --i18n-back: "Back"; }
html[lang=es-ES] { --i18n-back: "Atrás"; }
html[lang=sv-SE] { --i18n-back: "Tillbaka"; }
html[lang=tr] { --i18n-back: "Geri"; }
html[lang=bg] { --i18n-back: "Назад"; }
html[lang=uk] { --i18n-back: "Назад"; }
html[lang=fi] { --i18n-back: "Takaisin"; }
html[lang=no] { --i18n-back: "Tilbake"; }
html[lang=hr] { --i18n-back: "Natrag"; }
html[lang=ro] { --i18n-back: "Înapoi"; }
html[lang=lt] { --i18n-back: "Atgal"; }
html[lang=th] { --i18n-back: "ย้อนกลับ"; }
html[lang=vi] { --i18n-back: "Trở lại"; }
html[lang=hi] { --i18n-back: "वापस जाएं"; }