// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Notice                   ║ Server Discovery                                                                        ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

.container-3wU_rj {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  box-shadow: none;
}
