// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Tooltip                  ║ Subscribe Tool                                                                          ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

/*
// Background
.subscribeTooltipWrapper-3ipXtC {
  background: red !important;
}

// Header
.subscribeTooltipHeader-15pGbG 

// Text
.subscribeTooltipText-2A8MMi


// Button (Primary)
.subscribeTooltipWrapper-3ipXtC .button-f2h6uQ {
  background: orange !important;
  color: white;
}

// Button (Secondary)
.subscribeTooltipWrapper-3ipXtC .button-f2h6uQ.lookInverted-2mDUMi {
  background: blue !important;
  color: white;
}
*/